[2020-10-27 18:44] jeffpaul commented on #658
Noting here that folks should still be able to use the site backend for push distribution, noting that you will need to disable `fullscreen mode` in the Block editor for the admin bar to be visible with the Distributor menu.

[2020-10-27 20:16] jeffpaul commented on #660
Likely relates to  #267.

[2020-10-28 02:33] jeffpaul opened #661 "Update Application Passwords handling for WordPress 5.6"
**Is your enhancement related to a problem? Please describe.**
When [WordPress 5.6](https://make.wordpress.org/core/5-6/) is released, currently scheduled for 8 December 2020, we will want to handle for the scenario where [Application Passwords](https://github.com/WordPress/application-passwords) is now [available in WordPress core](https://make.wordpress.org/core/2020/09/23/proposal-rest-api-auth

[2020-10-28 10:18] dinhtungdu commented on #660
@sebastienserre Where did you put your translation file? Your translation is working for me. I put your mo and po files in `wp-content/languages/plugins/` directory:
![image](https://user-images.githubusercontent.com/5423135/97423318-9fd46e80-1941-11eb-9d18-72372dec1e13.png)

[2020-10-30 13:16] sebastienserre commented on #660
Thank you @dinhtungdu
I tested in 'lang' folder inside Distributor plugin folder.
If you ship my translations, they won't be loaded.

[2020-11-02 10:29] dinhtungdu commented on #660
@sebastienserre Thank you so much! I can confirm this issue. I created #662 to fix this one. If you have time, please give it a review.

[2020-11-02 16:14] sebastienserre commented on #660
OK I note to test it asap.
I'm quiet new and do not see any "lang/" folder to make a PR with french po/mo ?
How to proceed ?

[2020-11-03 20:59] jeffpaul commented on #521
@mark-macrae any updates on testing Distributor 1.6.0 to see if it resolves your issue?

[2020-11-05 21:14] jeffpaul commented on #661
Related: https://make.wordpress.org/core/2020/11/05/application-passwords-integration-guide/

[2020-11-10 14:54] #287 closed

[2020-11-10 18:54] jeffpaul commented on #572
@jshwlkr if you haven't seen the update in your WP Admin, a heads up that [Distributor 1.6.0](https://github.com/10up/distributor/releases/tag/1.6.0) was released back on July 2nd.

[2020-11-10 19:18] jshwlkr commented on #572
Yes, thanks @jeffpaul. I got it.

[2020-11-10 20:23] jeffpaul opened #666 "Release version 1.6.1"
This issue is for tracking changes for the 1.6.1 release.  Target release date: **TBD**.

### Pre-release steps
- [x] review and (merge or punt) [open PRs in the milestone](https://github.com/10up/distributor/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.6.1)

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`,

[2020-11-10 21:50] jeffpaul commented on #612
@willopez @arsendovlatyan note that this was added to our README.md in 8554605 and 0a5d6ca as part of the [1.6 release](https://github.com/10up/distributor/releases/tag/1.6.0).

[2020-11-10 21:50] #612 closed, assigned to nobody

[2020-11-12 05:02] jeffpaul commented on #634
@silverman63 I'm closing this due to no response, but if you still have an issue here please comment/re-open and we'll help... thanks!

[2020-11-12 05:02] #634 closed, assigned to dinhtungdu

[2020-11-12 05:03] #629 closed, assigned to jeffpaul

[2020-11-12 05:03] #622 closed, assigned to jeffpaul

[2020-11-12 05:05] jeffpaul commented on #546
@dmvieira74 have you been able to test this with Distributor 1.6.0 and determine if your issue still exists?

[2020-11-12 16:18] dmvieira74 commented on #546
Hi @jeffpaul I have not been able to test any new version of the plugin. I have since deactivated it. At some point I will revisit it and update here, but I do not know when that will be. Thanks for the check up!

[2020-11-12 16:33] #546 closed, assigned to jeffpaul

[2020-11-13 19:27] rickalee opened #668 "HTML Entity Character Encoding in post_title on Distributed Posts"
Seeing right single quote being encoded on Distributed Post but correct on Source post.

Cole Haan’s Summer Sale offers up to 75% off sandals, more + free shipping

https://www.codetable.net/decimal/8217

https://rickal.ee/KouwpQ59

[2020-11-17 19:00] #658 closed, assigned to dkotter, dinhtungdu

[2020-11-20 15:16] #408 closed

[2020-11-20 15:16] #666 closed, assigned to helen, jeffpaul

[2020-11-20 17:53] helen opened #669 "Move readme screenshots out of assets directory"
**Is your enhancement related to a problem? Please describe.**
I noticed that the build ZIP for 1.6.1 was quite large and it appears to be because of the screenshots in `assets/img`. The `assets` directory should be for files related to the function of the plugin, not information.

**Describe the solution you'd like**
I would like to move these into the `.github` folder or a `screenshots` folder.

[2020-11-20 20:55] sebastienserre opened #670 "The directory structure of the update is incorrect. All files should be inside a directory named distributor, not at the root of the ZIP archive."
Hello,

On WP 5.5.3 it's impossible to update to Distributor 1.6.1
![distributor](https://user-images.githubusercontent.com/3902621/99849027-1a785e80-2b7b-11eb-82ba-3cb33823e2ed.png)

[2020-11-20 21:31] helen commented on #670
@sebastienserre Hmm sorry about that, I used `git archive` but I wonder if I should have been doing it from a directory up. I've regenerated a ZIP, can you try again and let me know if that works?

[2020-11-20 22:01] sebastienserre commented on #670
Thank you, @helen, It has been updated automatically now.

[2020-11-20 22:01] #670 closed, assigned to nobody

[2020-11-23 12:58] mikenosko commented on #659
This doesn't seem to work even for default post types.

I created a post on my second multisite blog and it pulled to my first one. Then updated the post on the second one but nothing got updated on the first one.

[2020-11-23 13:49] mikenosko commented on #659
I think i figured it out!

I didn't have the plugin running on my second blog! I was using the Pull method on the first blog and obvs the post_save event hook didn't run on updated as it wasn't enabled.

Enabling the plugin on my second blog seems to have fixed my issue even for custom post types.
@andrewortolano can you confirm that you have the plugin enabled on all the blogs?

[2020-11-25 09:35] vlastaw opened #671 "Possible timeout"
Hi, I have 70+ websites (our organisations branches) to distribute to. Problem is their websites have less visitors and often get flushed from webserver cache, therefore it takes a lot of time for them to first-load. Even though I named them in groups like Group1-Group5 by 12 websites, I still suspect Distributor to time out while distributing. On each distribute it only sends the content to a few

[2020-11-25 15:10] jeffpaul commented on #671
@vlastaw have you updated to Distributor 1.6.1?  It includes error reporting that may help further identify what the root cause is of your issue.

[2020-12-01 00:18] eduwass commented on #348
Hi Jeff,

I've tested this locally and it seems like it is indeed a post meta issue.

I tried pulling one post and it was missing styling, when comparing the DB I noticed that the '**_elementor_data**' post meta wasn't exactly like the original. Manually copying the meta_value got the styles working again.

It was my understanding that Distributor does copy the post meta so I'm not sure why this i

[2020-12-05 13:39] geertvdheide1 commented on #661
I'm just a new user of this plugin, but isn't this issue urgent by now? WP 5.6 is scheduled to be released in a few days. Will everything continue to work on Wordpress 5.6? Won't the plugin at least need a check to see if the Application Password class already exists (from native WP) and use that if it does?

Also, the settings screen of the plugin still recommends installing Application Passwords

[2020-12-05 13:58] geertvdheide1 commented on #507
I love this enhancement, and would like to add a related note: besides having the taxonomies editable, it would be great to also be able to edit the parent page field for a shared page. Meaning the distributed page would remain linked and synced, but the parent page field would be editable. This way, we could have pages on two or more sites synced in terms of content, but have them in different pl

[2020-12-07 04:12] jeffpaul commented on #661
Just tested on a new WP 5.6 RC4 install, installed and activated Distributor 1.6.1, and the `User Profile` now presents two `Application Passwords` sections:
<img width="1255" alt="Screen Shot 2020-12-06 at 9 33 31 PM" src="https://user-images.githubusercontent.com/2818133/101306525-c15f2a80-380a-11eb-83ec-e53ceb9d8ccd.png">

On a network install, with a preexisting External Connection, it similar

[2020-12-07 04:14] jeffpaul commented on #661
As @geertvdheide1 notes, we'll likely want to update our docs at https://github.com/10up/distributor#setup-external-connections-using-application-passwords to reference this will only be necessary on WP versions before 5.6 as from 5.6 onwards Application Passwords will come bundled with WP core.

[2020-12-07 04:17] jeffpaul commented on #661
Noting that when trying to use the `Application Passwords` section `Revoke` button, that only the first section works to actually revoke while the second instance of the section does nothing upon clicking the `Revoke` button.

[2020-12-08 15:07] jeffpaul commented on #661
Noting that I still need to test Pulling content and creating a new External Connection.

[2020-12-09 03:30] madriverweb opened #674 "Change from subdomain to domain after distribution"
If during development the multisite subsites are set up as subdomains, and once launched we change the site addresses (URLs) of the subsites to their domain names (and redirect the subdomains to the domains on the hosting platform), will this cause any problem with the posts that have already been distributed?

[2020-12-09 03:35] madriverweb opened #675 "Can Distributor recognize custom posts created by plugins other than ACF?"
For an subsite of a multisite, can Distributor recognize custom post types that are set up by other plugins (such as Genesis Testimonial Slider) rather than only by ACF?

[2020-12-09 16:46] jeffpaul commented on #675
@madriverweb yes, as noted in the [Known Caveats/Issues](https://github.com/10up/distributor#known-caveatsissues) section of the readme, this is enabled by default for multisite and for separate instances the CPT needs to be registered with the REST API:

[2020-12-09 16:46] #675 closed, assigned to jeffpaul

[2020-12-09 17:03] jeffpaul opened #677 "Release version 1.6.2"
This issue is for tracking changes for the 1.6.2 release.  Target release date: **TBD**.

### Pre-release steps
- [x] review and (merge or punt) [open PRs in the milestone](https://github.com/10up/distributor/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.6.2)

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`,

[2020-12-09 18:14] ggutenberg opened #679 "Custom Post Types with no `editor` field or with no content are not sync'ed"
**Describe the bug**
When a CPT does not include the `editor` field, or the author has left it empty and `show_in_rest` is `false`, the post does not stay in sync. Note that this was tested within a multisite.

**Steps to Reproduce**
1. Create a CPT without `supports => ['editor']`.
2. Create a post in the new CPT.
3. Pull that post to the target site.
4. Make a change to the original post.
5. Not

[2020-12-10 00:33] dinhtungdu commented on #674
Distributed posts should continue working because for Network connections, Distributor use site ID to distribute post.

[2020-12-10 09:15] dinhtungdu commented on #661
Auth Wizard is not working with Application Password in core. A fix is in progress.

[2020-12-10 14:31] #674 closed, assigned to nobody

[2020-12-10 17:59] madriverweb commented on #674
Thank you!

[2020-12-10 21:25] jmslbam commented on #76
Hi @jeffpaul,

Before creating a new ticket, is it ok to jump in here because I have the same request which I need for my current project.
I'm importing events which need to be distributed to a subsite based on a taxonomy term. Noting more, nothing less.

As this is my first run with Distributer, I would like to double check my current view of the plugin / steps I will take.

1. I map my subsite t

[2020-12-11 16:35] #668 closed, assigned to dinhtungdu

[2020-12-11 18:20] #669 closed, assigned to jeffpaul

[2020-12-11 23:33] #661 closed, assigned to dinhtungdu

[2020-12-12 02:39] dinhtungdu commented on #76
@jmslbam Yes, you're right, you can use that class to distribute posts to sites in the network. Take a look at the following function for more inspiration on how to distribute posts programmatically.

https://github.com/10up/distributor/blob/faadb682cc1d1bc9037c445a46d86aa7949e6109/includes/push-ui.php#L224-L374

[2020-12-14 21:51] vlastaw commented on #671
Hi, yes, 1.6.1. How do I enable and find the error reporting? Tried WP's debug.log, but nothing is written in there by Distributor. Tried to increase dt_push_post_timeout directly in WordPressExternalConnection.php to 450, but no change. I guess editing it in WordPressExternalConnection should have worked, right? In case not, could you please write for me the exact line to put to functions.php? Un

[2020-12-15 20:27] jeffpaul commented on #624
Upgraded a network and separate instances and tested general push/pull functionality plus syncing previously distributed content and all appeared to function as expected.

[2020-12-16 12:38] Pitemedia opened #684 "Video Gutenberg Blocks are stripped partially. Video's after push don't work"
**Describe the bug**
After a push the video Gutenberg blocks are only partially copied to the new site. There are some key elements being stripped:

wp:core-embed/youtube {"url":"https://youtu.be/WNRBqGcVbX0","type":"video","providerNameSlug":"youtube","className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"}

This is the only part being copied:
figure class="wp-block-embed-youtube wp-block-embed is

[2020-12-16 16:11] jeffpaul commented on #684
@Pitemedia welcome to Distributor and thanks for the feedback.  Can you confirm some of the details from your Site Health Info export or general WP/plugins/themes info as noted in the bug report template to help us try to replicate your issue?
[code]

[2020-12-17 10:38] emisrw opened #685 "An additional string of characters in distributed post - "rn t" in ACF Wysiwyg field"
Distributor add additional "rn t" string in ACF Wysiwyg editor
example :
[code]
Example post_content from databse :
[code]
Sometimes custom blocks not showing. I found a problem in copied post :
original post:
[code]

distributed post:
[code]

I using ACF PRO and Wysiwyg field in Custom post type

Environment information
Wordpress 5.6
ACF Pro 5.9.3

[2020-12-17 15:02] jeffpaul commented on #685
@emisrw welcome to Distributor and thanks for the feedback!  We call out [known issues with field management plugins](https://github.com/10up/distributor#known-caveatsissues), like ACF, in the readme.  I have the majority of those issues milestoned for further research towards a solution in the 2.1 release, so I'll milestone yours there as well.  If this is of a particularly urgent or important ma

[2020-12-18 09:47] jmslbam commented on #76
Thank you @dinhtungdu for the feedback, will proceed with those example. If I find some optimalisations to decouple some code I will drop it here! Will keep you posted!

[2020-12-19 16:18] Dirpyth opened #686 "Duplicate content ?"
Thank you very much for this plugin.

I just have one question :
I have installed multisite WP (subdirectories). My main site is www.web.com and another site www.web.com/blogs.

I have created a page www.web.com/blogs/page1 -  I have pulled this page into www.web.com/page1.

My question : Is it a **duplicate content** as we have the same content with 2 different URLs?
2 pages are indexed, or only

[2020-12-21 01:58] vlastaw commented on #671
OK, I did some dirty work and changed all integers for $timeout to 60. Namely line 303 in subscriptions.php and lines 57 and 616 in WordPressExternalConnection.php. Suspect the first one actually was the one that caused my distribution to work OK.

[2020-12-21 09:14] emisrw commented on #685
Thanks, when do you plan to release version 2.1.0 ?

[2020-12-21 11:28] anilpainuly121 opened #687 "External Connection Authorization Process Error"
I am trying to connect external website via authorize connection process but this process halted at " Yes I approve the connection" button.
This button greyed out after pressing it and site not redirected back to main site. it halted there.

and this is happening with many sites.

Please help.
Regards
Anil

[2020-12-21 22:13] jeffpaul commented on #685
@emisrw we're currently working on some fixes for 1.6.2, so suffice to say that 2.1.0 is in the much farther future.  If there's something of particular urgent or important need you have that's targeted for 2.1.0 that ideally lands sooner, then please reach out (jeff.paul@10up.com) and we can chat about others options we might be able to come up with.

[2020-12-21 22:24] jeffpaul commented on #687
@anilpainuly121 can you confirm the WordPress and Distributor versions on the sites you're trying to connect together?

[2020-12-22 04:17] anilpainuly121 commented on #687
Hi. Wordpress is latest updated version 5.6
And distributor is 1.6.1.

I also did troubleshooting with uninstalling other plugins and themes.

But no luck yet

On Tue, 22 Dec 2020, 03:55 Jeffrey Paul, <notifications@github.com> wrote:

[2020-12-22 05:27] dinhtungdu commented on #687
@anilpainuly121 In 5.6, Application Passwords was merged into the WordPress core, and it breaks the Auth Wizard feature of Distributor (which relies on Application Passwords). We acknowledge the bug and are working on the solution. You can track the progress in #682 (which continues #676 and #681).

[2020-12-22 05:27] #687 closed, assigned to jeffpaul

[2020-12-22 15:09] vimalagarwalasentech opened #688 "Notice in Wordpress header while debug mode is on."
Hi

I first like to congratulate to fix the notices of REST API in the WP header. However,  I still find one REST API error in the Header with the latest release 1.6.1 and check the code for under development 1.6.2  and that bug yet needs to be fixed

Notice: register_rest_route was called incorrectly. The REST API route definition for 2fa/v1/test-basic-authorization-header is missing the required

[2020-12-22 18:59] jeffpaul commented on #688
@vimalagarwalasentech am I summarizing your concern here that we should bump the version of the Application Passwords plugin bundled with Distributor to help resolve a PHP notice?

[2020-12-23 08:53] vimalagarwalasentech commented on #688
@jeffpaul Yes your summarizing is correct. Bumping the Application Passwords Version that is bundled with Distributor will helps to resolve the PHP notice.

I have tested it on my local and its works well and fixed the notices.

[2020-12-23 15:09] jeffpaul commented on #688
@dinhtungdu do you feel this is low enough risk to bump as part of the 1.6.2 release we're working on to target the handling of App Pwds bundled in WP 5.6?

[2021-01-05 15:37] emisrw commented on #392
@jeffpaul Somebody from stuff removed distributed posts and now these posts are in skipped tab. I tried push from parent site but not showing (tried as draft and normally). Is any another option ? e.g. remove manually from database ?

[2021-01-06 23:27] j0HnC0untry opened #689 "External Connection"
I have 2 different subdomains (site1: learning.sitename.com and site 2: employee.sitename.com) that I am trying to connect.

External connections on both sites use /wp-json
U/P is the primary admin in profile page
User is admin on both sites

I am getting the following message

External Connection URL
http://learning.sitename.com/wp-json
Limited connection established.
Authentication failed due to

[2021-01-07 02:03] jeffpaul commented on #689
@j0HnC0untry assuming you're set up on a multisite, you do not need to create External Connections.  Distributor will automatically detect sites within a network setup.

[2021-01-07 02:18] j0HnC0untry commented on #689
Jeff. it is not a multi site so that is why I setup the external connection

[2021-01-07 02:54] jeffpaul commented on #689
@j0HnC0untry can you provide more details on your WordPress and Distributor setup, perhaps via your Site Health Info export so I can better triage?

[2021-01-07 02:59] j0HnC0untry commented on #689
This is on the site that I am pushing content from

`
### wp-core ###

version: 5.6
site_language: en
user_language: en
timezone: +00:00
permalink: /%postname%/
https_status: true
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 8
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/oeg64cbos841/employee

[2021-01-07 03:01] j0HnC0untry commented on #689
This is on the site that I am pushing content from

`

wp-core

version: 5.6
site_language: en
user_language: en
timezone: +00:00
permalink: /%postname%/
https_status: true
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 8
dotorg_communication: true

wp-paths-sizes

wordpress_path: /home/oeg64cbos841/test.com
wordpress_size

[2021-01-07 03:05] j0HnC0untry commented on #689
This is the site that I am sending content to

`
### wp-core ###

version: 5.6
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%postname%/
https_status: false
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 8
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/oeg64cbos841/test2.

[2021-01-07 03:07] j0HnC0untry commented on #689
This is on the site that I am pushing content from
`
wp-core
version: 5.6
site_language: en
user_language: en
timezone: +00:00
permalink: /%postname%/
https_status: true
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 8
dotorg_communication: true
wp-paths-sizes
wordpress_path: /home/oeg64cbos841/test.com
wordpress_size: 509

[2021-01-07 03:07] j0HnC0untry commented on #689
`
### wp-core ###

version: 5.6
site_language: en_US
user_language: en_US
timezone: +00:00
permalink: /%postname%/
https_status: false
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: open
environment_type: production
user_count: 8
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /home/oeg64cbos841/test2.com
wordpress_size: 116.27 MB (121914273 bytes)

[2021-01-07 03:10] jeffpaul commented on #689
@j0HnC0untry when setting up the External Connection, did you follow the auth wizard or manually create the connections?

[2021-01-07 03:11] j0HnC0untry commented on #689
I set it up manually following the sites directions

[2021-01-07 04:08] jeffpaul commented on #689
@j0HnC0untry are the instructions you followed these from the plugin readme.md file?  https://github.com/10up/distributor/#setup-external-connections-using-application-passwords  If so, did you run into errors at any point in those steps?  Also, you might give the auth wizard a shot as it should automate much of those manual steps and hopefully setup the External Connections properly for you.

[2021-01-07 04:13] j0HnC0untry commented on #689
Yes those are the instructions. Where in the app is the Auth Wizard. I didn't see it

[2021-01-07 04:17] jeffpaul commented on #689
@j0HnC0untry from the `Distributor` > `External Connections` WP Admin menu, clicking the `Add New` button should show you a screen like the one below that after you enter the External Site URL and click `Authorize Connection` should take you through the approval flow to set up an External Connection successfully.

![Screen Shot 2021-01-06 at 10 16 00 PM](https://user-images.githubusercontent.com/2

[2021-01-07 04:18] j0HnC0untry commented on #689
Sorry. Yes I did use this to set it up

[2021-01-07 04:21] jeffpaul commented on #689
@j0HnC0untry and you're saying you completed that approval flow and are not seeing a valid, complete External Connection?  Or was there an error somewhere in the final auth wizard approval steps?

[2021-01-07 04:25] j0HnC0untry commented on #689
I tried it again and it locks on the Authorize Application screen after I click on the "Yes, I approve of this connection". The button is grayed out and nothing happens after that

[2021-01-07 09:07] emisrw opened #690 "Remove posts from skipped and pull posts again."
Removed distributed posts are in skipped tab. I tried to push from parent site but the posts didn't show up (tried as draft and normally). Is any another option ? Can I remove manually from database ?

[2021-01-07 16:22] jeffpaul commented on #689
@j0HnC0untry can you please check and see if there are any console errors in your browser on that page?

[2021-01-08 00:31] j0HnC0untry commented on #689
I get this message in the console

JQMIGRATE: Migrate is installed, version 3.3.2
jquery-migrate.min.js?ver=3.3.2:2

[2021-01-08 10:08] xyralothep commented on #659
I'm getting the same problem currently - using Multisite with a CPT.  The post distributes fine, however when I make changes on the original site they aren't propagated through to the duplicated post.  If I delete the post on the original site too, the duplicated post remains.

I have the plugin running on the main site and the subsites.

[2021-01-08 19:01] j0HnC0untry commented on #689
I tried the wizard and got this error

Unable to connect to site.
cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received (http_request_failed)

[2021-01-08 19:56] j0HnC0untry commented on #689
The error is NOT showing up anymore and I think godaddy tech support fixed the issue.

On the Authorize Application page where there is a button that says "Yes, I approve of this connection" the button is grayed out when I click it but nothing happens afterwards. The web address also redirects to the page that I am trying to connect. Below is the address string and there is a failure message on it

[2021-01-08 20:01] jeffpaul commented on #689
@j0HnC0untry was there something GoDaddy changed on the server side of things?  Have they shared any details that can help us identify if there's an issue with a specific environment setup or something we can share with others in the community that have similar problems?

[2021-01-08 20:22] j0HnC0untry commented on #689
Godaddy increase all the server limits is all they did. I ran the setup wizard with them on the phone and they did not see any server errors. Beyond that because it is a third party plugin they said there was nothing else they could do.

Any help on setting this up would be appreciated. I have spend about 8 hours researching and testing this and almost ready to give up and try to find another plug

[2021-01-09 11:00] dfardon opened #691 "Can't verify connection, can pull but can't push"
**Describe the bug**
With two Wordpress installs on separate domains but on the same server, I have attempted to connect "mainsite" with "remotesite". I have created an Application password for the admin user on "remotesite" and then run the setup wizard on "mainsite" but can not get the connection verified. I have done the same thing using manual setup with the same result.

"Mainsite" can now pu

[2021-01-09 18:40] jmichiels01 opened #692 "Working with Custom Fields Plugin"
I am using the [Advanced Custom Fields plugin](https://www.advancedcustomfields.com/) to add an additional image to my posts. While the image is copied to the destination site, the image is not associated with the post. In order to add the secondary image, I have to unlink it from the original post. is there a way to ensure data in custom fields are passed over and linked appropriately?

[2021-01-11 15:58] francisco-domo commented on #582
Hello, @sebastienserre sorry for bringing up this old post. I need to do the same thing, remove the category from the pulled posts, could you share the snippet of code you used for achieving this? I'm a bit of a noob and I'm lost regarding what should I do with dt_pull_post.

Thanks in advance.

[2021-01-11 17:07] sebastienserre commented on #582
Hello @francisco-domo

Here's the code I use:
[code]

[2021-01-11 17:13] jeffpaul commented on #691
@dfardon are you seeing any browser console errors on your "mainsite" or "remotesite"?  From the error message you shared, it sounds like the Application Password set up did not complete successfully from "mainsite" to "remotesite".  Assuming you utilized the setup wizard, did you run into any errors or have issues in completing that process?

[2021-01-11 17:16] jeffpaul commented on #692
@jmichiels01 we have a similar report of image issues with ACF (see #381) and have assigned all ACF-related issues to the 2.1.0 milestone to try and resolve together within that release.  Note that 2.1.0 is not in the near future, so if this is of particular urgent or important need for you then please reach out to me directly (jeff.paul@10up.com) and we can look into alternate options for you...

[2021-01-11 17:27] jeffpaul commented on #689
@j0HnC0untry you noted that there was a failure message on the page you get redirected to from the "Yes, I approve of this connection".  Can you share what that message was?

[2021-01-11 17:34] j0HnC0untry commented on #689
The error message was before the Yes I approve this connection page was fixed by godaddy  But the message is below

Unable to connect to site.
cURL error 28: Operation timed out after 5004 milliseconds with 0 bytes received (http_request_failed)

[2021-01-11 17:46] jeffpaul commented on #689
@j0HnC0untry ok if that error message isn't occurring for you any more, then where in the set up flow are you running into errors/issues?

[2021-01-11 17:57] j0HnC0untry commented on #689
When I click on the "Yes, I approve of this connection" the site is redirected to site 2 that I am connecting with and stalls. The above button is grayed out but nothing happens. In the address browser this is what shows up

https://employeetrainingdev.vcp.vet/wp-admin/admin.php?page=auth_app&app_name=Distributor+on+VCP+-+Learning+Center+%28https%3A%2F%2Flearningcenterdev.vcp.vet%29&success_url=ht

[2021-01-11 18:35] dfardon commented on #691
Hi Jeff, No related console errors on either site in normal use.

When I run the setup wizard, all is fine to the point where I click the "Yes I approve of this connection" button, at which point the button becomes greyed out and nothing further happens. At this point I see the following console error:

Uncaught TypeError: a is undefined
    <anonymous> https://www.villaelladubrovnik.com/wp-admin/

[2021-01-11 19:31] francisco-domo commented on #582
That was fast! Thanks very much.

[2021-01-11 20:11] j0HnC0untry commented on #689
Is there a solution or should I look for another plugin?

[2021-01-12 07:57] anilpainuly121 commented on #689
I also faced the same issue with two of my external sites due to that "grayed out- Yes, I approve of this connection)  button.  and found that this issue is due to WordPress 5.6, when i downgraded/rollbacked my WordPress to 5.5.3 it make connection working to two external sites.
(After downgrading I use authorize connection wizard  along with application password and now working fine) give it a tr

[2021-01-12 14:28] j0HnC0untry commented on #689
@anilpainuly121 Thank you! Does this mean you are not able to upgrade your version of Wordpress?

@jeffpaul Is there going to be a fix for this?

[2021-01-12 15:01] mikelking commented on #688
Curious has there been any movement on this issue?

[2021-01-12 20:24] jeffpaul commented on #688
@mikelking we're working through testing various scenarios but are targeting a 1.6.2 release to address any issues with WP 5.6 and Application Passwords.  If you're seeing any additional issues with those two items, please call them out so we can attempt to address them within 1.6.2... thanks!

[2021-01-13 00:14] anilpainuly121 commented on #689
@j0HnC0untry  Yep,  for a while until there is no solutions, it is working upto wordpress 5.5.3 last stable release
looking forward to hearing from developer community for  update..

[2021-01-13 04:31] j0HnC0untry commented on #689
@jeffpaul is this correct? There is no fix for this for the current version of WP? Are you guys working on a update?

[2021-01-13 15:57] dkotter commented on #689
@j0HnC0untry @anilpainuly121 Thanks both for the feedback here. I was able to reproduce this issue using Distributor v1.6.1 and WordPress v5.6, though no issue exists in WordPress v5.5.3. The issue I'm seeing is when using the connection wizard, I'm properly taken to the remote site but when clicking the approve button, that button becomes grayed out and nothing happens after (this is due to a JS

[2021-01-13 15:59] dkotter commented on #691
@dfardon Thanks for the bug report. This sounds like the same issue reported on #689. Feel free to read my latest comment there for full details but the short version is there's a conflict between the version of Application Passwords Distributor loads and the new version that WordPress 5.6 now loads by default. We have some fixes we're working on to address this that will hopefully be released soo

[2021-01-13 16:01] j0HnC0untry commented on #689
@dkotter I will test this later on today and update here on status. Thank you for your reply to this thread. I appreciate it!

[2021-01-13 16:33] #624 closed, assigned to jeffpaul

[2021-01-13 17:27] dfardon commented on #691
@dkotter Thanks for the help, I tried manual authentication before when the automatic connection failed and had no joy. However, I have deleted any existing connections and tried again and now I have successfully connected mainsite to two remote sites, with the green button for each that shows connection is established.
However, having published a test post and tried to push it to the remote sites

[2021-01-13 17:28] jeffpaul commented on #691
@dfardon we're in the process of finishing up a 1.6.2 release that should resolve this, I'll report back here when that's ready for you to update and test again.  I appreciate your feedback and patience, thanks!

[2021-01-13 18:40] dkotter commented on #691
@dfardon If the connection is set up correctly now, there should be no issue with permissions. One of the other big things we often see is issues with remove request timeouts, since all the data is being sent remotely when distributing to external connections (see https://github.com/10up/distributor#known-caveatsissues).

If you open the browser console while distribution is happening, do you see

[2021-01-13 20:34] dfardon commented on #691
@dkotter I don't expect it's a timeout issue, I'm just trying to push a simple post with 200 words of text, and a featured image, nothing more than that.

I see the following error in the browser console when distribution fails and the error message displays:

Uncaught TypeError: T is null
    C push.js:122
    <anonymous> push.js:179
    setTimeout handler* push.js:381
    jQuery 7
    <anonymous

[2021-01-14 11:56] philipjohn commented on #539
A few of the page builders don't store content in `post_content` as standard but in meta instead, which could well be part of the issue here.

[2021-01-14 21:21] #688 closed, assigned to dkotter, dinhtungdu

[2021-01-14 21:35] #677 closed, assigned to helen, jeffpaul

[2021-01-15 16:11] jeffpaul commented on #402
@grappler I'm no longer seeing this PHP notice.  Are you still seeing it?  If so, can you confirm your WordPress, Distributor, and PHP versions?

[2021-01-15 16:17] jeffpaul commented on #633
@tropa86 @thistehneisen have you both updated to WP 5.6 and Distributor 1.6.2 and if so are you still having this issue?

[2021-01-15 16:27] jeffpaul commented on #691
@dfardon we pushed our version 1.6.2 yesterday, please see if that helps resolve your issue... thanks!

[2021-01-15 16:28] jeffpaul commented on #689
@j0HnC0untry @anilpainuly121  we pushed our version 1.6.2 yesterday, please see if that helps resolve your issues... thanks!

[2021-01-15 17:16] j0HnC0untry commented on #689
@jeffpaul OMG this is so exciting! It worked and I tested a pull and everything seems to be working perfectly on first glance. I will run some more tests next week. Thank you for such timely response!

[2021-01-15 18:51] mikelking commented on #358
Hey sorry I just discovered that the email notices were all being sucked into JUNK... Yes defaulting to draft on push/pull of content is great. This is GTG.

[2021-01-15 19:38] dfardon commented on #691
@jeffpaul Thanks Jeff, I've updated all sites to 1.6.2 and also discovered that the Wordfence firewall blocks Application Passwords by default - why I was still able to set them up I'm not sure, but I've now enabled them and can now connect the sites automatically.
However, pushing posts still failed until I tried disabling Wordfence entirely, which fixes the problem. I'll look further into it ove

[2021-01-15 20:17] jeffpaul commented on #691
@dfardon I've definitely seen multiple plugins have issues with Wordfence aggressively blocking (for good reason on the security side, but you need to find the balance where things are blocked but not for core plugin needs).  I believe Wordfence has the ability to see all its settings somewhere, you might check to see if it's blocking something with the REST API as that's my best guess for now.

[2021-01-15 20:59] dfardon commented on #691
@jeffpaul Sorted, by identifying the push attempt in the Live Traffic log in Wordfence on the remote sites, I've been able to add the IP to the Firewall Allowlist and posting now works. Thanks very much for your help. Have a good weekend!

[2021-01-15 21:05] jeffpaul commented on #691
That's great to hear @dfardon!  I'm going to close this issue as it sounds like you're all set.  If anything else crops up, please let us know.

[2021-01-15 21:05] #691 closed, assigned to jeffpaul

[2021-01-18 04:58] cdwieber commented on #611
After toying with this a bit, I can see why the Gutenberg version is set up as it is: the notification accepts simply a "message" and then an array of "actions", so the "message" must necessarily be separated from the "actions" (i.e. unlink, view original).* It seems that the i18n functions escape HTML making kludging in an inline link difficult without upending the notification system. There may

[2021-01-18 17:45] francisco-domo opened #695 "Pulled posts are automatically published"
Hello, I started using the plugin last week and it was exactly what I needed for a large multisite network.
However as I started working with it I found some issues, oine of them is that once I pull a post, it is pushed as Published automatically instead of being kept as a draft, as I read is the default behaviour since the latest version.
I tried it also on a clean install  with Wordpress default

[2021-01-18 20:49] DevOps-Adeptli commented on #689
@jeffpaul Thanks for the update! It is now working again as before. :-)

[2021-01-18 21:23] jeffpaul commented on #689
Marking this as closed, but feel free to re-open add comments if you run into related issues and we'll triage as best we can... thanks!

[2021-01-18 21:23] #689 closed, assigned to jeffpaul

[2021-01-19 13:13] francisco-domo commented on #695
Update: If I pull the post directly from the edit post I get a checkbox which displays "as draft". But I think most of the time the users will access to the plugin by choosing 'Distributor' in the Admin Dashboard, where the checkbox is not shown.

[2021-01-19 16:34] emisrw opened #697 "Remove post connection manually from database"
A need to remove connection between two posts.
So i remove from database in wp_postmeta rows :
_dt_original_post_deleted
dt_original_post_id
dt_original_blog_id
dt_syndicate_time
dt_original_post_url_

And then message that original post was removed disappear.

But I don't know why, these fields sometimes showing again with new value for example dt_original_post_id 8564 from another site, but ther

[2021-01-20 14:32] anilpainuly121 commented on #689
This is working now with Wordpress 5.6, updated my sites to WP 5.6..
Feel Good.
Thanks to Development Team.

[2021-01-20 15:29] anilpainuly121 opened #698 "Unable to connect to site. The external site is private or not a WordPress site. (rest_api_uri_not_found)"
Unable to connect to site. The external site is private or not a WordPress site. (rest_api_uri_not_found)

 I am getting this error during connection process.
Wordpress 5.6
Application password
Distributor 1.6.2

[2021-01-20 21:11] kaputti1o1 opened #699 "Push is not working (autoptimize)"
Clicking on "Dirstributor" in the admin bar is not opening any overlay to start the push process. The popup is not opening, but in the console no error is displayed.

PHP Version: 7.4.10
Wordpress Version: 5.5.3
Theme: Astra
Pagebuilder: Elementor

[2021-01-21 21:22] dkotter commented on #659
@andrewortolano @xyralothep Thanks both for the reports.

Looking through what changed from 1.5.0 to 1.6.0, in particular with the logic that updates distributed items in multisites, the only thing I'm seeing is a check we added when a post is using Gutenberg (see https://github.com/10up/distributor/pull/518).

I'm wondering if either of you (or both of you) can provide details on how you have the

[2021-01-21 22:04] madriverweb opened #700 "Restoring link to original changes published date"
Restoring link to original changes published date in sub-site of a multi-site

**Steps to Reproduce**

Create a post in the main site.
Push it to sub-sites.
Open it in sub-site, unlink from original (date remains).
Relink to original, date changes to current time.

**Expected behavior**
It would seem sensible to reflect the date the original was published, for accuracy. The downside of having it c

[2021-01-21 23:20] madriverweb commented on #700
Commenting on my own issue: I just tested changing the published date on the original, actually just the time, to see if that would filter through. When updating the original, the timestamp on all the posts pushed to sub-sites changes to current time. Not ideal if someone is just correcting a typo and wants the posts to stay in the original timestamp order of when they were published. The current

[2021-01-22 15:47] dhanendran commented on #501
@jeffpaul I have raised a PR for this https://github.com/10up/distributor/pull/702

[2021-01-22 17:27] dhanendran commented on #436
@jeffpaul I can work on this

[2021-01-22 17:53] grappler commented on #402
@jeffpaul You can force the issue by including `add_filter( 'dt_available_pull_post_types', '__return_empty_array' );`

[2021-01-22 21:49] dkotter commented on #402
@grappler Thanks for the additional information here. I've been able to reproduce this and have a fix in place in #703

[2021-01-23 16:55] andrew-dixon commented on #690
@emisrw Just had this same issue, you can edit the `dt_sync_log` under the `options` table for the site you are attempting to pull to, e.g. `wp_2_options`, etc... I just needed to clear the whole list and start again, so I just set the `option_value` to an empty string. There is also an issue to fix this here: #638

[2021-01-23 17:11] andrew-dixon commented on #428
Would like this feature as well.

[2021-01-24 00:52] SK-AusTX opened #704 "Push Anomoly"
This is a very cool product and core functionality seems to work great.

1) On "Pull Content" page I do not see the selector (mentioned in the documentation) for pulling as "published."

2)  First pull was flawless.  Website to website (not networked).

3) Second push showed error: "...issues distributing post..."  Receiving website, when post was edited, showed page ghosted, "link banner" could n

[2021-01-24 11:38] andrew-dixon opened #705 "Force Push All Posts"
**Is your enhancement related to a problem? Please describe.**
I updated some URL's using a search and replace tool and the posts in which these URLs appeared updated on the origin site but not on the sites the posts were distributed to.

**Describe the solution you'd like**
An option (button) in Distributor to "force push" and/or "force pull" all posts.

**Designs**
Maybe a button on the "Setting

[2021-01-25 09:40] xyralothep commented on #659
Hi,

Thanks for looking into this for me.  Here's how I'm registering the CPT:

`		$args = array(
			'labels' => array(
				'name' => 'Offers',
				'singular_name' => 'Offer'
			),
			'public' => true,
			'supports' => array(
				'title', 'author', 'revisions'
			),
			'has_archive' => true,
			'rewrite' => array(
				'slug' => 'offers',
				'with_front' => false
			),
			'show_in_rest' => true

[2021-01-25 16:23] dhanendran commented on #306
@helen @jeffpaul I have raised a PR for this https://github.com/10up/distributor/pull/706

[2021-01-25 19:31] jeffpaul commented on #501
Awesome, many thanks for the help @dhanendran!

[2021-01-25 21:33] otte24 opened #707 "Content is not visible after push under WP Ultimo with domain mapping"
I am using Distributor under WP Ultimo. Up to the point where I set a domain mapping, everything works fine. If I push after activate domain mapping, the content is not visible in the frontend of the subsite. No matter if linked or unlinked. Very strange, because the content is definitely there (in backend).

PHP 7.4.14
Wordpress 5.6
WP Ultimo 1.10.13
Distributo 1.6.2

[2021-01-25 22:52] khiser opened #708 ""Distributor" is not included in the Admin Bar on post"
Although the admin bar is visible, the "Distributor" is not showing as an option on the site that will be pushing content to the other.  (It shows up on the site that is to receive the content.

**Steps to Reproduce**
1. login
2. select a blog post
3. look at admiin bar and no "Distributor" is listed (the bar and other links is there though)

**Expected behavior**
I expected to see the "Distributo

[2021-01-26 20:31] jeffpaul commented on #690
Thanks @andrew-dixon, and yes @emisrw we've got this covered in #638 so I'd recommend subscribing to updates on that issue to see when that becomes available in Distributor... thanks!

[2021-01-26 20:31] #690 closed, assigned to nobody

[2021-01-27 02:55] xzykho commented on #699
I'm having the same issue. It seems it only happened after the update. I can pull via individual site but the push is disabled for some reason. We have 15 sites + the main. Can't see any issues from the console.

I'm on -
WordPress 5.6
Multisite Install
Distributor v1.6.2
JQUERY Migrate 3.3.2

[2021-01-27 15:50] robertnabbe opened #709 "ACF Taxonomy field doesn't populate"
(Not sure if this is related to #625 or not) When attempting to push a post that contains an [ACF Taxonomy field](https://www.advancedcustomfields.com/resources/taxonomy/), it will simply remain empty on the recipient site (no data). Granted, the `post_tag` I'm attempting to push down has an ID of 664 on the main site, and 73 on the recipient (that probably doesn't help either).

Right now I'm sol

[2021-01-27 17:09] dkotter commented on #659
@xyralothep Thanks for the additional information. Just to clarify further, if I setup a test post type using the same arguments as you shared, I get a post screen that does not have any way to set the actual `post_content`, is that correct? Assuming all data is just stored in meta fields (sounds like ACF in this case).

If that's correct, this is definitely a scenario we need to account for in ou

[2021-01-27 17:56] xyralothep commented on #659
Yep, that's right, there is no post_content - just some ACF fields.  Thanks!

[2021-01-27 19:56] dkotter commented on #659
Thanks @xyralothep for that confirmation. I think I have a fix in place that handles this situation. Feel free to test out #710 if you want and if so, let me know if that fixes the update issue.

@andrewortolano I'd still be curious to see if your situation is the same, using a post type that doesn't actually use `post_content`, or if there's another bug here we need to track down. Thanks!

[2021-01-27 22:10] dkotter commented on #699
@dziemann @xzykho Thanks both for this report. Hoping you can both provide some more information as I've been trying to reproduce this but haven't be able to yet.

@dziemann Can you let me know what version of Distributor you are running? And have things worked in the past but have stopped recently? If so, any recent Distributor update you may have done? And just so I'm clear, you see the Distribu

[2021-01-27 22:24] jeffpaul commented on #436
@dhanendran all yours, thanks!

[2021-01-27 22:25] #402 closed

[2021-01-27 22:36] jeffpaul commented on #698
@anilpainuly121 are you using the Authorize Connection wizard or the Manually Set Up Connection process?  Is the site you're trying to connect blocking access to the REST API perhaps?

[2021-01-27 22:41] #501 closed, assigned to dhanendran

[2021-01-27 22:45] dkotter commented on #708
@khiser Thanks for the report. Looking at the screenshot provided, as well as the extra environment details, it appears you're on a WordPress.com site. Distributor won't work properly in that environment, as we have no ability to add custom items to the menu bar (the menu bar WordPress.com uses is different than the one used by just WordPress).

We do support WordPress.com authentication but this

[2021-01-27 22:50] dkotter commented on #704
Thanks for the feedback @SK-AusTX

Can you point me to the documentation that says this so we can get this updated? There currently is no selector on the Pull screen to set the `post_status`. Unlike Pushing content, when pulling content, it will come in with the same status as the original with no way to change that. So if the original is published, the content you pull will also be published.

We

[2021-01-27 22:52] jeffpaul commented on #705
@andrew-dixon do you know how the search and replace tool you used updated those posts?  Ensuring that Distributor is aware of that update process could be something we ensure we cover.

[2021-01-27 23:03] dkotter commented on #686
@Dirpyth Thanks for the question. Distributor does make use of canonical URLs (see https://github.com/10up/distributor#known-caveatsissues) so in your scenario, www.web.com/page1 will have a canonical URL that points to www.web.com/blogs/page1. This lets search engines know that even though these pages may have the same content, one page is the source (www.web.com/blogs/page1) and should be treate

[2021-01-27 23:17] xzykho commented on #699
Hi @dkotter Thank you for getting back to me on this. I did not really notice which update it was that triggered the bug. I remember updating the WordPress core a couple of weeks ago. But can't remember when I updated the Distributor plugin. I only took over this project early December.

I can see the Distributor admin menu - refer to screenshots. I can't click on the options on the left though. A

[2021-01-27 23:41] xzykho commented on #699
@dkotter

I've downgraded my Distributor to v1.6.1 -
- The post we we're trying to distribute through the network is still stuck and cannot be distributed (maybe cache?)
- I created a new post and it worked.

This made me try out v1.6.2 with a new post and it worked too, but the post where the bug started is still stuck (refer to previous comment screenshot).

So I tested v1.6.1 and v1.6.2 on a ne

[2021-01-28 08:33] andrew-dixon commented on #705
@jeffpaul TBH I'm not sure, I think it is directly into the DB using queries. The tool I used was https://en-gb.wordpress.org/plugins/better-search-replace/

[2021-01-28 11:47] xyralothep commented on #659
That's sorted it, thank you!

[2021-01-28 15:04] jmslbam commented on #709
I think this agency is doing the same "slug" trick in their plugin as you https://github.com/NovemBit/distributor-acf-addon. This plugin is based on external connections.

[2021-01-28 20:21] otte24 commented on #413
Distributor is really really good, I love it. But the problem with lost linking when cloning the sites is a rule out criterion for me. I really need a solution for WP Ultimo. I tried to customize your plugin, but unfortunately unsuccessful so far. But I stay tuned...

[2021-01-29 15:57] otte24 commented on #413
@ulkish In my opinion, there is a mistake in it. In
if ( isset( $dt_connection ) ) { $dt_connection[0]['internal'][$blog_id] = array(
the original blog-id must be inserted.

I have slightly modified it with another hook (for cloning via WP Ultimo) into my function and it works so wonderfully.

add_action('mucd_after_copy_data', 'p4u_add_dt_connections', 10, 2 );

function p4u_add_dt_connections( $

[2021-01-29 17:23] dkotter commented on #699
@xzykho

Looking at the screenshots provided, it does appear this particular post has already been distributed to all connections, which is why you can't distribute to those connections again.

So this seems like the actual issue here. Distributor sees this post as already having been distributed, so it won't let you distribute it again, but you're not actually seeing this post on the other sites.

[2021-01-29 17:24] dkotter commented on #659
@xyralothep Awesome, thanks for the confirmation. We'll work to get this queued up for our next release.

[2021-02-01 09:35] dhanendran commented on #79
Does https://github.com/10up/distributor/pull/368 solved this issue?

[2021-02-01 13:56] dfardon opened #711 "Compatibility across themes and pagebuilders?"
**Describe your question**

Hi, we have managed to push posts from mainsite to two remotesites.

However when the posts display on the remotesites, the formatting is different to the existing posts on that site. I notice that the first pushed post is created without using the remotesite pagebuilder, whereas the previous posts on those sites were all created directly in the remotesite using the pag

[2021-02-01 14:00] dhanendran commented on #123
@jeffpaul I have given a try to unify this in https://github.com/10up/distributor/pull/712

[2021-02-02 02:41] xzykho commented on #699
Thank you @dkotter, I think you are right that my issue is very similar or exactly like #509, for now we will just wait for any future updates on this. And if it happens again we can just use the pull feature as a work around. Or as you have suggested do a database cleanup.

[2021-02-02 13:59] kaputti1o1 commented on #699
@dkotter I'm on 1.6.2 from beginning. Since installation it did not work. No update was done. In the admin bar I can see the "Distributor" but hovering it or click on it does not change anything or displaying an overlay/dropdown.
In the console there is nothing. No warning and or error. If you want I can PM you the URL.

[2021-02-02 17:20] jeffpaul commented on #611
@cdwieber do you think there's more we can technically do to standardize that copy or do you think what we've got merged in your PR is the best we can do and should otherwise close this issue?

[2021-02-02 17:21] #306 closed

[2021-02-02 17:24] jeffpaul commented on #633
@tropa86 @thistehneisen have you updated to WP 5.6 and Distributor 1.6.2 and if so are you still having this issue?

[2021-02-03 07:16] clewis-akamai-innovations opened #713 "Avada Builder Elements Not Working After Update"
After updating to Avada 7.2.1 and updating Distributor to 1.6, some elements on distributed posts and pages no longer appear correctly. Here's a post on the main site. You can see that our testimonial section, counter circles and toggles perform correctly: www.ivtherapydirectory.com/second-testimonials-test/

After the update, when the post is distributed, the testimonials disappear from the post,

[2021-02-04 20:31] rchalhoub opened #714 "Pulled/Pushed posts grab incorrect images"
**Describe the bug**

Hello, we are using Distributor 1.6.2, network activated on our multisite.  We are running multiple real estate sites and want to be able to push/pull property listings between them.  When we attempt this, the featured image is copied over correctly, as is the text content, categories, etc. But the gallery images aren't moving over correctly, the plugin picks random images to

[2021-02-04 21:54] dkotter commented on #714
@rchalhoub Thanks for the report!

This sounds similar to #486 (and a few others as well). This is a known issue with Distributor (somewhat documented here: https://github.com/10up/distributor#known-caveatsissues) where if you have it set to bring over all attached images, the images themselves should be transferred to the receiving site but the plugin does not do any sort of search/replace on tho

[2021-02-04 21:57] dkotter commented on #699
@dziemann Hmmm.. that's a weird one. There is some javascript that fires when you hover over that Distributor admin bar item that should show the drop down and load in all available connections. So if you're seeing nothing at all when hovering over that, I'd guess that's a JS error. But that should also show in the console, which you say isn't showing any error.

How did you install Distributor? I

[2021-02-04 22:05] dkotter commented on #671
@vlastaw Glad you were able to get things working.

I would guess it was updating the timeout value in `WordPressExternalConnection.php`, as this is what will fire when initially distributing an item. The timeout value in `subscriptions.php` is used when pushing updates to an already existing distributed item (which would more than likely have the same issue, so updating both of those is good).

F

[2021-02-05 16:28] jeffpaul commented on #638
Closing in favor of the combination of #397 and #392.

[2021-02-05 16:28] #638 closed, assigned to nobody

[2021-02-05 16:38] dhanendran commented on #610
@jeffpaul I can work on this issue.

[2021-02-05 16:38] dhanendran commented on #619
@jeffpaul I can work on this issue.

[2021-02-05 16:38] dhanendran commented on #583
@jeffpaul I can work on this issue.

[2021-02-05 16:38] dhanendran commented on #656
@jeffpaul I can work on this issue.

[2021-02-05 20:04] dkotter commented on #684
@Pitemedia I just tested pushing a post with a YouTube embed block in it to both an internal connection and an external connection, running Distributor 1.6.2 and WordPress 5.6.1 and everything distributed as I would expect it.

From the HTML you pasted, it does seem similar to other issues we've seen in the past around distributing Gutenberg content. Basically we've had issues where sometimes Dist

[2021-02-05 20:05] dkotter commented on #679
@ggutenberg Apologies for missing this one but it sounds very similar (if not the same) as the issues outlined in #659. I have a PR up to fix that (#710) and I think that might fix your issue. If you have time to test that PR out and let us know if that helps resolve things, that would be super helpful. Thanks!

[2021-02-05 22:16] dkotter commented on #639
Testing this out today and I was not able to reproduce this issue. For reference, here's my testing details:
- Distributor 1.6.2
- WordPress 5.6.1
- WP-CLI 2.8.1

I also tested in both an environment that had caching enabled and one that didn't. In all tests, I never got that No Connection message, I was always able to see the proper list.

On the Distributor side, we do have caching around that l

[2021-02-05 22:28] dkotter commented on #698
@anilpainuly121 That error will happen if Distributor can't determine what the REST API URL should be for the site it is connecting too.

We try to figure that out by making a request to the site and parsing out the `<link>` tags, looking for the tag that has the API URL in it. This should be a tag that looks like this: `<link rel='https://api.w.org/' href='http://example.com/wp-json/' />`

If tha

[2021-02-06 17:38] anilpainuly121 commented on #698
Thanks @dkotter for UPdate, This line of code is visible in view source of Page,..  tried "Rest API Log"  plugins to show logs, which is showing the incoming connection in remote site.
but not able to figure out what is refusing connection...

[2021-02-08 20:52] dkotter commented on #698
@anilpainuly121 Hmm.. that's weird it isn't working if that line of code is there. If possible, can you share with me the URL of the site you're trying to connect to so I can take a look? You can email that to me at darin.kotter@10up.com so you don't have to post that publicly here.

[2021-02-09 03:59] anilpainuly121 commented on #698
Hi, @dkotter i shared the url vi email.

Thanks & Regards
Anil

[2021-02-09 09:56] dfardon commented on #711
@dkotter Hi, do you have a minute to let me know about this question? Just so we know if we can keep on with Distributor or if it won't work for our scenario. Thanks!

[2021-02-09 16:19] dkotter commented on #711
@dfardon Thanks for the question. This is an issue that has been brought to our attention a few times, both with sites using Elementor and sites using other types of page builders (see #348 for some initial thoughts).

It is something that is on our roadmap to look more in depth at and see if there's a better way to handle distributing meta data that would solve the most common page builder use ca

[2021-02-09 20:34] jeffpaul commented on #707
@otte24 I read up quickly on WP Ultimo but am not totally familiar with that platform.  Are you set up there as a multisite or different WordPress instances?  If you're able to see the content in the backend can you try clicking the "View" row action for a sample post that was distributed and let me know if that displays on the frontend of your domain mapped site?

[2021-02-09 20:40] #659 closed, assigned to dkotter, jeffpaul

[2021-02-09 20:40] #679 closed, assigned to dkotter

[2021-02-09 20:42] #695 closed, assigned to dkotter

[2021-02-09 20:48] j0HnC0untry opened #715 "Iframe code is being stripped when I make edits after first push of post"
I am pushing a post from Site A to Site B via the top nav bar. The first time I do it, it works perfect.

The post contains a container that has iframe code that pulls pulls a pdf from google drive. As mentioned, the first time works perfect and the pdf is visible and working.

When I make a update to the post and hit save, Site B is updated. How ever the pdf code is missing.

I have included both

[2021-02-09 20:56] #483 closed, assigned to dkotter

[2021-02-09 21:06] jeffpaul commented on #79
@dhanendran perhaps.

@goranseric have you updated to Distributor 1.6 or later (1.6.2 is current latest) and tried out the new External Connections setup flow to see if that resolves your issue?

[2021-02-09 21:25] jeffpaul commented on #713
@clewis-akamai-innovations I'm not seeing the Testimonial working on the "Distributed" site in your example, but overall there are issues with Distributor and page builders (as noted in #348).  We have this issue on our roadmap, but a bit far into the future so if this is an urgent or important need for you then we can discuss alternative options for you (feel free to email me jeff.paul@10up.com i

[2021-02-09 22:07] jeffpaul commented on #639
@dkotter I concur with your assessment that clearing the cache twice in most scenarios is acceptable if that means the connection list is updated properly on new site creation.

[2021-02-09 22:28] jeffpaul commented on #715
@j0HnC0untry it looks like Elementor is in use, which has some known compatibility issues as tracked in #348.  We have this issue on our roadmap, but a bit far into the future so if this is an urgent or important need for you then we can discuss alternative options for you (feel free to email me jeff.paul@10up.com if that's the case).

[2021-02-10 00:51] j0HnC0untry commented on #715
@jeffpaul  I sent you a email. Thanks for your insight on this

[2021-02-10 11:42] kaputti1o1 commented on #699
@dkotter Sorry, there was a filter set. I cleared it and now it shows the following direct after loading the page:

Uncaught ReferenceError: jQuery is not defined
    at (index):5
(index):205 Uncaught ReferenceError: ECS_update_admin_bar_menu is not defined
    at (index):205
autoptimize_d685cb5c904332e08070aaf5dd31580d.js:564 Uncaught SyntaxError: Unexpected end of input
admin-bar.min.js?ver=5.6.

[2021-02-10 15:41] j0HnC0untry commented on #715
@jeffpaul If you could send me the alternative options for this issue (i emailed you yesterday) that would be great. Many thanks in advance!

[2021-02-10 16:54] dkotter commented on #699
@dziemann For pushing content, Distributor loads this script: `wp-content/plugins/distributor/dist/js/push.min.js`. Note also that this script has a dependency on both jQuery and underscore, which both of those will load from WordPress itself, not from this plugin. Not sure if you'll need to do anything about those within autoptimize.

[2021-02-11 08:32] dfardon commented on #711
@dkotter Sure, keep me informed, be glad to help. Thanks!

[2021-02-11 13:10] j0HnC0untry commented on #715
@jeffpaul were you able to send me a email on the below work around

@j0HnC0untry it looks like Elementor is in use, which has some known compatibility issues as tracked in #348. We have this issue on our roadmap, but a bit far into the future so if this is an urgent or important need for you then we can discuss alternative options for you (feel free to email me jeff.paul@10up.com if that's the ca

[2021-02-11 14:11] dhanendran commented on #610
@jeffpaul I tried to reproduce this issue in my local but I couldn't able to reproduce this.

https://user-images.githubusercontent.com/6737105/107647301-025b3b80-6ca1-11eb-8042-faf19b059b4a.mp4

[2021-02-11 18:24] jeffpaul commented on #610
@dhanendran I just tested and it looks like this occurs, but ONLY for the bulk action at the bottom of the list table.  Mind re-testing on your local using the bottom bulk action dropdown?

[2021-02-11 18:48] dhanendran commented on #610
@jeffpaul that's right, the bottom one isn't working as expected. I will get on to the fix now.

[2021-02-12 04:02] violinman commented on #708
Hello, i am experiencing the same issue that i am unable to view distributor in the admin bar to allow for content to be pushed. My site is not on wordpress.com and i have checked all 3 Wordpress sites and they all behave in the same manner.

Could you offer some suggestions
thanks

[2021-02-12 08:17] dhanendran commented on #610
@jeffpaul here is the PR https://github.com/10up/distributor/pull/717

[2021-02-12 10:13] ocaisa opened #718 "Duplicate of post is already considered distributed"
**Describe the bug**

If a post that was distributed is duplicated, the new post already has the distributor link to the old article (and this link can't be removed).

**Steps to Reproduce**

1. Create a post
2. Distribute it
3. Duplicate the distributed post
4. Try to distribute that (for me it already has a link to the old post)

**Expected behavior**

Post duplication should not include Distrib

[2021-02-12 16:19] jeffpaul commented on #708
@violinman if you're viewing your content in WP Admin and utilizing the block editor, then you need to [disable "fullscreen mode"](https://github.com/10up/distributor#known-caveatsissues) in order to see the adminbar that includes the Distributor push menu.  If that's not the case, then please provide more details about your setup and a screenshot/screencast to help demonstrate the issue so we can

[2021-02-12 16:22] jeffpaul commented on #718
@ocaisa what plugin are you using to duplicate posts?

[2021-02-12 22:39] jmslbam opened #719 "Using "dt_push_post" filter results in code being ran 2 to 8 times"
I "solved" distributing related post that are saved in custom meta fields data als post_id's or an array of post_id's.

I'm parsing the `post_content` to find post_id's in ACF Blocks or checking custom field meta data. When needed I'm pushing a related post and then find this related post in the destination connection site.

But... I noticed that my code is ran multiple times, which is quite resou

[2021-02-13 09:25] kaputti1o1 commented on #699
Thanks! Helped a to get one step further. Now the overlay is opening but without content. But nevertheless I found an option to deactivate autoptimize in logged in state. Now it's working like a charm.
Thank you for the great support and your patience! Really appreciate that.

[2021-02-13 09:26] #699 closed, assigned to dkotter

[2021-02-13 16:52] jmslbam commented on #685
hi @emisrw,

I had the same issue with ACF Blocks. IF you look closely, you notice a backwards slash missing. I fixed this issues by running the pushed content through a `addslashes` function before it's getting saved.

Check out https://github.com/burovoordeboeg/distributor-meta-data/blob/master/src/InternalConnections/PostContent.php

[2021-02-13 17:20] jmslbam opened #720 "distributable_post_types filter is not respected in Pull UI screen"
**Describe the bug**
while filtering the permited post types via `distributable_post_types`, I noticed that the dropdown in de Pull UI has all the post types in the dropdown.

**Steps to Reproduce**
Filter the permited post types:

[code]

Go to the Pull overview page en check the dropdown.

**Expected behavior**
I expected only the Post post type in the dropdown.

**Environment information**
 - W

[2021-02-13 22:16] violinman commented on #708
Thankyou i have got it working.  Does the distribution tab only appear when viewing the post from the front of the site, which means you can only distribute one at a time ?   Is there any means to distribute multiple posts one one step?

[2021-02-15 18:08] jmslbam commented on #685
Well maybe I cheered a bit to early :)

I found out that the filter `'content_save_pre'` triggered by `sanitize_post`, which triggers `sanitize_post_field` which triggers `content_pre_save` filter removes the slashes....

Searching for this filter lead me to the `SubscribtionsController` which removes this filter via `remove_all_filters( 'content_save_pre' );` if we are using Gutenberg. See https:

[2021-02-15 21:56] dkotter commented on #719
Nothing stands out to me at first glance from the code you provided. I guess my main question is are you testing pushing to a single connection? In theory, the `dt_push_post` action should only be fired once for each connection that has been selected. If you're pushing to multiple connections, it will run once for each connection.

[2021-02-15 22:04] dkotter commented on #720
@jmslbam There is actually a different filter in place to modify the post types available for pulling: `dt_available_pull_post_types`: https://github.com/10up/distributor/blob/develop/includes/utils.php#L257

I can understand the confusion between that filter and `distributable_post_types`. One is used when pushing content, the other is for pulling content.

[2021-02-16 01:38] jeffpaul commented on #720
Labeling this for docs so we can add more clarity to the docblock on `distributable_post_types` and hopefully make the push vs. pull scenario a bit clearer.

[2021-02-16 01:41] jeffpaul commented on #708
@violinman as long as you have "fullscreen mode" disabled in the block editor (or are using the classic editor), then you can distribute content via the Distributor push menu in the adminbar.  There is currently no way to push more than one post at a time, but you can pull multiple posts into a remote site via the Pull Content menu.

[2021-02-16 10:06] jmslbam commented on #719
I will record a screencapture with some extensive debug information.

Thank yor for the quick reply!

[2021-02-16 10:13] jmslbam commented on #720
Ah thank your for pointing the other filter out!

I feel like `distributable_post_types` (or a new `dt_distributable_post_types`) can be the generic overal filter and new `dt_distributable_pull_post_types` and a new `dt_distributable_push_post_types` can be the filter for each scenario.

This makes the filter consistent in their naming convention and logic. Not having the word "push" or "pull" in

[2021-02-17 01:13] jbriggs923 opened #722 "Compatible With Woocommerce In Multisite?"
**Describe your question**

Hello,

I have a large multi-author blog that I am looking to sell my own products from a separate ecommerce site (they will be setup in multisite). I have three questions:

1. Can Distributor plugin push and pull products created in Woocommerce to other sites running your plugin?
2. Are there any limitations to this?
3. Is it possible for the link generated by Distribu

[2021-02-17 13:32] ocaisa commented on #718
Sorry for being slow to reply on this, I hadn't even realised that we were using a plugin for this. We are using [Duplicate Page](https://wordpress.org/plugins/duplicate-page/).

Not expecting you to be able to fix this for another plugin, so feel free to close. It would be good if it were possible to break the link to the remote site, so that we could fix this easily if we make the same mistake a

[2021-02-17 15:38] jeffpaul commented on #718
@ocaisa I tested the steps you listed using the Duplicate Page plugin and you should be able to click the "unlink" link on the duplicated page to remove the Distributor link and be able to edit that post/page.  See example screenshots below...

Classic Editor
![Screen Shot 2021-02-17 at 9 35 52 AM](https://user-images.githubusercontent.com/2818133/108227749-d528e600-7103-11eb-8deb-d97b982bd425.png

[2021-02-17 15:58] ocaisa commented on #718
Sorry my steps were not clear enough, what we are doing is creating a duplicate of the original post, which we modify (and then want to distribute as a fresh post). When we do this, the duplicate looks like
![InkedScreenshot 2021-02-17 16 49 03_LI](https://user-images.githubusercontent.com/3840437/108230242-d88e9280-7140-11eb-8c1a-85abc002a963.jpg)
I can't see a way to remove the existing connecti

[2021-02-17 16:33] jeffpaul commented on #619
In testing this with @dhanendran looks like this has been resolved in the latest Distributor, WP core, and App Pwds releases:
![Screen Shot 2021-02-17 at 10 31 21 AM](https://user-images.githubusercontent.com/2818133/108235515-80896900-710b-11eb-8722-2154cf8611f9.png)

[2021-02-17 16:33] #619 closed, assigned to dhanendran

[2021-02-17 16:40] #633 closed, assigned to jeffpaul

[2021-02-17 16:41] #610 closed, assigned to dhanendran

[2021-02-17 16:59] jeffpaul commented on #718
@ocaisa ok I see, yes that sounds like the Duplicate Page plugin is copying across all meta values including the Distributor mapping.  You could go in and clear out the `dt_connection_map` value if you're comfortable editing that and it'll clear the connections in place.

[2021-02-18 08:34] ocaisa commented on #718
Thanks a lot for the support, for the other admins on this site, that's probably a step too far. I did a bit of digging and I found https://developer.yoast.com/duplicate-post/filters-actions , I'll try to implement that to filter out `dt_connection_map`.

[2021-02-18 08:34] #718 closed, assigned to jeffpaul

[2021-02-18 08:56] ocaisa commented on #718
Wrong plugin :P but it was still pretty easy to add in a filter
[code]

[2021-02-19 16:56] rosspbauer opened #723 "DOCS: add note that App Pwds is used for REST API auth, not JWT Auth or other plugins"
I am trying to configure an external connection from one WP instance to another both running locally. I have read through the documentation and the caveats section and I am receiving the following `Limited connection established` warning.

<img width="513" alt="Screen Shot 2021-02-19 at 16 30 59" src="https://user-images.githubusercontent.com/49494513/108532681-fe966d00-72cf-11eb-97a1-64e17b6e65b5

[2021-02-19 17:17] jeffpaul commented on #723
@rosspbauer in setting up the external connections manually, I assume the password you're using for the connection is generated via the `Application Passwords` section of the user on the external site correct?
![Screen Shot 2021-02-19 at 11 16 17 AM](https://user-images.githubusercontent.com/2818133/108538069-004a3b80-72a4-11eb-89a3-0df36591fe49.png)

You'll also want to ensure you follow these st

[2021-02-19 17:40] rosspbauer commented on #723
@jeffpaul, yes I did use the password created by application passwords. Is the username to use the actual user? or the name directly associated to the application password?

Having said that I have just tried putting a random username and password in for the connection and that results in the same warning and network response. So something doesn't appear to be right.

I believe I have followed all

[2021-02-19 17:48] francisco-domo commented on #582
Sorry for this broad question but I'm trying to use this function to remove any category when a post is pulled and let Wordpress assign just the default one but I can't get it to work.  Is it possible to do this?
Thanks for your help.

[2021-02-19 18:42] dkotter commented on #720
@jmslbam I think this all sounds correct and the right approach to me. If you have time to put together a PR, I'd be happy to review it. Thanks!

[2021-02-21 21:01] dishitpala opened #724 "JSON decode failure while migrating metadata due to wp_unslash function"
Issue:
- WordPress stores metadata passing through wp_unslash function
   - https://github.com/WordPress/WordPress/blob/master/wp-includes/meta.php#L53
   - https://github.com/WordPress/WordPress/blob/master/wp-includes/meta.php#L185

- Due to this whatever data is stored using the above functions will be converted to unescaped JSON which is causing issues while decoding the JSON data.

Possible S

[2021-02-22 16:28] rosspbauer commented on #723
@jeffpaul I have worked out what was causing the issue. We have the `JWT Auth` plugin enabled which after I deactivated allowed everything to work from Distributor's point of view.

Is there a way of configuring Distributor to work with the `JWT Auth` plugin?

[2021-02-26 16:17] dhanendran commented on #656
@jeffpaul I gave a try to enable the auto-update functionality https://github.com/10up/distributor/pull/726

[2021-03-01 10:56] dhanendran commented on #583
PR: https://github.com/10up/distributor/pull/727

[2021-03-01 15:53] #611 closed, assigned to cdwieber

[2021-03-01 15:54] jeffpaul commented on #364
This has been handled with the push/pull copy/images in the [features section](https://github.com/10up/distributor#features).

[2021-03-01 15:54] #364 closed

[2021-03-01 16:42] andrewhenning commented on #714
Hi all - Love the plug-in but have the same issue that image fields beyond the featured image created in ACF don't link.  They pull through to the media library but aren't visible for the editor or selecting in a template through meta-data.  (I am using Oxygen).   Any help on how you might customise the code to reference them appreciated.   Or...  when might the Distributor 2 be released?

[2021-03-03 14:36] jeffpaul commented on #723
@rosspbauer now that Application Passwords is part of WordPress core, that's most likely going to be the primary authenticated way for Distributor to access the REST API for external connections.  If you're locked into using JWT Auth, then we could look into other options for you; if that's of urgent or important need shoot me an email (jeff.paul@10up.com) and we can discuss... thanks!

[2021-03-03 14:38] jeffpaul commented on #723
**Updating the title and focus of this issue for us to call out in the readme that Application Passwords is the manner in which Distributor gains authenticated access to the REST API and that other plugins, like JWT Auth, will likely cause issues for external connections.**

[2021-03-03 14:42] jeffpaul commented on #582
@francisco-domo it looks like the code that @sebastienserre provided above does what you're looking for.  If you're in need of specific engineering help on extending Distributor then email me (jeff.paul@10up.com) and we can discuss options... thanks!

[2021-03-03 16:06] jeffpaul opened #729 "Add 'View all' post type filter on pull screen for External Connections"
**Is your enhancement related to a problem? Please describe.**
Following on from #725, let's look to add support for the `View all` post type filter for External Connections once we've worked through the larger push/pull refactoring in 2.0.0 (possibly as part of #207).

**Describe the solution you'd like**
Standardized handling of push/pull for supported post types, then via this issue refactored

[2021-03-03 16:16] jeffpaul commented on #714
@andrewhenning there's a broad issue with how ACF and page builders (like Oxygen) store their data that doesn't currently play well with Distributor.  We're planning to tackle a part of this issue with the 2.0.0 release (likely later this year), but the broader compatibility testing and resolution for various 3rd party plugins (like ACF and page builders) isn't planned until 2.1.0 which may not ha

[2021-03-03 17:30] sebastienserre commented on #582
Hello,
Sorry @francisco-domo, it seems I've missed some notifications.
I confirm my code above is working great on a customer website.

[2021-03-03 20:30] jeffpaul opened #730 "Update handling of App Pwds"
**Is your enhancement related to a problem? Please describe.**
Following on from #682, we should look to update how Distributor leverages Application Passwords based on [feedback from](https://github.com/10up/distributor/pull/682#issuecomment-762544563) @timothybjacobs:

**Describe the solution you'd like**

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2021-03-04 02:46] jeffpaul opened #731 "Release version 1.6.3"
This issue is for tracking changes for the 1.6.3 release.  Target release date: **TBD**.

### Pre-release steps
- [ ] review and (merge or punt) [open PRs in the milestone](https://github.com/10up/distributor/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.6.3)

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`,

[2021-03-04 15:00] #639 closed, assigned to dkotter

[2021-03-05 15:28] jeffpaul commented on #617
Closing in favor of #445, please subscribe to that issue for future updates on our progress.

[2021-03-05 15:28] #617 closed, assigned to nobody

[2021-03-05 15:30] jeffpaul commented on #445
@nikitahl pinging you, as a bit of research seems to show you may be a good person to start with to find someone on the Visual Composer / WPBakery team that may be able to work with us on troubleshooting the issue that @dcgraphics1 raised here. Any chance someone from your team would be able to partner with us to see why Visual Composer / WPBakery and Distributor don't seem to integrate well and w

[2021-03-05 15:31] jeffpaul commented on #486
Closing in favor of #445, please subscribe to that issue for future updates on our progress.

[2021-03-05 15:31] #486 closed, assigned to nobody

[2021-03-05 15:31] jeffpaul commented on #714
Closing in favor of #445, please subscribe to that issue for future updates on our progress.

[2021-03-05 15:31] #714 closed, assigned to nobody

[2021-03-06 16:13] aanduque commented on #707
Hey there, Arindo from WP Ultimo here. Do you have specific steps for replication, @otte24? I tried to replicate the issue here and wasn't able to. Would love to help you get that fix as there are a lot of folks using the WP Ultimo + Distributor combo.

[2021-03-08 15:40] otte24 commented on #707
Hi jeffpaul  and @aanduque,
this works for me on a multisite-waas with ultimo:

/** ****************************************************************************************************************
 **  Distributor Fix
 **************************************************************************************************************** */

add_action('mucd_after_copy_data', 'p4u_add_dt_connections', 10,

[2021-03-08 21:12] francisco-domo commented on #582
Hello Jeff, Sebastien.

Indeed, the code worked perfectly and it was really helpful, however what I meant to say is that I need to scrap any category that is attached to post (without knowing the name of the category in advance, as in the example where you remove the category "actualite").

I fiddled around with the code and I managed to remove the category but unfortunately it also removed the ca

[2021-03-10 02:33] jeffpaul commented on #392
Closed now that #728 has been merged.

[2021-03-10 02:33] #392 closed

[2021-03-10 02:34] jeffpaul commented on #580
@zacnboat note that this will be feasible with the pending 1.6.3 release.

[2021-03-10 02:35] jeffpaul commented on #638
@elgeorge2k note that this will be feasible with the pending 1.6.3 release.

[2021-03-10 02:36] jeffpaul commented on #690
@emisrw @andrew-dixon note that this will be feasible with the pending 1.6.3 release.

[2021-03-10 02:59] #731 closed, assigned to jeffpaul

[2021-03-10 02:59] #723 closed, assigned to jeffpaul

[2021-03-10 11:17] SieBer15 opened #734 "Site crashed on the 1.6.3 version"
**Describe the bug**

Site crashed on the 1.6.3 version

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress version:

 - Plugins and version:
 - Theme and version:

 - <details><summary>Site Health Info:</summary>

   </details>

*

[2021-03-10 16:13] jeffpaul commented on #734
@SieBer15 I just tested the 1.6.3 release this morning upgrading from 1.6.2 to 1.6.3 on WordPress 5.7 and everything works as expected.  Can you please provide a little more info on your site setup and the steps taken that caused your site to crash?  Did you see any errors?  Were you updating other plugins at the same time?  Any additional info you can provide so I can try to replicate the issue a

[2021-03-10 20:32] jeffpaul opened #735 "Test against WordPress 5.7"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.7 is released, we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Distributor on WordPress 5.7
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to" version
- [ ] if code

[2021-03-12 15:04] aaronware opened #737 "WooCommerce duplicate product compatiblity"
**Describe the bug**
When utilizing the built-in duplicate product functionality of WooCommerce, If you are on a connected child site and duplicate the product, it will keep the distributor meta, so you will have 2 products that are now connected to the original product from the origin site.

**Expected behavior**
Duplicated product on child site should not have a connection to the origin distribu

[2021-03-12 16:33] jeffpaul commented on #737
@aaronware could you explain your use case a little more where you'd want one product in sync but a duplicate of it not in sync on a remote site?  Better understanding your scenario will help us better think through a potential resolution should that be feasible and warranted on the Distributor side... thanks!

[2021-03-15 09:21] markusvisse opened #738 "Distributed post have broken accents"
When distributing a post that consists of some diacritical characters the pushed version seems to have them converted to unicode and removed the slashes. I cannot find the proper place where this may take place.

The content is edited via Elementor.
Distributed to multisite website (different domain).

What is weird is that sometimes this happens but sometimes it pushes the content correctly.

Exa

[2021-03-15 17:46] madriverweb opened #739 "Distribution of Reusable Blocks"
I see a prior post on a related issue, https://github.com/10up/distributor/issues/296, written two years ago. In this post, the author suggests "a work-around" converting to a regular block before pushing which would require getting everything right before doing so, or else edits must be done in multiple sites.

I'm writing a separate post to see if this can be elevated in priority, since wp_block

[2021-03-15 19:45] jeffpaul commented on #738
@markusvisse we're looking at some broad updates to how Distributor handles push vs. pull, internal vs. external connections, and integrations with page builders like Elementor as part of our 2.0.0 release.  I'm slating your issue for the release after that to give us time for further testing, but if there's any further details you can share about your setup (multisite vs. multiple WP instances, W

[2021-03-15 19:46] jeffpaul commented on #739
@madriverweb we're looking at some broad updates to how Distributor handles push vs. pull, internal vs. external connections, and custom and reusable blocks as part of our 2.0.0 release. I'm slating your issue for the release after that to give us time for further testing, but if there's any further details you can share about your setup (multisite vs. multiple WP instances, WP version, etc.) then

[2021-03-16 09:12] madriverweb commented on #739
This is a multi-site, assume always latest or close to latest WP version, keeping everything up-to-date. Parent company with four divisions that share a lot of same/similar page content and post news that is exactly the same across divisions. Although they will continue to create and share news posts after launch, I was also interested in how much this tool could help me during development. Create

[2021-03-16 11:30] markusvisse commented on #738
As I wrote it's a mutisite installation based on different domains. WP is up to date. Is there anything that may convert those characters into unicode and remove the slash while hitting "Distribute" or while synchronizing post?

[2021-03-16 13:41] antoinebougr commented on #735
Hi

I m facing a fatal error after wordpress 5.7 update. For the moment I disabled distributor to make wordpress work again
![distributor](https://user-images.githubusercontent.com/80766046/111318658-8b311280-8665-11eb-9d1b-a2d6b52a3edc.png)

[2021-03-16 15:36] dkotter commented on #735
@antoinebougr Thanks for the report. This doesn't seem to be related to the latest WordPress update but does seem like this may be related to the latest Distributor release. I have not been able to reproduce this error on either WP 5.6 or 5.7, with the latest release of Distributor. Can you let me know what version of PHP you are using? Based on the error you shared, seems like it may be a compati

[2021-03-16 17:31] jeffpaul commented on #739
@madriverweb we are looking at custom and reusable blocks as part of our 2.0.0 release, but that's most unlikely to be ready this month as we're only early in the requirements definition for that scope of work.  Again, if this is a more urgent/important need for you / your client then we can chat about alternative options for you (email me if so desired: jeff.paul@10up.com).

[2021-03-17 16:46] #583 closed, assigned to dhanendran

[2021-03-19 04:39] violinman opened #741 "How to unpublish"
I have posts that I have published just fine, however, I am duplicating these as I am using them as a formating template, These new duplicated posts are automatically distributing out to the sites without being manually pushed.

How do you unpublish?  without manually going to each of these sites manually deleting these posts?
thanks

[2021-03-19 11:49] violinman commented on #741
i found this to explain the limitations with Deleting or unpublishing.

"Deleting Distributed Posts - When a post that has been distributed is deleted, the distributed copies will become unlinked ("forked") from the original and thus become editable. Similarly, when a distributed post is unpublished, distributed copies will not be unpublished. More sophisticated "removal" workflow is on the road m

[2021-03-19 18:40] PaddyWhacks commented on #735
Just updated Multisite to WordPress 5.7 and distributor to 1.6.3. Rolling back to 1.6.2 works. Same error message as @antoinebougr -

Fatal error: Declaration of Distributor\ExternalConnection::log_sync() must be compatible with Distributor\Connection::log_sync(array $item_id_mappings, $id, Distributor\bool $overwrite) in /home/dotnewsb/public_html/wp-content/plugins/distributor/includes/classes/E

[2021-03-19 18:56] dkotter commented on #735
@PaddyWhacks Do you happen to know what version of PHP you're site is running? Thanks!

[2021-03-19 19:57] dkotter commented on #735
@PaddyWhacks @antoinebougr Just tested on various PHP versions and found the issue. With the latest release of Distributor and a site running PHP <7.2 (so 7.1, 7.0 or 5.6) a fatal error occurs. I just fixed this in PR #742, if you want to test that out.

[2021-03-19 19:58] dkotter commented on #734
@SieBer15 I think I found the issue and just pushed a PR in #742. If you had time to test that and see if it fixes your issue, that would be great. Thanks!

[2021-03-22 14:45] SieBer15 commented on #734
Hello Darin,

Thanks for looking into my error from the Distributor plugin.
I tested your plugin but unfortunately I still get the same error.

With kind regards,
Sietse Berkhout

T +31 (0)6 292 47 398 <tel:+31629247398>
www.sieber.nl <http://www.sieber.nl/> / KvK 62614843 <applewebdata://97928A18-D56C-4BE2-AB9B-AF463002D078#>

[2021-03-22 18:10] coenve commented on #456
Hi jeffpaul,

Just a reminder that there is still a need for this feature, it's been a while since this was discussed. Maybe one to schedule in the roadmap?

[2021-03-22 21:30] arsendovlatyan commented on #456
Hey there,

We have developed an add-on, to be able to distribute large amount of posts via external connections using background tasks, but it was on a complicated setup and currently it's not in "plug and play" state, anyway here is it if you would like to check  https://github.com/NovemBit/distributor-in-background.

From our experience (it was with external connections only) I can say that it'

[2021-03-22 22:08] dkotter commented on #734
@SieBer15 I just updated the PR with one more change, if you have time to test again. I found another issue if a site is using PHP 5.6 so I'm assuming that's the issue you're still experiencing. If you're on a different version of PHP, that would be helpful to know, especially if this PR still doesn't fix the issue for you.

[2021-03-23 15:42] #734 closed, assigned to jeffpaul

[2021-03-23 16:17] jeffpaul opened #743 "Release version 1.6.4"
This issue is for tracking changes for the 1.6.6 release.  Target release date: **March 2021**.

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.4` for your changes.
- [x] Version bump: Bump the version number in `distributor.php`, `package.json`, and `readme.tx

[2021-03-24 01:34] #743 closed, assigned to jeffpaul

[2021-03-24 01:34] #735 closed, assigned to nobody

[2021-03-24 04:05] FunkkyMonkeyy opened #745 "About connection"
Hello,
I'm registed for free to try it before i buy it, yah and i have 1 issues for this is:
Limited connection established.
Authentication failed due to invalid credentials.
Push distribution unavailable.
Pull distribution limited to basic content, i.e. title and content body.
I'm sure for you is admin and password for it, is admin role for this remote site.
Help me, and thank you if you reply me

[2021-03-24 09:01] PaddyWhacks commented on #735
Thanks - All sorted now! :)

[2021-03-24 09:21] markusvisse commented on #738
I've sorted this out myself. While updating meta field there was a function breaking the encoding for content. Had to add an if statement for elementor data to convert from unicode to utf-8.

[2021-03-24 20:46] jeffpaul commented on #456
@coenve we have a couple high-priority items targeted for the next two releases, so this item would be unlikely to make it into Distributor core before then.  If this is of particular urgent/important need for you, then we can discuss alternate options for you, just shoot me an email to chat (jeff.paul@10up.com)... thanks!

[2021-03-24 22:54] jeffpaul commented on #738
@markusvisse is that edit you made within Distributor's code or Elementor's?  I'm sure either project would appreciate details on what was changed to see about getting that onto their respective roadmap/plugin if you're able to share.

[2021-03-24 22:56] jeffpaul commented on #745
@FunkkyMonkeyy I assume you're trying to connect two different WordPress instances via an External Connection, correct?  If so, did you run into any errors going through the External Connection set up process?  If not, can you share some more info about your setup (WP version, active theme/plugins, Distributor version)?

[2021-03-25 01:20] FunkkyMonkeyy commented on #745
Thank you for your reply, jeffpaul. And yah, i try connect two different WordPress, so your plugin just work multisite network, isn't it ?
So WP version is a lasted version now and active plugins is normal, and Distributor version i just down last day so i think this version is a lasted version, right ? And i try connect with your introduction but it's not can be green status, just yellow everytim

[2021-03-25 03:02] jeffpaul commented on #745
@FunkkyMonkeyy Distributor works within a multisite setup, across different WordPress instances, and any blend of those two as well.  When you went through the External Connection set up process, did you use the automated process or the manual one?  Also, are any of your instances non-SSL or a local environment, either of those may make the functioning of the bundled Application Passwords function

[2021-03-25 03:14] FunkkyMonkeyy commented on #745
Thank you for your reply, now i see your problem in my web. The plugin you make, it's great and helpful

[2021-03-25 12:58] madriverweb opened #746 "Can't push all regular blocks to sub-sites without turning to Classic"
Getting ready to push 45 pages internally on a multi to sub-sites (must do today). First several pages are coming through with Classic Block replacing outermost columns. I've read your known issues/caveats and understand that all blocks being pushed need to be available on the sub-sites, and they are. I'll reference both https://github.com/10up/distributor/issues/739 which I wrote and https://gith

[2021-03-25 12:59] madriverweb commented on #746
Still on 1.6.2 stable.

[2021-03-25 14:07] markusvisse commented on #738
@jeffpaul It was in Distributor itself. Exactly what I've done was:
`
                if ($meta_key == '_elementor_data') {
                    $meta_value = preg_replace("/\\\\[uU]([0-9A-Fa-f]{4})/", "&#x$1;", $meta_value);
                    $meta_value = preg_replace("/\\\\[n]/", "", $meta_value);
                    $meta_value = serialize_corrector($meta_value );
                }
`
Inserted

[2021-03-25 14:22] jeffpaul commented on #745
@FunkkyMonkeyy ok so your set up now works with Distributor?  If  so, then let's close this issue.  If you're still having problems, please confirm so we can continue to assist you... thanks!

[2021-03-25 16:17] dinhtungdu commented on #741
Hi @violinman, how do you duplicate a post? Can you please try removing these meta keys for duplicated posts after duplication to see if it fixes your issue?:
[code]

[2021-03-26 01:31] #745 closed, assigned to jeffpaul

[2021-03-26 06:17] PaddyWhacks commented on #739
Would be great to have this feature - still doing my workaround of converting to static HTML before distributing. It works, but this would be much more convenient and also prevent those blocks from just disappearing - for a long time I was distributing without even knowing that the reusable blocks weren't showing.

I wonder if a simple interim would be to have a pop-up warning if there is a reusab

[2021-03-26 17:34] jeffpaul commented on #746
@madriverweb it'll help to also understand your WordPress version and any active theme and plugins.  Updating to Distributor 1.6.4 will also help with a couple updates in the last two minor releases, but I don't think either did anything to address content being dumped into a Classic block.  I'll look to run some tests locally with blocks inside a column block to see if that does anything odd, but

[2021-03-29 09:43] SieBer15 commented on #734
Hello Darin,

I am using php 7.1 for this website. So with your new adjustment it probably still won't work.

Thanks again!

With kind regards,
Sietse Berkhout

T +31 (0)6 292 47 398 <tel:+31629247398>
www.sieber.nl <http://www.sieber.nl/> / KvK 62614843 <applewebdata://DDD8EA5D-5D2D-413F-AF94-CFEAB76222DB#>

[2021-03-30 19:37] francisco-domo opened #748 "Attachment's URL not updated when pulling post."
I ran into this exact same issue which is a couple years old: https://github.com/10up/distributor/pull/184

Im running the latest version and I have an external connection set up, with both sites having "Process featured image and any attached images" checked, but the pulled post attachments (except featured image) still refers to the original URL (although it creates the media to the library of t

[2021-04-05 12:09] jmslbam commented on #604
The code example that @dinhtungdu provided here, https://github.com/10up/distributor/issues/604#issuecomment-699775009, worked for me with 1 adjustment. Because there is no `date` index for the body. Ref: https://developer.wordpress.org/reference/functions/wp_insert_post/#parameters

I needed to change the index `date` to `post_date` so it becomes:

[code]

Thank you for the provided solution!

[2021-04-05 19:33] violinman commented on #741
Hey @dinhtungdu  thanks for your help
I use [Duplicate Page plugin](https://wordpress.org/plugins/duplicate-page/)

Im not sure how to remove these meta keys and am not creating new posts like this now.

I would like to however work out how to remove the publish flag from the source site, so i can re publish again.

[2021-04-05 19:45] violinman opened #749 "Wordfence Settings"
i get errors whenever Wordfence is turned on the receiving content site.

I added my IP to all the white list settings i could find however that doesn't seem to have worked.

Does anyone have any ideas ?

[2021-04-06 18:56] jeffpaul commented on #597
Some additional input on folks running into this issue lately, possible option to consider:

We'll want to see if the Gutenberg setting for fullscreen mode is targetable to then display a warning in the admin, as otherwise we'd be showing the warning to everyone who may not need to worry about this issue (e.g., they use classic editor, they work with fullscreen mode disabled).

[2021-04-13 17:10] codiller commented on #700
I'm also having an issue where correcting a typo in a blog is changing the published time on the sub-site to the current time, triggering RSS feed emails twice. :(

[2021-04-19 16:35] siniger opened #751 "Post author uses API user instead of author."
**Describe the bug**
We have selected the option in Setting: For linked distributed posts, replace the author name and link with the original site name and link.

but when a new post is distributed the Author is the API user and not the post author.

**Steps to Reproduce**
1.create new post
2. distributed it

**Expected behavior**
created post to be distributed with the original Author

**Screensh

[2021-04-20 04:10] dinhtungdu commented on #751
@siniger, can you share with us the Site Health Debug Info? I can't reproduce your issue on my end which uses WP 5.7.1 (both single site and multisite).

Also, what does the `API user` mean?

Note that when you check the option, the post author and link are replaced by the Site name and site URL, not the post author.

[2021-04-20 11:35] jmslbam commented on #720
I'm stil up for this, but the Distributor project I'm working on has some little hickups :) when it's live I have some spare time!

[2021-04-20 12:42] jmslbam commented on #719
Ok, I found out that I filtered `dt_push_post_args` after I booted this logic on the `plugins_loaded` hook.

Then it gets run a lot.

Now I only use the `dt_push_post_args` filter when hooked triggered from the `save_post`.

[code]

Now it only runs once.

If I don't do the Post ID check, it runs:
A. once for the time the Origin post gets saved and
B. once for then the Destination post is saved vi

[2021-04-20 14:16] jmslbam commented on #719
To be complete, for a test, I added `do_action('jaime')` to `NetworkSiteConnection->push()` method and hooked my logic to that hook. My code was triggerd 6 times...
[code]

I'm using https://github.com/spatie/ray to log everything.

[2021-04-20 15:03] jmslbam commented on #737
I think what he means, is that the Woocommerce duplicate functionality also copies the distributor meta data, so now 2 posts have the same connection mapping.

I'm using https://yoast.com/wordpress/plugins/duplicate-post/ plugin on a site, and there you can add custom meta fields keys to ignore when duplicating a post. I think that @aaronware best can check if the built-in Woo functionality has a

[2021-04-20 16:52] jmslbam commented on #719
Just reduced it to running 1 time.
I had a old redundant call still that initialized my logic on `init`. Now that it's gone, everything is just called once.

So any `dt_push_post_args` I'm doing is run once by hooking it into `save_post` without any extra checks.

[2021-04-20 21:55] jmslbam commented on #737
Here is my solution https://github.com/burovoordeboeg/distributor-meta-data/commit/5cc2e966b5934f82aae789f28370989798498573

[2021-04-21 01:28] jeffpaul commented on #734
@SieBer15 can you please confirm whether the 1.6.4 released version works or still causes this issue for you?

[2021-04-21 01:40] jeffpaul commented on #748
@francisco-domo are those additional images within ACF or a page builder?  If so, there's a general issue with plugin compatibility at play.  Sharing a bit more details about your setup will help identify what may be the root cause here.

[2021-04-21 01:48] jeffpaul commented on #749
@violinman its possible that Wordfence is blocking REST API access or some other critical function for  Distributor.  Can you share more details about your setup so we can help further triage?

[2021-04-21 03:55] jeffpaul commented on #737
@helen do you have a preference on the resolution route to take on this?

[2021-04-21 03:56] jeffpaul commented on #737
@jmslbam thanks for your careful thought and code on this, its greatly appreciated!

[2021-04-21 03:58] jeffpaul commented on #719
@jmslbam thanks again for the continued research and sharing results on this, it's extremely helpful!

[2021-04-21 07:31] SieBer15 commented on #734
The problem is solved Jeffrey!

Thanks a lot for your perseverance!

With kind regards,
Sietse Berkhout

T +31 (0)6 292 47 398 <tel:+31629247398>
www.sieber.nl <http://www.sieber.nl/> / KvK 62614843 <applewebdata://637D0B93-6C54-4EC8-893E-1252F535F47C#>

[2021-04-21 10:52] andytylerlewis commented on #749
I'm also seeing this issue on sites we run - if we have WordFence running the Distributor plugin fails. Is it worth speaking to WordFence about this?

[2021-04-21 14:10] aaronware commented on #737
@jmslbam yes thank you so much for clarifying. I put in the issue and meant to go back and clarify a bit but was completely pulled away on something else.

[2021-04-21 14:19] francisco-domo commented on #748
Hello Jeff, thanks, yes I should have provided that information. I'm using the default block editor.

[2021-04-21 19:56] jeffpaul commented on #749
@andytylerlewis looks like there's a response on this topic from the Wordfence team, see: https://wordpress.org/support/topic/distributor-plugin-being-blocked/#post-14348651

[2021-04-21 19:56] jeffpaul commented on #748
@francisco-domo can you provide an export of your Site Health Info settings so we can try to replicate your setup and help further triage?

[2021-04-21 21:55] violinman commented on #749
Hello,  thanks for your reply.  I've moved onto another platform for this as there were a number of little things that were causing complications with the overall process but the learning mode on wordfence look to be a good solution for this one.

[2021-04-21 21:58] #749 closed, assigned to jeffpaul

[2021-04-26 12:47] dragekjeks commented on #707
It would be grate if you could integrate WP-ultimo with distibutor so that we could distribute and update pages on all sites under   based on which plan they use. @aanduque

[2021-04-27 07:51] kaputti1o1 opened #752 "How to access URL from original"
Hi,

I need to link out to the original post. Is there a variable I can use in the functions.php to get the original URL? I would like to create a shortcode to place the URL in a template.

Thx.

BR
Dirk

[2021-04-27 09:16] jmslbam commented on #751
By accident I was researching an issue with the current logged in user and saw this ticket.
Does @siniger refer to this line of code? https://github.com/10up/distributor/blob/develop/includes/classes/ExternalConnections/WordPressExternalConnection.php#L907

While InternalConnections can re-use the author_id of the original author because it's a Network site?

[2021-04-27 09:34] jmslbam opened #753 "Not use / check for the logged in user when pushing and mapping while on WP-CLI"
**Is your enhancement related to a problem? Please describe.**
I'm pushing post via WP-CLI from 1 site to other sites via a InternalConnection (multisite)

I noticed that it didn't work properly because of this line where it check on a user capability

https://github.com/10up/distributor/blob/develop/includes/classes/InternalConnections/NetworkSiteConnection.php#L623
`! current_user_can( 'edit_pos

[2021-04-27 11:11] Abouhassane opened #754 "Gutenberg issue: rich text area content get malformated"
Hello,

Lately i got the chance to work on a multi-site WordPress installation and i used **GUTENBERG** to develop most of the site blocks.

The other sites are a basically a replica of the main site with the need to propagate each change of the principal site on all the other sites. Where came the need to use **DISTRIBUTOR** which was a bless.

The only issue with **GUTENBERG/DISTRIBUTOR** is for

[2021-04-27 11:43] Vlvmn opened #755 "Posts content is not displayed after being distributed to external site"
Hello,

I want to publish posts from my main site to the others. They are not in a multisite. I set up the external connections, unfortunately, the content of the posts is not distributed, only heading and picture. The post itself is empty. I think that this is because on my main site I am using Elementor and on the other sites I am using Avada. I tried adding a post with wordpress editor instead

[2021-04-28 01:18] #708 closed, assigned to dkotter

[2021-04-28 01:20] jeffpaul commented on #755
@Vlvmn this likely relates to #348 where the content within various page builders is not stored in `post_content` but in meta instead.  This issue is on our longer term roadmap, but if this is of more urgent or important nature for you we can discuss alternate options for Distributor customizations (email me at jeff.paul@10up.com to discuss).

[2021-04-28 01:24] jeffpaul commented on #754
@Abouhassane welcome to Distributor and thanks for the feedback!  We're working on a related issue, #430, though it's a couple releases out on the roadmap but we will certainly include your input as we get closer to being ready to work on these issues... thanks!

[2021-04-28 01:27] jeffpaul commented on #704
@SK-AusTX we're now on Distributor 1.6.4, have you tested to see if this issue is in fact resolved or are you still seeing this occur?

[2021-04-28 01:28] #686 closed, assigned to dkotter

[2021-04-28 01:29] jeffpaul commented on #684
@Pitemedia can you please provide additional details on your setup so we can help further triage this for you?

[2021-04-28 01:29] jeffpaul commented on #521
@mark-macrae any updates on testing Distributor 1.6.4 to see if it resolves your issue?

[2021-04-28 02:30] SK-AusTX commented on #704
Thank you for following up.

I have installed the update but have not tested.  😉

I will do so and follow up with you.

Do you folks have an address for donations?

Spencer

From: Jeffrey Paul ***@***.***>
Sent: Tuesday, April 27, 2021 8:28 PM
To: 10up/distributor ***@***.***>
Cc: SK-AusTX ***@***.***>; Mention ***@***.***>
Subject: Re: [10up/distributor] Push Anomoly (#704)

@SK-AusTX<https://git

[2021-04-29 19:48] bjohas commented on #97
We're in the same scenario: Cross-posting blogposts between two sites. We'd like to maintain the originally published date. At the moment, we unlink the post and then change the date.

[2021-04-30 12:47] kaputti1o1 commented on #752
@dkotter any idea how I can access the URL of the original post?

[2021-04-30 16:17] dkotter commented on #752
@dziemann There are a couple helper functions you should be able to use here:

- `distributor_the_original_post_link`: Pass in the post ID of the Distributed item and this function will directly echo the original URL (if there is one)
- `distributor_get_original_post_link`: Pass in the post ID of the Distributed item and this function will return the original URL or false

[2021-05-03 15:41] jeffpaul opened #758 "Analysis and implementation of batch processing of posts"
**Is your enhancement related to a problem? Please describe.**
[Discussion on a 10up.com blog post on Distributor](https://10up.com/blog/2017/distributor-plugin/#comment-900463) has lead to a request to pull posts via cron, in a scenario where you want to batch pull (e.g., 1000 posts).  There are currently no WP-CLI commands that would support this, though we'll want to think through batching more

[2021-05-06 01:39] jeffpaul commented on #722
@jbriggs923 I just set up a multisite network and a separate WordPress instance with Distributor and WooCommerce activated on both sides.  I then created external connections from the single WordPress instance to two sites on the multisite.

1. I was then able to distributor from the single WordPress instance using the Push method for Distributor in the admin bar and saw it distribute to the netwo

[2021-05-06 18:55] kaputti1o1 commented on #752
Thanks for your help! Unfortunately it always gives back false. Argh! Not sure what goes wrong.

[2021-05-07 04:39] jeffpaul commented on #660
I've got Dutch translation files from Geert van der Heide <info@geertvanderheide.nl>, so it would be good to finally settle how we handle shipping translations for Distribution.  @helen any thoughts/preference on how this is managed outside of WordPress.org's TranslatePress functionality?

[2021-05-07 09:21] dinhtungdu commented on #660
@jeffpaul @helen We can still ship the translations through new releases (I know it's not an optimal way) if we don't have any better solution.

[2021-05-07 09:46] dinhtungdu commented on #752
@dziemann Can you share the snippet you're using?

[2021-05-08 06:43] kaputti1o1 commented on #752
[code]

and it always returns google.

[2021-05-13 03:43] deadparrotsoftware opened #761 "External Connections Error about Https"
**Describe your question**
We have 2 sites with Distributor installed - one on a main domain (like **amaindomain.com**) and one on a sub-domain of the main (**sub.amaindomain.com**).

They are virtually identical setups and both activated with our Distributor license.
Both ARE setup as https, AND HSTS etc.
They use the same DNS on Cloudflare, are using WP 5.7.2 and identical set of plugins
And yes

[2021-05-13 03:45] deadparrotsoftware commented on #761
ALSO both the sites are in production/live mode

[2021-05-13 15:30] deadparrotsoftware commented on #761
**Post UPDATE** (_Partially_ Solved)

1) This problem had NOTHING to do with our https despite the error indicating that was the cause.
It occurred because ALL 3 of our security plugins Like Wordfence consider Applications Passwords a HUGE security risk and had turned them off. _(you might want to adjust error messages from your plugin_)

2) the Distributor _plugin_ TEXT (not the docs here, the ac

[2021-05-13 17:52] jeffpaul commented on #761
From reading through your comments it sounds like things ARE working for you, correct?  If not, can you please describe what is NOT working so I can attempt to triage that issue?

(ALL the sub sites are identical setups for short codes, but values for each subsite differ. We would
like the shortcodes to use the values as they are on the external subsite, not the main site)

No, ID transformations

[2021-05-13 18:17] deadparrotsoftware commented on #761
It works as long as we do it manually. The wizard fails every time.

Your text instructions and error messages could use a bit of attention - it took a while to figure out things like what the actual problem was, based on the error message,  and to know where some of the code snippets recommended in the docs are to be used (you don’t want to ASSUME things and make changes or additions to the wrong

[2021-05-13 18:54] jeffpaul commented on #761
@deadparrotsoftware do you have screenshots of where instructions were confusing?  We've spent the last couple minor releases working to fine-tune the integration with Application Passwords the plugin and Application Passwords the functionality now in WordPress core, so its possible we've glossed over some copy that makes sense to us but isn't fully clear to others.  Having those screenshot exampl

[2021-05-13 23:41] deadparrotsoftware commented on #761
Since we got things working I don't have screen shots of everything, but I did create a couple that show where the instructions or error messages could be improved/clarified. Hope it helps :-)

I sent them to the email address you gave me - could not get them to upload here :)

Sid

[2021-05-15 01:06] SK-AusTX commented on #704
Thank you so much for a cool product.  Here is what I found today with 1.6.4:

1) Received critical error page (see photo). However, page did pull.

2) Featured image did not pull and does not appear in media folder.  Work-around: Unlink page and manually add featured image.

3) (nit-pick) ASCII code for apostrophe displays instead of apostrophe.  Feature image loading icon spins.

4) Pulled the o

[2021-05-16 19:24] HQv2 opened #762 "YITH Product Size Charts for WooCommerce"
**Is your enhancement related to a problem? Please describe.**
Requesting support for YITH Product Size Charts for WooCommerce
https://yithemes.com/themes/plugins/yith-product-size-charts-for-woocommerce/

**Describe the solution you'd like**
We would like to distribute the size charts created by YITH Product Size Charts for WooCommerce to the other sites on our wordpress network.

**Additional co

[2021-05-17 15:57] jeffpaul commented on #704
@SK-AusTX if those images are within a post created using Elementor, then that is a known issue in general with most page builders (see: #348).  On the apostrophe issue, can you confirm the process that post/page was pushed/pulled and whether Gutenberg is used on the receiving site?

[2021-05-17 17:51] jeffpaul commented on #762
@HQv2 we have a tracking issue (see #131) in our 2.0.0 milestone where we want to have a documented approach for how integrations/extensions can be best supported.  I'm going to set your request alongside 131 as we'll know more then.  Let me know if there's anything unique in the handling/workaround you've crafted or something particularly difficult in the integration with YITH Product Size Charts

[2021-05-17 23:01] ldollard commented on #751
Hi I have the same issue and by API he means the user that the application password is being used from on the remote website. So that the remote website user-name that has the application password gets added as the author to posts.

Has anyone found a solution to this issue yet?

Thanks

Luke

[2021-05-18 01:26] HQv2 commented on #762
This is what prevents Distributor from normally seeing Size Carts and other custom post types:
[code]

By default, it’s normally on:
`'public'        => false,`

[2021-05-18 17:04] madriverweb commented on #746
This is a follow-up comment for anyone experiencing similar issues. I have had offline conversations with Jeff. Not intending to speak for him, but he suspects the outer column block may be a factor. The reason for the outermost column block in every page was to give it a content/sidebar structure. This would seem to me like a sensible and perhaps common way to establish a site with varying sideba

[2021-05-18 17:04] #746 closed, assigned to jeffpaul

[2021-05-19 23:57] ldollard commented on #761
The wizard doesn't work on WP 5,6(or 5.7), but it actually says that in the distributor site. Also if you read their instructions it does mention the wp-json addon.

https://github.com/10up/distributor (scroll down for full instructions)

Wizard  mentioned here:

WP-JSON mentioned here:

To be honest, without this team I wouldn't have been able to do the project I did as it is the ONLY single site

[2021-05-19 23:58] ldollard commented on #758
I absolutely second this. Including batch push from the main post panel, either single, multi or all posts. It would also be great to have scheduled pushes or pulls.

[2021-05-20 03:32] deadparrotsoftware commented on #761
What I meant about the wp-json is that it doesn't say you MUST have it in
the URL
or will not work. I messed around with it a dozen times before I realized
it wasn't
a "any URL" example but HAD to end with wp-json. I thought the problem I was
having was our sub-domain, not the wp-json. Just needed a note like
*"Note that your URL for connections MUST include wp-json in the URL"*

And we have versi

[2021-05-20 14:19] jeffpaul commented on #758
@ldollard there's a separate issue tracking the scheduling or distributions that you can subscribe to for updates here: https://github.com/10up/distributor/issues/549

[2021-05-20 14:22] jeffpaul commented on #761
@deadparrotsoftware sounds like you managed to get things working correctly, yes?  If so, can we close out this issue or are there still additional issues/questions you have to resolve?

[2021-05-20 14:23] jeffpaul commented on #748
@francisco-domo can you provide an export of your Site Health Info settings so we can try to replicate your setup and help further triage?

[2021-05-20 14:24] ldollard commented on #549
I do think for most people that would want to use distributor, they are doing so because they do not want to interact with the remote sites at all except for maintenance/updates. So having distributor act as the scheduling distributor on the master site would be great, so it was a central hub for the posts scheduling options amongst other things.

[2021-05-20 14:24] jeffpaul commented on #722
@jbriggs923 do you any additional questions from my test results and response above or can we close out this issue?

[2021-05-20 14:25] jeffpaul commented on #684
@Pitemedia can you please provide additional details on your setup so we can help further triage this for you?

[2021-05-20 14:25] #521 closed, assigned to jeffpaul

[2021-05-20 14:44] ldollard commented on #549
If ok, i think an additional solution would be to schedule the posts as you normally would in WP post section.

Then when you click on the distributor dropdown it would first check to see the posts status:

- Scheduled > Pulls in the scheduled date and attributes this status to the post in distributor
- Draft > attributes this status to the post in distributor
- Published > attributes this status

[2021-05-20 14:45] ldollard commented on #758
Perfect thank you i replied there.

On Thu, May 20, 2021 at 10:20 AM Jeffrey Paul ***@***.***>
wrote:

--
The day is today
For great hosting, visit Cloudways
https://www.cloudways.com/en/?id=102297

[2021-05-20 15:00] jeffpaul commented on #549
@ldollard thanks for the input, it's super helpful to understand how Distributor users like you would want to see something like this work!

[2021-05-20 15:55] ldollard commented on #549
You are welcome, i'm never sure when I'm overstepping the Mark. but I've done and do a lot of work and program processes for my devs and designers for clients projects, so I hoped it would be useful. Honestly, I have a long list of distributor ideas if you really want them lol... Purely because I've tried every other distribution/broadcast cms/plugin solution for Wordpress and I feel distributor h

[2021-05-20 16:56] jeffpaul commented on #549
@ldollard feel free to either open those Distributor ideas as new GitHub issues or send to me in one email and I can separate them out (or link you to any existing GitHub issues on the topic)... thanks!

[2021-05-20 20:30] deadparrotsoftware commented on #761
Yes, we did get it working. We are doing some testing now using the
software.
Yes, we can close out this issue. Thanks :)

Sid

Director, Marketing & Support
Dead Parrot Software Inc.

On Thu, May 20, 2021 at 10:22 AM Jeffrey Paul ***@***.***>
wrote:

[2021-05-20 21:18] #761 closed, assigned to jeffpaul

[2021-05-23 06:48] ldollard opened #764 "Distributor is not sending default WordPress Gallery images only icons from the origin to the remote site/s"
**Describe the bug**
When creating a basic WordPress gallery in a post on MASTER SITE, distributor: will still send the post TO REMOVE SITE but the images do not get sent, instead they appear as icons:

https://we.tl/t-isDLd4awjR

If I use the nextgen gallery on the MASTER SITE they get sent as images and arrive as images, but even though I have nextgen set up exactly the same way on the REMOTE si

[2021-05-23 13:52] ldollard commented on #764
So investigating some more, i see the images are not actually sent to the remote site, but rather linked to the master

https://mastersite.com/wp-content/uploads/2021/05/image1.jpg

is this expected behavior.

[2021-05-24 19:56] jeffpaul commented on #764
@ldollard to clarify, you're using the Classic Editor and NextGEN Gallery to create these posts/galleries?

[2021-05-25 09:13] philbraun opened #765 "Media files duplicated after distribution"
Distributing multiple posts that use the same image file as post thumbnail, the media file gets duplicated into the receiving site's media library.

**Steps to Reproduce**
1. Assign the same image file to multiple posts in origin site
2. Distribute these posts to a subsite
3. Check subsite's media library
4. See myimage.jpg, myimage-1.jpg, myimage-2.jpg, myimage-3.jpg etc.

**Expected behavior**
D

[2021-05-25 18:21] jeffpaul commented on #765
@philbraun welcome to Distributor and thanks for the feedback!  I agree that your expected behavior would be more ideal, I'm adding this into the 2.1.0 milestone as we have some larger foundational changes we'd like/need to make first before getting to this issue.

[2021-05-25 20:21] ldollard commented on #764
I've use a mixture of it all but yes classic editor and nextgen, also tried without nextgen and without it the images just come over as broken icons.

[2021-05-27 13:48] jeffpaul opened #766 "Add `Update URI` plugin header field alongside WP 5.8 release"
**Is your enhancement related to a problem? Please describe.**
Alongside the WordPress 5.8 release, [plugins can now set the URL for their update method](https://wptavern.com/no-more-accidental-custom-plugin-overrides-wordpress-5-8-to-allow-developers-to-set-plugin-hostname) and given Distributor is updated using and not WP.org we should include this to prevent any mistaken naming conflicts with a

[2021-06-02 05:30] dinhtungdu commented on #752
@dziemann I'm sorry for the late reply! About your snippet, you need to pass the distributed post ID to `distributor_get_original_post_link` to get the original post link.

Alternatively, you can try this to get the original post URL directly:
[code]

[2021-06-02 06:26] dinhtungdu commented on #751
@siniger @jmslbam @ldollard Can you please help me test the #767 to see if it fixes your issue?

[2021-06-07 16:54] jeffpaul commented on #751
@siniger can you please confirm from your original description if you have the `Override Author Byline` setting checked?:

![checked](https://user-images.githubusercontent.com/2818133/121059367-0565c480-c787-11eb-982d-eeb3beaa4163.png)

...or unchecked?:

![unchecked](https://user-images.githubusercontent.com/2818133/121059399-0dbdff80-c787-11eb-9bbd-81f89807db13.png)

Thanks!
Jeff.

[2021-06-07 20:19] jeffpaul opened #768 "Release version 1.6.5"
This issue is for tracking changes for the 1.6.5 release.  Target release date: **June 2021**.

## Pre-release steps
- [x] @helen to complete review/merge on https://github.com/10up/distributor/pull/750

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.5` for you

[2021-06-08 00:17] ldollard commented on #751
@dinhtungdu not sure what happened, but i replied to this that it wasn't working correctly after updating the includes file, it seems to do something, but is not changing the user in the backend of metadata, but weirdly a plugin I use called simple author partially picks up the change as seen in these images.

[https://we.tl/t-7GsPQeM2ig](url)

[2021-06-08 00:21] ldollard commented on #751
I also have this checked:

<img src="https://user-images.githubusercontent.com/2818133/121059367-0565c480-c787-11eb-982d-eeb3beaa4163.png" alt="Override Author Byline checked">

[2021-06-08 15:02] justiny opened #769 "dt_original_site_name custom field returns empty"
**Describe the bug**

After pulling a post from an external connection, the custom field `dt_original_site_name` returns empty.  Is there a recommended way to pull that original article site name?

**Steps to Reproduce**

1. Go to pull an article from external connection.
2. Click on the newly pulled article.
3. Scroll down to the custom fields area in the wp post.
4. See empty dt_original_site_na

[2021-06-08 18:05] jeffpaul commented on #769
@justiny I'm able to replicate this for Pull only, I'm seeing the data appear as expected via Push.  Could you test a Push distribution via the Distributor menu in the WP adminbar and report back if you see the `dt_original_site_name` or not?

[2021-06-09 09:59] dinhtungdu commented on #751
@ldollard The PR #767 doesn't fully resolve this issue and our team is reviewing this issue again. So there won't be updated to #767 until further notice.

In the meantime, you can follow this workaround to have the author display correctly:
- For each author on the original site, create user accounts with the same information on the remote site.
- Create multiple connections to the same remote si

[2021-06-22 20:28] jeffpaul commented on #704
@SK-AusTX On the apostrophe issue, can you confirm the process that post/page was pushed/pulled and whether Gutenberg is used on the receiving site?

[2021-06-23 05:04] anthonythorne commented on #751
I am interested in this feature as well.
The client I work for has asked me to create a solution, for which I've added this file to the mu-plugins.

[code]

This of course is tailored to my usage, and I am yet to test updating authors on the linked post, on the original blog.

[2021-06-25 19:17] richardcalahan opened #771 "How to sync arbitrary media"
Given that there's a bunch of different page builders out there that store media relations in different ways, how would you recommend handling the syncing of any arbitrary media items we may need?

For example, we use Elementor as our page builder. I'd like to be able to push all media items contained in a "source" elementor page out to _external connections_. so they live in their "destination" m

[2021-06-29 14:33] ccvision opened #772 "I need help with establishing connection between sites."
**Describe your question**

I cant establish a connection i`ve tried everything...

![noconnection](https://user-images.githubusercontent.com/86671929/123816605-bc251280-d8f7-11eb-9aed-7461a7bdcb0d.png)

[2021-06-30 02:36] jeffpaul commented on #771
@richardcalahan we're working on a significant update that will eventually get to helping with this, unfortunately I cannot seem to find the tracking issue I tend to link to, but @dinhtungdu will be working on this so stay tuned for updates as progress is made.

[2021-06-30 02:43] jeffpaul commented on #772
@ccvision assuming you're following the [setup instructions](https://github.com/10up/distributor#setup-external-connections-using-application-passwords), where in the process are things not working for you?  Similarly providing WordPress, theme, and active plugin versions would be helpful to better help triage.

[2021-06-30 06:51] ccvision commented on #772
This is the mainsite
![image](https://user-images.githubusercontent.com/86671929/123914813-1964a680-d980-11eb-92cb-3186ede66194.png)
![image](https://user-images.githubusercontent.com/86671929/123914871-2bdee000-d980-11eb-9573-44eedb2abaf6.png)

And this is the remote site
![image](https://user-images.githubusercontent.com/86671929/123914925-3c8f5600-d980-11eb-84d5-da70f811a7a3.png)
![image](https

[2021-06-30 13:34] jeffpaul commented on #772
@ccvision I'm assuming these are separate WordPress instances (as otherwise you do not need to set up External Connections since Distributor will auto-detect all sites in a multisite setup).  Are you trying to connect these two sites using the wizard flow or the manual setup process?

[2021-07-01 11:23] Drmzindec opened #773 "Fatal error"
When a site isnt a multi site and you want to edit an imported article it does a check in the below file and gets a Fatal error.

[code]

[2021-07-01 14:15] jeffpaul commented on #773
@Drmzindec looking at the file location for the plugin files it looks like you may have downloaded a ZIP of the `develop` branch for your use.  If that's the case, you're better off using the built version from the `stable` branch or the ZIP file referenced on a [specific release](https://github.com/10up/distributor/releases).

[2021-07-01 20:27] jeffpaul opened #774 "Test against WordPress 5.8"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.8 is released, we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test Distributor on WordPress 5.8
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [ ] if code

[2021-07-01 23:16] dkoo opened #775 "Feature request: distribute media items by themselves"
**Is your enhancement related to a problem? Please describe.**

Currently, media attachments are only distributed when they're attached to another post type that's being pushed or pulled. They can't be pushed or pulled by themselves.

**Describe the solution you'd like**

Ideally, we should be able to push and pull media items like any other post types, either by pushing from the media item's edit

[2021-07-02 06:45] Drmzindec commented on #773
@jeffpaul I have used the latest stable branch and the error is the same:

[code]

The lines in the file:

[code]

The site i am running this on is not a multisite so the above line that produces the fatal error will never be able to run successfully.

However something like the below will solve the issue:

[code]

[2021-07-02 18:45] dkotter commented on #773
@Drmzindec Thanks for the detailed report.

I tried to reproduce myself in a brand-new single site install and did not encounter the same problem.

Looking at the lines in question, the call to `switch_to_blog` only happens if we have a value in `$original_blog_id`, which comes from the post meta key of `dt_original_blog_id`. In theory, that key should only be set if you are dealing with an item t

[2021-07-02 19:25] dkotter commented on #769
@justiny Thanks for this report. I was able to reproduce this myself and I've put together a PR to fix this. If you have a chance, would love for you to test that out and verify it fixes your issue. Thanks!

[2021-07-02 19:44] dkotter commented on #775
@dkoo Thanks for the request and all the helpful context.

I played around with this myself today to see if existing hooks could get us close to where we would need to be. The short answer is probably but the longer answer follows.

As you mention, we explicitly remove `attachment` from our list of supported post types. This can be added back by using the [`distributable_post_types`](https://githu

[2021-07-03 06:32] Drmzindec commented on #773
@dkotter Thank you for the response.

We had a site that was a multisite of 8 sites, and we split that into 8 individual sites as it was getting too big to maintain on the multisite setup. But we kept the distributor plugin since we still wanted to share posts across the sites.

- Yes we used the paid version of Distributor.
- The post in question was a push as far as I am aware, (Editorial team i

[2021-07-05 08:05] ccvision commented on #772
I tried the wizard and manual setup process i just can`t figure it out.

[2021-07-05 08:07] ccvision commented on #772
Could you show me screenshot from your setup, i want to setup a multisite setup.

[2021-07-05 08:08] ccvision commented on #772
I can give you access if you want?

[2021-07-06 03:11] dinhtungdu commented on #772
@ccvision I get an SSL error when I visit your remote site. You have to ensure your remote site is working before creating a connection to it.

![image](https://user-images.githubusercontent.com/5423135/124536295-f0418b80-de41-11eb-9b25-b8ea46ad0ae7.png)

[2021-07-06 06:46] ccvision commented on #772
its https://d2.complexhosting.eu ;) that should work

[2021-07-06 11:07] Drmzindec commented on #773
I ran `DELETE FROM wp_postmeta WHERE meta_key = 'dt_original_blog_id';` which seems to have solved the problem. I still think it would be a good idea to add the check in there for people who arent aware of this.

@dkotter thanks for pointing me in the right direction.

[2021-07-06 11:07] #773 closed, assigned to jeffpaul

[2021-07-06 19:17] #769 closed, assigned to dkotter, jeffpaul

[2021-07-07 10:32] apereirac-apc opened #777 "sync image content issue"
**Describe your question**

Hello, I need your help, the problem I have is that when synchronizing an entry it synchronizes everything perfectly except the images within the content. How can I do to sync the image within the content?

Thank you very much for all your help.

[2021-07-07 18:30] jeffpaul commented on #777
@ale8521 are you using a Page Builder or something like ACF when building your content that includes these images?  Sharing a bit more about your setup will help us better triage for you, thanks!

[2021-07-08 09:47] apereirac-apc commented on #777
Hello, thanks for the answer, I use the wordpress block editor to publish the post, but for the visualization I use a divi template, everything loads perfectly, featured image, text, paragraphs, text quotes, buttons, but the only thing that does not load are the images of the content. How can i solve this?

[2021-07-08 14:07] jeffpaul commented on #775
Related to #771.

[2021-07-08 14:07] jeffpaul commented on #771
Related to #775.

[2021-07-08 14:10] jeffpaul commented on #777
@ale8521 page builders like Divi are a know compatibility issue that we're working on handling in our 2.0.0 release.

[2021-07-09 14:53] apereirac-apc commented on #777
Thank you very much, I will be looking forward to it. Very good work.

[2021-07-11 23:50] bq14 opened #779 "WP AdminUI install of distributor stable.zip FAILs @ "Plugin file does not exist.""
with
[code]

Site health:
[code]

install of DL'd 'stable.zip' via AdminUI @

	https://example.com/wp-admin/plugins.php

redirects to

	https://example.com/wp-admin/plugins.php?action=activate&plugin=distributor-stable%2Fdistributor.php&_wpnonce=fcee1526ca

& FAILs, returning simply
[code]

[2021-07-12 23:46] bq14 commented on #779
Took a complete WP clean-install, but seems to be 'resolved'.  Aka, working for now.

[2021-07-12 23:46] #779 closed, assigned to nobody

[2021-07-13 09:52] dinhtungdu commented on #772
@ccvision  I got the same error visiting d2.complexhosting.eu

![image](https://user-images.githubusercontent.com/5423135/125431508-44cf0dce-3692-42bf-b24c-f5c01b03a632.png)

[2021-07-13 13:24] #766 closed, assigned to jeffpaul

[2021-07-13 21:32] ldollard commented on #777
Hi Paul, not to hijack... but is there a roadmap to 2.0.0? Are any other new release for updates?

[2021-07-13 21:57] jeffpaul commented on #777
@ldollard you can see what's planned for the 2.0.0 release here: https://github.com/10up/distributor/milestone/20.  We're currently working on [1.6.5](https://github.com/10up/distributor/milestone/26) and have at least a [1.6.6](https://github.com/10up/distributor/milestone/27) and [1.7.0](https://github.com/10up/distributor/milestone/21) release planned before 2.0.0.

[2021-07-13 22:42] ldollard commented on #777
Thank @jeffpaul, I knew it was someplace just couldn't locate it so thanks for that, do you know if there is a rough release date for 1.6.5? And anything I can do to help (not a programmer), but open to test anything.

[2021-07-14 13:38] jeffpaul commented on #777
@ldollard we're aiming for 1.6.5 by the end of August.  If you want to test Distributor against WordPress 5.8 RC 3 (see #774) and provide feedback on that issue, that would help!

[2021-07-19 17:19] jeffpaul commented on #97
My initial reaction is that a hook for this might suffice, not certain we'd need/want to add a Setting to handle this but open to input from others?

[2021-07-21 09:51] abombelli opened #781 "How to distribute ACF file attached to post"
Hello

We have created custom file and image fields with ACF.
For some reason the files the attached files and images are not distributed.

What are we doing wrong?

Thanks
Aldo

[2021-07-21 15:58] jeffpaul commented on #506
Closing in favor of #81.

[2021-07-21 15:58] #506 closed, assigned to nobody

[2021-07-21 15:58] jeffpaul commented on #709
Closing in favor of #81.

[2021-07-21 15:58] #709 closed, assigned to nobody

[2021-07-21 15:58] jeffpaul commented on #381
Closing in favor of #81

[2021-07-21 15:58] #381 closed

[2021-07-21 15:59] jeffpaul commented on #692
Closing in favor of #81.

[2021-07-21 15:59] #692 closed, assigned to nobody

[2021-07-21 16:00] jeffpaul commented on #781
@abombelli we have an overall tracking issue for ACF, see #81, as a known issue to be resolved tentatively in our 2.1.0 release.  I'm going to close this issue, so please subscribe to 81 for future updates... thanks!

[2021-07-21 16:00] #781 closed, assigned to nobody

[2021-07-21 16:01] jeffpaul commented on #350
Closing in favor of #81.

[2021-07-21 16:01] #350 closed

[2021-07-21 16:02] jeffpaul commented on #81
Noting here that as we get into implementing and testing a fix for handling ACF (and similar plugins), we will want to review the linked and closed issues for additional insight on use cases and potential fixes.

[2021-07-22 07:35] anilpainuly121 opened #783 "Main site without theme frontend, like headless WordPress"
Hi, I am using distributor and willing to use main site without theme frontend, like headless WordPress, at present i am using blank page. but user who have urls of posts can access the content, iwant to block that.

Is there any workaround to achieve this...

Thanks and regards
Anil

[2021-07-22 13:59] jeffpaul commented on #783
@anilpainuly121 you could use something like [Restricted Site Access](https://wordpress.org/plugins/restricted-site-access/) to block access to your main site.

[2021-07-26 09:56] ccvision commented on #772
Can i give you access to both of the sites so you can take a look at it?

[2021-07-29 14:40] dinhtungdu commented on #772
@ccvision, you should contact your hosting support to fix the SSL issue, Distributor can't establish connections if your sites have an SSL issue.

[2021-08-03 02:12] dinhtungdu commented on #783
@anilpainuly121 You can also do the same trick you're using on homepage for the single post/page template.

[2021-08-03 15:45] theresaweb commented on #741
We are seeing a similar bug on our multisite. We use Yoast Duplicate post to duplicate/clone posts. Steps to reproduce:

1. Create an original post on Site A
2. distribute post from Site A to Site B and Site C
3. On Site A, use Yoast duplicate post to duplicate original post and then change title and content
4. On Site A, from duplicated post, hover over Distributor in admin bar and the post appea

[2021-08-04 22:41] MonsterKing opened #784 "Possible Issue with Removing Taxonomies"
**Describe the bug**
I realize this could be me... :-) I am trying to preventing taxonomies (all -- categories, tags, etc) from "pulling" into our site. I'm not trying to filter available posts by taxonomy, I just don't want taxonomies to "import" (for lack of better term).

This is what I am working with:

function eecs_exclude_taxonomies($post_array) {
    $post_array['terms'] = array();
    ret

[2021-08-05 02:06] elgeorge2k commented on #638
Thanks

[2021-08-13 14:32] uttam-49 opened #786 "Media not transferred."
I am using a distributor to clone pages into my other site. I have a page builder elementor used with ACF meta fields. Everything works fine except the media images. Feature image is being transferred and added into the other media library too but images used in elementor modules and ACF modules were not copied. So anyone has any solution for this then please help me.

[2021-08-16 01:40] dinhtungdu commented on #741
@theresaweb Can you please try using [`duplicate_post_excludelist_filter`](https://developer.yoast.com/duplicate-post/filters-actions#duplicate_post_excludelist_filter) to excludes meta keys I mentioned [above](https://github.com/10up/distributor/issues/741#issuecomment-807030858)? After that, please try to clone your post again and check if it fixes your issue.

[2021-08-17 14:46] theresaweb commented on #741
@dinhtungdu I'm not sure I understand. Are you saying to never distribute the following keys?
	'dt_connection_map',
	'dt_subscription_update',
	'dt_subscriptions',
	'dt_subscription_signature',
Seems like that is squashing key capabilities of the plugin.

[2021-08-18 02:26] #783 closed, assigned to jeffpaul

[2021-08-18 02:29] #772 closed, assigned to jeffpaul, dinhtungdu

[2021-08-20 16:01] jeffpaul commented on #786
@uttam-49 note that this is a known issue and currently tracked via #81 so please subscribe to that issue for updates.  Note that the issue is milestoned for a release a bit off in the future, so if this is of an urgent or important nature for you then please reach out to me directly (jeff.paul@10up.com) and we can discuss alternate options... thanks!

[2021-08-20 16:01] #786 closed, assigned to nobody

[2021-08-26 14:45] #752 closed, assigned to dkotter, dinhtungdu

[2021-08-26 14:52] #722 closed, assigned to jeffpaul

[2021-08-26 14:54] #748 closed, assigned to jeffpaul

[2021-08-26 14:55] #704 closed, assigned to dkotter, jeffpaul

[2021-08-26 14:55] #684 closed, assigned to nobody

[2021-08-30 06:11] stephen-clark opened #787 "Compatibility with Oxygen Builder"
**Is your enhancement related to a problem? Please describe.**

**Syncing Oxygen Builder templates**

I am trying to sync Oxygen builder templates across my Wordpress multisite.  The Oxygen template is made of three parts - 1. the template itself - 2.  a link to a second template from which your template inherits design (e.g. typically a header/footer template), and re-usable templates that are in

[2021-08-31 04:08] jeffpaul commented on #787
@stephen-clark welcome to Distributor and thanks for the feedback!  I'll note that this is very likely related to #348, so I'm milestoning this alongside that issue.  If your issue is more urgent or important than can wait for that milestoned release, then email me (jeff.paul@10up.com) and we can discuss alternate options for you... thanks!

[2021-08-31 17:00] #597 closed, assigned to dkotter

[2021-08-31 17:02] helen commented on #657
Nothing actionable here :)

[2021-08-31 17:02] #657 closed, assigned to nobody

[2021-08-31 17:03] helen commented on #141
This belongs in a more major 1.7-type of milestone, can call it good enough for a point release in #750 but want to get into this and remove a lot of that hover code for the next release.

[2021-09-01 22:22] #768 closed, assigned to helen, jeffpaul

[2021-09-01 22:36] #774 closed, assigned to ajmaurya99

[2021-09-02 00:24] crysix commented on #413
I created a plugin with parts of code from ulkish and otte24 which adds support for:

* NS Cloner - Site Copier (https://de.wordpress.org/plugins/ns-cloner-site-copier/)
* MultiSite Clone Duplicator (https://de.wordpress.org/plugins/multisite-clone-duplicator/)
* WP Ultimo

You can find it here: https://github.com/milkycode/mc_wp_mu-dt-clone

But after playing a bit with distributor I found out, t

[2021-09-02 00:25] crysix commented on #429
I created a plugin which adds support for:

* NS Cloner - Site Copier (https://de.wordpress.org/plugins/ns-cloner-site-copier/)
* MultiSite Clone Duplicator (https://de.wordpress.org/plugins/multisite-clone-duplicator/)
* WP Ultimo

You can find it here: https://github.com/milkycode/mc_wp_mu-dt-clone

[2021-09-06 14:08] #530 closed, assigned to nobody

[2021-09-09 02:11] deadparrotsoftware opened #791 "Thrive editor compatibility issue: Pages and Post Distribute But Do Not Update"
**Describe your question**

We have several WP 5.8 latest sites running on a dedicated server - Xeon Multi-core 128G Ram 4 TB SSD
Plesk on a Centos 7.X Linux Server

2 WP sites with exact SAME setup & configuration
Same plugins, Same themes, NO caching of anykind
Using 3rd Party block-style Editor - Thrive Architect & Thrive themes (same themes)

Mainsite and remotesite connect NO problem
Page edi

[2021-09-09 03:12] jeffpaul commented on #791
@deadparrotsoftware your steps seem to point to things working as expected, though I'm not familiar with Thrive Architect and how it might be altering post content or the content update flows.  I suspect this could be similar to #348 if Thrive stores post content/meta in a way that Distributor is not expecting.  Do you know if Thrive has a free version that could be used for further triaging?

[2021-09-09 20:58] deadparrotsoftware commented on #791
Everything except UPDATE is working. The initial distribution is fine, but
when the source document is changed
the remote version is NOT being updated.

How does Distributor facilitate/accomplish the updates?

And no, Thrive is a commercial version only. I do not believe there are
free versions of any of their plugins.

Sid

Director, Marketing & Support
Dead Parrot Software Inc.

On Wed, Sep 8, 2

[2021-09-09 22:20] jeffpaul commented on #791
@deadparrotsoftware are you seeing that updating standard WordPress post content, post meta, and whatever Thrive offers custom does not work?

[2021-09-10 00:17] deadparrotsoftware commented on #791
Everything distributes, but none of it is updating. I Am pretty sure the
team tried non-thrive pages and posts
and nothing is updating.

What is the mechanism Distributor uses to do the updates, and when?

Sid

Director, Marketing & Support
Dead Parrot Software Inc.

On Thu, Sep 9, 2021 at 6:21 PM Jeffrey Paul ***@***.***>
wrote:

[2021-09-10 01:11] jeffpaul commented on #791
@deadparrotsoftware Distributor hooks into the standard WordPress publishing (and updating) flow so as long as your editor isn't doing something custom when it comes to publishing/updating then things should be working as normal.  Can you confirm your Distributor versions on your separate WordPress 5.8 versions so I can try to replicate your setup and issue?

[2021-09-10 21:01] deadparrotsoftware commented on #791
ALL our sites run WP 5.8.1 as of today (they auto update to latest version)

Your plugin details show:

- *Version:* 1.6.5-dev
- *Author:* 10up Inc. <https://distributorplugin.com>
- *Last Updated:* 1 week ago
- *Requires WordPress Version:* 4.7 or higher
- *Compatible up to:* 5.7.999

The main source site is on a *domainname.com <http://domainname.com>*, the
"remote sites" are all full WP
install

[2021-09-13 09:01] Revorius opened #792 "Distributor isn't making a connection between websites"
**Describe your question**

So, for some reason Distributor won't make a connection between websites.
I'm using the newest version of wordpress with application passwords (the one that comes with WP, not the plugin just to clarify), and the user I'm logging in with is an administrator.
The external URL is "https://xxx.xx/index.php?rest_route=/", and distributor is installed on both wordpress insta

[2021-09-13 09:17] Revorius commented on #792
Had to post it on the company's github, making a new question.

[2021-09-13 09:17] #792 closed, assigned to nobody

[2021-09-13 09:20] ccvision opened #793 "Distributor won't make a connection between websites"
**Describe your question**

So, for some reason Distributor won't make a connection between websites.
I'm using the newest version of wordpress with application passwords (the one that comes with WP, not the plugin just to clarify), and the user I'm logging in with is an administrator.
The external URL is "https://xxx.xx/index.php?rest_route=/", and distributor is installed on both wordpress insta

[2021-09-13 16:03] MaxxxDev opened #794 "Distributed post not showing on backend"
Hi !

I just installed the plugin, everything works fine.
I tried distributing a post from site A to site B
Everything went right, BUT, when I go to the backend of site B, I have 1 draft (the distributed one I guess), but when I click on draft, nothing shows up ! I check on the database and the post is there, but it doesn't show on site B backend

Did you ever got this issue before ?

Pardon my en

[2021-09-14 01:45] jeffpaul commented on #794
@MaxxxDev when you say:

is that attempting to open the draft post on site B in the editor or via the front end of your site?  Also, please provide WordPress version, Distributor version, other active plugins and theme so we can try to replicate your setup and further assist... thanks!

[2021-09-14 01:46] jeffpaul commented on #793
@ccvision are you attempting to connect two separate WordPress instances or two sites within a multisite network?

[2021-09-14 07:46] ccvision commented on #793
The two instances are separate

[2021-09-14 07:55] MaxxxDev commented on #794
Hi !

Thanks for your input !

When, after the distribution from SiteA is click on "view", it open the article on SiteB, buuuuut, on SiteB backend (to edit it, like publish it for exemple, the backoffice tells me " Draft(5)3, but when I click to see them, none of them are visible

Wordpress version is 5.8.1 (for both)
Distribution version is Version 1.6.5-dev (for both)
Theme is JOINTSWP (for both

[2021-09-14 12:26] MaxxxDev commented on #794
I tried doing the reverse :

pull SiteA's post to SiteB, and it works, but distributing from A to B doesn't

[2021-09-14 20:03] dkotter commented on #793
@ccvision Looking at the example URL you posted (`https://xxx.xx/index.php?rest_route=/`), you don't appear to be using pretty permalinks within WordPress. Is that correct?

If so, that is probably the issue. I feel like this has come up before but couldn't find anything while looking through old issues. I'd suggest turning those on if you can and it may be worth us looking into this to see if we

[2021-09-14 20:06] Drmzindec opened #795 "Uncaught TypeError: can't access property "innerText", T is null"
Ive had this issue on some of my sites recently, the plugin was working fine without any issues and still is on some 7/8 of my sites.

`Uncaught TypeError: can't access property "innerText", T is null - push.js:127:2`

This happens on version 1.6.4 and 1.6.5 when distributing from the front end.

[2021-09-16 07:58] ccvision commented on #793
That solved it, thank you. Not having permalinks indeed stopped it from connecting.

[2021-09-16 07:58] #793 closed, assigned to jeffpaul

[2021-09-17 11:19] cstangor opened #796 "Limited connection only"
I've installed application password plugin on both sides.

I have the most current version of the distributor plugin.

The connection is made but it is always yellow (limited).

ty

[2021-09-18 00:29] jeffpaul commented on #796
@cstangor if you're using current versions of WordPress (5.8) and Distributor (1.6.5) then you do not need to have Application Passwords installed.  Also, by looking to create external connections I assume you are not on a multisite/network setup and instead are trying to connect separate WordPress instances?  Do you have any security plugins installed that may be limiting access to the REST API (

[2021-09-18 02:04] cstangor commented on #796
@jeffpaul thanks for the ideas but none of these seem to apply.

Latest versions of Wordpress and Distributor
separate Wordpress instances
REST API works fine

[2021-09-18 03:48] jeffpaul commented on #796
@cstangor can you share the plugins and version and theme you have installed to see if there might be a conflict somewhere preventing Distributor from working?  Also, try deactivating Application Passwords and letting the Distributor authentication flow try to get you a proper external connection on its own.

[2021-09-19 16:27] deadparrotsoftware commented on #791
*We double checked*, and Distributor DOES send the updates when you use *the
default WP editor.*

But, that editor will not work for us.

So we are going to setup 2 sites with Thrive setup EXACTLY the same. Same
theme, same templates, same settings,
same post meta, etc.

Then create a page with Thrive Architect on 1 and distribute to site 2, and
see if pages update.

I will be happy to supply logi

[2021-09-19 21:54] deadparrotsoftware commented on #791
WE did some extensive tests. We installed WP on site 1 and thrive installed
& setup on a sub-domain

Created a exact - but functional - *clone* of site 1 on a second subdomain
Site 2

Distributor is on both
On site 1 we created an external connection in Distributor to site 2

We created a page on site 1 with Thrive Architect with some text, and
published it, then distributed (pushed) it to site 2

[2021-09-19 22:13] geertplukker opened #797 "Posts do not show"
**Describe the bug**

Hi, I can pull a post and can see the post as "linked" in the overview. Whenever I try a list the posts do not show. I a using DiVi from Elegant themes.

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress vers

[2021-09-20 14:05] jeffpaul commented on #797
@geertplukker when you say:

...do you mean that on the remote site (where you either Pushed content to or Pulled in content) that the `All Posts` table list view does not show that Pushed/Pulled Post?  You should be seeing something like [this screenshot](https://raw.githubusercontent.com/10up/distributor/develop/.github/screenshots/screenshot-8.png) that shows the Distributor icon column near th

[2021-09-21 15:08] cstangor commented on #796
@jeffpaul  Can I give you access to my Wordpress account and you could see if you could connect to another one?  Thanks.

[2021-09-21 17:27] GRMoneta opened #798 "Subsites not showing in Distributor dropdown for some users"
**Describe your question**

I added an existing user to two new subsites.  He can see them and access them from the Sites dropdown, however, those subsites do not appear in his Distributor dropdown list.  We've tried logging in/out, clearing cache, etc.  As the network admin, I have no issues seeing all sites in the Distributor dropdown.  Any suggestions?

[2021-09-21 18:41] jeffpaul commented on #798
@GRMoneta that sounds like a bug for sure.  Can you confirm if this is being viewed from the Pull Content screen or via the Distributor Push menu in the adminbar / block editor sidebar?  Also, can you please confirm your WordPress and Distributor versions as well as if you're using subdomains or subdirectories for your multisite install for us to further triage?

[2021-09-22 16:25] jamesmorrison opened #799 "Enhancement: Support WP VIP Code Standards"
**Is your enhancement related to a problem? Please describe.**
During a commit of Distributor to a WP VIP Go repository, the VIP Bot flagged a number of issues with the plugin codebase. _[For privacy reasons, the site in question is not being identified here - contact me directly for further details.]_

**Describe the solution you'd like**
Include the VIP code standards in tests, ensure that where

[2021-09-22 17:11] GRMoneta commented on #798
The user in question can get to and use the pull content screen on the subsites he is added to.  This is only about the push menu in the adminbar.  Classic editor installed, so no blocks.  WP 5.8.1, Dist 1.64-dev    We are using subdirectory multisites.

[2021-09-23 15:37] jeffpaul commented on #383
This has been hanging around for quite some time and is still just a bit too broad in what it would allow / pressure it would put on any extensions to adjust with every Distributor update.  As such I'm going to close this out as not desirable to add into Distributor at this time.

[2021-09-23 15:37] #383 closed

[2021-09-23 15:44] jeffpaul commented on #791
@deadparrotsoftware thanks for the testing details, it sounds like a compatibility issue between Thrive and Distributor so I'll label things accordingly and update the title of this issue for easier identification.

[2021-09-23 16:34] deadparrotsoftware commented on #791
Probably true. Although the fact that distributor DOES distribute the
Thrive page to a remote site
just fine, would indicate it's not an incompatibility with the pages
created, per se, but in the updating ONLY.

BTW: If we make a change to the source page, clone it locally (i.e. create
a 'new' version of the page,
we CAN distribute the new version with Distributor with just fine.

ALSO

If we go t

[2021-09-23 20:19] jeffpaul opened #801 "Release version 1.6.6"
This issue is for tracking changes for the 1.6.6 release.  Target release date: **27 September 2021**.

## Pre-release steps
- None

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.6` for your changes.
- [x] Version bump: Bump the version number in `distributor.

[2021-09-24 19:47] mwhitney223 commented on #348
This is also the case for the Divi page builder as well. It wont detect an update when a page is updated on the main site. It does however, push the page on the first distribute correctly, maintaining the page structure.

[2021-09-24 20:44] dkotter commented on #795
@Drmzindec Thanks for the report! I was able to reproduce this console error and is an issue with a missing element that we expect to be in place, that is used to render any error messages. This will be fixed by #803.

Note though that this won't fix any issues you may be running into when pushing content. It will address the console error you are seeing and should provide you with a better error

[2021-09-27 13:33] #795 closed, assigned to dkotter

[2021-09-28 19:45] #801 closed, assigned to helen, jeffpaul

[2021-09-30 19:28] GRMoneta commented on #798
Update:  the new Distributor version 1.6.6 seems to have fixed this issue.  Thanks for being responsive, if that was the case.

[2021-09-30 19:28] #798 closed, assigned to nobody

[2021-10-01 21:39] ldollard opened #804 "No connection found out of nowhere - CURL 60: SSL ERROR"
Hi

I have a Push site and 3 remote sites.

All have been working completely fine for 5 months, then today Remote site C is now giving me this error.

![image](https://user-images.githubusercontent.com/39418788/135689186-f3684655-4858-4054-a2ca-fd7848606295.png)

Nothing has changed. Remote Site A and B are working completely, fine.

Steps taken so far:
I've deleted my SSL and reinstalled it for t

[2021-10-01 21:54] ldollard commented on #804
Additional info.

https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

is this something you guys are aware of?

[2021-10-01 22:25] ldollard commented on #804
Hi All,

So my host (cloudways) fixed this issue, below is what they did, so if anyone else is having the issue, i hope this helps.

Obviously this might not directly work on someone else's hope but i hope it helps someone.

cheers.

[2021-10-02 19:23] grugel-maintro commented on #804
Have the exact same issue using centos 8 and Wordpress 5.8.1

[2021-10-02 19:27] grugel-maintro opened #805 "cURL error 60: SSL certificate problem: certificate has expired (http_request_failed)"
Have the exact same error:

[code]
 using centos 8 and Wordpress 5.8.1

_Originally posted by @grugel-maintro in https://github.com/10up/distributor/issues/804#issuecomment-932807972_

[2021-10-02 19:53] xaman-67 commented on #804
Run into the same issue. So it looks like i need to update my certificates, but i don't understand if the problem lies on server A or B. I have on server running as an onion service (A) and on as a clearnet server (B). The sync from the clearnet to the onion service works great but from the onion service to the clearnet server i got the error. Was working before. So do i need do fix the clearnet s

[2021-10-03 01:33] jeffpaul commented on #804
@xaman-67 sounds like your issue is with the clearnet server and getting the SSL certificate working there, then re-establishing the external connection from the onion service to the clearnet server.

[2021-10-03 01:34] jeffpaul commented on #805
Closing in favor of #804

[2021-10-03 01:34] #805 closed

[2021-10-03 15:11] geertplukker commented on #797
Jeffrey,

Somehow the posts stayed on “concept”. I could not find the reason and copied the website to my own hosting ***@***.***) and Distributor is functioning fine….

So I think I will advise the customer to take a proper hosting… Thanks for your efforts!!

Best regard,

Geert

Van: Jeffrey Paul ***@***.***>
Verzonden: maandag 20 september 2021 16:06
Aan: 10up/distributor ***@***.***>
CC: Geert

[2021-10-03 18:57] #797 closed, assigned to jeffpaul

[2021-10-05 01:00] jeffpaul commented on #799
Here’s the ClassifAI PR that added VIPCS and fixed/ignored VIPCS issues: https://github.com/10up/classifai/pull/287.  We would theoretically take a similar approach here.

[2021-10-06 15:59] alexwolk opened #806 "Lots of limited connection warnings"
I'm trying to set this up with a large network I manage where the sites are all on different hosts. It works for about 70% of them, but for the others I get either a Limited connection established. or Distributor is not installed error, even though I'm doing the exact same setup on all the sites

[2021-10-06 17:05] jeffpaul commented on #806
@alexwolk you mention "network" but given you have sites on different hosts I assume this is not a WordPress multisite (aka network) set up but rather individual WordPress instances, correct?  If so, are you working with the latest versions of WordPress and Distributor?  Do you have any security plugins running that might be limiting access to the REST API?  Are you following our [External Connect

[2021-10-07 07:13] dinhtungdu commented on #496
We need to do the removal after the filters have been added. In our case, the filters are added in `template_redirect`, so we need to hook after that:

[code]

[2021-10-07 07:13] #496 closed, assigned to dinhtungdu

[2021-10-07 07:25] dinhtungdu commented on #730
Note that with the approach above, we can avoid hard-coding `application-password.php`, but we still need to hard-code `admin.php?page=auth_app` for bundled Application Passwords.

[2021-10-08 19:12] jeffpaul commented on #804
@grugel-maintro once your host helped resolve your SSL setup, you may want to try and re-save your External Connections to ensure they're properly able to connect to all WordPress instances.

[2021-10-08 19:42] ldollard commented on #804
This is what I had to do, delete the external connections and recreate them.

[2021-10-10 13:19] nishchint commented on #698
Hi There,

I am facing the same issue. Do we have solution for the same?

Thank you so much.

Regards,
Nishchint

[2021-10-11 17:23] jeffpaul commented on #698
@nishchint can you please provide details on your set up?  Are you running a multisite or multiple WordPress instances?  What WordPress and Distributor version are you running?  Are you running any security plugins that may be blocking access to the REST API?

[2021-10-13 14:35] jeffpaul opened #808 "Previously pulled posts appear in new tab"
**Describe the bug**
When having two separate WP instances connected via an External Connection and using the Pull Content screen, previously pulled posts appear in the New tab view.  Note that in the case that was demo'd to me that the Bulk Pull option was used and not individual post pull actions.

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2021-10-13 14:46] jeffpaul opened #809 "Performance issues on Pull Content screen when origin site has 100k+ posts"
**Describe the bug**
When having two separate WP instances connected via an External Connection and using the Pull Content screen where the origin site selected has over 100,000 posts (in this specific case ~230,000 posts) there are performance issues when trying to filter the New/Pulled/Skipped posts as well as paginate within those tabbed sections.

**Steps to Reproduce**

1. Go to '...'
2. Clic

[2021-10-13 23:13] dkotter commented on #809
Looked into this and from what I've found, it isn't an issue with how much content the site has but is an issue with how many previously pulled items there are.

We get all previously pulled and skipped items, sort those from highest ID to lowest ID and then trim that down to 200. These then get passed to our query as `post__not_in` arguments. For internal connections, this is used in a normal `WP

[2021-10-13 23:16] dkotter commented on #808
This is similar to the issue reported in #809. The issue can be found here: https://github.com/10up/distributor/blob/develop/includes/classes/PullListTable.php#L487

Basically we grab all skipped and previously pulled items and then trim that down to only 200. Those are then excluded from our queries. But if you have more than 200 items pulled, you could then start seeing previously pulled items (

[2021-10-14 02:06] #511 closed, assigned to nobody

[2021-10-14 07:30] dinhtungdu commented on #809
I tend to use multiple requests/queries for solving this performance issue. We will get a fixed amount of posts from the remote site, then filtering it, if we need more posts, make another request.
But with this approach, we have an issue with the pagination of the list table:

1. We display 100 posts per page, we get 200 posts per request.
2. There are 150 posts that were pulled/skipped in those

[2021-10-14 09:11] cadic commented on #808
I suppose the threshold of 200 items was added to meet the URL limit while performing GET requests for external connections. We could not bypass that using POST method because `POST /wp/v2/posts` is to create post.

Maybe we could change the way how we retrieve posts. Skip `exclude` argument from the remote request, increase `posts_per_page` by `count( (array) $ignored_post_ids )` and fake the pag

[2021-10-14 09:18] cadic commented on #809
@dinhtungdu agree on custom REST API endpoint. We will be able to use POST method and provide as much `exclude` post IDs as we need instead of limiting it. This isn't possible with builtin `/wp/v2/posts` because POST method is reserved for post creation.

[2021-10-14 09:21] cadic commented on #809
I know WP VIP does not recommend to use `exclude` or `post__not_in` because it may reduce DB performance, but here we have remote request bottleneck which at my opinion depends more on the bandwidth than DB time.

[2021-10-14 09:29] cadic commented on #809
Another idea is adding a flag to the remote site when the post is pulled/skipped. `dt_pulled` and `dt_skipped` post metas will help to perform the query without `exclude` IDs.

Probably post meta name needs tailing remote site identifier (`dt_pulled_at_<example.com>`) to prevent confusion on complex Duplicator setups.

[2021-10-15 13:57] dkotter commented on #809
@dinhtungdu @cadic I'm working on a PR that adds a new endpoint that we can then make a POST request to. This should allow us to pass in all excluded post IDs, which fixes the issue detailed in #808. It also gives us a larger timeout value than what we get when making a GET request (in particular when in a VIP environment). That probably fixes the issue here as well.

But we still are making a `po

[2021-10-15 14:41] dinhtungdu commented on #809
@dkotter What do you think about endpoints that return only new or pulled posts for a specific connection? It will solve the pagination issue. But at the same time, we may need meta queries.

Edit: I don't think it's possible to use meta queries to query the pulled post, we store all connection details of a post in a single `dt_connnection_map` meta as an array.

[2021-10-15 15:17] cadic commented on #809
@dkotter if we choose between `post__not_in` (slower DB query) and pagination (2x, 3x, Nx DB queries de facto) I would pick up first solution.

Pros: native WP_Query which will return predictable results
Cons: slower performance (but since is not a front-end feature, it will not happen too often), thickening later support...

[2021-10-18 14:44] Siedlerchr commented on #636
@dinhtungdu  I am just stumbling about this issue, where do I have to add this line? Do I need to modify the js?

[2021-10-18 15:55] mgearh opened #810 "WEBP image formats"
**Is your enhancement related to a problem? Please describe.**

Yes, when distributing posts that are using a WEBP featured image, the image does not transfer.

**Describe the solution you'd like**

For the plugin to support the WEBP format.

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2021-10-18 22:26] helen commented on #809
A bit of a drive-by here: IMO avoiding `post__not_in` has taken on an outsized "do not use" stigma in WP when it's perfectly reasonable for the right use cases, and this definitely seems like a good use case - not a front-end query, only impacting an isolated area, and in the context of a deliberate action (looking at items to pull), not something you're typically zipping through from a user flow

[2021-10-18 22:30] dkotter commented on #809
Thanks for all the feedback @dinhtungdu and @cadic. I've got a work in progress PR that is ready for review/testing.

My current approach is a new custom endpoint that we only use if we are on the `New` tab of the Pull screen for an external connection that has previously pulled or skipped items. In any other situation (like any internal connections) the process should not be changed.

This endpoi

[2021-10-20 17:28] #806 closed, assigned to jeffpaul

[2021-10-21 09:24] ccvision opened #812 "Push page build in divi builder but doesn't push images with it"
I have build a page in divi builder but distributor doesn't push the images in my slider to the other pages.
Fix for this?

[2021-10-22 20:03] jeffpaul commented on #812
@ccvision this is a known issue with page builders, you can follow #348 to see when that gets resolved.  Closing this as a duplicate of 348.

[2021-10-22 20:03] #812 closed, assigned to nobody

[2021-10-22 20:22] jeffpaul commented on #730
Also noting that we should look to update our directions on setting up external connections where folks on WordPress X.Y and above do not need the Application Passwords plugin as it's part of WP core: https://github.com/10up/distributor#set-up-external-connections-using-application-passwords

[2021-10-25 00:42] thedavidthomas commented on #81
I'm using an External Connection.
Is there anything in `prepare_media` to add additional ACF Image ID fields?

I've managed to add to `distributor_media` in the rest endpoint via `rest_prepare_post` and the initial pull is adding images into the media library of site B and using  the `updated_post_meta/added_post_meta` (@meredevelopment's solution) is finding the fields using those original image

[2021-10-25 04:23] dinhtungdu commented on #636
Hi @Siedlerchr I'm sorry for the late reply! You need to add that line to your theme's `functions.php` or a custom plugin.

[2021-10-25 17:28] #698 closed, assigned to dkotter

[2021-10-26 17:23] espechtcfe opened #813 "distributing causing duplicates and other related problems"
We're experiencing an issue with our webcast post type (custom post type created by 10up) and Distributor.  Nothing has changed recently with that post type.  The original problem was the person that posted it on the main site didn't include a featured image, so after it was already distributed without the image, she added it and noticed that it didn't reflect the change on the distributed site, e

[2021-11-01 08:52] cadic commented on #809
Made some research about `post__not_in` VS custom filter performance on weekend, https://lyuchin.com/2021/11/why-avoid-post__not_in/

Conclusion: using custom filter will work for repeating queries with persistent post and database caching. The initial non-cached request with `post__not_in` will always be faster then custom filter.

[2021-11-02 18:27] espechtcfe commented on #813
You can delete this.  The issue was WPEngine's long process killer killing the process as it was distributing.

[2021-11-05 15:20] #671 closed, assigned to dkotter

[2021-11-05 15:26] dkotter opened #814 "Add helper function that checks if a post came from distribution"
**Is your enhancement related to a problem? Please describe.**
It's a fairly common request to want to change something about the display of content that came over from a distribution (whether Push or Pull). For instance, you may want to exclude those items from certain sections of your site, you may want to change the style of how those are output, etc. Right now you have to look for the presence

[2021-11-05 15:31] dkotter opened #815 "Add easy way to fully disable Push or Pull methods"
**Is your enhancement related to a problem? Please describe.**
We support both Pushing and Pulling content out of the box but often sites will implement an editorial process that only uses one or the other. It's not bad to have both methods available but if one of those methods is never used or in a stricter editorial site where they want to ensure one method is never used, would be nice to fully

[2021-11-06 21:04] claytoncollie opened #816 "Add snippets markdown file to share helpful filters within documentation"
**Is your enhancement related to a problem? Please describe.**
After using this plugin, I found myself using a few of the built-in filters. They seemed helpful enough and I want to share what I've learned. I originally shared them on Slack in the Distributor channel and @jeffpaul suggested they be added this way.

**Describe the solution you'd like**
I would like to follow the lead from [Elasticpr

[2021-11-08 15:13] #808 closed, assigned to dkotter

[2021-11-08 15:13] #809 closed, assigned to dkotter

[2021-11-08 17:19] #816 closed, assigned to claytoncollie

[2021-11-08 22:25] jeffpaul opened #818 "Release version 1.6.7"
This issue is for tracking changes for the 1.6.7 release.  Target release date: **9 November 2021**.

## Pre-release steps
- None

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.7` for your changes.
- [x] Version bump: Bump the version number in `distributor.ph

[2021-11-12 21:11] #818 closed, assigned to helen, dkotter, jeffpaul

[2021-11-12 21:18] helen opened #820 "Document or remove `-dev` from the PHP version number"
**Is your enhancement related to a problem? Please describe.**
The `-dev` suffix has proven to be a little confusing at release time and may not even be necessary now. We should evaluate and then, if it is necessary, document it in code and documentation better. My recollection is that it was added primarily to be able to warn users that they're running a development version and need to run the bu

[2021-11-16 19:38] hotkeymuc commented on #738
@markusvisse I came across the same problem: When using Distributor on an Elementor post, the meta data (that's where Elementor stores its layout) got corrupted ("un-slashed"). This leads to all special characters being corrupted on the frontend.
When researching that symptom I came across a similar issue of a different plugin: https://github.com/pods-framework/pods/issues/5040
The most important

[2021-11-17 19:01] LucyTurtle commented on #428
I would also like this

[2021-11-22 17:38] LucyTurtle opened #821 "Cannot Delete Distributed Posts"
**Describe the bug**
When trying to delete a post that has been distributed to other sites it errors out. I have tried from the "posts" page, and the post editing page. I tried deleting distributed versions first.

**Steps to Reproduce**
Try to delete a distributed post

**Expected behavior**
The post would delete

**Screenshots**
Fatal error: Uncaught TypeError: Argument 1 passed to Distributor\I

[2021-11-23 04:54] jeffpaul commented on #821
@LucyTurtle can you confirm your WordPress and Distributor versions as well as the active theme and any other relevant active plugins?  Also confirmation if this is a network set up or separate WordPress installs will help us to replicate your setup / better triage your issue... thanks!

[2021-11-23 15:31] LucyTurtle commented on #821
Hodwy there! I am on a multi-site setup. Wordpress version 5.8.2, Distributor version 1.6.7.
Theme: GeneratePressVersion: 3.1.0
Plugins:
- Distributor Version 1.6.7
- GP Premium Version 2.1.1
- Imagify Version 1.10
- Relevanssi 4.14.4

We have been using your plugin for quite a while (since maybe around May?)  but I am unsure when this issue started. I don't think until now I had to delete a post

[2021-11-26 15:21] romeowski opened #822 "Can push but can't pull"
Hi, Thanks for your plugin and for your work!

I try to PULL custom post types to SITE A FROM SITE B.
At the moment I can only PUSH this custom post types from SITE B to SITE A.

- Connection established.
- Green Light's on
- Post types permissions:
Can pull? YES
Can push? YES

When I click to "Pull Content" from EXTERNAL connection created:
Could not pull content from connection due to error.

WP

[2021-11-30 21:08] jeffpaul commented on #822
@romeowski note that running WP 5.8.2 you do NOT need to install the Application Passwords plugin as that's now part of WP core.  That being said, does your Site A have an external connection to Site B (assuming you're working with different WP instances and not within a multisite setup)?

[2021-12-01 07:54] romeowski commented on #822
I also tried uninstalling Application Password and recreating credential in native Application Password but without success: Connection Established, green light, in Pull Content Section "Could not pull content from connection due to error." appears and nothing more.  Nothing appears in Console too.

[2021-12-02 19:47] jeffpaul commented on #822
@romeowski are you using any sort of security plugin that may be blocking access to the REST API?

[2021-12-06 09:44] romeowski commented on #822
No, it seems that Rest Api works in both sites

[2021-12-06 15:02] claytoncollie-dmv opened #823 "Plugin dependency, Application Passwords, is out of date"
Applications Password is out of date and needs to have its patch version bumped.

[2021-12-14 15:58] romeowski commented on #822
Hi, any update on this? Thank you!

[2021-12-15 21:03] jeffpaul commented on #822
@romeowski I'm unable to replicate the issue you're seeing.  Is there an old/odd version of PHP, DB/App server, or something else potentially in play based on your knowledge of your hosting setup?

[2021-12-15 21:04] jeffpaul commented on #822
Also stating explicitly that just because I cannot replicate your issue does not mean its invalid, just that I've not been able to trigger the issue which makes it near impossible for me to triage to the point of finding a fix to help resolve this for you.  So the more details we can gather to try and replicate, the better.

[2021-12-16 14:10] uttam-49 opened #825 "No connections available for distribution. (Multisite)"
I have a multisite setup and distributor (Version 1.6.7) installed in a multisite network.
Now I am having one issue which is in the toolbar where we have a distributor tab, hovering on it to push data to other sites gives me No connections available for distribution messages.
![image](https://user-images.githubusercontent.com/88894530/146387116-a79fa15a-eb9c-46d9-88f0-f2dff58b00ff.png)

I have my

[2021-12-16 14:49] jmstew3 opened #826 "Could not pull content from connection due to error"
**Describe the bug**
On a site where I have 119 pages available to Pull Content from, I am receiving a "Could not pull content from connection due to error", triggered after I use "Screen Options" to change the Pagination > "Post Per Page" value to more than 100.

**Steps to Reproduce**

1. Go to 'Distributor'
2. Click on 'Pull Content'
3. Make sure you 'Pull Content from' a source that has more t

[2021-12-16 18:37] jeffpaul commented on #826
@dkotter perhaps this is related to the changes in #811?

[2021-12-19 22:39] qazaqstan2025 opened #827 "[Security] Workflow build-docs.yml is using vulnerable action actions/checkout"
The workflow build-docs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-21 03:46] jeffpaul commented on #827
@qazaqstan2025 thanks for the heads up on this!  I'm noting for our team that there are a couple places that we'll want to look in updating things released to `actions/checkout@v1`: https://github.com/search?q=org%3A10up+%22actions%2Fcheckout%40v1%22&type=Code.  I'm pinging our Open Source Practice team (@10up/open-source-practice)so that one of them can look to craft PRs for each of the `actions/

[2021-12-22 20:59] dkotter commented on #821
Thanks for the report @LucyTurtle. I was not able to reproduce the issue myself but looking at the original error message you provided, I do think there's a scenario that could cause problems. Not sure if this is what you might have experienced but right now if you:

1. Distribute an item to a site
2. Then at some point delete that site
3. And then go back and try and delete the original item, you

[2021-12-22 21:10] dkotter commented on #825
@uttam-49 Thanks for the report. From a code perspective, building the list of available connections is the same for both the Push screen and the Pull screen besides one thing:

- For the Push screen, the current post type that you are on must be supported by the connection you want to Push to, or it won't show in the list.

For example, looking at your screenshot it appears you are editing a cust

[2021-12-22 21:56] LucyTurtle commented on #821
Hi there! This has got to be it! We are constantly adding and removing websites. So it makes sense!

[2021-12-22 23:13] dkotter commented on #826
@jmstew3 Thanks for the report. This is a direct result of the changes made in #811. We had a maximum limit set on the `per_page` argument to 100. WordPress itself enforces this behind the scenes for any REST endpoint that utilizes the `per_page` argument.

I've created a PR that addresses this by removing that limit and renaming that argument to get around the enforcing coming from WordPress core

[2021-12-23 15:22] #821 closed, assigned to dkotter

[2021-12-23 19:44] #827 closed

[2021-12-28 13:58] jmstew3 commented on #826
Awesome work. Thanks!

[2022-01-03 10:43] Aldr0n opened #832 "External connection configuration page loads endlessly after submitting external connection form"
Distributor external connection configuration page loads endlessly after submittung external connection form.

After submitting a new change in an external connection configuration or creating a new one, the site just loads endlessly (or rather really long) and throws a critial wordpress error at the end.

Help :(

[2022-01-05 02:36] jeffpaul commented on #832
@Aldr0n can you provide more details about your setup, possibly a Site Health export as well as your browser and version?

[2022-01-05 22:26] #825 closed, assigned to dkotter

[2022-01-10 08:38] mohitwp opened #833 "Test against WordPress 5.9"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.9 is released, we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test Distributor on WordPress 5.9
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [ ] if code

[2022-01-10 17:02] Aldr0n commented on #832
Hey there, sry for the late reply. I found out that the plugin "Snitch", which acts as a special firewall for api calls, blocks distributor communication. Even if no rules are configured. Hope that helps, and my issue is resolved.

Cheers!

[2022-01-17 13:29] iamdharmesh opened #834 "Invalid parameter(s): per_page for "Posts per page" more than 100 (pulled & skipped tab)"
### Describe the bug

As Described here (https://github.com/10up/distributor/pull/831#issuecomment-1000073401)  we can get more than 100 posts for `New` tab but it is not possible for the `skipped` and `pulled` tab to get more than 100 posts. As it is using WP core rest api endpoint which has a maximum limit of `100` for `per_page`. (please check the video on given comment link for more informatio

[2022-01-17 18:12] #826 closed, assigned to dkotter

[2022-01-17 18:54] #832 closed, assigned to jeffpaul

[2022-01-18 11:50] rony747 opened #835 "Does not work on elementor page"
### Describe the bug

Great plugin. But if i make a page using elementor the pages syncs but it is broken. is there any way to make it work with Elementor? thanksI

### Steps to Reproduce

Install elementor pagebuilder
create a page using elementor.

### Screenshots, screen recording, code snippet

_No response_

### Environment information

_No response_

### WordPress information

_No response_

[2022-01-26 05:02] jeffpaul commented on #835
Closing in favor of #348.

[2022-01-26 05:02] #835 closed, assigned to nobody

[2022-01-28 21:44] skorasaurus opened #837 "README install assumes use of WordPress <5.6 and use of application-passwords plugin"
### Is your enhancement related to a problem? Please describe.

I found the [installation instructions in the README](https://github.com/10up/distributor#set-up-external-connections-using-application-passwords) fairly confusing since I am using WordPress 5.8.x (Application Passwords has been integrated into core since 5.6). Even with the application-passwords plugin installed, the directions did n

[2022-02-01 21:58] jeffpaul opened #840 "Release version 1.6.8"
## Describe your question

This issue is for tracking changes for the 1.6.8 release.  Target release date: **2 February 2022**.

## Pre-release steps
~- #833~

## [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.8` for your changes.
- [x] Version bump: Bump the versi

[2022-02-02 20:59] #840 closed, assigned to jeffpaul

[2022-02-02 21:26] dkotter opened #844 "Fatal error when updating an item that has been distributed on WP 5.9"
### Describe the bug

On WordPress 5.9, I can Pull content and Push content, both from internal and external connections. But when trying to update an item (in this case a post) that has already been distributed, the save process fails and I get an error in the editor. This prevents me from making any updates to items that have been distributed, not to mention no updates will be syndicated (since

[2022-02-04 18:53] skorasaurus commented on #730
@jeffpaul

I made a pull request to address this - https://github.com/10up/distributor/pull/838

[2022-02-07 13:50] coenve commented on #775
If you are changing the way media is handled by Distributor. You should also take into account #765, by making sure media is not duplicated anymore.

[2022-02-08 08:54] romeowski commented on #822
Hi, sorry for late answer, it was a misconfiguration issue, thank you for support guys!

[2022-02-08 08:54] #822 closed, assigned to jeffpaul

[2022-02-08 09:05] romeowski opened #846 "Distributor with ACF file field distribution"
### Describe the bug

Hi, I've read the previous replies regarding this issue.
I need your help! I am trying to distribute a custom post type with a "file" type field inside from one external site to another. The distribution happens correctly except for the file which is not distributed, how can I fix this?

I also tried to install the add-on https://github.com/NovemBit/distributor-acf-addon in b

[2022-02-08 09:31] vlastaw opened #847 "Could not determine remote post id"
Attempt to push Post (not as draft) results in "Could not determine remote post id" error message, post is not pushed.

As we only use Distributor once in a couple of weeks, I don't know what changes on either end might have caused this (pushing worked before). Updated Distributor to 1.6.8 on both ends, error still present. Source WP is 5.8.2, target was 5.7.5 upgraded to 5.9 with no change to thi

[2022-02-09 18:45] jadamsbit opened #848 "No Connection"
### Describe your question

I have registered and installed the plugin to my main site and remote site and set up a application password and i am not able to get a connection on the main site to the remote site.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-11 21:13] dkotter commented on #847
@vlastaw Thanks for the report. In looking through our codebase, I only ever see that error message being used when pushing content to an external connection though you mention you're trying to pull? Can you verify that for me? And you mention the source and target sites. Are you trying to pull content from the target site into the source site? Or push content from the source site to the target si

[2022-02-11 22:14] vlastaw commented on #847
@dkotter First I wrote pull in my post, but edited that in minutes and now it's push for four days :) I am trying to PUSH a post from SOURCE site (the one I admin and am logged to) to a remote TARGET site. Thank you!

[2022-02-11 23:38] dkotter commented on #847
At a high level, here's what happens when an item is pushed to a remote site:

1. We make a GET request to the `types` endpoint (https://example.com/wp-json/wp/v2/types) to determine the correct REST API endpoint we need to use to create an item. We take the result of that request and we look for a matching post type and then within that, find the `_links` > `wp:items` > `href` item. This will be

[2022-02-11 23:41] vlastaw commented on #847
OK, will try and get back. Thank you very much!

[2022-02-14 12:23] mohitwp commented on #833
I have tested this plugin in WordPress 5.9 version and it is working fine.

WP version : 5.9
Plugin version : 1.6.8

cc @ankitguptaindia @jeffpaul

[2022-02-16 16:34] samjwilliams opened #852 "Feature request - variables"
It would be great to be able to add variables to my post content so that parts of the content could change depending on the site it is pushed to (without unlinking from the original post)

E.g.

A hyperlink on the parent site points to **parentsite.com/contact-us**

When distributed to the child site, it would become **childsite.com/contact-us**

[2022-02-17 15:38] #844 closed, assigned to dkotter

[2022-02-21 23:10] vlastaw commented on #847
Hallo Darin, unfortunately nothing regarding Distributor in Debug.log on neither server.

BUT! We found ONE post, which can be distributed. However, we are not able to replicate why (replication of any of its properties on another post did not lead to success).

What now? :-( Thank you.

[2022-02-22 02:59] jeffpaul commented on #848
@jadamsbit can you confirm the WordPress and Distributor versions in use, as well as any other active plugins and theme?  Are you getting any errors on the External Connections page?  I assume that by setting up External Connections that these are separate WordPress instances and not a multisite, correct?

[2022-02-22 13:42] jadamsbit commented on #848
@jeffpaul

FYI: I have been able to create a new site and connect it to the same remote site.

Wordpress Version: 5.9

Distributor Plugin version: 1.6.8

Yes, it is on two different Wordpress instances.

This is the error that I get on the external connection page.
"Unable to connect to site. The external site is private or not a WordPress site. (rest_api_uri_not_found)"

Theme: CityGov (Theme For

[2022-02-22 22:43] #833 closed, assigned to jeffpaul

[2022-02-23 04:51] jeffpaul commented on #848
@jadamsbit that error message makes it sound like the site you're trying to connect to either has a security plugin enabled that's blocking access to the REST API.  What happens if you attempt to browse to the site you're trying to connect to with "/wp-json"?

[2022-02-23 13:34] jadamsbit commented on #848
@jeffpaul if I go to that url on the site it works fine, it shows a json string. The following os a message to us from our hosting environment.

"We have monitored and reviewed the server NginX, Apache, and PHP error logs as well as the Apache transfer logs for both {main site} and {remote site} while attempting to connect the sites using the distributor plugin. We have determined that the 400 err

[2022-02-23 14:54] jeffpaul commented on #848
@jadamsbit is there an .htaccess or other limiting factor on those servers that might be blocking access?

[2022-02-23 15:16] jadamsbit commented on #848
@jeffpaul not that I have been able to find or the host been able to find.

[2022-02-24 18:56] #837 closed, assigned to nobody

[2022-02-25 17:30] jadamsbit commented on #848
@jeffpaul Where is the data for the plugin being stored. We have figured out that if you make a failed connection it will no longer try to re-authorized to make the connection again. This happens on a fresh install on the current host and other hosts.

[2022-02-25 17:31] jadamsbit commented on #848
@jeffpaul is there a way to completely wipe out the connection attempts?

[2022-02-25 17:38] Pitemedia commented on #848
Same problem here after update to the latest version.
My main site is also saying this: Your site is not using HTTPS or is a local environment. But it is a live server with SSL?

[2022-02-25 17:42] jadamsbit commented on #848
@jeffpaul can I get the older version to see if that will fix my issue?

[2022-02-25 18:23] jadamsbit commented on #848
@jeffpaul @Pitemedia I tried using 1.6.4 and still the same issue.

[2022-02-28 06:50] ybalkind opened #855 "DOCS: Code for hiding canonical link"
### Describe your question

Hi

I've checked previous issues and although I've seen reference to the code for hiding canonical links, I'd appreciate if it could please be spelt out for a non-developer exactly what code to insert (I'm using a code snippets plugin to insert code to my site).

In case its relevant, the reason I need to hide canonical links is that my main site is password protected.

[2022-02-28 08:21] ybalkind opened #856 "How does the plugin assign an author"
### Describe your question

Your documentation says

2 questions about authors:

Questions 1) where does the remote site reference the original site as the author? I dont see this on my remote site, maybe my theme is hiding it?

Question 2) In terms of the actual author assigned to the post in the author field, am I right to say that the main site administrator of the remote site will always be as