[2016-09-30 18:06] tlovett1 opened #1 "WordPress External Connection test suite"
This includes:
- [ ] Push
- [ ] Pull
- [ ] Connection checking
- [ ] Remote get

[2016-09-30 18:07] tlovett1 opened #2 "Network Site Connections test suite"
There should be separate tests files for both NetworkSiteConnections.php and InternalConnections/NetworkSiteConnection.php.

For NetworkSiteConnection.php, we will need to test:
- [ ] Push
- [ ] Pull
- [ ] Remote get

[2016-09-30 18:08] tlovett1 opened #3 "Authentication test suite"
This one will be pretty simple.

[2016-09-30 18:08] tlovett1 opened #4 "Mapping test suite"
This one will be simple.

[2016-09-30 18:11] tlovett1 opened #5 "Push/Pull UI testing suite"
These will be tricky. There might not be much we can do. However, there is a ton of logic in these files around display of connections. It would be awesome to test some of it.

[2016-10-19 02:58] tlovett1 opened #7 "Document sync log limits"
Sync logging is stored in options/post meta. This will pose problems on high usage websites. We need to document.

[2016-10-19 02:59] tlovett1 opened #8 "Support forking and pushing meta to external connections"
We need to bundle meta endpoints into the plugin to offer full functionality on external connections.

[2016-10-19 03:00] tlovett1 opened #9 "Push - Successful sync should show an "edit/view" link next to the syndicated post"

[2016-10-19 03:00] tlovett1 opened #10 "Proper notifications on external connection bulk actions"

[2016-10-19 04:23] #9 closed, assigned to nobody

[2016-10-31 16:43] #4 closed, assigned to thaicloud

[2016-10-31 20:38] tlovett1 opened #14 "Selected connection highlighting"
The highlight that appears on selected connections makes me think those items can be clicked to un-highlight them (or remove them) from the list on the right. I recommend the item on the left is removed once it's selected. For short lists we could use a simple toggle, but that interaction breaks down once we have a longer, filterable result set. For extra credit, have a very quick (200-300ms) anim

[2016-10-31 20:38] tlovett1 opened #15 "Simplified one-connection push UI"
If there's only one site available to push content to, a simplified user interface will reduce clicks and cognitive overhead.
Mockup suggestion for one site: https://cl.ly/2o1F3r0v292i
Current screenshot: https://cl.ly/412a0h022N04

[2016-11-01 21:06] zanematthew opened #16 "Update gitignore"
Can you add the `.DS_Store` hidden mac file to the `.gitignore`.

[2016-11-02 18:20] #16 closed, assigned to nobody

[2017-01-18 14:55] tlovett1 opened #22 "Show which posts are syndicated in posts table"

[2017-01-20 18:30] aaronbrazell opened #24 "Make posts that have been pulled get appropriate treatment in Push UI to prevent duplicates"

[2017-01-25 17:41] aaronbrazell opened #26 "NetworkConnection pull method invalid first argument"
Logging this as an issue to be followed up on:

With this filter, `$post_arr` is actually the distributed post ID.

https://github.com/10up/distributor/blob/master/includes/classes/InternalConnections/NetworkSiteConnection.php#L114

[2017-02-10 04:44] #24 closed, assigned to nobody

[2017-12-02 16:25] #8 closed, assigned to nobody

[2017-12-02 16:25] #1 closed, assigned to thaicloud

[2017-12-02 16:25] #2 closed, assigned to thaicloud

[2017-12-02 16:25] #3 closed, assigned to thaicloud

[2017-12-02 16:26] #5 closed, assigned to thaicloud

[2017-12-02 16:26] #10 closed, assigned to nobody

[2017-12-02 16:27] #22 closed, assigned to nobody

[2017-12-02 16:27] #26 closed, assigned to nobody

[2017-12-06 17:57] lassegs opened #40 "Default view should be global recent posts list"
If the default behavior of the Pull Content view was showing me the latest posts on the multisite network, I could:

* get an overview of posting acitivity without leaving the plugin.
* avoid having to select an option from the drop down menu in most cases.

[2017-12-08 14:21] stevejburge opened #41 "Push unavailable"
Hey

I'm probably missing something simple, but my test connections always get this message:

I'm using the suggested /wp-json endpoint and an Administrator login

[2017-12-10 19:15] jakemgold opened #42 "Make it easier to denote a post as "distributed" on the front end"
Right now, I don't think there's any "easy" way (without figuring out the post meta) to show that a piece of content (post) has been syndicated / reposted / distributed on the front end, which I would think is a common use case on the front end.

I envision two parts to this (open to feedback).

(1) Create PHP function(s) to output this information. I'd imagine a "the_" type function which prints

[2017-12-10 19:17] jakemgold opened #43 "Update language / wording to be more consistent"
We use phrases like "Distribute" and "Syndicate" interchangeably through the UI; let's take a pass at making this consistent, leaning toward things like "Distribute" instead of "Syndicate" in the menu interface.

[2017-12-10 19:25] jakemgold opened #44 "Refine handling of hierarchical post types"
While hierarchical post types aren't the primary use case, there are plenty of conditions – from custom hierarchical post types, to staging pages, to generic about pages shared across sites – where this is useful. Right now, I don't think we "think" about this at all - it just ignores the hierarchy attribute.

Near term, I think we just need to refine the UX to make it _obvious_ that we're not goi

[2017-12-10 19:27] jakemgold opened #45 "Improve warning messages when a remote connection cannot be established"
Setting up remote connections is causing some confusion with early testers; I think our warning messages might be a bit too vague.

Can we be a bit more specific in catching and explaining common failure use cases? Like the REST API not being available, not finding a secure connection (even linking to a recommended auth plugin), Distributor not being detected on the other end... ?

[2017-12-11 20:33] tomjn opened #46 "OAuth2 Authentication"
For the plugin to work on WP.com it'll need to use the OAuth2 Authentication .com uses, the basic Auth mechanism won't work/pass review

[2017-12-11 20:35] tomjn opened #47 ".innerHTML = ..."
I spotted a large number of these cases where HTML strings are turned into DOM nodes, either passed straight from a variable, or assembled with strings.

For example in `assets/js/src/admin-external-connection.js`:

[code]

These should be using DOM node construction. I can see that in the above example, the bad connection may just be a language string, but in that scenario a text node should be c

[2017-12-11 20:55] tomjn opened #48 "Expensive `ExternalConnection::remote_get` parameters"
This function tries to retrieve posts and figures out the query parameters, but some of the parameters in these classes are quite expensive and not server/scale friendly at all:

 - `post__not_in`
 - `meta_query`

[2017-12-11 20:57] tomjn opened #49 "`is_vip` checks assume .com"
The `is_vip` checks work well for WordPress.com VIP sites, but they unfairly remove features from VIP Go. E..g the network connection with `switch_blog` could pass review on a VIP Go site, but would never be available

Similarly some checks assume too much, e.g.

[code]

Here the conditional should be `if ( function_exists( 'vip_safe_wp_remote_get' ) ) {` which would make the code more flexible an

[2017-12-13 08:43] FrankM1 opened #50 "Unusable on multisite"
The plugin seems to have a few issues on multisite. My use case is I would like to have one blog in the multisite and have it shared across all the others. A total of about 30 sites.

1. Loading the pull page is very very slow.
2. Not all site the sites on the network are listed in the dropdown.
3. There is no distinction between post types when content is listed.

[2017-12-13 09:56] demetris opened #51 "Add close button to admin bar dropdown"
Took me a few moments to find out how to close the admin bar dropdown. Maybe a close button could be a useful addition.

Cheers!

[2017-12-13 13:25] #47 closed, assigned to nobody

[2017-12-13 15:32] demetris opened #52 "Notice and fatal error connecting to site that requires login (Force Login plugin)"
[code]

The above is displayed on the Pull Content screen when connecting to a site that uses the [Force Login](https://github.com/kevinvess/wp-force-login) plugin.

When the Force Login plugin is not active everything in Distributor works as expected .

I use the recommended authentication method (Application Passwords).

Connecting and posting to the site using cURL or Python Requests seems to w

[2017-12-13 16:16] tomjn opened #53 ".com VIP Image sideloading"
Distributor bundles extra fields when creating posts then uses that to side load images.

However on .com VIP this means broken images as the machines serving requests do not have write access. The result would be broken 404 images in distributor posts

We do have the core media endpoints that could be used, if distributor pre-populated the attachments prior to the request that would sidestep the

[2017-12-14 04:00] #49 closed, assigned to nobody

[2017-12-14 19:05] #41 closed, assigned to nobody

[2017-12-21 00:12] scottbuscemi opened #54 "Plugin not creating/managing ads.txt file at all"
I installed the plugin on a client site hosted on WP Engine and the plugin's core functionality of creating or managing the ads.txt file isn't working.

An ads.txt file already exists for the website. Loading up the plugin for the first time shows a blank textbox. Entering something in will save the changes on the page, but the ads.txt file won't change.

Deleting the ads.txt file on the server do

[2017-12-21 04:47] #54 closed, assigned to nobody

[2017-12-21 20:12] mrjarbenne opened #55 "Hyperlink Distributor Chainlink back to Source"
Could the chainlink icon in the All Posts admin space link back to the original post, rather than having to go into edit the post to see the source link in the admin notice?

![2017-12-21_15-09-15](https://user-images.githubusercontent.com/480667/34273173-3f439a48-e661-11e7-9e13-837b861ce58e.png)

[2018-01-04 00:33] #53 closed, assigned to nobody

[2018-01-11 19:42] arippberger opened #56 ""As draft" needs font color CSS styling"
`.distributor-push-wrapper .as-draft` should have a color set (white?). Currently it inherits a dark gray from the twentyseventeen theme and is not visible.

![screen shot 2018-01-11 at 1 39 30 pm](https://user-images.githubusercontent.com/1673133/34843782-1a91a652-f6d5-11e7-8ab3-785db245f1aa.png)

[2018-01-30 15:38] cliffseal opened #59 "Pulls Generated Excerpt as Custom Excerpt"
I pulled a piece of content that did not have a custom excerpt defined, but it takes a generated excerpt and saves it as an explicit custom excerpt.

From the site doing the pulling:
![screen shot 2018-01-30 at 10 37 17 am](https://user-images.githubusercontent.com/527488/35575139-a687ad72-05a9-11e8-8814-4d7178e055c0.png)

[2018-02-14 18:38] #46 closed, assigned to adamsilverstein

[2018-02-15 04:50] tlovett1 opened #61 "External Pull - Pulled post not marked as distributed"
Title says it all.

[2018-02-18 11:43] pickrau opened #63 "Distributor link in topbar not working"
Hey guys, I'm testing this on both my beta site and the site I'm trying to link it to, and neither are firing the script when you click the "Distributor" button in the top bar of the post. I've tested with plugins all off and on, and with caching clear, and nothing's showing up.

Wordpress version is 4.9.4. Tested on both HTTP and HTTPS, with current version. Any thoughts?

[2018-02-21 18:38] adamsilverstein opened #64 "Distributor should work for (public) custom post types"
This issue was originally reported by @coenve who also provided the cod used to correct the issue in their testing. subscriptions may need attention as well.

 I was missing support for custom post types. After a couple of hours of hacking and changing your code, I just got it finished and working.

You probably tried to create it on an earlier date, but if you use post_type instead of type as an

[2018-02-22 10:21] joshuaabenazer opened #65 "Should use current_time( 'timestamp' ) instead of time() to store dt_syndicate_time meta"
We should be using `current_time( 'timestamp' )` instead of `time()` to store `dt_syndicate_time` meta since there are instances where we can encounter a timezone difference in the published and synced time -> https://cl.ly/15022l2G2O2i

[2018-02-23 22:03] robbiet480 opened #68 "Distributing posts with correct author"
We have a pretty big network of sites. All of them need to show proper author information. I see that as of right now Distributor will set the distributed posts author to the authenticated users ID. I'd like to change this (and am willing to do the work myself). Here's two possible solutions:

1. The simplest method is to just pass through the user ID of the original post author and leave it up to

[2018-02-23 22:15] robbiet480 opened #69 "Implementing alternate long term authentication solutions"
Once some form of #68 gets implemented it won't make much sense to continue using a username/password combination for authentication. Even without #68 being implemented, username and password authentication usually is not the most secure or stable way to authenticate.

I'd like to gather feedback about implementing some form of two way handshaking between Distributor instances to allow for easier

[2018-02-25 15:53] #55 closed, assigned to nobody

[2018-02-27 18:39] adamsilverstein opened #70 "Cross Data Population: Missing name under 'Screen Options'"
**Problem**
The Distributor plugin is missing it's name in the Screen Options area.

**Solution**
Give the plugin a name in the Screen Options area.

![](https://cl.ly/452X3v363J2P/download/[2ea7890b43c4ef4144a01ecc9891a6bd]_Image%202018-02-27%20at%201.38.29%20PM.png)

[2018-02-28 00:11] timnolte opened #72 "Support Updates via GitHub Updater"
It would be nice if current plugin updates would be supported via the [GitHub Updater plugin](https://github.com/afragen/github-updater/wiki) one installed. I can submit a PR for this as it looks pretty simple to support.

[2018-02-28 00:53] tlovett1 opened #73 "External Connection Authentication Method"
Right now we are validating signatures within the API endpoint. This it the wrong filter to be returning a 403. We should be checking signatures on the `rest_authentication_errors` filter.

[2018-02-28 02:03] #63 closed, assigned to nobody

[2018-02-28 03:29] timnolte opened #74 "Only Usable via Site Admin and No Capabilities to Assign to Roles"
I'm the only user of multiple sites, actually a mutisite instance, and even I don't do my normal day-to-day edits as an Administrator. My normal account is an Editor. This plugin should have a the ability to set which roles can pull and publish content independently of the plugin configuration settings. As it is I don't see any capabilities define to even assign to existing roles. Perhaps that wou

[2018-02-28 05:29] dleeward opened #76 "Automated runs would be a big help"
Being able to trigger a syndication for a subset of posts via a cron would be very helpful. The option of a time of day schedule or a recurring elapsed time would be ideal.

The interface should allow a query to be built using any combination of post data, taxonomies or metadata plus options like search, since, record limit, image limit, run time limit (to avoid timeouts), and rate limiting. Users

[2018-03-03 02:12] pickrau opened #77 "Featured images don't always share"
Hey guys, appreciate the update without the need to compile. I've got it working, but now my featured images sometimes move across and sometimes don't. Regardless of the outcome, Distributor reports back with "There was an issue distributing the post", and there's usually missing custom fields. Thoughts?

Great start, though. Much more reliable than any of the other syndication plugins I've seen a

[2018-03-05 10:47] coenve opened #78 "Feature Request: Filter to add meta fields to synchronisation"
Hi Guys,

Is it possible to create a custom action/filter which allows us to add/edit meta fields of articles to the synchronisation?

The default action now is to synchronize all visible metafields, but not the ones that are invisible (starting with a _)

For example we us _yoast_wpseo_primary_category to create listings on our website and that meta field is by default not synchronized. Which I t

[2018-03-06 09:00] goranseric opened #79 "External connection on site with HTTP Auth"
Hi guys.

I am having trouble in establishing a valid connection with our staging sites.

All of them are behind Basic HTTP Auth, and it looks like at the moment there is no way around it except removing it and using the recommend Application Passwords plugin.

Is this authorization type permanent solution? It could be an issue for any site that is behind Basic HTTP Auth for any reason.

[2018-03-08 08:05] joshuaabenazer opened #80 "Add "type": "wordpress-plugin", to the composer.json file"
Wanted to see if there are any reasons we would not like to specify that in the composer.json.
This makes it easy for other projects using the plugin as a dependency in their composer.json file. Currently it goes to the vendor directory by default.

[2018-03-08 14:14] goranseric opened #81 "ACF content not distributed"
I am using Distributor on a complex multisite installation serving landing page builder developed using ACF as the foundation.

We are handling images on sites via Delicious Brains WP Offload S3 plugin and when distributing a page, it copies all fields correctly except the image fields (possibly related to https://github.com/10up/distributor/issues/77). The physical image is copied over to the des

[2018-03-09 14:32] #78 closed, assigned to nobody

[2018-03-09 18:53] #80 closed, assigned to joshuaabenazer, tlovett1

[2018-03-09 19:16] #72 closed, assigned to nobody

[2018-03-09 19:18] tlovett1 opened #83 "Site B pushes post 1 to Site A. Post 1 shows in "New" pull list in Site A."
We need to address this scenario.

[2018-03-09 19:29] #56 closed, assigned to nobody

[2018-03-09 19:32] #48 closed, assigned to nobody

[2018-03-13 23:17] #50 closed, assigned to nobody

[2018-03-13 23:22] #70 closed, assigned to adamsilverstein

[2018-03-14 03:55] #64 closed, assigned to nobody

[2018-03-14 18:10] #65 closed, assigned to adamsilverstein

[2018-03-14 19:28] #59 closed, assigned to nobody

[2018-03-15 01:43] #61 closed, assigned to nobody

[2018-03-19 16:44] jasonbahl opened #85 "PHP warning: Missing argument for format_get_args()"
We've got Distributor active on a project, and I'm getting a lot of PHP warnings.

I'll submit a PR to address.

[2018-03-20 02:25] #85 closed, assigned to nobody

[2018-03-23 17:22] gregbarbosa opened #89 "Unchecking 'Content Type' under columns, doesn't hide Content Type column."
**Problem**
The Screen Options Content Type column function doesn't work as expected with Distributor.

**Steps to Reproduce**
1. Under WordPress, head to Distributor > _Pull Content_
2. Select _Screen Options_
3. Under columns, uncheck _Content Type_
* Content Type column disappears
4. Select _Apply_
* Content Type column reappears

![screen shot 2018-03-23 at 1 14 03 pm](https://user-images.gith

[2018-03-29 20:38] gregbarbosa opened #90 "Implement a hoverIntent to improve admin bar UX"
**Problem**
Whenever authors switch tabs, they frequently hover over the Distributor menu in the admin bar. This causes a jarring flash on the screen when the Distributor's menu area appears.

**Solution**
After taking to @adamsilverstein, adding a _hoverIntent_ might help here. If not that, at least replacing the behavior with a click-to-invoke action.

[2018-03-30 17:27] #90 closed, assigned to adamsilverstein

[2018-04-05 13:54] #51 closed, assigned to nobody

[2018-04-05 14:00] adamsilverstein opened #93 "When deleting a distributed post, it should become available for redistribution to that site again."
## Description

When deleting a distributed post, it should become available for redistribution to that site again. Currently that does not appear to be the case.

I have distributed my post 'Hello World' from site A to site B. I delete the post from site B. When I view the original post on site A and open the Distributor menu, the connection to site B is disabled - site A won't let me distribute

[2018-04-05 17:47] barryceelen opened #94 "Make ‘dt_ext_connection’ post type not public?"
The `dt_ext_connection` post type is registered as public. If there is no particular reason to do so, let’s set that to `false` to prevent plugins that act on public post types (eg. Yoast SEO)  from adding meta boxes to the connection edit screen.

[2018-04-05 19:51] gregbarbosa opened #95 "Unlinking distributed posts breaks image galleries"
### Description
We'll often use image galleries inside of our posts on our sites. When these posts are distributed, they may be unlinked on the destination site. The resulting destination post will break all galleries.

### Steps to Reproduce

1. Create a post on site A
2. Distribute post to site B as a draft
3. Head to draft on site B
4. Unlink distributed post from originating site (Site A)

###

[2018-04-09 15:35] timnolte opened #97 "Need Option To Distribute Post Publish Date/Time"
The scenario that I have is I am posting family activities to my personal blog and distributing to a family blog. I'd like the family blog to reflect the date/time of when it happened instead of when I got around to pushing the post to that site. I guess having automatic pushes to other sites could sort of resolve this since the push would happen closer to the time of the initial post.

[2018-04-10 22:48] #73 closed, assigned to adamsilverstein

[2018-04-10 22:51] #94 closed, assigned to nobody

[2018-04-10 23:01] #89 closed, assigned to nobody

[2018-04-11 08:37] goranseric opened #98 "Distributing array of posts"
As I am testing the distributor on a complex multisite installation serving landing page builder developed using ACF as the foundation, most of the stuff I report are related to WP + ACF + Distributor combination.

One thing that would be useful is the ability for an array of posts to be distributed. The use case is when you are distributing a page or post that have ACF Relationship or Post object

[2018-04-12 13:31] adamsilverstein opened #100 "Front end "push" action Ajax requests fail when front end domain doesn't match back end domain"
When using the Distributor Admin Bar dropdown menu on the front end of a website to distribute content, the browser sends an ajax request the the server to complete the request. On platforms such as WordPress VIP where the front end domain of the website does not match the back end (wp-admin) domain of the website, these requests fail.

To get these requests working, the client needs to send an ad

[2018-04-12 13:40] #100 closed, assigned to nobody

[2018-04-16 20:48] meredevelopment opened #103 "CPT Support seems built in, but no posts available."
**Problem:**
I'm testing this plugin between two sites with a Custom Post Type called 'Glossary'.
I am unable to push or pull any of the posts in these CPTs in either direction.

When editing a Glossary post and hovering over the 'Distributor' toolbar item the message "No connections available for distribution" is displayed:
![image](https://user-images.githubusercontent.com/3437528/38833904-b72da

[2018-04-16 21:22] bengreeley opened #105 "Create Missing Terms Filter"
If terms are missing on a syndicated site, they are created by default. Some use cases may require to only use terms that already exist on the site a post is being syndicated to.

Pull request: https://github.com/10up/distributor/pull/104

[2018-04-17 19:30] #105 closed, assigned to nobody

[2018-04-23 15:08] meredevelopment opened #106 "Bulk 'Skip' in Pull Content results in WSOD."
When selecting more than one post in the Pull Content screen, and attempting to 'Skip' > Apply in bulk, a White screen of death appears with the following url:

http://domain.com/wp-admin/admin.php?connection_type=external&connection_id=71&page=pull&s=&_wpnonce=c22b53cca2&_wp_http_referer=%2Fwp-admin%2Fadmin.php%3Fpage%3Dpull%26connection_type%3Dexternal%26connection_id%3D71%26status%3Dnew&action=

[2018-04-23 19:43] barryceelen opened #107 "Respect syndicated post post_status"
When updating the original post, the syndicated post will automatically be published.

https://github.com/10up/distributor/blob/master/includes/classes/InternalConnections/NetworkSiteConnection.php#L47

[2018-04-23 20:07] ryanwelcher opened #108 "Gutenberg block to display Distributor details"
Similar to #42, we should introduce a block to allow users to display the distributed details for a post.

[2018-04-24 17:42] jasonbahl opened #109 "Test how content is distributed with Gutenberg"
It would be good to look at how content is distributed:

- From a Gutenberg enabled site to a non-Gutenberg site
- From a non-Gutenberg site to a Gutenberg site
- From a Gutenberg site with no custom blocks to a Gutenberg Site with a lot of custom blocks
- From a Gutenberg site with lots of custom blocks to a Gutenberg site with no custom blocks

----

I would test with variations of whitelisting

[2018-04-30 13:07] adamsilverstein opened #112 "Improve/verify handling of post status changes"
### Updating post status

What happens when a post that has been distributed is published, or changed from published to draft (or moved to the trash)

Opening this issue to discuss the expected behavior when a post that has been distributed has it's post status changed.

Related: https://github.com/10up/distributor/issues/107 & https://github.com/10up/distributor/pull/110 & https://github.com/10up

[2018-05-01 15:21] meredevelopment opened #113 "Modifying pull query with the `dt_remote_get_query_args` filter?"
Hoping for a "yes" / "no" answer to help me use/test Distributor.

With the absence of sorting or filtering in the 'Pull Content' view, I'm looking to limit the categories / taxonomies that can be pulled. Having searched through the code, it looks to me like [`dt_remote_get_query_args`](https://github.com/10up/distributor/blob/master/includes/classes/ExternalConnections/WordPressExternalConnection

[2018-05-02 13:27] #113 closed, assigned to nobody

[2018-05-02 15:27] PaddyWhacks opened #114 "Author post shows 0 connections, but destination site shows that it is still connected."
Hey Ya

When ever I distribute a post, the destination site shows that the post is connected, but the author's site shows that there are 0 connections. Not too sure what has caused this to happen. Naturally this also prevents me from being able to update the post remotely ect..

Wish I could be more helpful in pinpointing the issue or allowing someone to replicate the issue... Happy to have a call

[2018-05-02 15:43] PaddyWhacks opened #115 "Show View link in Push menu for external connections"
Would be super useful just to click a "View Post" link right from the distributor interface. See my super rough mockup attached.

![untitled-2](https://user-images.githubusercontent.com/9625104/39533709-1033630a-4e30-11e8-8d5e-bba80c10bd15.png)

[2018-05-02 16:09] PaddyWhacks opened #116 "Suggestion: Success / Failure notification in Push UI"
I have noticed that the notification telling you if your post has distributed only shows in the distributor window. I would suggest having some kind of small pop-up bar to make it more apparent when everything has distributed or if there is an issue that needs to be rectified.

[2018-05-03 00:25] barryceelen opened #117 "Add filter to get_available_authorized_sites()"
Adding a filter to the `NetworkSiteConnection::get_authorized_sites()` method would be useful to be able to exclude sites from being available for distributing to and from.

(The function performs a `wp_remote_post()` request to each site to see if the user can edit posts on that particular site. It might be useful to (also) add a filter before that happens.)

[2018-05-04 05:02] #106 closed, assigned to nobody

[2018-05-04 17:19] #107 closed, assigned to nobody

[2018-05-07 10:51] barryceelen opened #121 "Process pull ui import via ajax"
An import via the pull list screen may lead to timeouts when importing lots of posts, especially with attachments. Importing each post separately via an ajax call would help mitigate that (and open the door for better status feedback to the user).

[2018-05-07 18:34] barryceelen opened #123 "Pass along identical arguments in dt_push_post actions"
The `dt_push_post` action can be fired by NetworkSiteConnection and WordPressExternalConnection but they do not pass along identical or the same number of arguments:

- NetworkSiteConnection
`do_action( 'dt_push_post', $new_post, $post_id, $args, $this );`
- WordPressExternalConnection
`do_action( 'dt_push_post', $response, $post_body, $type_url, $post_id, $args, $this );`

This makes it impractic

[2018-05-14 07:55] dendeffe opened #126 "Pull only works in one direction"
Hi,

I have two sites that need to pull each others posts. It works in one direction.

On the other site, however, I can only pull right after the setup of the plugin (if I try it afterwards, I get an error).
If I do the pull, the post is added to 'Deleted posts'.

[2018-05-22 04:37] robbiet480 opened #128 "Documenting available filters and actions"
What are everyones thoughts on documenting filters and actions? I quickly threw the following lists together with grep as a starting point. Happy to write some docs, whether in Markdown files in the repo or the wiki. Or, proper WordPress documentation so we can hopefully generate HTML off the code eventually?

## Filters
`apply_filters( 'distributable_post_types', array_diff( $post_types, [ 'dt_ex

[2018-05-23 22:13] robbiet480 opened #131 "Integration with other plugins"
Recently, i've added support for Co-Authors Plus to Distributor by modifying the outgoing body of a push and associating co-authors on the receiving side, creating guest authors as needed.

I'd like to submit this work for inclusion in Distributor but am unsure of 10up's thoughts around supporting external plugins like CAP. There already is support for certain other plugins, mostly via hooks (the

[2018-05-29 14:49] PaddyWhacks opened #135 "Suggestion: Choose site that has canonical URL"
Sometimes we have clients where we will be posting their own original content from our master blog. Would be great to have a radio button or something where you can choose which of the destination blogs receive the canonical URL.

[2018-06-21 09:17] meredevelopment opened #138 "Improve documentation on Post Meta and other Developer documentation updates"
Hi, The readme explains that "_Distributor does not "bring along" the referenced content or update references for arbtirary post meta_" and that "_This can be addressed on a case by case basis by extending the plugin_".

As this is so common it would be really useful to have a handful of examples for developers. Issue #81 gives a specific example of one use-case I've not found a fix to yet. Is any

[2018-06-22 13:42] #135 closed, assigned to nobody

[2018-06-25 12:57] lkraav opened #139 "`untrailingslashit( $this->base_url )` might not work for subdirectory installs?"
Hi, first time user here.

It appears I cannot get an external connection set up to `https://<domain.com>/<subdirectory>/`

We have a trailing slash enforcer redirect in place at webserver level, this seems to cause `WordPressExternalConnection::check_connections()` to not succeed.

Can Distributor work with a subdirectory base url without `untrailingslashit()`?

Admin connection set up UI is also

[2018-06-25 13:26] #139 closed, assigned to nobody

[2018-06-26 14:33] dkotter opened #140 "Gutenberg Alert Message Not Showing"
I was testing out Gutenberg support in Distributor and when distributing posts from one site to another within a multisite (so not using external connections), pushing from Gutenberg to the Classic Editor and vice versa, I don't get the alert showing on distributed posts, that tells me this post was distributed and here's how you unlink.

The proper CSS is loading, so the screen is all greyed out

[2018-06-26 15:52] dkotter opened #141 "Gutenberg: Extra Refresh to Push Content In Gutenberg"
By default, we only allow published content to be Distributed. In the Classic Editor, when you publish an item, the page refreshes and then the admin menu item is added by Distributor, which then allows us to push that item to other connections.

In Gutenberg, there are no page refreshes, so if you publish an item, the item is published but the page doesn't refresh, so the custom menu item is neve

[2018-06-26 20:46] adamsilverstein opened #143 "Preserve blocks when distributing posts created in Gutenberg to site with Gutenberg enabled"
### Preserving supported blocks
When distributing content from Site A to Site B that was created in Gutenberg (and where site B has Gutenberg enabled), we would like to be able to fork the distributed post on Site B and have its blocks editable.

### Remove the_content filtering that renders Gutenberg blocks
Removing this filter when distributing Gutenberg content will ensure raw blocks are distri

[2018-06-26 20:47] adamsilverstein commented on #143
* add block A not on site B caveat to the readme

[2018-06-26 22:17] dkotter commented on #140
Yep, this works now. Closing this out.

[2018-06-26 22:17] #140 closed

[2018-06-27 15:16] sillybean commented on #117
I had this same issue. I'll do the PR.

[2018-06-28 19:57] adamsilverstein commented on #143
I'm going to work on this issue.

[2018-07-02 21:55] sillybean commented on #44
This is an issue when trying to integrate Distributor with Pressbooks, which organizes book chapters into parts using a post parent/child relationship. The distributed chapters end up orphaned, so they never appear in the book's table of contents.

It would help tremendously to add dt_original_post_parent to the post meta. From there, I can use various hooks to check whether there's a distributed

[2018-07-02 23:14] sillybean opened #146 "Pulled post in internal network retains original post_parent ID"
When pushing a post from an internal connection, the post array is explicitly defined, and the post_parent is not included. (See @jakemgold in #44.) But when pulling, the entire original post array is copied as-is:

`$post_props      = get_object_vars( $post );

/* ... */

foreach ( $post_props as $key => $value ) {
				$post_array[ $key ] = $value;
			}
`

This results in the external copies havi

[2018-07-02 23:33] sillybean commented on #93
This is only partially fixed for internal connections. Site B does show up again in the list of available connections to push from the Site A edit screen. However, on Site B, the trashed post remains in the Pulled list, with "Post deleted." in the date column, and the post isn't available to pull again.

[2018-07-03 12:51] adamsilverstein commented on #93
Thanks for the feedback @sillybean, good point. We will investigate and work on fixing this... also pull requests are welcome!

[2018-07-03 16:08] barryceelen commented on #93
What happens is that when a post is deleted its ID is still present in the `dt_sync_log..` site setting. The IDs on this list are excluded from the list of posts being made available in the pull screen.

We can:

- Keep it that way but ignore deleted posts from the exclusions list (it will then still show up in the 'pulled' list being marked as deleted
- Remove the post from the `dt_sync_log..` li

[2018-07-03 16:12] adamsilverstein commented on #93
Also sounds good to me.

Awesome, thank you!

[2018-07-03 17:41] sillybean commented on #44
[Sample plugin to preserve parent/child relationships](https://gist.github.com/sillybean/0dd7f00a6ef686b938f7cf652e9746d5)

(the first two functions deal with Pressbooks CPTs in particular)

[2018-07-04 08:52] barryceelen commented on #93
Issue #83 is related to this issue, just the other way 'round. I've created a pull request #151 that tries to address both of these issues.

**Todo:** Implement fix for this issue for external connections.

[2018-07-04 12:59] barryceelen opened #152 "Replace image URLs in post content"
Images in the post content refer to the original image, even when the images attached to the post are distributed with the post. This would be a nice feature (and could use mentioning in the 'caveats' section in the readme).

[2018-07-05 19:28] adamsilverstein opened #154 "Add Contributing.md (and other default files)?"
Let's document our workflow and release process!

[2018-07-05 19:29] adamsilverstein commented on #154
possible sample - https://github.com/10up/ads-txt/blob/develop/CONTRIBUTING.md

[2018-07-06 14:35] barryceelen opened #156 "Unify distributed date related post data"
The post date related data is removed from the post array in [external connection pull function](https://github.com/10up/distributor/blob/master/includes/classes/ExternalConnections/WordPressExternalConnection.php#L319) before being distributed, but not in the[ internal connection pull](https://github.com/10up/distributor/blob/master/includes/classes/InternalConnections/NetworkSiteConnection.php#L

[2018-07-06 15:14] #143 closed

[2018-07-06 15:15] #146 closed

[2018-07-06 15:18] sillybean commented on #154
Thank you! This is super helpful.

[2018-07-06 20:54] #154 closed

[2018-07-09 08:15] mitchmusarra opened #160 "Updating (original) distributed page gives 500 error "NetworkSiteConnection::__construct() must be an instance of WP_Site, null given""
This 500 error occurs when updating a distributed page over wp multi-site with visual composer elements used.

Updating regular (original) distributed pages (no VC elements or just plain text) does not produce an error.

[code]

[2018-07-10 20:55] helen commented on #128
Going to close this out since we have the hook documentation now, and we can open a separate issue to discuss how to surface that on a non-code level (parsing, wiki, general docs, etc.).

[2018-07-10 20:55] #128 closed

[2018-07-13 17:18] robbiet480 commented on #69
Thoughts on [IndieAuth](https://wordpress.org/plugins/indieauth/)? The creator just wrote a really nice explainer post about it [here](https://aaronparecki.com/2018/07/07/7/oauth-for-the-open-web).

[2018-07-13 19:01] helen opened #161 "Option to skip distributing attached media"
Attachments are frequently a point of failure in terms of time outs and in many situations don't need to be distributed because the original source uses third-party hosting for media or can continue to serve as the canonical source for media. There are also situations where it's not appropriate for the media to be copied elsewhere. There should be a way to skip distributing media, both in terms of

[2018-07-13 19:13] barryceelen commented on #161
For people looking to prevent or manipulate the distribution of images: the `dt_push_post_media` [filter](https://github.com/10up/distributor/blob/master/includes/classes/InternalConnections/NetworkSiteConnection.php#L125) allows you to disable or replace the handling of images for internal connections.

It would be great to add something similar to [prepare_media()](https://github.com/10up/distri

[2018-07-16 23:32] helen opened #164 "External connection verification says available when it's not really"
When setting up an external connection, the endpoint being checked (types) is not the same as what's used for pulling content (posts with edit context). When the latter doesn't work correctly it leads to being told that the endpoint is okay but when you go to pull content it errors out, which is confusing. I think the connection verification should actually use a privileged context to match, or el

[2018-07-19 20:57] rmarscher opened #165 "After pulling an internal post from one site, it should still be available to pull from other sites"
It looks like the `dt_sync_log_*` site meta/option has a mapping of original post IDs to the post ID it has been distributed to. But it doesn't track which site it was distributed to.

Let's say Site A is the source for the post. We go to Site B and pull in that post. If we go to Site C, the post shows as already pulled and shows Post Deleted if the same post ID doesn't exist in Site C.

It seems

[2018-07-19 20:57] rmarscher commented on #165
I should add that the current workaround to this is to instead push each post to all of the other sites you want it on rather than pulling.

[2018-07-19 21:23] rmarscher opened #166 "The current internal connection is not displayed as selected in the pull content dashboard dropdown"
It has to do with a conditional statement in pull-ui.php checking if the current connection is an internal connection or not. I will submit a pull request shortly.

[2018-07-23 22:09] rmarscher opened #168 "Serialized array values in post meta are broken when distributing to internal connections"
The `\Distributor\Utils\prepare_meta()` function is used to put the post's meta into the `$meta` var. It uses the WP core function `maybe_unserialize()` to set the values to the unserialized version.

`\Distributor\Utils\set_meta()` is used to set the meta on the new post. However, when it encounters an array for the value, it loops through the array adding post meta with the same key for each val

[2018-07-25 21:36] #117 closed

[2018-07-27 17:45] tlovett1 commented on #165
@rmarscher thanks for the report. I created a PR in #170. Let me know what you think.

[2018-07-28 03:25] #77 closed, assigned to nobody

[2018-07-28 03:34] tlovett1 opened #171 "Push UI after failure to distribute"
When a post fails to distribute in the push UI, it doesn't remove itself from the "push" column above the "Distribute" button.

[2018-07-28 03:49] tlovett1 opened #173 "For external CPT support show_in_rest must be set to true for CPT."
For a CPT to work with an external connection `show_in_rest` must be set to true for that post type.

Fixes #103

[2018-07-28 03:49] tlovett1 commented on #103
Hey! You need to set `show_in_rest` to true for the CPT being registered.

[2018-07-28 03:50] tlovett1 commented on #121
Thanks Barry!

[2018-07-28 03:52] tlovett1 commented on #112
@adamsilverstein did #159 solve this?

[2018-07-28 03:52] tlovett1 commented on #123
Mind creating a PR?

[2018-07-30 16:19] tlovett1 opened #174 "Support pulling more than one post type from external connections."
External connection pull screen only shows the "post" post type.

[2018-07-30 18:52] barryceelen opened #175 "Add checks to see if variable is not a WP_Error"
The post id is used in [subscriptions.php](https://github.com/10up/distributor/blob/master/includes/subscriptions.php#L108) and [ExternalConnection.php](https://github.com/10up/distributor/blob/master/includes/classes/ExternalConnection.php#L76) before checking if it is a `WP_Error`.

[2018-07-30 20:52] rmarscher commented on #165
@tlovett1 Thanks. That PR looks like a perfect approach to me. :shipit:

[2018-07-30 20:59] rmarscher commented on #168
@tlovett1 Sorry for the slow response. I think not unserializing would work. Maybe @adamsilverstein can comment if there was a problem that was fixed by adding the use of maybe_unserialize and if changing it back to not unserialize will cause other issues.
 https://github.com/10up/distributor/commit/bebfba043e5e9fef83fc0f7b9b556ff07873bc1f

[2018-07-30 21:02] rmarscher commented on #168
Oops... I read the "blame" logs wrong there. Sorry about the mention @adamsilverstein  The maybe_unserialize was in place earlier than that commit. Seems to me that the unserialize isn't necessary.

[2018-07-31 15:50] seorichard opened #176 "Internal Connections not showing"
Hi there,

I have this setup in a multisite environment (1 main, 2 subdomains) and I don't see the internal connections. It could be because I'm on WPEngine and the sites are currently password protected but thought I'd check here if that is indeed the issue (before I remove the protection).

Thanks!

[2018-07-31 19:26] tlovett1 commented on #174
We discussed this today and decided on the following solution:

Instead of showing all post types in one list, we will have a dropdown above the list table with each available post type on the remote site. You will then have to switch between post types. Post types unavailable on the current site will be greyed out.

We will extend this functionality to internal connections as well.

[2018-08-02 14:38] dkotter commented on #161
After discussing this issue (and #152) with the team, here's a proposal on how to proceed here.

**Short Term**
Currently we distribute the featured image and any images attached to the post object. But the only image source we actually update on the receiving end is the featured image, meaning the processing of any other images will typically be unneeded overhead.

In the short term, propose that

[2018-08-02 14:50] barryceelen commented on #161
Also: Image handling in Distributor has a bit of a batch-like nature. It would be awesome if we could pluck the various functions apart to make it easier to distribute/handle/assign-to-an-async-task a single image.

[2018-08-02 14:51] #165 closed

[2018-08-02 15:36] dkotter commented on #176
Hey @seorichard, thanks for reaching out. I've not tried setting up internal connections on sites that are password protected, but that may impact the sites that show as available for a connection.

Currently we grab all sites on the network, loop through those and make a remote request to the site to verify the current user has permissions to access that site. If they don't, that site won't be sh

[2018-08-02 15:44] dkotter commented on #175
Thanks for logging this @barryceelen. Have you seen this error happen before? Just looking briefly through the code, it seems there are a few other checks in place that should prevent us from getting `WP_Error` objects here, but there might be something I'm missing.

[2018-08-02 16:02] barryceelen commented on #175
The errors only became visible when I working on some fixes, resulting in passing around incorrect data, not in normal usage @dkotter. Might be worthwhile adding an additional check in those spots anyway, even if just for completeness/robustness.

[2018-08-02 19:40] seorichard commented on #176
Makes total sense. I believe WP Engine is using HTTP basic auth for this particular staging environment which is removed once I go live.

Thanks!

[2018-08-03 19:00] dkotter commented on #175
Yep, makes sense. Let me know if you want to make a PR for this. Happy to review when that's ready.

[2018-08-03 19:01] #176 closed

[2018-08-06 17:42] ChaosExAnima opened #177 "Media Sideloading Stores WP_Errors"
Hey there,

I discovered I believe what's a bug in the system. In the `set_media` function in `utils.php`, it runs `process_media` before storing the result in the `_thumbnail_id` post meta.

Unfortunately, `process_media` internally uses [`wp_handle_sideload`](https://developer.wordpress.org/reference/functions/wp_handle_sideload/), which can return a `WP_Error` object. That outcome is not checke

[2018-08-06 17:56] ChaosExAnima commented on #177
@tlovett1 please let me know if you need additional information.

[2018-08-06 18:09] tlovett1 commented on #177
Nice find! Seems like we just need to add a check for `WP_Error` here - https://github.com/10up/distributor/blob/master/includes/utils.php#L421

[2018-08-06 18:11] ChaosExAnima commented on #177
@tlovett1 - That'd also work, but I'd recommend `set_post_thumbnail` as it also verifies if the attachment ID exists and is an attachment before saving. I think we should absolutely check for errors for all media items either way, though.

Do you want a PR?

[2018-08-06 18:13] ChaosExAnima commented on #177
Nevermind, making a PR anyway. :)

[2018-08-07 03:31] #177 closed

[2018-08-13 09:49] danmaby opened #179 "cURL error with self signed SSL for local dev"
I'm receiving a `cURL error 60` when I install the plugin on a multisite locally with a self signed SSL:

![screenshot 2018-08-13 00 16 32](https://user-images.githubusercontent.com/13104185/44024584-9b8bb974-9ee5-11e8-943e-f40ce1e4f1cc.jpg)

The plugin functions as expected when using http://

PHP 7.2
WP 4.9.8 (multisite subdirectory)
Distributor 1.2.2
Local By Flywheel 2.2.4

[2018-08-13 10:01] danmaby opened #180 "Some Pods custom fields not distributed (feedback)"
When using [Pods](https://pods.io/) to build CPTs and Custom Fields, I noticed that the `File / Image / Video` and `Relationship` Field Types do not get distributed to a matching CPT/CF combination within a multisite install.

SVGs added via the media library are not distributed if added as a Featured Image (or Custom Field). This issues if not specific to Pods.

WP 4.9.8 (multisite subdirectory)

[2018-08-13 12:16] jeckman commented on #179
Are you able to run cURL for other external network connections inside Local by Flywheel?

See http://local.getflywheel.com/community/t/potential-curl-or-ssl-error/7210

[2018-08-14 18:29] tlovett1 commented on #180
Hey @danmaby. I'm not super familiar with Pods, how is that data stored?

[2018-08-16 16:53] adamsilverstein commented on #112
Yes, I think this is resolved although I haven't gone back to test. I'll try to to that soon and close.

[2018-08-20 18:26] ivanlopez opened #185 "ReferenceError: PluginPostStatusInfo is not defined"
After updating Gutenberg to Version 3.6.2 when I try and edit an existing post that was created with a previous version of Gutenberg (3.4.0) I'm getting the "The editor has encountered an unexpected error." Once I disable the Distributor I'm able to edit the page.

`ReferenceError: PluginPostStatusInfo is not defined
    at u (https://test.com/wp-content/plugins/distributor/dist/js/gutenberg-statu

[2018-08-24 20:37] dkotter commented on #185
@ivanlopez I've made a PR to fix this, #186. If you have a second to test that out and verify it fixes your issue, that would be great.

I know for me, I was using Gutenberg v3.4.0 and didn't upgrade. I pulled in a post from a site that wasn't using Gutenberg and when trying to edit that post, I received this same error. So it seems like it isn't necessarily related to upgrading to the latest vers

[2018-08-27 21:04] helen commented on #185
Fixed in https://github.com/10up/distributor/commit/30474c9c34834b43e3c51ed422b5a1bd5fbf108b

[2018-08-27 21:04] #185 closed

[2018-09-04 08:11] ravichandrach1 opened #191 "Meta value not pushed correctly if the value is an array"
For Internal connections within the same multisite, If meta value is an array, only the last value is being saved for a pushed post.

Steps to reproduce:

1. Create a new post on the source site and create a custom meta with value `a:3:{i:0;i:1;i:1;i:2;i:2;i:3;}`.
2. Publish the post and Distribute it to any site on the network.
3. Check the meta value for the distributed post on the target site,

[2018-09-05 04:26] jeremyfelt opened #192 "Term meta distribution"
When a post is distributed, its taxonomy terms go along with it by default. It would be cool if individual term meta also made its way over.

https://github.com/10up/distributor/blob/30474c9c34834b43e3c51ed422b5a1bd5fbf108b/includes/classes/InternalConnections/NetworkSiteConnection.php#L67-L72

At first glance, I think this could be handled with something like `\Distributor\Utils\prepare_taxonomy_

[2018-09-05 17:42] jeremyfelt commented on #191
I ran into this as well and started poking at a solution (#193). With that branch, I'm able to distribute featured media and meta array values as expected.

[2018-09-06 12:46] bobbingwide commented on #179
Hi Dan, on a local install trying to use an external connection to another local site I also got the cURL error 60. My workaround was to implement a filter hook to set `sslverify` to false.

[code]
Initially I got the following messages.
[code]
but adding the same filter function to two hooks seems to have resolved the problem.

Note: I am using the application-password plugin.

[2018-09-10 22:30] helen opened #195 "Revamp branch structure and release method"
Right now the branch naming and defaults defy convention and our own git-flow-based best practices, in that `master` is what we would typically call `develop` and `stable` is really `master`. This is confusing for a lot of dev users who expect to be able to use master in production, whether that is a reasonable expectation or not. We should not rename things just to rename them though, which would

[2018-09-13 18:36] tlovett1 commented on #195
This makes sense to me.

[2018-09-13 20:39] helen commented on #192
Bringing over term meta makes sense, I'd be curious how you'd suggest making it optional (UI vs. code). I do wonder if it might make distribution slower?

[2018-09-14 12:34] madmax3365 opened #197 "Product Attributes [ Bug ]"
Because of this peace of code in utils.php set_meta function <br>
<pre><code>
foreach ( $meta_array as $meta_item_value ) {
				if ( ! in_array( $meta_key, $blacklisted_meta, true ) ) {
					$meta_item_value = maybe_unserialize( $meta_item_value );
					update_post_meta( $post_id, $meta_key, $meta_item_value );
				}
</code></pre>
_product_attributes meta saving in wp_postmeta as serialized flat a

[2018-09-17 21:16] helen commented on #197
Hi @madmax3365 - thanks for the report. Could you confirm if this is the same issue as reported in #191 and, if possible, if #193 fixes the issue for you?

[2018-09-17 22:46] helen commented on #175
Punting out of 1.3 until we have a PR.

[2018-09-17 22:48] helen commented on #171
@tlovett1 Could you add screenshots for this?

[2018-09-18 17:27] dkotter commented on #191
@ravichandrach1 Can you test this again with PR #193? I've just tested following your instructions and I do see the meta values being distributed correctly now if they are arrays. But would love if you could test as well and confirm this fixes the issues you're seeing. Thanks!

[2018-09-18 17:33] dkotter commented on #179
@danmaby Just wondering if you saw the update above ^? And if so, has that helped? I know I've had to do something similar when working locally on an https site, so hopefully that helps fix the issue.

[2018-09-18 21:31] jeremyfelt commented on #192
I think making it optional via code would make sense. My first thought was a filter to enable the code handling term meta. I could also see a hook that provides the "to be distributed" terms so that custom could could then handle it, but that might involve heavier than necessary custom code to repeat some of the same tasks.

It shouldn't slow things down noticeably unless somebody had a bunch of t

[2018-09-18 23:02] dkotter opened #200 "Distributing multiple meta fields with the same key"
WordPress allows storing multiple pieces of meta using the same meta key but in different rows in the database. You can then pull out all this meta into separate arrays under the same meta key. I don't think this is a common use case in WordPress but currently Distributor does not support this.

If I have two pieces of meta stored in the database separately, both using the same key, when Distribut

[2018-09-19 00:11] #174 closed

[2018-09-19 17:26] #83 closed, assigned to nobody

[2018-09-19 18:39] ravichandrach1 commented on #191
@dkotter Tested PR#193 on multiple sites and networks, it fixes the meta value array issue. This is good to merge. Thanks!

[2018-09-19 21:14] helen commented on #173
I don't think this actually fixes #103 from my reading but I'll get the docs change in at least.

[2018-09-19 21:15] #173 closed

[2018-09-20 03:58] #191 closed

[2018-09-21 13:25] Kpudlo opened #203 "Post Updating Failed (500 error)"
Hello!

I've really enjoyed using Distributor for a multisite I've setup. However, I'm having an issue with one site being able to update a published post.

![image](https://user-images.githubusercontent.com/4432822/45883055-f8f27100-bd7d-11e8-87ad-243c78861cad.png)

I'm not having any problems with saving drafts. I have disabled all plugins, and changed themes back to the the standard twenty-seve

[2018-09-24 17:11] tlovett1 opened #204 "Missing Bulk Actions on Pull"
Seems like bulk action drop downs are missing on the "Pulled" and "Skipped" screens of the Pull UI.

[2018-09-24 17:16] helen commented on #204
What would the bulk action be for the `Pulled` screen?

[2018-09-24 17:18] tlovett1 commented on #204
I honestly don't remember. There are bulk action check boxes though

[2018-09-24 18:18] jakemgold commented on #204
I think “skip”  was one?

On Mon, Sep 24, 2018 at 10:18 AM Taylor Lovett <notifications@github.com>
wrote:

--
Jake Goldman • President • 888.571.7130 x7 • @jakemgold

[2018-09-24 19:00] adamsilverstein opened #206 "Ensure plugin passes WordPress VIP standards"
This feedback is from a code review by @tomjn:

- The Update checker uses htmlentities in places were esc_html should be used
- The Update checkers uses @ operators to swallow a warning parse_url generates, but that warning was eliminated in PHP 5.3.3. If it can be bumped to PHP v5.3 minimum rather than 5.2 then these can be eliminated

[2018-09-24 19:02] adamsilverstein opened #207 "Consider a post abstraction"
This feedback is from a VIP code review by @tomjn - opening this issue to keep track of it.

[2018-09-25 13:26] gaelgerard opened #208 "Post distributed to deleted site causes error 500 on edit"
Hello,

Thank you for your plugin wich is very usefull for me.

However I have an issue on deleted sites of my network.

Posts distribution is not updated when I delete websites.

I don't know if it is the same on default wp posts because I only test on custom post type.

I have 4 websites in my network.

I distributed a couple of custom posts to those sites.

When I delete one of those websites,

[2018-09-25 16:19] catlawson09 opened #209 "Can't Pull Content - External Connection URL Error"
Hello,

I have attempted to set up an External Connection but when I set up the External Connection URL it shows:

"Limited connection established. Authentication failed.
Push distribution unavailable.
Pull distribution limited to basic content, i.e. title and content body."

My error logs show a "client denied by server configuration'.

I have added the `RewriteRule .* - [E=REMOTE_USER:%{HTTP:Aut

[2018-09-27 17:56] dkotter commented on #204
Testing this locally, I'm seeing bulk actions on both the New screen and Skipped screen:

<img width="345" alt="screen shot 2018-09-27 at 11 53 09 am" src="https://user-images.githubusercontent.com/916738/46164730-fb583d80-c24b-11e8-906f-52cf2bc4202b.png">

There isn't one on the Pulled screen, though as Helen mentions, not sure what actions we'd want there anyway. Checking the last version of the

[2018-09-27 17:59] dkotter commented on #203
Hey @Kpudlo, thanks for the report! Do you happen to know if Gutenberg is giving any error messages in the browser console? Having those errors would be helpful in trying to debug this. Trying to narrow down whether this is just a Gutenberg issue or something wrong on the Distributor side (though the report of getting a 500 error when Gutenberg is disabled seems like it would make Distributor the

[2018-09-27 18:02] dkotter commented on #209
@catlawson09 Thanks for the report! I know there's another issue opened (#164), where a connection was showing as being available even when it wasn't really. That sounds like part of what you might be running into here as well.

For the first part, Distributor does require Basic Authentication be setup for external connections to work correctly. We recommend using the [Application Passwords](https

[2018-09-27 21:16] dkotter commented on #208
@gaelgerard Thanks for the report! I was able to reproduce this fairly easily and was able to get to the root of the issue. Basically when a post (or other content type) is updated, we try and push those updates to any sites that have been distributed to.

We weren't checking if the site actually exists anymore, so we end up trying to push to a non-existent site and that would cause an error. I ju

[2018-09-28 07:14] gaelgerard commented on #208
@dkotter Thank you for the fix! It's now working as expected. Best regards.

[2018-10-01 11:57] madmax3365 commented on #197
An update does not fix the issue. We must receive _product_attrubutes like this array
<code><pre>
Array
(
    [pa_asd] => Array
        (
            [name] => pa_asd
            [value] =>
            [position] => 0
            [is_visible] => 1
            [is_variation] => 0
            [is_taxonomy] => 1
        )

    [fga] => Array
        (
            [name] => Fga
            [value] =>

[2018-10-02 10:17] PaddyWhacks commented on #161
Would a convenient option not also be just to make the source URL of any images point back to the original article? I would think it would substantially reduce the size, processing time and failure rate when pushing out to multiple sites.

[2018-10-02 17:55] helen commented on #161
@PaddyWhacks That's the current behavior for in-content images, where URLs are not rewritten, but certain things such as featured images reference IDs.

[2018-10-03 10:38] PaddyWhacks commented on #161
Ah okay... And I supposed somehow making the feature image draw from a URL isn't practical? Sorry I'm more of an end user and haven't dug into the nuts and bolts. Maybe replicating functionality similar to [this plugin ](https://wordpress.org/plugins/featured-image-from-url/)?

[2018-10-05 03:18] jeremyfelt opened #219 "A PHP notice is generated when distributing child terms without parents"
In its current state Distributor results in a PHP notice when you attempt to assign a child term from a hierarchy where the parent term does not yet exist on the other site and when that parent term is also not selected for distribution.

https://github.com/10up/distributor/blob/052307f5ec19a9aedf68588d15d77c5610c11eb2/includes/utils.php#L394-L402

The code assumes the parent exists as an already

[2018-10-05 14:51] JeroenSormani opened #221 "Notice generated through 'the_content' filter"
Here `the_content` filter is used on a media post content; https://github.com/10up/distributor/blob/052307f5ec19a9aedf68588d15d77c5610c11eb2/includes/utils.php#L518

Within another plugin we're using ([Members](https://wordpress.org/plugins/members/)) this is causing a notice as its assuming that `the_content` filter is used within the loop and a `global $post` is available for use to get the post

[2018-10-05 20:59] #208 closed

[2018-10-08 21:03] dkotter commented on #197
@madmax3365 thanks for the additional feedback and testing. I just pushed a fix (in #224) that will use the keys from the meta array we are processing, when saving that meta to the distributed post. In my test, using the meta value you reference above, this appears to fix the issue. If you have time, would love if you could test out that PR and verify it fixes your issue. Thanks!

[2018-10-08 21:08] dkotter commented on #197
@madmax3365 Ah, my bad. Just noticed you had already opened a PR (#215) that does the exact same thing as the PR I just opened. Closing mine out in favor of yours, thanks so much for the fix here!

[2018-10-09 16:47] jeremyfelt commented on #192
There's a deeper rabbit hole here that I hadn't given enough thought to earlier.

I think to properly sync terms and term meta, an entire layer needs to be built into Distributor to watch for term changes as well. Right now, meta aside, if a category's name is changed, that does not get automatically distributed to spoke sites.

[2018-10-09 20:45] #197 closed

[2018-10-09 21:00] jeremyfelt commented on #219
It would be helpful to know the actual error. :)

`PHP message: PHP Notice:  Undefined offset: 1102 in /Users/jeremyfelt/Development/cfemedia/wp-content/plugins/distributor/includes/utils.php on line 399`

In this case, `1102` is the term ID of the parent that exists on the main site, but not the distributed site. It doesn't exist in the `$term_id_mapping` array.

[2018-10-09 21:12] helen opened #228 "Add Distributor plugin icon to plugin update UI"
There's already an SVG, so it should be a pretty straight-forward PR to do this. See https://github.com/10up/10up-experience/blob/develop/10up-experience.php#L35-L43

[2018-10-10 21:27] ChaosExAnima opened #230 "Search in Pull UI incorrectly sanitizes"
In the Distributor Pull UI, searching is returning incorrect results for queries with spaces or other formatting.

Reviewing the code, and it seems that `sanitize_key` was used to sanitize search text, which strips out all text and formatting. Suggest replacing that with `rawurlencode` or `sanitize_text_field`.

[2018-10-10 21:28] robbiet480 commented on #230
Funny, I was just planning to report this as well, good timing @ChaosExAnima :)

@helen This one seems somewhat bad so I'm tagging you, hope that's OK!

[2018-10-10 21:30] ChaosExAnima commented on #230
I try! PR is now up whenever you're ready, @helen. Thanks!

[2018-10-11 14:16] helen commented on #230
For history, this was introduced in https://github.com/10up/distributor/commit/5600b2aafb639d9e13b8c84f8ff7760bdf54ede4

[2018-10-11 16:32] helen commented on #93
Is this fixed with the merge of #151?

[2018-10-11 18:28] catlawson09 commented on #209
@dkotter Thank you for your assistance and your suggestion. Installing the Applications Passwords plugin and using that seemed to have pulled the content.

Thank you again!

[2018-10-11 19:49] #230 closed

[2018-10-11 19:50] helen commented on #228
How to test: change the version number in `distributor.php` to something lower (like `1.0.0`) and head to the update screen. If it's not there, you may need to go to the installed plugins list and force an update check from there before going back to the update screen, where you should see the icon in place.

[2018-10-12 17:02] adamsilverstein opened #233 "Network origin post update incorrectly updates published dates of distributed posts"
### Description
Under Distributor 1.2.3, using a network/multisite configuration we are noticing that updating an origin post changes the published dates on remote posts. We noticed this issue because any time an origin post was updated on our network, the destination posts got a new current time published date and jumped to the top of the home page river which shows the most recent posts first. T

[2018-10-15 21:28] helen commented on #228
Fixed in #232

[2018-10-15 21:28] #228 closed

[2018-10-16 21:52] Cynthia20189 opened #235 "Cannot pull content"
Hi there,
I'm trying to add an external connection to a second site that I manage. I'll add the URL (I have tried the URL for the blog and the URL for a single post), and it will give me other suggestions (such as the other site's URL with a post number attached, such as site2.org/?p=12345 which doesn't work, either).
When I go to the External Connections tab in the WP dashboard menu, the Connecti

[2018-10-16 22:35] helen opened #237 "Image sizes reference incorrect/non-existent files (attachment meta is being overwritten)"
When attachments are distributed, they are sideloaded, which stores in the uploads folder and generates image sizes. The location of the original (potentially a year/month subfolder) and filenames of other image sizes are stored in the serialized `_wp_attachment_metadata` piece of post meta.  *Then* post meta for that attachment is transferred over so it can be correctly associated with a post, th

[2018-10-19 14:54] helen commented on #237
Sample contents of that meta - seems pretty safe to just leave this piece of meta alone after it's been generated on the receiving site. See #240.

[code]

[2018-10-19 15:06] #237 closed

[2018-10-22 19:39] ChaosExAnima opened #242 "Push Error for invalid casting of WP_Error"
Getting notice errors on 1.3.3 from the code attempting to cast a WP_Error object into an int in `push-ui.php:155`:
[code]

Happy to submit a PR, but unsure what's the correct ID if we don't have the remote ID available.

[2018-10-26 14:20] madmax3365 opened #244 "Timeout on ajax_verify_external_connection"
When trying to create an external connection with the site, which has over 10 post types  ajax_verify_external_connection can't establish a connection because of a timeout.
The core problem in WordPressExternalConnection's check_connections method. It gets all post types available in REST and does for each of them remote_get and remote_post to check user's permissions.
<code><pre>
foreach ( $types

[2018-10-29 09:53] arsendovlatyan commented on #244
Hey @helen ,
In our case we have ~15 post types and it's a problem to get external connection verified, usually, therefore, we had to change external connection verification process.
It will be very nice if we can include this change in next releases, for sure happy to make any improvement/fix that you will point out.

[2018-10-29 12:04] PaddyWhacks opened #246 "Limited External Connection even with Application Passwords correctly setup"
Hello

I am trying to setup an external connection, but keep getting the yellow result saying:-

"Limited connection established. Authentication failed.
Push distribution unavailable.
Pull distribution limited to basic content, i.e. title and content body."

The receiving site has both Distributor and "Application Passwords" setup correctly. I did have the issue with application passwords where it

[2018-10-29 12:10] arsendovlatyan commented on #246
Hey @PaddyWhacks
It can be related to #244 ,
How many custom post types do you have registered ?

[2018-10-30 11:03] PaddyWhacks commented on #246
@arsendovlatyan On review - you are entirely correct here. Played around with the htaccess file and completely unrelated. I looked at their theme and they have loads custom post types, so clearly a related issue! Thanks for the assistance.

[2018-10-30 18:22] helen commented on #246
Thanks for investigating @PaddyWhacks - we'll take a stab at a game plan for better error and status checking and user-facing messaging for the next minor release (1.4) as well as what we can do to actually speed things up.

[2018-10-30 22:00] helen commented on #244
Thanks for the diagnosis and PR - we will take a look at your approach and consider it as we figure out our ideal scenario for how this should work.

[2018-11-01 19:49] dcgraphics1 commented on #209
Hello, I've encountered a similar error with No external connection, After adding the url, it specifies the page ID (ex: https://www.xxxx.org/?p=21) then it says Did you mean: https://xxxx.org/wp-json?
So, I've downloaded the the Application Passwords, then I was prompted to change the htaccess files for connecting the sites. And then the plugin wants to base64 encode it using a terminal window as

[2018-11-02 20:22] VoltageKC opened #247 "Post to Custom Post Type"
I see the option via `show_in_rest` to make custom post types is available but is there also a way to pull content between post types?

**Example:**
Site XYZ has a custom post type of `post_type=magazine` and wants to pull standard posts from Site ZYX into the magazine custom post type.

Is this scenario possible?

[2018-11-09 14:55] jonpasquier opened #249 "Comments activated by default when sharing post between 2 sites with comments globally disabled"
Hi,

I have 2 instances of WordPress with comment globally disabled (Settings > Discussion > Allow people to post comments on new articles is unchecked on both sites) but when the post appears on the destination sites both Allow comments and Allow trackbacks checkboxes of the post discussion metabox are checked by default.

The expected behaviour in this case would be to not have any of these chec

[2018-11-09 15:10] helen commented on #249
Thanks for the report - we will take a look!

[2018-11-09 17:07] dkotter commented on #221
@JeroenSormani Thanks for the report here! When you get this notice, are you pushing or pulling content? And are you using an internal or external connection?

I installed the Members plugin but not seeing that notice pop up, but I'm guessing I'm testing this incorrectly. Also, are you seeing any other notices related to `the_content` filter? We use that filter in a few other places that I don't t

[2018-11-09 17:11] dkotter commented on #235
Hi @Cynthia20189,

Couple things you can test here. The URL you enter for the external connection should point to the JSON endpoint, which should be `site2.org/wp-json/` (or at least that's what I always use). Also, and you may already have this set up, but external connections require HTTP Basic Authentication be set up. We typically recommend the [Application Passwords](https://wordpress.org/plu

[2018-11-09 17:22] dkotter commented on #247
Hey @VoltageKC,

Not tested but there are hooks in place that I think would allow this. See line 404 of `includes/classes/ExternalConnections/WordPressExternalConnection.php`, specifically the filter `dt_pull_post_args`.

In theory, this will allow you to change whatever you want about the post that will be created, including the `post_type`. Note that this is specific to pulling content from an e

[2018-11-12 20:35] jeremyfelt opened #250 "The "selected connections" display when distributing a post doesn't handle long site URLs well"
Long site URLs cause the "X" used to remove a connection during assignment to drop down below the field. This can impact how the "X" for the next site is displayed and cause general UI funkiness.

<img width="319" alt="screen shot 2018-11-12 at 12 33 21 pm" src="https://user-images.githubusercontent.com/286171/48373648-45b84100-e677-11e8-8bf7-9f9b0513acd3.png">

[2018-11-13 17:10] helen commented on #109
There was a fair amount of Gutenberg testing done by @dkotter a while back, I'm sure we will be able to find more issues but I'm closing this out in favor of more targeted issues as needed.

[2018-11-13 17:10] #109 closed

[2018-11-13 17:15] helen commented on #249
Confirmed that comments/pingbacks are always on after a pull, whether it was globally set that way or explicitly turned off for that post. It seems to inherit the receiving site's settings on push.

[2018-11-13 20:45] #195 closed

[2018-11-13 20:57] helen commented on #116
I've noticed this quite a bit in testing and agree there needs to be something better around notifications in the push UI. Because the toolbar dropdown is only open on hover and you likely don't really want to navigate away while the push is happening, I would suggest "sticking" the dropdown and disabling other clicks/dimming the rest of the screen until the process is done. Any thoughts/objection

[2018-11-14 20:59] helen commented on #249
@jonpasquier If you're in a position to test patches, I've opened #251 which fixes this issue for me.

[2018-11-15 17:22] JasonHoffmann opened #252 "Issue with Notices in Gutenberg"
I looked around and didn't see an issue for this, but it seems that recent updates to Gutenberg broke the notices being used in the plugin. The notices currently don't show at all with the latest version of Gutenberg. The issue appears to arise from this PR: https://github.com/WordPress/gutenberg/pull/9617.

The first issue is that the notice method from `gutenberg-syndicated-post.js` is no longer

[2018-11-16 00:17] adamsilverstein commented on #252
Thanks for the bug report @JasonHoffmann - would be happy to review a branch in progress! can you please open a PR and prefix the title with `WIP:` (which explicitly prevents it from being merged)?

[2018-11-16 09:31] bizmate opened #253 "Internal connections not showing 2"
Hi, very much like ticket https://github.com/10up/distributor/issues/176 I am unable to see any internal connection. As no UX element in the settings is explicit about this I assume the internal connection would be displayed as soon as the settings i loaded as the plugin should call all the sites in the network to fetch their details?
Somehow on my local installation with about 7 sites setup on a

[2018-11-16 09:46] bizmate commented on #253
I just found out from Query monitor that the API calls are failing due to the ssl certificate being self signed. I will need to test on an environment without these problems.

[2018-11-16 09:46] #253 closed

[2018-11-16 09:50] barryceelen commented on #253
@bizmate Disabling SSL verification might help if you're testing locally:

[code]

[2018-11-16 10:10] bizmate commented on #253
Thank you @barryceelen . That was very helpful. Our content is very much custom post types and metadata with field manager. I will see If I can get it all working with the further hooks/actions

[2018-11-16 13:56] stevehadley opened #255 "Empty posts created when pushing"
When post/s are pushed from site A to site B many empty posts are created, as well as the intended post/s, empty posts are listed as:

(no title) — Draft

WordPress version : 4.9.8
Plugins installed : 'Distributor' and 'Application Passwords'

[2018-11-19 06:39] mrhasbean opened #256 "Suggestion: Network admin settings"
Network admin settings page for:

- network site from which content can be pulled (and auto-assign canonical)
- post types that can be pulled on sub-sites
- role(s) which can access on sub-sites

[2018-11-19 22:04] #249 closed

[2018-11-20 13:59] jonpasquier commented on #249
Hi Helen,

Sorry for the delay.

I have been able to test your patch and I confirm that it is working, now discussion settings are preserved when a post is pulled from another website.

Thanks!

[2018-11-26 00:02] arsendovlatyan opened #258 "Duplication of post meta keys"
I was testing Distributor with Woo-commerce (using external connection) and all of the sudden noticed that meta keys getting duplicated in destination, with every update i have more and more duplicated meta keys.

I'm not sure if this is related to 1.3.4 release or #200 , but couldn't find similar bug-report and want to make sure that you are aware about it.

P.C. i have used fresh WordPress insta

[2018-11-26 01:18] jakemgold commented on #258
Likely related to 1.3.4 - we tried to handle a situation where the same meta key is used multiple times on the source side (intentionally - WordPress supports that use case)  - and it seems likely that this is unintended side effect with WooCommerce. We'll look into, but in the mean time, you can always roll back to 1.3.3 via Github.

[2018-11-26 14:42] helen commented on #258
@arsendovlatyan Looking into this - when you say "with every update", what kind of update are you talking about?

[2018-11-26 21:18] jakemgold commented on #258
Quick clarification  - we only see the empty "_test_meta" field being duplicated in your example; all the other fields seem fine. Can you confirm that all or some other fields are also duplicating? Is it just empty key values?

[2018-11-27 19:56] helen opened #260 "Onboarding: External connection setup is confusing"
Setting up a fully-capable external connection is a bit confusing and requires the installation/setup of authentication methods that are not currently built into WP. There are a few things here that I think could use improving:

- [x] Change `External Connection Type` to make it more clear that it's about the authentication method (currently Basic Authentication or oAuth 2 via WordPress.com - NOT

[2018-11-27 20:01] helen commented on #260
Looks like Application Passwords also works fine, which is perhaps a better suggestion to give than the actual Basic Auth plugin?

[2018-11-27 23:29] arsendovlatyan opened #261 "Duplication of terms"
If term slug is custom set in source website and term creation is not disabled/skipped with hooks in destination, every distribution/update of a post, with this kind of term, will add a new term in destination.

[2018-11-28 00:36] arsendovlatyan commented on #261
please consider my PR #262

[2018-11-28 02:02] arsendovlatyan commented on #219
When parent is not mapped, but we are trying to update term parent in destination, we may damage existing hierarchy and bring secondary level terms to root level.

Please check #262, where this issue is solved.

[2018-11-28 12:02] PaddyWhacks opened #263 "Suggestion: Verify all connections"
My setup will results in me having many connections listed under the "External Connections" area. I have found that occasionally a connection will break. I think it would be very useful to have a single button that re-verifies each of the connections from the main external connections screen rather than manually checking each one.

[2018-11-28 16:01] elliott-stocks opened #265 "Using oEmbeds pulls the full markup instead of URLs"
When pulling in a post that has social URLs (Twitter, Instagram etc) the embed code is pulled instead of the actual URLs. This results in messy HTML on the new post.

Ideally the URLs should be used and the oEmbeds retrieved on the other end, after being pulled.

To replicate -

1. Publish a post with a social URL `https://twitter.com/10up/status/1067517868441387008`
2. Pull in the post on an exte

[2018-11-28 21:43] helen opened #266 "Gutenberg/WP 5.0: Fatal error during i18n"
`gutenberg_get_jed_locale_data` has been removed, we need to move/shim in the new method outlined in https://make.wordpress.org/core/2018/11/09/new-javascript-i18n-support-in-wordpress/, while also ensuring this continues to work with older WP + Gutenberg plugin

[2018-11-29 02:48] arsendovlatyan commented on #246
Another issue that i have noticed, when I'm trying to update username/password to fix connection, I have put new username/password, but it keeps sending old one, so, i have to ignore this warning and hit `update connection`, then it will start working fine with new credentials.

[2018-11-29 04:08] helen commented on #266
So fixing this in 1.3.5 I think we can just remove the line entirely/comment it out because I don't think JS internationalization is actually done correctly and we don't ship any translations anyway. We never call `load_textdomain()` in PHP either 😬 For the next significant release we should probably fix up the way strings are internationalized generally, (I see a bunch of English-centric assumpti

[2018-11-29 04:10] helen commented on #246
@arsendovlatyan Oh that's interesting, mind opening a new issue to track that?

[2018-11-29 04:51] helen opened #267 "Do internationalization properly"
Coming out of #266, let's do internationalization properly! These are probably worth breaking out into sub-issues:

- [x]  Fix up the way strings are internationalized generally (I see a bunch of English-centric assumptions that don't actually work such as appending an `s` to pluralize)
- [x] Do everything correctly to get things registered in PHP and JS
- [ ] Add JS PO file generation to the buil

[2018-11-29 06:11] PaddyWhacks commented on #161
Ran into a failure again due to the featured image being sent as an attachment. Just thought I would clarify my thinking - not sure if this would be possible, but the end result would be to have an additional setting under media handling - "Do not attach featured images - draw directly from the origin post".

If it is practical to do, could one not just have the featured image src link through to

[2018-11-29 15:22] dsawardekar opened #269 "Improve Error Messaging on Push/Pull failures"
We ran into an issue on an External Connection integration on WAMU. The integration needs to push to a 3rd party API. Due to certain restrictions on the API side, the push can fail with an error message.

The error message currently shown is,

[code]

Instead of showing a generic error message, it would be a good idea to surface the underlying errors to the User.

Is there a way to hook into Distr

[2018-11-29 17:44] JinZhenlin opened #270 "A large network with hundreds sites leads to inaccessible Pull Content screen"
This is the first time we try the plugin on our network with about 292 sites . We network-activated the Distributor plugin, went to a site's dashboard and selected Distributor > Pull content. But the page was never able to load after more than 5 minutes. Eventually the connection timed out. We need to know if there are any known issues for this plugin to work with a large number of sites. Thanks!

[2018-11-29 21:09] helen opened #271 "Pull Content screen triggers notices when no connections are available"
Just need to clean these up, though it may also be worth further consideration about the onboarding type of experience here.

<details>
<summary>Trace log</summary>

[code]
</details>

[2018-11-29 23:04] helen opened #272 "Gutenberg: Can't publish post distributed as draft"
The second publish button (when you have the pre-flight checklist enabled) is disabled, making it impossible to publish a distributed post without resorting to a bulk edit on the posts list.

[2018-11-30 05:44] jeremyfelt commented on #265
I just ran into this as well using the internal Network Site Connection with an important addition:

In a multisite configuration, if someone with an editor role adds a YouTube URL to post content and distributes it, the embedded `<iframe>` code applied through `apply_filters( 'the_content' ... )` is stripped out when the post is added on the spoke site because the editor does not have permission

[2018-11-30 21:49] #266 closed

[2018-12-03 17:36] helen commented on #265
This is my sense of what should probably happen as far as oEmbeds go (not considering the broader sense of when content is/isn't processed at the moment):

* Unhook the `the_content` filter that expands oEmbeds (I believe it's essentially a shortcode, though has some trickery around it)
* Check to make sure the distributed post meta matches up, i.e. avoid external HTTP requests for re-fetching (th

[2018-12-04 18:06] JeroenSormani commented on #221
Sorry for the late reply - I've completely missed the notification!

I actually didn't push/pull when I got this - though it may also happen at such time (I haven't been much involved on the Distributor parts of the project so far). It happens when a media object is prepared for a response, in my case during a API call to update a WooCommerce product image.

Here's a full stack trace;
[code]

In c

[2018-12-04 22:29] helen opened #273 "Pull: Switching views, post types, or doing a search should reset pagination"
Right now the pagination is retained which can a) be unexpected, and b) return an error when the pagination is out of bounds.

[2018-12-05 03:55] helen commented on #269
@dsawardekar Our focus for 1.4 is making error handling and messaging more robust and user-friendly, so yes I 100% agree this needs to be better! @Ritesh-patel - could you possibly take a look to see if there are any hooks for customizing the messages for now? Would also love to list what the underlying errors could be and then work on PRs for them.

[2018-12-05 04:03] helen commented on #247
@VoltageKC In addition to the `dt_pull_post_args` mentioned above, there will also be a `dt_available_pull_post_types` filter in 1.3.5 that will allow the reverse of your scenario, where you might want to pull from a custom post type that isn't registered on the local site into a post type that is (e.g. pulling press releases into regular posts). I'm open to explorations of how you'd build this ki

[2018-12-05 04:03] #247 closed

[2018-12-05 04:05] helen commented on #235
Closing out for now, however please do continue the conversation as needed and we can always reopen the issue or create new ones if we find bugs. I've opened #260 to talk about making the onboarding/setup process better.

[2018-12-05 04:05] #235 closed

[2018-12-05 04:11] helen commented on #168
I am still wrapping my head around all of the meta handling but want to crossref #200 / #225  and #258 / #259 here because this is all interrelated. I _think_ we've solved this issue by adding a level of hierarchy to the post meta array but that's broken interop between 1.3.4 and older versions of Distributor (which we probably won't fix but it is important to note). I think the point about the di

[2018-12-05 04:14] helen commented on #141
I think for the new editor we should probably explore using a side panel instead of the admin bar. Generally we probably need to explore other push UI besides/in addition to the admin bar because it's possible to have it off or not have enough space especially on smaller screens.

[2018-12-05 04:16] helen opened #275 "Push UI should not disappear when push is in progress"
Because the admin bar submenus appear on hover, the dropdown for the push UI disappears if you move your mouse, making it very easy to miss out on whether your push has succeeded and allowing you to navigate away when you shouldn't. I think the right solution to this is to freeze the submenu open while push is happening and blur out and disable the rest of what's visible in the window around it.

[2018-12-05 04:23] #114 closed, assigned to nobody

[2018-12-05 04:36] helen commented on #272
Testing this against 5.0-RC3, it seems that the publish button is disabled even on initial load.

[2018-12-05 12:49] ruddygood opened #277 "No Distributor link in admin topbar not showing"
Hi there

The distributor link in the top admin bar isn't showing for me :(

I have it installed on a couple of site - one has internal connections, the other external.

Any suggestion of resolving this would be appreciated!

Thanks all

[2018-12-05 12:58] #277 closed

[2018-12-05 16:28] helen opened #278 "Gutenberg: UI wonk in Status & Visibility"
<img width="141" alt="screen shot 2018-12-05 at 10 27 16 am" src="https://user-images.githubusercontent.com/906334/49527863-663f7980-f878-11e8-87c0-4a869f5fe021.png">

[2018-12-05 17:02] helen opened #279 "Gutenberg/WP 5.0: Block editor is accessible and editable despite locked state"
Only seeing this behavior in 5.0RC, not the Gutenberg plugin (v4.6.1) where it is properly disabled.

![screen shot 2018-12-05 at 11 01 40 am](https://user-images.githubusercontent.com/906334/49530111-2d55d380-f87d-11e8-8998-34cfe3790d62.png)

[2018-12-05 17:41] helen opened #280 "Attachments cannot be loaded from local environments"
Due to the `http_request_host_is_external` filter in core, remote get requests to domains that resolve to IP addresses that appear to be internal (e.g. start with `127` or `192`, among others) fail out and somewhat non-descriptively. I am not sure if this can actually impact production environments since network connections are processed differently from external connections, but I think we should

[2018-12-05 21:45] helen opened #282 "Fix PHPCS warnings"
It is impossible to parse out and catch errors right now, and we also need to look through the warnings and either fix or suppress as needed anyway.

[2018-12-05 23:08] helen commented on #258
Commented on the PR about this too but also want to summarize here:

I think this is the same cause as what I saw in testing #259, which is that all those duplicated meta keys get set to the same value because of the way `update_post_meta()` works (doesn't take an ID). We also don't actually delete any meta at any point, so they just kind of linger there. I think we need to address post meta delet

[2018-12-05 23:14] helen opened #284 "Post meta is never actually deleted on the receiving end"
Noticed in #258 / #259:

`set_meta()` never actually deletes any post meta. This appears to always have been an issue but was exacerbated by a bug we introduced in 1.3.4 that was duplicating empty meta values that are now kind of stuck in place because of the way `update_post_meta()` works with previous values.

I don't yet know what the right thing to do is. We could:
* Be less performant and jus

[2018-12-05 23:17] #258 closed

[2018-12-11 14:12] adamsilverstein opened #286 "Feature: Easier setup flow for Application Passwords & External connections"
Since https://github.com/georgestephanis/application-passwords/pull/39#issuecomment-283677076 Application Password supports a much easier flow when setting up an application password. Distributor can link to the remote site with a special URL that lets the user create the new key on the fly, during the setup flow.

Implementing this flow would make external connection setup much smoother.

From th

[2018-12-11 14:13] adamsilverstein commented on #260
Yes, **Application Passwords** is what I use and would actually like to see us consider bundling it (via composer) with Distributor. I opened an issue to support its recent addition of a setup flow that makes using it much easier, see https://github.com/10up/distributor/issues/286

[2018-12-12 12:41] PaddyWhacks opened #287 "Incompatibility with Ninja Forms: Removes editor styling"
Whenever the distributor is activated, it breaks the styling of editor for Ninja Forms. Before and after pictures attached.

![before](https://user-images.githubusercontent.com/9625104/49870291-9a3c1100-fe1b-11e8-9316-1bf050789fa6.png)
![after](https://user-images.githubusercontent.com/9625104/49870292-9ad4a780-fe1b-11e8-8ce0-a5363f37876d.png)

[2018-12-13 15:44] mikemorales opened #288 "push-ui Fatal error"
anyone have this error when you try activate the plugin?

Fatal error: Can't use function return value in write context in /home/moralesy/public_html/cliente/ALLABOUTCABO/wp-content/plugins/distributor-stable/includes/push-ui.php on line 328

[2018-12-14 13:01] Ritesh-patel commented on #288
Hi @mikemorales

I think this is related to php running on your server, which php version you are using? Distributor requires php 5.6+.

Thank you.

[2018-12-17 13:54] arsendovlatyan commented on #246
@helen I was unable to reproduce the bug mentioned above, will pay attention and report in separate issue if I'll notice it again.

[2018-12-17 18:42] gthayer opened #290 "Subscription requests are not filterable"
The following request do not have filters available:

https://github.com/10up/distributor/blob/develop/includes/subscriptions.php#L145
https://github.com/10up/distributor/blob/develop/includes/subscriptions.php#L214
https://github.com/10up/distributor/blob/develop/includes/subscriptions.php#L280

On most requests `dt_auth_format_get_args` and `dt_auth_format_post_args` are available so you can add

[2018-12-18 17:47] helen commented on #286
That's really cool! Is that released in the App Passwords plugin on .org?

[2018-12-18 19:49] #278 closed

[2018-12-18 21:40] #272 closed

[2018-12-18 22:43] #252 closed

[2018-12-19 17:56] helen commented on #271
Just realized this was fixed in https://github.com/10up/distributor/commit/33f3008dbdb496a141c2b22195e978613bf56ed8

[2018-12-19 17:56] #271 closed

[2018-12-26 13:16] arsendovlatyan opened #292 "PHP notice, when using gutenberg in destination, but not using in source."
We may have PHP notice, when  using gutenberg in destination, but not using in source.
https://github.com/10up/distributor/blob/a7dcdc2e838875fa356794a578f232aff075fc68/includes/classes/API/SubscriptionsController.php#L225

[2018-12-27 18:05] surferking opened #294 "Text tweak: drop the expression "External ""
The prefix word "External " is superfluous and not actually true since technically the plugin could be used with WP multisite internal connections to sites within a network.

A matter of taste perhaps, choice is yours of course, if you want to keep that in the core plug, but we are dropping it from the fork we're working on and thought you might like to also.

[2018-12-28 11:56] lselbach opened #295 "Just need to know what to put in "External Connection URL""
Hi there,
I´m not a programmer or an expert, and I really didn´t find any documentation or helping file saying how to do this.
When Adding External Connection, I don´t know what URL to put there. Looked all over documentation and couldn´t find any hint.
Any help?

[2018-12-28 12:34] lselbach commented on #295
just advanced on tests and got some results. But with an error

limited connection established. Authentication failed.
   - push distribution unavailable
   - pull distribution limited to basic content. ie title and content body

addresses in endpoints (same error message)
http://matza.group/wp-json
http://matza.academy/wp-json

[2019-01-05 18:03] arsendovlatyan commented on #295
@lselbach
- Do you have Application password installed or remote - https://wordpress.org/plugins/application-passwords/ ? Here is what we have in plugin requirements

[2019-01-05 21:44] lselbach commented on #295
Hi
Thanks for replying
Just installed the plugin on both sides, but has the same response

Limited connection established. Authentication failed.
- Push distribution unavailable.
- Pull distribution limited to basic content, i.e. title and content body.

[2019-01-07 08:14] PaddyWhacks opened #296 "Gutenberg Issue: Reusable blocks are not being distributed"
I am having an issue where distributing a post with a "reusable block", all the content goes through except the reusable block. In the target site's post where the reusable block would be it says "Block has been deleted or is unavailable" (Screenshot 1)

I have found a workaround is to manually click on the reusable block on the distributing site and say "Convert to Regular block" (Screenshot 2)
!

[2019-01-07 21:00] helen commented on #296
Seems like we will need to distribute the actual stored reusable block as well, fairly certain we don't do this right now. It's somewhat similar to attachment distribution as well, on the technical front maybe we need to think of it as related object distribution.

[2019-01-09 15:12] ruddygood opened #298 "Override Author Byline Issue & Publish Date"
Hi there

I have a site multisite network where we use distributor, but I am having a couple of issues:

1) If  I enable Override Author Byline - the author name gets updated but the url to the original site doesn't

2) Published date - this shows as the date published on the current site not the originally published date on the connected site, do I need to go in and change the published date to m

[2019-01-09 18:39] RGChappell opened #299 ""No connection found""
I have two sites and want to create an external connection to the other on each of them. In both cases when I set up the external connection, I put in the External Connection URL, and a little red dot appears under it with the message "No connection found." I have the Application Passwords plugin installed on both sites. What am I doing wrong?

[2019-01-10 15:34] madmax3365 opened #300 "Several Media Types Processing"
Currently, distributor creates attachments in destination only for images with extensions `jpeg|jpg|gif|png`.  We need to distribute attached pdf files with the post, but because of process_media function in `utils.php` line 591, we can't. We think it's a good idea to provide a filter in the mentioned function, so users could decide which media type they want to process.

[2019-01-10 19:30] helen commented on #294
@surferking That's definitely true that you can set up any site as an external connection, even if it's in the same multisite network. Are you still differentiating between internal/network and external connections in your fork?

[2019-01-10 19:31] helen commented on #288
Closing this pending further feedback from @mikemorales. Agree that it sounds like a PHP version issue.

[2019-01-10 19:31] #288 closed

[2019-01-10 19:34] #292 closed

[2019-01-10 21:41] adamsilverstein commented on #265
Thanks for the detailed bug reports. @elliott-stocks to clarify your sites are not using Gutenberg, correct? Investigating all the scenarios now.

[2019-01-11 13:17] arsendovlatyan commented on #295
@lselbach have you solved the issue?
Please note that just installing Application Password plugin is not enough, you need to generate new password for a user on destination, and use it in source when trying to create connection. So, for after installing this plugin, every user profile in admin have this section
![image](https://user-images.githubusercontent.com/1083615/51035794-a0611100-15c4-11e9-

[2019-01-11 19:59] helen commented on #300
Being able to filter this makes sense to me. Currently in #301 this ends up becoming a per-filename thing, does it perhaps make more sense to filter the regex for matches? Or perhaps to have both so you can also decide not to process a specific item?

[2019-01-13 01:51] stevehadley commented on #255
Two months an no reply?

[2019-01-14 09:57] madmax3365 commented on #300
@helen I've added a filter for regex. Please review it, and let us know which of the filters you want to keep, so we could continue our development.

[2019-01-14 12:09] elliott-stocks commented on #265
Correct, @adamsilverstein. The sites are not using Gutenberg.

[2019-01-14 19:02] helen commented on #255
I apologize, must have missed this during triage. Is this still happening to you, and is it consistent with every push or just some of them?

[2019-01-15 19:56] #300 closed

[2019-01-15 22:50] helen opened #306 "Tests: Ensure meta blacklist is applied to attachments"
See #289 which I went ahead and merged without writing the test. Seems like this probably should be asserted in the incomplete `test_set_meta()`.

[2019-01-15 23:40] #265 closed

[2019-01-17 23:58] michaelradojevic opened #309 "get_available_authorized_sites() scaling issue with lots of sites"
The time it takes to run the wp_remote_post() calls in get_available_authorized_sites() really adds up when you have more than a few sites in a multisite network (we have 49). Logged in users are getting 10-20 second page load times on supported post types. Here's a screenshot from Query Monitor:

![image](https://user-images.githubusercontent.com/46765002/51355797-0d652280-1a6d-11e9-896f-00fd2c61

[2019-01-19 19:48] psorensen opened #311 "Feature Request: Ability to filter post type on push"
Our use case: We have a source site with multiple custom post types. We would like to push these custom post types to a remote site as a simple posts.

Applying a filter to the variable at `\includes\classes\ExternalConnections\WordPressExternalConnection.php:L481` does the trick.

from
`$post_type = get_post_type( $post_id );`

to
`$post_type = apply_filters( 'dt_push_post_type', get_post_type( $

[2019-01-20 15:00] psorensen commented on #299
@RGChappell please confirm the following:

1. On the remote site, have you set up an application password for a user? The application password plugin won't work out of the box--you need to create one for a given user. Once you do this, use the user's original WP username and the new application password for the credentials when setting up a connection.
2. Make sure the remote site has pretty perma

[2019-01-22 17:30] JayWood opened #312 "Post ID 0 despite post being distributed"
Initially distributing a post through a connection using Sucuri fails silently. Though distributor provides a false-positive and sets the meta value stating the post has been distributed with a post ID of zero:
`a:2:{s:8:"external";a:1:{i:3276218;a:2:{s:7:"post_id";i:0;s:4:"time";i:1548174422;}}s:8:"internal";a:0:{}}`

Yes, the solution here is indeed to fix the Sucuri rules in some way. So we did

[2019-01-23 18:32] devjclose commented on #272
This issue resurfaces if using Classic Editor plugin. Publish button (and all publish related options) are disabled.

Tested with WP 5.0.3, Classic Editor 1.3 and Distributor 1.3.7

[2019-01-23 19:15] helen commented on #311
Would be happy to take a look at a PR and consider for the next release (aiming for 1.4) - at first glance I would imagine you would want to provide more context to the filter.

[2019-01-23 20:17] JayWood commented on #312
Follow up given recent finds.

Issue 1 - this was not related to Sucuri specifically, in fact it was Wordfence stopping the posting of the data. However, the inability to un-link a post after it has been _ghost-linked_ is still problematic for users without direct SQL access.

Issue 2 - If a post is successfully distributed the post ID is not zero.

However, the issue is a strictness check it seem

[2019-01-23 20:42] evolveonline commented on #255
Hi Helen. I am having the same issue. I am testing the plugin at the moment and I've setup a network of test sites. I am syndicating blog posts to each site, but empty draft pages are being created, as described above.

[2019-01-24 04:31] stevehadley commented on #255
It's a reallllly good plugin, very keen to implement but can't with this issue.

[2019-01-24 15:15] smallbizwordpress opened #315 "Onboarding instructions are truly disappointing"
Trying to setup external connections, every single step of the way is unclear in your readme.

Luckily after going over other issues here on Github I was able to get the external connection but with this message

Limited connection established. Authentication failed.
 -Push distribution unavailable.
 -Pull distribution limited to basic content, i.e. title and content body.

The api username and pw

[2019-01-24 16:14] smallbizwordpress commented on #315
Application Passwords

[2019-01-30 12:06] PaddyWhacks opened #317 "Suggestion: for Distribute as Draft"
Two things here -
1) For my use case, I almost never distribute as a draft. It would reduce human error to have a "Draft checked by default" in the settings area, which determines the default state of the "Draft" checkbox when distributing.
2) If one were to accidentally distribute out to sites as a draft, is there functionality to easily publish them?

[2019-01-30 14:43] helen commented on #315
Hmm that's concerning, are there any other plugins installed on either end? If the username/password is correct then it sounds like something else is interfering with the authentication.

[2019-01-31 16:22] JayWood commented on #282
Linking a failed build here for context - https://travis-ci.org/10up/distributor/builds/487000327?utm_source=github_status&utm_medium=notification

[2019-01-31 20:10] jeffpaul commented on #317
@PaddyWhacks thanks for the feedback, it's much appreciated.  We're working through a review of the Distributor user experience and will include your thoughts in that review, updates to follow on the broadly in the coming months.  If you've got any other use cases on this topic or ideal solutions, please share here.  Thanks!

[2019-02-01 15:29] arsendovlatyan opened #321 "Option or hook to manage canonical URL"
Currently, Distributor plugin is modifying canonical URL of distributed post and pointing to original website.
We would like to stop this behaviors and the only way to do if with current code - remove added filters.

https://github.com/10up/distributor/blob/27c92e65fbca30c947900f223ec797811ffed785/includes/classes/ExternalConnections/WordPressExternalConnection.php#L947

Will you consider an optio

[2019-02-01 22:07] jeffpaul commented on #321
@arsendovlatyan thanks for the input, it's appreciated!  Could you describe your use case in a little more detail so we can better plan how we might be able to help address your problem with Distributor?

[2019-02-03 20:14] Ritesh-patel commented on #280
Opened https://github.com/10up/distributor/pull/323 which fixes this. We yet to add unit tests for process_media function, and when we do, we can add test for this filter.

[2019-02-04 17:50] arsendovlatyan commented on #321
@jeffpaul thanks for quick reply.
We have e-commerce platform, based on WooCommerce and we are uploading all products to a central website (Hub), and using Distributor, pushing this  products to other websites (Spokes).
Because the Hub is password-protected, it doesn't make sense to point canonical URLs back to Hub from Spokes.

[2019-02-04 22:00] ivanlopez opened #324 "The distributor REST API field are not getting populated correctly"
Once a piece of content is distributed if you look at that content via the WordPress REST API the `distributor_original_site_name` and the `distributor_original_site_url` are not populated correctly. Instead of having the original site name and URL they are pointing at the current site name and home url.

[2019-02-05 09:02] gaelgerard opened #325 "Taxonomy slugs generated with special characters"
Hello,

In my main website I have CPT taxonomies named with the inches character (Ecran 4.3″...).

While wp will remove those character to generate the slug (ecran-4-3), Distributor is keeping them to generate new slugs when pulling CPs in the child website (ecran-4-3″).

This creates bugs in pulling those posts wich aren't associated to the new taxonomy.

May I suggest to import the existing slug

[2019-02-05 18:01] jeffpaul commented on #325
@gaelgerard thanks for the feedback, it's greatly appreciated!  We'll take a look at reproducing this locally and if so we'll work to see where it might fit on our release roadmap.  If you have availability and interest to submit a PR to resolve this, then we'd happily review that with you.  Cheers!

[2019-02-05 18:37] arsendovlatyan commented on #325
@jeffpaul you may consider https://github.com/10up/distributor/pull/262 , which will solve this issues and few other issues.

[2019-02-08 16:51] ivanlopez opened #326 "On Multisite when logged in pages load really slow"
When you have a multisite and you're logged in we've noticed that any page that shows the distributor button in the black bar that page is slow to load. Regardless if you're in the admin or front-end. The more sites you have on your network the slower it gets. When I looked at new relic I noticed that on page load we're sending an HTTP request to each site in order to build out the site list that

[2019-02-08 16:59] jeffpaul commented on #326
Thanks for this @ivanlopez, definitely looks like an opportunity for some performance tweaks.  We'll look into this along with #309 to see what we can improve.  If you have interest and availability to work on a PR, then we'd greatly appreciated... thanks!

[2019-02-08 17:00] jeffpaul commented on #309
Thanks for this @michaelradojevic , definitely looks like an opportunity for some performance tweaks.  We'll look into this along with #270 to see what we can improve.  If you have interest and availability to work on a PR, we'd greatly appreciated it... thanks!

[2019-02-08 17:01] jeffpaul commented on #270
Thanks for this @JinZhenlin , definitely looks like an opportunity for some performance tweaks.  We'll look into this to see what we can improve.  If you have interest and availability to work on a PR, we'd greatly appreciate it... thanks!

[2019-02-11 14:20] anton-roos opened #327 "Getting: Limited connection established"
I am using the WordPress.com rest API and I still get this error.

Authentication failed. Push distribution unavailable. Pull distribution limited to basic content, i.e. title and content body.

[2019-02-12 06:54] anton-roos commented on #299
It doesn't work. I installed the plugin Application Password, I tried using the both the Application User name and password and the original WP username and password. I have tried using the WordPress.com API created an application use the redirect link and still getting the same issue.

[2019-02-12 07:15] anton-roos commented on #327
Someone said something about too many post types. How do I check this?

[2019-02-12 17:56] arsendovlatyan commented on #321
@jeffpaul Sorry, do you need more information? I can't send PR if you would like.

[2019-02-12 18:07] jeffpaul commented on #321
@arsendovlatyan am I correct in understanding that you're asking for a way when you distribute from your Hub that the distributed posts do NOT link back to the original by default or otherwise have an option to disable the linkage?

[2019-02-12 18:16] arsendovlatyan commented on #321
@jeffpaul exactly, an option or a filter that will allow us to manage this behavior.

[2019-02-12 18:25] jeffpaul commented on #327
@anton-roos a couple questions/comments for you:
1) Can you confirm that the user role in `Distributor > External Connections` is the same role for the user trying to push content to the external site?
2) In this list of [Known Caveats/Issues](https://github.com/10up/distributor#known-caveatsissues) there's the following note on **External Connection Post Type Support**:

Are you trying to pull so

[2019-02-12 19:54] #280 closed

[2019-02-12 19:55] #204 closed

[2019-02-18 21:39] madmax3365 opened #330 "PHP Warning in set_meta function"
Distribution and post update generates PHP warning in the destination. <br> `Warning: Invalid argument supplied for foreach() in distributor/includes/utils.php on line 125` <br> Warning occurs because in `utils.php` `function format_media_post` line `592` plugin assigns <br> `$media_item['meta'] = \Distributor\Utils\prepare_meta( $media_post->ID );` <br> And inside  `prepare_meta` it filters meta_

[2019-02-18 23:26] hreimer opened #332 "Translated Polylang pages don't get distirbuted correctly"
First thanks for this awesome plugin, I have been playing with it the last few hours in a multisite setup as follows: WP 5.0.3, using Beaver Builder Theme (Page Builder) and Polylang plugin and trying to achieve this:

**General Idea:**
Root-Multisite has all the pages in all available languages translated (set up via Polylang Plugin, lets say de|en|ru), so when I have Subsite 1 i distribute all p

[2019-02-19 19:37] jeffpaul commented on #330
@madmax3365 thanks for this issue and related PR!  We're working towards a 1.4.0 release in the near future and will look at pulling this into that or a quickly following release.

[2019-02-19 19:44] jeffpaul commented on #332
@hreimer thanks for the feedback and welcome to Distributor, your input is greatly appreciated!  I don't believe your specific WP/plugin/theme configuration has been tested, but your use case certainly makes sense.  I'll review this with the engineering team to see who can best work on triaging your issue and determining if there's a Distributor enhancement/fix that could resolve what's not workin

[2019-02-19 20:55] nate-allen opened #333 "Can't publish post distributed as Draft"
Somewhat related to #272 but not Gutenberg. Updated the plugin to 1.3.8 and now when a post is distributed as Draft, it can't be published because the button is disabled.

![screenshot](https://user-images.githubusercontent.com/8797898/53046697-a4533f00-345e-11e9-9c68-05521451d94c.png)

[2019-02-19 21:03] jeffpaul commented on #333
@nate-allen is that the original post or a distributed post?

[2019-02-19 22:13] nate-allen commented on #333
@jeffpaul That's a distributed post

[2019-02-20 04:31] jeffpaul commented on #333
@nate-allen: @adamsilverstein will help me triage this and once we get to a resolution we'll let you know of any quickly occurring releases for this issue.

[2019-02-20 05:38] adamsilverstein commented on #333
testing locally in 4.9, the publish button is available for distributed draft posts:

![](https://cl.ly/a4616a24ae12/68747470733a2f2f636c2e6c792f3461353038336536303666622f456469745f506f73745f5f4d795f47726561745f426c6f675f5f576f726450726573735f3_2019-02-19_22-37-33.jpg
)

I'll test in 9to5preprod next.

[2019-02-21 20:06] #333 closed

[2019-02-24 03:14] jeffpaul commented on #333
@nate-allen confirming here that this should now be resolved with the 1.3.9 release: https://github.com/10up/distributor/releases/tag/1.3.9

[2019-02-26 19:31] RWSyk opened #337 "External Connection No Longer Found (As of Feb 25, 2019)"
Hello,

I have experienced a loss of connection between my External Connections as of February 25, 2019. The connections worked fine for a long time but suddenly the connection appears to be broken. Please help me trouble shoot this. I have Sucuri on both sites but the url to post is whitelisted and that worked fine before, we did recently start using Jetpack as my writers demanded it but I did no

[2019-02-26 20:18] RWSyk commented on #337
Added note: the technical support from my hosting provider mentioned that the only thing they could really see  is perhaps the connection string incoming isn't valid so WordPress isn't parsing it.  I did just update the distributor plugin yesterday, so is this just an issue with the latest version of the plugin?

[2019-02-26 20:48] RWSyk commented on #337
Looks like our issue was actually human error as we were stupidly throwing up a 403. My bad, closing this issue.

[2019-02-26 20:48] #337 closed

[2019-02-28 14:47] edemir206 opened #338 "No connections available for distribution. Multisite"
Hi,

I just can't make this plugin work in a single multisite installation, always shows this message: No connections available for distribution for every user in the network.

I have users in a custom role, do you need users to be in a special role or something ?

[2019-02-28 19:46] arsendovlatyan commented on #338
Hey @edemir206

- have you created connections ?
- if so and they are active, are you trying to distribute custom post type?

[2019-03-05 18:48] jeffpaul commented on #286
Note that we're planning to ship plugin detection only in 1.4, and can investigate this magic link in 2.0

[2019-03-05 19:48] jeffpaul commented on #315
@smallbizwordpress any response to the question above?

[2019-03-06 20:21] swshogren commented on #315
I agree. I am also seeking comments about authorization of passwords on the site you wish to pull content from. Which I don't understand and don't see documented? I enter my site URL and get a WP shorted version of the address - when I copy and paste that URL it works....when I try to check the link or "verify"..I get an error saying the link is bad....when it is good. What's the fix? How do I ver

[2019-03-06 21:24] jeffpaul commented on #315
@swshogren it sounds like you're trying to set up an External Connection, which is the setup to use if your sites are not setup within a WordPress multisite.  Is the value for your external site in the "External Connection URL" field formatted like http://yourwebsite.com/wp-json?  If so, is the "Username" and "Password" values entered a valid user on yourwebsite.com?

[2019-03-06 21:37] #330 closed

[2019-03-06 22:12] swshogren commented on #315
@jeffpaul - yes setting up two external connections from my travel blog to my two photo website I have that feature very different content (boats v. everything else). I have Distributor installed on all three - with the correct URLS - found on a different thread that I needed to add the /wp-json - to that i now added as well. User names are correct as are the passwords - if done 3 to 4 times on ea

[2019-03-07 20:33] #273 closed

[2019-03-07 20:55] #282 closed

[2019-03-07 20:57] #260 closed

[2019-03-08 13:04] Webagent05 commented on #327
Hello There,

I was very happy to see your plugin, but after 3 hours testing ... still doesn't work.

Same issue "authentication failed."

1. I've installed the plugin on the master and the slave.
2. Installed the 'application password' plugin, but it isn't clear to me or I need to use the plugin generated password or the 'user' password. (Tried both of course)
3. Roles are the same

I don't know

[2019-03-08 18:00] jeffpaul commented on #327
@Webagent05 we released version 1.4 earlier today with updated instructions and information about setting up external connections.  If you're not on 1.4, then please update and let me know if you're still unable to properly setup the external connections... thanks!

[2019-03-08 21:13] jeffpaul commented on #69
Note that there have been discussions ([see related REST API office hours chat archive](https://wordpress.slack.com/archives/C02RQC26G/p1551981647036100)) about adding a REST JWT Auth plugin to WordPress core.  It may be worth waiting to see how that pans out and leverage that instead of rolling something unique/specific to Distributor.

[2019-03-08 21:20] jeffpaul commented on #131
I would like us to decide if/how Distributor supports external plugins (as @robbiet480 noted with Co-Authors Plus).  Let's look at deciding this and taking any relevant actions during the 2.0 release cycle (note 2.0 is currently unplanned and has no timeline set as of yet).

[2019-03-08 21:33] jeffpaul commented on #68
I'd like to block this issue by the decision-to-be-made in #131.  If that decision turns out to be that Distributor will support external plugins more than via hooks/filters, then we can continue investigating this specific issue with Co-Authors Plus and how it can best be gracefully included with/alongside Distributor.  If Distributor takes the hooks/filters-only approach, then its likely we'll c

[2019-03-09 19:06] Webagent05 commented on #327
@jeffpaul I still have the same message.

I made an application password.
Used the username + application password.

Websites are running on the same server, https, ... no special settings, no cache plugins enabled.

What's next we can do, to find out the issue?

Kind regards,

Webagent05

[2019-03-09 19:11] arsendovlatyan commented on #327
How many custom post types do you have?

On Sat, Mar 9, 2019, 23:06 Webagent05 <notifications@github.com> wrote:

[2019-03-09 20:11] Webagent05 commented on #327
@jeffpaul got it solved. After update connection is working.

But now I'm checking the canonical function. I can't find the canonical url in my source code.
I'm using Yoast SEO premium.

Looked around and found some information between the posts here. Checked the source code and seems to me compatibility is integrated, ... but seems not to work ... not showing canonical link.

Kind regards,

Webea

[2019-03-10 11:29] Webagent05 opened #346 "Posts save keeps running"
Hi there,

1. After enabling ... when I save a post the "save" keeps running. (no custom post type.)
![distributor-save-hangs](https://user-images.githubusercontent.com/48355318/54084364-fb4a8680-432f-11e9-9a58-f4513d17ed9d.jpg)

2. When I disable distributor, ... the issue is gone.

So something from distributor is interering saving posts. (It aren't distributed posts, but posts added in the conc

[2019-03-11 14:00] jeffpaul commented on #346
@Webagent05 can you please confirm the WordPress and Distributor versions you're using as well as any other plugins/themes so we can check for compatibility issues?

As for suggesting features, you can add those as issues here in GitHub as well... thanks!

[2019-03-11 14:07] jeffpaul commented on #327
@Webagent05 I see from #346 that you were able to get things setup, so I'm not sure if you're still having issues with the Yoast.  I'm checking with our team member who's most familiar with that part of the codebase and will get back to you with any details.

[2019-03-11 14:31] Ritesh-patel commented on #327
@Webagent05 you can use `dt_after_set_meta` action to debug this which will be called after meta is set. You can check the hook in source code here https://github.com/10up/distributor/blob/1.4.0/includes/utils.php#L194.

[2019-03-11 19:40] Webagent05 opened #347 "Warning: WordPressExternalConnection.php"
Hi there,

receiving the following error:

Warning: Invalid argument supplied for foreach() in /home/user/public_html/wp-content/plugins/distributor-stable/includes/classes/ExternalConnections/WordPressExternalConnection.php on line 331

shows me an empty page, ... but there should be 30 posts visible.
![distributor-issue](https://user-images.githubusercontent.com/48355318/54152546-c7f61d80-443d-1

[2019-03-11 19:44] jeffpaul commented on #347
@Webagent05 can you please confirm the WordPress and Distributor versions you're using as well as any other plugins/themes?  Also, can you confirm if this is an internal (aka multisite) or external site that's trying to pull in content?  If it's an external site, can you confirm that the external connection is setup?

[2019-03-11 20:08] Webagent05 commented on #347
@jeffpaul

I was pulling content, and suddenly page 1 is empty, page 2 shows posts. So pulled further from page 2.
When 1 page was left the page was empty.

I've changed the screen options 'amount posts'.
Made it 5 posts, again page 1 empty other pages showing posts.

I've repeated this to 1 post per page.
Results in 1 page empty, 1 post not pulled.

![distributor-issue-1](https://user-images.gith

[2019-03-11 21:25] Webagent05 commented on #347
Forgotten plugin

RSSaggregator on master website

[2019-03-12 05:15] pafro commented on #346
@Webagent05

I'm getting this "Save" always running too.  From a previous/current issue of yours I can see that we're both using the Newspaper theme.

I see this in the chrome console when it keeps showing 'Saving':
Request:
[code]
403 Response:
[code]

If I disable the Distributor plugin that exact request then works OK, returns 302

Distributor Plugin V1.4.0
WP version: 5.1.0
Latest Theme Versio

[2019-03-12 17:37] jeffpaul opened #348 "Distributing Page Builder styles and scripts"
I received the following feedback in one of my email conversations with someone who's tested Distributor, but ran into a limitation.

I'm not initially certain how best to go about solving for this issue, but wanted to capture this here as a possible future iteration to consider styles/scripts and Page Builders in general.  I'm not certain if Elementor is storing those styles/scripts as post meta

[2019-03-12 18:54] jeffpaul commented on #348
Another respondent with essentially the same piece of feedback, but who otherwise has Distriburor working well for them:

[2019-03-13 13:59] Webagent05 commented on #346
No interactions anymore with the developers?

Would love to see this plugin work well.

[2019-03-13 14:03] Webagent05 commented on #347
@jeffpaul any idea of the issue?

[2019-03-13 16:04] jeffpaul commented on #315
@swshogren if you're still not seeing a green circle in the `Status` column on http://yourdomain.com/wp-admin/admin.php?page=distributor, then the External Connection setup is not yet complete.  You're correct that on the `Edit External Connection` screen that you'll want http://externaldomain.com/wp-json as the general format set in the `External Connection URL` field.  You'll also want to ensure

[2019-03-13 16:15] jeffpaul commented on #347
@Webagent05 are you able to push content from `News from Bitcoinmag.eu` to whatever site these screenshots are from?

[2019-03-13 16:20] jeffpaul commented on #346
@Webagent05 @Webagent05 I'd like to try your setup with the Newspaper theme as well, but in searching there are many available.  Can you confirm the slug for that theme or any further details so I can ensure I'm testing with the same theme?

[2019-03-13 16:53] Webagent05 opened #349 "Uninstall distributor (completely)"
Hi there,

How to uninstall/delete distributor completely? It leaves db values behind.

After deleteing and reinstalling, ... settings are still the same.

[2019-03-13 17:54] Webagent05 commented on #347
Yes, but at a certain moment in the pull ist there was 1 item left. But it wasn't shown.

I removed the connection and I'm trying it again.

ps. would be nice to have an option to keep the original post date ... & filter/sorting is not working in the pulled content overview.

[2019-03-13 17:55] Webagent05 commented on #346
@jeffpaul it's the "tagdiv newspaper theme", just paste in google.

[2019-03-13 17:59] Webagent05 commented on #347
@jeffpaul ... I'm thinking ...

Changed theme to standard didn't matter, but ... just try to put the post options 'amount of pulled posts' to 30 items and pull than the posts. Maybe it will re-produce...

[2019-03-13 18:00] Webagent05 commented on #347
@jeffpaul

After removing the connection and adding the connection again. It seems solving this issue.

[2019-03-13 18:03] Webagent05 commented on #97
Hi there,

I also agree on this.

Even more settings would be welcome per added connection.

[2019-03-13 18:45] TheJester12 commented on #315
I just installed the plugin today across three sites, trying to set up the external connections from one to the other two. Using Application Passwords. I always get this error:

[2019-03-13 22:21] tedgeving opened #350 "ACF Field date does not migrate when pulling to a subsite from a subsite."
Request to add/improve support for pulling ACF fields attached to a CPT in a multisite environment.

I did test run our staging environment, body and featured image fields migrated correctly.  The ACF image fields did not have the correct images attached.  However the unattached images were migrated to the media manager.  We are using ACF and the ACF Repeater field to build layouts on these pages.

[2019-03-14 13:42] synthetiv commented on #233
I've also run into this issue recently, although in my experience it's not limited to updates.

For internal connections, `post_date` is preserved when pulling posts, but not when pushing; and although I haven't worked with external connections, looking at the code it seems like `post_date` would be ignored when pushing _and_ when pulling. Indeed, `WordPressExternalConnection::pull()` explicitly c

[2019-03-14 15:15] jeffpaul commented on #349
@Webagent05 thanks for calling this out, we'll work to handle this in an upcoming release (though not yet certain on the timing of when that will happen).

[2019-03-14 15:19] jeffpaul commented on #315
@TheJester12 are you using the `/wp-json` URL structure and the password from the `Application Passwords` section of the user profile?

[2019-03-14 15:20] jeffpaul commented on #347
@Webagent05 thanks for the update, may have just been network latency then?  Are you still seeing the warning on the Pull Content screen or has that disappeared as well as seeing the posts appear in the list table now?

[2019-03-14 15:25] jeffpaul commented on #350
@tedgeving thanks for the feedback, it's greatly appreciated!  In the [`Known Caveats/Issues` section](https://github.com/10up/distributor#known-caveatsissues) we call out some known issues with `Post Meta Associations` and `External Connection Post Type Support` as well as available hooks and how a CPT needs to be registered to ensure full distribution support.  Let me know if your uses are diffe

[2019-03-14 15:28] jeffpaul commented on #233
@synthetiv thanks for confirming your use case and additional input on how we could better support your usage.  We'll look at addressing this in an upcoming release (though not yet certain on the timing of when that will happen).

[2019-03-14 15:54] jeffpaul commented on #346
@Webagent05 @pafro ok, I see that the [Newspaper theme](https://themeforest.net/item/newspaper/5489609) is a paid theme on ThemeForest.  In lieu of me paying to test this out, could you switch to a  [theme from WordPress.org](https://wordpress.org/themes/) (e.g., [Twenty Nineteen](https://wordpress.org/themes/twentynineteen/))?  Also, I checked in the Gutenberg repo and see a couple issues related

[2019-03-14 16:39] tedgeving commented on #350
@jeffpaul  Thanks for responding.  My bad for not reading the docs more carefully.   Is there any documentation on how to use the use the hooks mentioned above that I can take look at?

[2019-03-14 19:02] Webagent05 commented on #346
@jeffpaul deleting the connection and adding the connection again solved it.

I think I was to generous with pulling 30 posts in 1 time. This caused the issue twice.

[2019-03-15 08:31] Webagent05 commented on #349
@jeffpaul I think this plugin has a future, so I like to contribute to the distributor....  :p

[2019-03-15 13:28] drebbits commented on #346
@jeffpaul I can confirm this issue, and I just opened a [PR](https://github.com/10up/distributor/pull/351) describing what the issue was.

I was able to reproduce with the following setup:

Distributor Plugin v1.4.0 (freshly installed/activated, no connection yet)
WP version: 5.0 to 5.1.1
Theme: Twenty Nineteen
Has custom meta boxes: Yes

[2019-03-15 18:58] jeffpaul commented on #346
@Webagent05 @pafro note that we just released [1.4.1](https://github.com/10up/distributor/releases/tag/1.4.1) that may resolve this issue for you.  Please let me know your results after updating to 1.4.1, thanks!

[2019-03-17 15:19] Webagent05 commented on #346
@jeffpaul seems to be solved with updating to 1.4.1

[2019-03-19 16:01] jeffpaul commented on #350
@tedgeving none that I'm immediately aware of.  If you have specific examples you're trying to solve for, let us know and I'll check to see if anyone has related code that could be helpful.

[2019-03-19 16:03] jeffpaul commented on #346
Thanks for confirming @Webagent05, I'll close this issue.
Resolved by #351.

[2019-03-19 16:03] #346 closed

[2019-03-19 16:08] jeffpaul commented on #349
@Webagent05 thanks, all contributions are welcome!  If you're able to work up a Pull Request for this issue, then we'd gladly take it into review for a Distributor release.

[2019-03-20 08:45] arsendovlatyan commented on #350
@tedgeving I can provide ACF integration code, but it's part of our fork (we have ingratiation with ACF, WooCommerce and other extensions) and was not tested with original Distributior plugin. However, I think if you will load this file from a child theme or make it as a separate plugin - it must work!
Hope this helps!

[acf.zip](https://github.com/10up/distributor/files/2987162/acf.zip)

[2019-03-20 17:01] arsendovlatyan commented on #321
Hey @jeffpaul
Sorry, if it's possible, would to hear your feedback, to be able to move ahead or close this issue.
I think we can add another option and call it maybe `Override canonical URL `, which will be ON by default, but I'm not sure if this functionality will be useful for others.
If it's useless or can confuse users, maybe add a filter like  `dt_canonicalize_front_end` to be able manage thi

[2019-03-22 20:42] jeffpaul commented on #263
@PaddyWhacks interesting idea, I've added this to our `Future Release` list and will look at pulling it into a planned release, thanks for the feedback!

[2019-03-23 22:29] surferking commented on #294
I don't see the need to differentiate Network/External since sites can move between being within a network to a separate server without changing the URL or credentials. (we don't use multi-site but rather have a network separate managed servers using GitLab CI/CD)

The change is also because I like succinct naming conventions saving a little space in Admin Menus and because its just unnecessary an

[2019-03-25 16:48] gerfoley opened #354 "Multisite No connection found"
Any one have issues getting the connection to work on one site of a multisite set up?

As in trying to add external connection to a single site on the multisite and the connection won't work.

I have added the Applications Password plugin to the other site and have tested it by adding to another install (that isn't multisite) and it works.

Just can't get it to work on the multisite.. Any ideas of

[2019-03-26 16:58] dkotter commented on #326
@ivanlopez @jeffpaul Made a first pass at some fixes for this issue (see #355). What I was finding, testing this locally, is we currently make HTTP requests to figure out what internal sites a user has access to. This was causing significant slowness on large networks.

The PR mentioned switches that up to use `switch_to_blog` instead of making HTTP requests. Testing this locally with an example s

[2019-03-26 16:59] dkotter commented on #309
@michaelradojevic Thanks for this report. I just pushed some fixes in #355 that significantly sped things up for me. Would love to hear your thoughts on that and if you have time to test, to see if this helps in your use case. Thanks!

[2019-03-26 17:00] dkotter commented on #270
@JinZhenlin Thanks for this report. I just pushed some fixes in #355 that significantly sped things up for me. Would love to hear your thoughts on that and if you have time to test, to see if this helps in your use case. Thanks!

[2019-03-27 00:00] vburlak opened #356 "Submit package to Packagist"
Hey guys,
I just tried to install this awesome plugin in my Bedrock instance and found that it isn't available to Install via Composer:
~~Running `composer require 10up/post-finder`, but with no luck.~~
Running `composer require 10up/distributor`, but with no luck.

It seems that plugin not registered in Packagist [https://packagist.org/packages/10up/](https://packagist.org/packages/10up/)

I've c

[2019-03-27 19:51] samels opened #357 "Limited connection - authorization failed: single site wordpress pulling from multi-site wordpress"
One site that is part of a multi-side wordpress account is working fine. Can pull posts perfectly. All sites are in the same wordpress account.

The issue I'm having is trying to connect a separate single wordpress site to be able to pull posts from my multi-site wordpress account.

From my single site wordpress, when I try to connect a site from multi-site, I get "limited connection. authorizatio

[2019-03-28 17:43] mikelking opened #358 "Option to defalut pulled in content to draft"
*Summary*
Currently when pulling an article from another brand in distributor on WordPress, the article is automatically published on the new brand that is pulling it in. We would like to have these default to unpublished i.e. draft to allow the editor the opportunity to update category, tags and images etc before publishing. This would match how we push articles using distributor, where the defau

[2019-03-28 17:48] mikelking opened #359 "Persiste canonical association"
*Summary*
When using distributor to push or pull in content, we would like the ability to have editors updated category and author without unlinking the article from its original canonical version. Currently, the category is coming in as uncategorized in many cases and users are being asked to unlink them to add appropriate category for that site. Also some authors are not pulling in and editors a

[2019-03-28 18:17] mikelking commented on #359
Realized there may be missing context, regarding authors & taxonomies.

The receiving site does not always have the same authors/staff or taxonomies as the originating site and it has been observed that the taxes default to uncategorized which makes sense but the origin (canonical) association give munged.

[2019-03-29 04:17] mrhasbean opened #360 "Suggestion: List template tags functions in documentation"
List / explain the functions available to templates or plugins within template-tags.php in the documentation.

[2019-04-01 20:11] adamsilverstein commented on #321
Hey @arsendovlatyan Thanks for opening this issue. Jumping in for Jeff who has been out and too swamped to get back to you yet.

Removing the filter is the recommended way to disable this behavior; this is a common pattern in WordPress and part of the reason we always use a named callback you can remove vs. an anonymous function.

Another potential option you could use would be adding a later hook

[2019-04-01 20:49] jeffpaul commented on #294
@surferking we're working on some improvements to the connections setup process in [v1.5.0](https://github.com/10up/distributor/milestone/16), once those settle out we can take a look at the naming as you've noted.

[2019-04-01 20:56] jeffpaul commented on #354
@gerfoley if you're still not seeing a green circle in the `Status` column on http://yourdomain.com/wp-admin/admin.php?page=distributor, then the External Connection setup is not yet complete.  On the `Edit External Connection` screen you'll want http://externaldomain.com/wp-json as the general format set in the `External Connection URL` field.

You'll also want to ensure that the `Password` set o

[2019-04-01 20:59] gerfoley commented on #354
I have tried all of that and still can’t get it to connect.

Have the same connection working on a single site install.

It’s just on multisite that I can’t get it to work

[2019-04-01 21:00] jeffpaul commented on #326
@ivanlopez any updates on being able to test PR #355 to see how it improves/impacts your loading issue?

[2019-04-01 21:01] jeffpaul commented on #309
@michaelradojevic any updates on being able to test PR #355 to see how it improves/impacts your loading issue?

[2019-04-01 21:02] jeffpaul commented on #270
@JinZhenlin any updates on being able to test PR #355 to see how it improves/impacts your loading issue?

[2019-04-01 21:07] jeffpaul commented on #356
@vburlak your comment references `10up/post-finder`, but this is the `10up/distributor` repo.  If your question is in relation to Post Finder, then let's move this issue to the [10up/post-finder repo](https://github.com/10up/post-finder).  Otherwise, please clarify that you meant to reference `10up/distributor`... thanks!

[2019-04-01 21:16] jeffpaul commented on #357
@samels it sounds like you want to setup and `External Connection`.  If you're not seeing a green circle in the `Status` column on http://yourdomain.com/wp-admin/admin.php?page=distributor, then the External Connection setup is not yet complete.  On the `Edit External Connection` screen you'll want http://externaldomain.com/wp-json as the general format set in the `External Connection URL` field.

[2019-04-01 21:28] jeffpaul commented on #360
@mrhasbean thanks for the feedback, it's greatly appreciated!  We're always looking for ways to improve our documentation, so we would be happy to merge a PR if you have some time to work on one perhaps?

[2019-04-01 21:30] jeffpaul commented on #112
@adamsilverstein mind re-testing this to see if it can be closed?

[2019-04-01 21:36] jeffpaul commented on #358
@mikelking thanks for the feedback and welcome to Distributor-land, glad to have you here!  Your idea is similar to  #317, so dropping in that reference here.  In terms of your usage, do you ever distribute as published to some sites but draft to others or would you always distribute as draft?  I'm trying to determine how we could best support your request this while giving flexibility to broad us

[2019-04-01 21:43] jeffpaul commented on #359
@mikelking thanks again for the feedback, it's greatly appreciated!

In a scenario where an editor updates a category or author without unlinking the article from its original canonical version, what would you expect to happen if the original brand article's category or author was updated?

[2019-04-01 21:57] jeffpaul commented on #354
@gerfoley are all the sites you're looking to distribute to/from within the same multisite instance?  If so, then you don't need to utilize External Connections.  Apologies for not asking this question first.

[2019-04-01 22:24] vburlak commented on #356
Hey @jeffpaul
Oh, here is a typo in my reference, my question is related to `10up/distributor` repo.
Actually, needs to be used `composer require 10up/distributor`
Thanks!

[2019-04-02 09:19] gerfoley commented on #354
Hi @jeffpaul no the connection that I am unable to get working is between the multisite and an external single site. I am able to get the single site to pull content from the multisite, the connection works that way.

But cannot get the connection to work to allow push between the multisite and the single site which seems odd.

[2019-04-02 14:01] samels commented on #357
Hi Jeffrey,

Thanks for the reply. I did everything you suggested and it still isnt'
working.

It could be a result of this error I am getting above the Applications
passwords section of my wordpress profile:

[image: passwords error.PNG]

I've made the changes suggested in the link to try to fix the error but it
still persists.

Here's the site setup I want:

Site I want to pull to: socialpros.co

[2019-04-02 15:27] jeffpaul commented on #354
@gerfoley on your multisite setup, do you see a green circle in the `Status` column of the Distributor External Connections page (e.g., http://yourmultisite.com/wp-admin/admin.php?page=distributor)?

If not, then something may not be configured correctly so please confirm what you have set for `Authentication Method`, `External Connection URL`, and `Roles Allowed to Push` so I can try to help trou

[2019-04-02 15:30] jeffpaul commented on #357
@samels your images didn't attach in your response.  Would you please try uploading them in the GitHub web interface so I can try to help troubleshoot?

[2019-04-02 15:33] gerfoley commented on #354
@jeffpaul no thats the issue that I was wondering if someone had any idea how I could troubleshoot :)

I can only get the red circle (No Connection) on the multisite.

Authentication Method: Username / Password
External Connection Url: siteurl/wpjson
Roles Allowed to push: Administrator

I'm able to connect the same site to a single install successfully.

Its just within the multisite that it isn'

[2019-04-02 15:43] jeffpaul commented on #354
@gerfoley:
1) Is the username in the `Authentication Method` an active user on your external single site and the password from the `Application Passwords` section of that users profile?
2) Is the `External Connection URL` in the format of "http://externaldomain.com/wp-json"?
3) Is the user you're logged into the multisite and trying to push to the external single site an Administrator (since that'

[2019-04-02 15:46] gerfoley commented on #354
@jeffpaul Hi Jeff, yes to all 3 of those questions :(

[2019-04-02 15:49] samels commented on #357
![unnamed](https://user-images.githubusercontent.com/49003206/55416760-68bb9280-553d-11e9-9856-d6237625ec76.png)
![unnamed (1)](https://user-images.githubusercontent.com/49003206/55416765-69ecbf80-553d-11e9-8b37-727d2573d7bb.png)
![error2](https://user-images.githubusercontent.com/49003206/55416767-6b1dec80-553d-11e9-8092-2c3ad57f8e2a.PNG)

[2019-04-02 16:35] jeffpaul commented on #354
@gerfoley seems like it might be best for us to coordinate for a screenshare so I can try and help troubleshoot with you in real time.  Mind sending me an email (jeff.paul@10up.com) so we can find time to meet and try and get this resolved for you?

[2019-04-02 16:39] jeffpaul commented on #357
@samels what version of WordPress, Distributor, and other installed plugins and themes are you running?

[2019-04-02 16:54] samels commented on #357
Wordpress version 5.1.1, Distrubutor 1.4.1, Theme OceapWP

[2019-04-02 17:02] samels commented on #357
**Plugins**
Ajaxify,
Better Search Replace
Contact Form 7
Display Posts
Distributor
Duplicate Post
Easy Custom Sidebars
Easy Table of Contents
Elementor
EWWW Image Optimizer
Freshchat
Fusion Builder
Fusion Core
Head, Footer and Post Injections
Health Check & Troubleshooting
Insert Headers and Footers
Instapage Plugin
MaxButtons
Ocean Custom Sidebar
OneSignal Push Notifications
OptinMonster
PDFjs V

[2019-04-02 17:11] samels commented on #357
And just so you know, the .htaccess error shown above is fixed

[2019-04-02 18:39] jeffpaul opened #361 "Refresh Known Caveats/Issues list"
With several major releases since we last reviewed and updated our [Known Caveats/Issues list](https://github.com/10up/distributor#known-caveatsissues), let's aim to assess those listed to see if they're still accurate and if not then update/remove them.

[2019-04-02 18:48] jeffpaul commented on #357
@samels looking at the first error you shared, it looks like your server is likely configured with PHP in CGI or FastCGI modes which negatively impacts the Application Passwords plugin.  Please attempt to follow the [steps noted by the Application Passwords plugin](https://github.com/georgestephanis/application-passwords/wiki/Basic-Authorization-Header----Missing) to resolve that issue and see if

[2019-04-02 18:57] samels commented on #357
Thanks, but I followed the steps in that link and still get the same error.
[image: vcs]

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Apr 2, 2019

[2019-04-02 19:50] jeffpaul commented on #357
@samels can you confirm that the changes to the `.htaccess` file were saved and if so what the permissions are for that file on your server (https://github.com/georgestephanis/application-passwords/issues/72 points to this as a possible issue for `Application Passwords`)?

[2019-04-02 20:27] samels commented on #357
I can confirm that the changes were saved and that I have full permissions
on our server
[image: vcs]

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue

[2019-04-02 20:47] jeffpaul commented on #357
@samels seems like it might be best for us to coordinate for a screenshare so I can try and help troubleshoot with you in real time. Mind sending me an email (jeff.paul@10up.com) so we can find time to meet and try and get this resolved for you?

[2019-04-03 08:44] joshuaabenazer opened #362 "Excluding distributed posts from sitemaps"
Sitemaps provide priority consideration for crawling, but indexing is determined based on the canonicals and indexing tags, not by the sitemap files themselves.

Plugins that generate sitemaps like Jetpack and Yoast do not exclude the distributed posts by default from the sitemaps. The crawlers are pretty sophisticated and if the canonicals are in place, there's no reason to worry, but if there's

[2019-04-03 13:20] CodeBaja commented on #357
.htaccess change is not working in Bitnami multisite wordpress.

Solution is to update following file with same change you were doing in .htaccess
/opt/bitnami/apps/wordpress/conf/httpd-app.conf
[code]

Then restart apache server:

```sudo /opt/bitnami/ctlscript.sh restart apache```

[2019-04-03 13:53] jeffpaul commented on #357
@CodeBaja does that change you referenced resolve the HTTP Basic Authorization issue with the Application Passwords plugin or something else?

[2019-04-03 18:24] michaelradojevic commented on #309
@jeffpaul @dkotter Sorry about the lack of updates - I've been busy with lots of non-web stuff lately (do-all IT). I'll try to get some testing in by the end of this week and update with my results.

[2019-04-04 19:22] jeffpaul commented on #347
@Webagent05 Are you still seeing the warning on the Pull Content screen or has that disappeared as well as seeing the posts appear in the list table now?

[2019-04-04 19:23] jeffpaul commented on #327
@anton-roos any updates on your setup testing?

[2019-04-04 19:24] jeffpaul commented on #315
@smallbizwordpress any updates on your setup testing?

[2019-04-04 19:26] jeffpaul commented on #299
@RGChappell any updates on your setup testing?

[2019-04-04 19:27] jeffpaul commented on #295
@lselbach any updates on your setup testing?

[2019-04-04 19:33] lselbach commented on #295
Hi Jeffrey, thanks for asking!

I'm waiting the authors to create some blog posts then make the connection.
So far, it´s working

I'll tell you when it´s ok
cheers

*Lucas Selbach*
*Palestrante / Facilitador de Equipes*
*Contribuindo para seu sucesso *
*Contributing to your success *
www.lucasselbach.com.br
fb.com/lucasselbachproducoes/
youtube.com/channel/UCTZrCxvkuWs6y-Ue3VGwsIw
*(51) 99322.4106

[2019-04-04 23:08] jeffpaul commented on #209
@dcgraphics1 I'm working on updating our documentation to provide more detailed setup instructions for External Connections.  If you're still having problems, then please give this a try: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords

[2019-04-05 15:24] jeffpaul commented on #76
@dleeward thanks for the input, interesting idea.  What's the use case you're looking to solve for with this idea?

[2019-04-05 15:27] jeffpaul commented on #311
@psorensen checking in to see if you're able to work on a PR for this as noted?

[2019-04-05 15:42] jeffpaul commented on #103
@meredevelopment thanks for the feedback, it's much appreciated!  Since your original comment has been edited, its difficult for me to tell the order in which you tested some items.  Can you confirm whether you had the CPT registered with the argument `show_in_rest => true` on the remote site when you started testing or if that was a change made later on?  If that was missing originally, then that

[2019-04-05 15:59] jeffpaul opened #364 "Docs: add push vs. pull details"
I've seem some similar threads while handling support via GitHub and email that folks aren't easily able to understand how to push and how to pull content (and that it's handled in different ways/places).  Let's look at adding info to our documentation that covers each of these scenarios to help folks onboard easier to Distributor.

For those watching, I'd happily welcome a PR to add this to READM

[2019-04-05 16:19] jeffpaul commented on #350
Possibly related to #180 and #103

[2019-04-05 19:40] jeffpaul commented on #338
@edemir206 thanks for the feedback on Distributor, it's much appreciated.  If you're using Distributor in a multisite setup, then you do not need to worry about setting up External Connections.  Any user logged into the network can distribute any content in the network to any other sites in the network where that user has permission to publish posts (assuming the site supports the same post type).

[2019-04-05 19:48] jeffpaul commented on #357
Confirming via email that @samels was able to resolve his issue.  So @CodeBaja please keep me posted on how your testing goes, thanks!

[2019-04-09 16:23] jeffpaul commented on #361
Beginning to work through this in #363.

[2019-04-09 16:58] jeffpaul opened #366 "Unable to PUSH new CPTs"
In order for CPTs to be supported, we state in our [Known Caveats/Issues section](https://github.com/10up/distributor#known-caveatsissues) that:

I've been triaging a couple user setups who are leveraging the [CPT UI plugin](https://wordpress.org/plugins/custom-post-type-ui/) for creating CPTs.  In my testing I'm seeing that with proper External Connections created and the same CPT setup on each s

[2019-04-10 21:49] lselbach commented on #295
Hi Jeffrey
Tried again with no luck (any help????)

Articles created on Matza.group
Installed plugin distributor
installed plugin application passwords
created user matzamentor to trade content with the password provided

On Matza.group
[image: image.png]

On Matza.academy (pull content from Matza.group)
distributor plugin installed
application password plugin installed
put information from user c

[2019-04-11 21:03] jeffpaul commented on #295
@lselbach your images didn't get uploaded, would you mind trying that via the GitHub.com UI?  Also, here's a draft of the steps for setting up External Connections to use in your setup/testing: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords.

[2019-04-12 22:46] michaelradojevic commented on #309
@dkotter @jeffpaul That took care of it! With these commits I'm now seeing only ~70 ms added to page loads with Distributor enabled vs. the 10-20 seconds I'm seeing with the current release.

[2019-04-15 20:59] jeffpaul commented on #309
@michaelradojevic thanks for the feedback, stay tuned for the 1.5.0 release as that'll most likely be where these improvements get included!

[2019-04-16 17:25] mikelking commented on #358
@jeffpaul ,

My apologies on the delay. Yes we do on occasion distribute to published state but that would be the outlier.

[2019-04-16 17:32] mikelking commented on #359
Once again apologies for the delay. I believe the desired outcome is not to alter the original content at the source, only to ensure that the duplicate maintains it's link to that canonical version.

[2019-04-18 20:40] nypolitics opened #369 "Pull Warning: stripos() expects parameter 1 to be string"
I'm trying to pull posts from a minor site to the main site. When I attempt to pull, I get this warning: "Warning: stripos() expects parameter 1 to be string, array given in /wp-includes/formatting.php on line 4185"

[2019-04-18 20:43] jeffpaul commented on #369
@nypolitics are you using Distributor in a multisite setup?  If not, are the External Connections setup and showing a green circle as connected?

[2019-04-20 19:10] nypolitics commented on #369
I am not using a multisite setup (that's another story - problems accessing sub sites). Both the main and external site are connected with a green circle. When I push content from the sub site to the main site, the post successfully transfers. However, when I try to push content from the main site to the sub site, Distributor on the main site says the post was successfully transferred, but the pos

[2019-04-23 19:44] jeffpaul commented on #369
@nypolitics are you trying to push a Post, Page, or Custom Post Type from the main site to the sub site and not seeing it appear on the sub site?  I'm trying to understand specifically what you're trying to push that's not working.  In parallel, can you try on the sub site to Pull that same piece of content from the main site and see if that works?

[2019-04-23 21:08] kg-lvargas commented on #338
I have the same issue. On a Multi site network the no initial connection are set for internal connection. I tried to use  Authentication method Wordpress.com Application and Mange to pull the post but the "Limited connection established. Authentication failed.
Push distribution unavailable.
Pull distribution limited to basic content, i.e. title and content body." message appeared. I don't have set

[2019-04-23 21:12] kg-lvargas commented on #354
@jeffpaul I have the same issue on a distributed multisite setup. I used the external connection with wordpres.com Application authentication method but I get a "Limited connection established. Authentication failed.
Push distribution unavailable.
Pull distribution limited to basic content, i.e. title and content body."  So of the other posts talk about having a  Application Passwords plugin set u

[2019-04-24 14:23] jeffpaul commented on #338
@kg-lvargas we're working to add more detail to our documentation here in GitHub, but for now you can follow these instructions to setup External Connections on WordPress multisite using the Application Passwords plugin: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords

[2019-04-24 14:23] jeffpaul commented on #354
Closing in favor of #338.

[2019-04-24 14:23] #354 closed

[2019-04-24 15:53] gthayer opened #370 "`dt_push_post_args` filters are defined inconsistently."
The filter `dt_push_post_args` is used inconsistently, where [External Connections](https://github.com/10up/distributor/blob/develop/includes/classes/ExternalConnections/WordPressExternalConnection.php#L618) are using 3 variables with the 3rd being the class object, while [Internal Connections](https://github.com/10up/distributor/blob/develop/includes/classes/InternalConnections/NetworkSiteConnect

[2019-04-26 11:29] avag-novembit opened #372 "Distributed post attachments localization"
First of all thank you for the great plug-in!

Currently, attachments in distributed post content are linked back to the hub [from where distributed]. As currently there is a functionality to distribute post attachments as well, I think it would be better to replace the attachments' URL-s in the post content so they reference to current site (use the distributed attachments in post content).

I'll

[2019-04-26 16:03] jeffpaul commented on #372
@avag-novembit thanks for the feedback, for the PR, and welcome to Distributor its great to have you here!  We'll take a look at the PR and let you know if there are any questions or concerns with the approach... thanks again!

[2019-04-29 12:22] PaddyWhacks commented on #321
Just something that may be of use here - I had a similar query and Adam gave me some great feedback. https://github.com/10up/distributor/issues/135

[2019-04-29 17:07] jeffpaul commented on #369
In email discussions with @nypolitics it appears that a potential root cause here could be that one External Connection is on HTTPS while the other is on HTTP.  We'll need to test this to see if that causes issues with pushing or pulling posts.  Additional details via email:

"Warning: stripos() expects parameter 1 to be string, array given in /server/path/remote-site/wp-includes/formatting.php on

[2019-05-02 12:27] zsection opened #374 "Is there a way to distribute on first publish rather than after?"
Hi, perhaps I'm missing this but is there a way to distribute the post upon publishing? At the moment, I only see the option to after publishing. Thanks

[2019-05-02 17:31] jeffpaul commented on #374
@zsection you are correct, the Push functionality is present post-publish in the toolbar.

[2019-05-02 17:46] adamsilverstein commented on #374
@zsection you could likely add code that distributed content on publish using WordPress hooks. Currently the UI also involves choosing which site(s) to distribute to, and whether to distribute as draft, you would need to handle those choices in your post publish hook.

[2019-05-06 22:45] kg-lvargas opened #375 "Custom field 'file' is not being copied when post is distributed"
Currently the post is coping all the fields except the AFC File field. We really need to copy the whole structure of the post including that file.

[2019-05-07 14:42] kg-lvargas commented on #350
@arsendovlatyan Will that acf,zip will help for files too? I really need to be able to import a AFC file attribute when I use distributor.

[2019-05-07 15:02] jeffpaul commented on #375
@kg-lvargas welcome to Distributor, your feedback is greatly appreciated!  This appears to relate to #350 (as you've noted on that issue), but please let me know if you feel you've got an alternate issue that what's described there.  I've otherwise marked this for a Future Release milestone, but would happily review a PR if you're able to work on an update.

[2019-05-07 15:05] arsendovlatyan commented on #350
@kg-lvargas Yes, we are successfully distributing ACF's  file-type custom fields.

[2019-05-13 16:26] jeffpaul opened #379 "Enable whitelisting/blacklisting taxonomies/terms"
**Is your enhancement related to a problem? Please describe.**
A request came in to enable whitelisting/blacklisting taxonomies/terms in Distributor that don’t want new terms created.  An example would be if you want certain posts to be pulled in via Distributor but only allow certain terms to be set or created in a specific taxonomy.

**Describe the solution you'd like**
PR already submitted: #37

[2019-05-13 22:21] dmaslogh opened #380 "Featured Image not transfered"
I've started using this plugin, run several tests on it and it's working fine except for the fact that's not transferring any Featured Image. Not from posts, pages or CPTs.

[2019-05-14 13:39] jeffpaul commented on #380
@dmaslogh welcome to Distributor and thanks for the feedback, it's greatly appreciated!  Can you confirm the following to help us triage your issue?

1. Are you using internal connections (via multisite) or external connections (e.g. separate WP installs)?
2. What filetype is/are the featured image(s) that aren't transferring?  Note that #180 already calls out an issue with SVGs, but I'm curious i

[2019-05-14 13:59] dmaslogh commented on #380
@jeffpaul thanks!

1. Using internal multisite connection.
2. Most of them are JPG, but there could be some PNG as well. No SVG though.
3. Versions of the main packages are:
  - WP 5.1.1
  - Divi (latest 3.22.x)
  - Distributor 1.4.1
  - ACF 5.7.13
  - Events Manager 5.9.5
  - Gravity Form 2.4.8.9
  - and some other with less impact like wp-pagenavi, akismet, etc.

Hope this helps.

[2019-05-15 17:24] jeffpaul commented on #380
@dmaslogh there are some reports of weirdness with ACF, any chance the images are in a field there that aren't getting distributed or is it literally the default WP featured image field?

[2019-05-15 17:27] dmaslogh commented on #380
@jeffpaul it's the standard Featured Image from WP enabled in a CPT. We are not dealing with ACF image fields.

[2019-05-15 17:31] jeffpaul commented on #380
@dmaslogh is the CPT setup on both the origin and distributed sites?  If so, are these custom CPTs or are they created using a plugin (e.g. [CPT UI](https://wordpress.org/plugins/custom-post-type-ui/))?

[2019-05-15 17:44] dmaslogh commented on #380
@jeffpaul I've created a plugin that registers the same CPT on both sites. The CPTs are created by code, the internal fields are created using ACF.

[2019-05-15 18:34] jeffpaul commented on #380
@dmaslogh ok, that's helpful detail.  I'm labeling this as a `bug`, but if there's any further details on errors or code samples you can provide to help with further triage that would be greatly appreciated, thanks!

[2019-05-15 18:55] dmaslogh commented on #380
@jeffpaul I'll need to check with my client, but I think I can share with you some code if you need it. Just let me know if there's something specific you find useful for this research and I'll try to provide it asap.
Thanks!

[2019-05-21 14:32] dmaslogh commented on #380
@jeffpaul Did you have any luck reviewing this? Did you at least reproduce the error on your side?
I appreciate if you keep me posted on this.

[2019-05-21 15:09] jeffpaul commented on #380
@dmaslogh we're currently focused on finishing up our [1.5.0 release](https://github.com/10up/distributor/milestone/16), which is mainly focused on major performance improvements on the Push and Pull screens within Distributor as well as an enhanced connection setup process.  From there we'll be reviewing open issues and PRs to determine what to target in our next release, so for now I'm milestoni

[2019-05-21 15:17] dmaslogh commented on #380
@jeffpaul thanks!

[2019-05-24 09:51] FilNunes opened #381 "ACF image field does not migrate."
I am using the distribuitor to use and copy customs post from site A to Site B.
These custom posts have ACF custom fields , All fields (Featured, image, body text, input ACF fields)  are copying well the info, except for the ACF image Field. This field is empty on the Site B.

Do you have any idea how to fix this?

Kind Regards,
Filipe Nunes

[2019-05-24 11:56] FilNunes commented on #81
I have the same problem ... any solution ?

[2019-05-24 13:31] jeffpaul commented on #381
@FilNunes there are some related image issues reported that we will take a look at after we finish up our [1.5.0 release](https://github.com/10up/distributor/milestone/16), which is mainly focused on major performance improvements on the Push and Pull screens within Distributor as well as an enhanced connection setup process.  From there we'll be reviewing open issues and PRs to determine what to

[2019-05-24 14:03] FilNunes commented on #381
@jeffpaul
I have found out that wrong image ID is referenced. The problem is related with media ID that is not updated within the data that was distributed and old image remains but it is nonexistent (or the wrong image will be displayed) on new site.
Example:
meta_key:  eventocapa   (ACF field name)
meta_value: 540  Value from old Website A:, Instead of the new media ID on Site B

If i changed di

[2019-05-28 14:14] jeffpaul commented on #123
Related to #370.

[2019-05-28 23:14] colinhowells commented on #372
One reason why this'd be useful is that `wp_make_content_images_responsive()` can't run on images in distributed content right now – so while on the source, you'd have all the `srcset` and `sizes` you'd expect, but on the destination you'd only have a link to a full-size image.

[2019-05-30 17:07] Kpudlo commented on #374
@jeffpaul @adamsilverstein I've been attempting to work on a distribute-on-publish solution (External Connection) but have been having a hard time trying to figure out the correct order/hooks to use to get this done. Would either of you happen to have a sample or direction on where to start on this?

I believe it would be `do_action( 'dt_push_post', $response, $post_body, $type_url, $post_id, $arg

[2019-05-30 21:23] mrazzari commented on #338
Maybe related: we inherited a framework that was doing a `session_start()` by default:

[code]
This will cause the "No connections available for distribution" on multisite (no external connections).

A broken plugin / theme outputting text before the <!DOCTYPE> will cause the same issue, eg:
[code]

[2019-05-31 23:01] mrazzari commented on #338
Here's another one.

In `\Distributor\InternalConnections\NetworkSiteConnection::get_available_authorized_sites` it's doing an `admin-ajax` ping against every site in the network, to verify permissions.

I'm sure I'm missing something, but... Shouldn't this just `switch_to_blog()` to do these checks?

I've hit upon this issue in a staging install, where `https` was getting a bad cert error (lack o

[2019-06-03 13:31] mrazzari commented on #381
@FilNunes we're using this in prod to solve this issue https://github.com/ulkish/distribute-acf-images

[2019-06-04 01:44] Kpudlo commented on #380
We've been having this same issue with an external connection. For some reason, some posts aren't transferring the standard featured image.

After activating the debug log, we're getting the following error:
`PHP Notice:  Object of class WP_Error could not be converted to int in /<server_path>/wp-content/plugins/distributor-stable/includes/push-ui.php on line 155`

[2019-06-04 02:29] jeffpaul commented on #380
@Kpudlo thanks for the debug info, that's massively helpful!

[2019-06-04 09:49] FilNunes commented on #381
@mrazzari

Thanks for sharing, your code only works for multi network sites.  You can improve your code checking if is_multisite().

Kind Regards,
Filipe Nunes

[2019-06-04 10:04] FilNunes opened #382 "multilingual posts usgin WPML"
Hi,
Have a multilingual website with the WPML plugin.
Both sites have the WPML plugin.
Distribuitor is is pulling the pots in English, but does not pull the posts in other languages.

Kind Regards,
Filipe Nunes

[2019-06-04 15:59] jeffpaul commented on #382
@FilNunes I'm not familiar with WPML's architecture, but a quick look at their product tour makes it seem like they're creating separate posts for each translation and somehow maintaining the link between translated posts.  In that case, Distributor would likely treat each post as a different post needing to be distributed.  I see that WPML has a [compatibility program](https://wpml.org/documentat

[2019-06-04 21:00] mrazzari commented on #381
@FilNunes you're right! It's not my code, I'll file an issue though! Thanks!

[2019-06-05 09:18] FilNunes commented on #382
@jeffpaul

Thanks for your feedback. I can share with you the last version of WPML plugin in private.

Kind Regards,
Filipe Nunes

[2019-06-05 15:21] avag-novembit opened #383 "Apply hook in the `meta_box_external_connection_details(..)` function"
In order to add ability to add 'external connection details' outside the plug-in going to create a pull request, which appends `do_action( 'dt_meta_box_external_connection_details', $post );` in the `meta_box_external_connection_details(..)` function.

[2019-06-05 15:30] jeffpaul commented on #383
@avag-novembit thanks for the heads up, looking forward to the PR for the team to review!

[2019-06-05 16:05] avag-novembit opened #385 "Add hook to 'menu content'"
Adding PR to apply hook in the `menu_content()` function.

[2019-06-05 16:35] jeffpaul commented on #385
@avag-novembit thanks for the heads up and for the related PR for the team to review!

[2019-06-05 16:49] jeffpaul opened #387 "Generate hook docs"
With many people already extending and others looking to further extend Distributor, we should look to generate hook docs for folks to leverage (possibly in docs/hooks.md to start and we can iterate from there unless folks have a better starting point?).

[2019-06-05 17:21] mikelking commented on #359
No new news yet.

[2019-06-05 18:04] jeffpaul opened #388 "Update Registration and Settings screen"
**Is your enhancement related to a problem? Please describe.**
From our UX review, it has been recommended to add more specificity and linked contextual help.

**Describe the solution you'd like**
Start with registration as that's the 1st thing you would need to do.  "Help" links to the Settings area of the docs page (docs page still to-be-created).  Contextual help also links to the relevant part

[2019-06-05 18:44] jeffpaul opened #389 "Update settings to be connection-specific"
**Is your enhancement related to a problem? Please describe.**
In the future, it might make sense to make these settings Connection specific, expanding Connection settings.

**Describe the solution you'd like**
Essentially move the `Images` and `Author byline` sections into Connection Settings.

**Designs**
https://cldup.com/ExfxTPujeN.png

**Describe alternatives you've considered**

**Additional

[2019-06-05 19:32] jeffpaul opened #390 "Update connection setup and management"
**Is your enhancement related to a problem? Please describe.**
Reduce confusion between our internal and external connection labels, making all connections equal.  First focus on getting the connection going, all other settings are irrelevant unless this is done.  Having a dedicated settings area for each Connection opens up the possibility to extend Connection level settings more consistently.

*

[2019-06-05 19:40] jeffpaul opened #391 "Confirm network sites to include in list of internal connections created"
**Is your enhancement related to a problem? Please describe.**
When creating internal connections on a multisite instance, we should not assume that all networked sites should be included in the connections listed for distribution.

**Describe the solution you'd like**
On a network setup, we should consider an additional explicit step to confirm which internal network sites should be listed as ava

[2019-06-05 20:31] jeffpaul opened #392 "Update Pull Content screen"
**Is your enhancement related to a problem? Please describe.**
Making batch manipulation easier to understand and establish patterns for scale for setups with lots of connected sites.  Having `Skipped` items treated like new allows to pull things late which were accidentally skipped for some reason.

**Describe the solution you'd like**
From the designs below, ignore the changing header as we'll k

[2019-06-05 21:35] jeffpaul opened #393 "Update Push modal"
**Is your enhancement related to a problem? Please describe.**
Assuming we want to keep the current Push interaction, these changes consolidate connection selection for pushing content and allow for scalability for a high volume of sites.

**Describe the solution you'd like**
- [ ] empty state should include help and link to next required step
- [ ] add `Help`, linking to "Distributing content" se

[2019-06-05 21:52] jeffpaul commented on #203
@Kpudlo is this still an issue and if so could you clarify the question from @dkotter above?

[2019-06-05 21:53] jeffpaul commented on #347
@Webagent05 are you still seeing this warning or can we close this issue as resolved?

[2019-06-06 11:32] avag-novembit opened #394 "Add hook to modify connection cpt arguments"
Created another PR to add `dt_before_setup_cpt` filter to make possible to modify `dt_ext_connection` custom post type arguments.

[2019-06-06 12:10] Kpudlo commented on #203
@jeffpaul, @dkotter, my apologies for not replying back in September! This is no longer an issue for me. Thank you for your assistance!

[2019-06-06 13:28] jeffpaul commented on #203
Closing as resolved, thanks!

[2019-06-06 13:28] #203 closed

[2019-06-06 13:44] jeffpaul commented on #103
@meredevelopment can you confirm if the CPT was properly registered, and more broadly if this is still an issue for you or not?

[2019-06-06 13:45] jeffpaul commented on #76
@dleeward whats the problem you're trying to solve with this cron-based solution?

[2019-06-06 13:48] jeffpaul commented on #246
@PaddyWhacks are you still seeing issues in setting up external connections?  If so, please give these instructions a try to see if they help: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords.

[2019-06-06 13:50] jeffpaul commented on #295
@lselbach any updates on trying those instructions for setting up External Connections?

[2019-06-06 13:51] jeffpaul commented on #311
@psorensen any chance you'd be able to work up a PR for that in hopes of it landing in an upcoming release?

[2019-06-06 13:53] jeffpaul commented on #315
@smallbizwordpress @swshogren @TheJester12 here are some updated instructions for setting up External Connections, please give them a try and see if that helps resolve your issues: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords.  Thanks!

[2019-06-06 13:54] jeffpaul commented on #327
@anton-roos here are some updated instructions for setting up External Connections, please give them a try and see if that helps resolve your issues: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords. Thanks!

[2019-06-06 13:55] jeffpaul commented on #357
@CodeBaja here are some updated instructions for setting up External Connections, please give them a try and see if that helps resolve your issues: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords. Thanks!

[2019-06-06 13:57] lselbach commented on #295
Hi Jeffrey
I'm copying Marco and Fabiana
They are working on it and can tell you if the plugin is working or not

Regards
Lucas

Em qui, 6 de jun de 2019 10:50, Jeffrey Paul <notifications@github.com>
escreveu:

[2019-06-06 14:42] jeffpaul opened #396 "Explore alternate Push interfaces"
**Is your enhancement related to a problem? Please describe.**
Documenting this exploration as an issue to consider/discuss having Push UI outside of the Admin Bar (e.g. Gutenberg-specific flows, Classic Editor-specific flows).  How prominent is Distribution from the front-end?  Following Gutenberg patterns, document level actions are in the toolbar?  Pros and cons of Admin Bar versus Gutenberg/Cl

[2019-06-06 15:49] jeffpaul commented on #394
@avag-novembit thanks again for the heads up and for the related PR for the team to review, your contributions are much appreciated!

[2019-06-06 16:21] jeffpaul opened #397 "Update pulled content management"
**Is your enhancement related to a problem? Please describe.**
Include various states for better communicating the current status of distributed content.

**Describe the solution you'd like**
- [ ] in Posts table view, include better details in Distributor icon column, add Pushed/Pulled/Linked/Unlinked in hover details for each item (see: https://cldup.com/kVpFJIy8bM.png)
- [ ] links to linked con

[2019-06-06 16:48] jeffpaul commented on #209
@dcgraphics1 any updates on trying those instructions for setting up External Connections?

[2019-06-06 16:49] jeffpaul commented on #299
@RGChappell here are some updated instructions for setting up External Connections, please give them a try and see if that helps resolve your issues: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords. Thanks!

[2019-06-06 16:56] jeffpaul commented on #52
@demetris are you still seeing the notice and fatal error or can we close this issue as resolved?

[2019-06-06 17:07] jeffpaul commented on #126
@dendeffe apologies for the slow response.  Are you setting up External Connections (e.g., connections across difference WordPress instances) or are you on a WordPress multisite setup?  If you're setting up External Connections, then please try these updated instructions to see if they help: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-applicati

[2019-06-06 17:09] jeffpaul commented on #179
@danmaby are you still seeing the cURL error or can we close this issue as resolved?

[2019-06-06 17:12] jeffpaul commented on #160
@mitchmusarra apologies for the slow response; are you still seeing this error with Visual Composer-related distributed pages or can this be closed as resolved?

[2019-06-06 17:14] jeffpaul commented on #93
@adamsilverstein @barryceelen has this been resolved with the merge of #151?

[2019-06-06 17:15] jeffpaul commented on #192
@jeremyfelt will trade 🐟 🌮s for a PR on this... deal?  8)

[2019-06-06 17:21] jeffpaul commented on #290
@gthayer thanks for the feedback; if you've got time we'd welcome a PR to add those filters!

[2019-06-06 17:23] jeffpaul commented on #255
@stevehadley @evolveonline are you still seeing these empty posts getting created or can this be closed as resolved now?

[2019-06-06 17:25] jeffpaul commented on #324
@ivanlopez nice catch; if you've got time we'd welcome a PR to populate those correctly!

[2019-06-06 17:28] jeffpaul commented on #332
Related to #382.

[2019-06-06 17:29] jeffpaul commented on #112
@adamsilverstein mind re-testing this to see if it can be closed?

[2019-06-06 17:31] jeffpaul commented on #362
@joshuaabenazer thanks for the feedback, I'm milestoning this into our 2.0.0 release but if you've got time to create a PR that would be warmly welcomed!

[2019-06-06 17:36] jeffpaul commented on #338
Thanks for the debugging and feedback @mrazzari; if you've got time we'd welcome a PR to handle those issues!

[2019-06-06 18:53] Webagent05 commented on #327
Hi all, what I noticed when add a rule to wpconfig ... when wordpees update runs. The rule dissapears. So evey update of WP need to add "authenticaion rule" again.

Maybe need to check the wp config file.

[2019-06-06 19:01] jeffpaul commented on #327
@Webagent05 are those changes related to Distributor or something else?

[2019-06-06 19:25] bobbingwide commented on #179
Why do you think this has been resolved? Is there a fix?

[2019-06-06 19:34] Webagent05 commented on #327
Application password plugin.

RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]

Everytime wordpress core update this rule dissapears in htaccess, ....

Sorry not wordpress config as mentioned in my earlier comment.

[2019-06-06 20:07] espechtcfe opened #398 "duplicated content when distributed"
Our site that 10Up developed uses Distributor.  We recently noticed that one of the custom post types - Webcast - was showing items that should have been automatically unpublished after a certain date.  We then found that even when we manually unpublished the item, it was not being removed from our archive page.  We were attempting to unpublish them from the main site, not one of the sites to whic

[2019-06-06 21:27] stevehadley commented on #255
@jeffpaul no still seeing the empty posts. What commit was supposed to resolve this?

[2019-06-06 21:34] tlovett1 commented on #374
You basically need to copy/paste/edit this code https://github.com/10up/distributor/blob/develop/includes/push-ui.php#L118-L134 and execute on the WP `transition_post_status` hook.

[2019-06-06 21:41] timstl opened #399 "Delay `send_notifications` until after all meta has saved (Yoast SEO problem)."
**Is your enhancement related to a problem? Please describe.**
When updating an existing post, the Yoast SEO meta information sent to a linked post is not up-to-date. It appears Yoast does not save its metadata until after _send_notifications_ has already run, so Distributor's _distributor_meta_ array is incorrect.

**Describe the solution you'd like**
If possible, have send_notifications run afte

[2019-06-07 02:58] jeffpaul commented on #399
@timstl welcome to Distributor, thanks for the feedback and the plugin reference to resolve this issue.  We're looking at some other SEO-related items in our 2.0.0 release so I've milestoned this alongside those issues.  If there's anything else you've built to extend Distributor, then we'd love to learn about that and the underlying problem that you solved in hopes that it might benefit the broad

[2019-06-07 03:06] jeffpaul commented on #374
@tlovett1 thanks for the details!

@Kpudlo let us know if you run into further questions, we'd otherwise welcome a PR as you get the time!

[2019-06-07 08:52] evolveonline commented on #255
@jeffpaul unfortunately the empty posts became too much of a problem for us so we ended up switching to Broadcast

[2019-06-07 15:28] grappler opened #400 "PHP Notice: Undefined variable: local_post_types"
**Describe the bug**
`Notice: Undefined variable: local_post_types in /plugins/distributor/includes/utils.php on line 261`

**Steps to Reproduce**

1. Go to Pull Content page wp-admin/admin.php?page=pull
2. See PHP Notice

**Expected behavior**
No PHP Notice

[2019-06-07 15:42] grappler opened #402 "PHP Notice: Undefined offset: 0 on pull content page"
**Describe the bug**
`Notice: Undefined offset: 0 in /plugins/distributor/includes/pull-ui.php:394`

There is no check if there are ANY available post types.
[code]
https://github.com/10up/distributor/blob/1.4.1/includes/pull-ui.php#L394

**Steps to Reproduce**

1. Go to Pull Content page wp-admin/admin.php?page=pull
2. See PHP Notice

**Expected behavior**
No PHP Notice

[2019-06-07 15:51] grappler commented on #179
Have the same problem on a local vagrant environment.

[2019-06-07 17:16] jeffpaul commented on #179
@bobbingwide I was curious if @danmaby had been able to resolve it with your instructions, that way I knew more specifically what could resolve his issue within the Distributor codebase.

[2019-06-07 17:17] jeffpaul commented on #179
@grappler do the edits that @bobbingwide noted solve this for you?

[2019-06-07 20:46] jeffpaul commented on #398
@espechtcfe thanks for the feedback, it's greatly appreciated!  I've seen an issue about empty posts from Pushing (see #255), but not duplicates.  I'll be curious to hear how your testing in Staging goes with Distributor 1.4.1 to see if your issue is resolved.  If not then please confirm any other active plugins/theme, if Distributor is setup on a multisite / different WP instances / or both, and

[2019-06-07 20:51] jeffpaul commented on #255
@stevehadley no specific commit is known to resolve this, but I've been unable to replicate this locally.  Please confirm which plugins/theme are active, if Distributor is setup on a multisite / different WP instances / or both, and anything else that may be unique about your setup so we can best help triage... thanks!

[2019-06-07 20:54] jeffpaul commented on #255
@evolveonline apologies that we weren't able to resolve this for you.  I'd be curious if there are other features of Broadcast that made you consider that over Distributor, as we'd like to ensure Distributor best meets the needs of the community... thanks!

[2019-06-07 20:56] jeffpaul commented on #400
@grappler welcome to Distributor, thanks for the feedback and even more so for the PR, it's greatly appreciated!

[2019-06-07 21:03] jeffpaul commented on #402
@grappler I'm milestoning this for our larger 2.0.0 release and will look to get it resolved then, thanks again for the feedback!

[2019-06-10 15:27] espechtcfe commented on #398
Thank you for the reply, jeffpaul.  We're having trouble reproducing the issue.  Any new items we've created on the main site seem to be getting to the distributed site once.  Is there anything I should look for in the database on the items that were duplicated that would help better understand what happened?

[2019-06-10 15:41] espechtcfe commented on #398
Something interesting I am seeing is when I edit the item that exists in the main site (there's only one of them), the Distributor section at the top of the page doesn't display.  When I open a different item in the main site, I do see the Distributor section.

[2019-06-10 15:54] espechtcfe commented on #398
Here are the plugins that are network activated for the sites:
10up Experience, Attachment Taxonomies, Classic Editor, Distributor, ElasticPress, Safe Redirect Manager, Unpublish, WP REST Filter, Yoast SEO
It is a multisite configuration.

[2019-06-10 18:44] jeffpaul commented on #398
@espechtcfe some followup questions from your comments...
1) do the duplicated posts show that they're linked to the original/source post (you'll see the Distributor icon and hovertext of `Linked` on your All Posts page at yourdomain.com/wp-admin/edit.php)?
2) Whether you're using the Classic Editor or Gutenberg, you should see the `Distributor` menu in the admin bar.  However, if you're editing a

[2019-06-10 19:36] espechtcfe commented on #398
1 - both of the duplicated posts show that they're linked to the original
2 - that makes sense.  when the editors saw the post on the site, they put the item on the main site in draft status in an attempt to take it down.  they later went directly to the distributed site and put both items in draft as well.

[2019-06-10 19:43] espechtcfe commented on #398
Do you know how I can tell if the two distributed items are linked to the same item on the main site?

[2019-06-10 20:03] jeffpaul commented on #398
@espechtcfe on the All Posts page at yourdomain.com/wp-admin/edit.php, the Distributor column on the right will show the Distributor icon and link to the original/source post.  So check the links for those duplicates to see if they're referencing the same original/source post.

[2019-06-10 20:12] espechtcfe commented on #398
Thanks.  The originals look identical, but they have different URL formats:
/webcasts/01-18-18-webcast/
/?post_type=webcast&p=359997

[2019-06-10 20:45] jeffpaul commented on #398
@espechtcfe ok so does that mean that there do NOT appear to be duplicates then?  If so, it sounds like things are working correctly for you, correct?  If so, are we good to close this issue?

[2019-06-10 20:49] espechtcfe commented on #398
I think there are duplicates.  When I search for the title in the main site, I only get one result.
You can close this if you want though since I don't know what the editors were doing - if they were only working on the main site or what.  I could create a new one if I see it happen again.

[2019-06-12 11:40] avag-novembit opened #404 "Handling shortcodes distribution in post content"
**Is your enhancement related to a problem? Please describe.**
Currently, if shortcodes in distributed post content has website specific attributes (e.g. attachment id, or gravity form id), it distributed without any additional actions, exactly as it was in original post. In this case, the attachment id in the hub website (from where the post  is distributed) may not be the same as in website wher

[2019-06-12 13:41] jeffpaul commented on #404
@avag-novembit again, thanks for the feedback and contribution, it's greatly appreciated!

[2019-06-13 12:29] anton-roos commented on #327
@jeffpaul I am still struggling, even after updating to 1.4

[2019-06-13 13:53] jeffpaul commented on #327
@anton-roos the most current version of Distributor is 1.4.1, please ensure you're using that on all your sites.  Also, can you confirm that you followed the External Connections steps here: https://github.com/10up/distributor/tree/fix/readme-instructions#setup-external-connections-using-application-passwords ?

[2019-06-13 15:29] #209 closed

[2019-06-13 15:33] jeffpaul commented on #361
Resolved by #363

[2019-06-13 15:33] #361 closed

[2019-06-13 16:05] jeffpaul opened #407 "Add debug info to Site Health Info screen"
**Is your enhancement related to a problem? Please describe.**
WordPress 5.2 introduced the Site Health Info screen.  Adding Distributor-specific debug info there can help solve issues that come to us from support forums, GitHub, email, etc. as users can copy this info and send to us for faster assistance with issues.

**Describe the solution you'd like**
- [x] display Distributor version and sett

[2019-06-13 20:02] bgasperosky commented on #359
I too would greatly appreciate this feature. Great plugin by the way. The plugin is behaving a bit differently on my multisite network than what mikelking is experiencing. When I distribute content from one site to another within my multisite network, The category from the source is retained on the copy. I too would like to be able to edit the category though, and cannot at this time. I even tried

[2019-06-13 20:58] jeffpaul commented on #359
@bgasperosky welcome to Distributor and thanks for the feedback!  This issue is currently milestoned for our 2.0.0 release, slated for later this year, so stay tuned to release updates, but we'd otherwise welcome a PR to assist on this issue.

[2019-06-13 21:18] jeffpaul opened #408 "Improve Push documentation"
**Is your enhancement related to a problem? Please describe.**
We see occasional support questions related to being unable to Push content, with some of those being directly related to not knowing about the Distributor menu in the Admin Bar.  This enhancement issue exists to improve the documentation around the Push interface.

**Describe the solution you'd like**
- [x] specific section on `How to

[2019-06-13 21:39] jeffpaul opened #409 "Add callouts in WP Admin to assist with NUX"
**Is your enhancement related to a problem? Please describe.**
One of our regular support requests relate to folks being unaware of where the Push and Pull interfaces are.  It would be helpful to utilize [pointers](https://developer.wordpress.org/reference/classes/wp_internal_pointers/) in the Admin to help highlight these locations for new users and hopefully catch

**Describe the solution you'd

[2019-06-13 21:39] jeffpaul commented on #396
**TLDR**: we considered this, but have decided against acting on this issue.

**In more detail...**
@jakemgold, @helen, and I discussed this and while we can see where some people would like an alternate Push interface, we feel that the existing Admin Bar-based Push option works well as-is and that we would be adding unnecessary complexity in having to support multiple Push interfaces.  Another co

[2019-06-13 21:40] #396 closed

[2019-06-14 08:17] anton-roos commented on #327
I got it to work by deleting all information from the database (External Connections) etc. Then following the steps EXACTLY like on the link thank you. @jeffpaul it did give me an error at first but came right after a while.

[2019-06-14 13:33] avag-novembit opened #410 "Add function to fetch post from 'original id'"
**Is your enhancement related to a problem? Please describe.**

Currently there is no function to fetch post using `dt_original_post_id` meta key stored in `{prefix}postmeta` table.

**Describe the solution you'd like**

Going to send a PR added mentioned functionality in `utils.php` file.

**Designs**

Mentioned functionality is enwrapped in function `get_post_from_original_id(..)`:

    function

[2019-06-14 15:27] jeffpaul commented on #410
Thanks again for the feedback and PR @avag-novembit, I'm tagging this for review and potential inclusion in our 1.5.0 release and will get back to you with any questions.

[2019-06-14 15:29] jeffpaul commented on #327
@anton-roos do you happen to recall what the error message was and when/where it appeared?

[2019-06-14 20:59] ulkish commented on #81
Hey guys! About two months ago me and my boss encountered this issue and started digging into it. I think we finished it a couple weeks ago and forgot to post it here. There's room for improvement but it works in my tests. Anyways here you go: https://github.com/ulkish/distribute-acf-images

[2019-06-17 19:31] jeffpaul commented on #81
@ulkish thanks for the contribution, it's greatly appreciated!  We've got this milestoned for the 2.0.0 release later this year, so I'll get back to you on any questions as the team gets into reviewing issues/PRs for that release, thanks!

[2019-06-18 16:19] jeffpaul opened #412 "readme updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] update release version badge (remove `stable` to match other 10up repos)
- [x] add support level section & badge

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional con

[2019-06-19 14:52] ulkish opened #413 "Support for cloning sites with distributed posts."
**Is your enhancement related to a problem? Please describe.**
In a multisite network when cloning a site that contains distributed posts the original post has no idea a new connection has been made, and as such updates are not being made in the new cloned post.

**Describe the solution you'd like**
I [created a plugin](https://github.com/ulkish/mucl-dt-extension) that fixes this problem. Basicall

[2019-06-19 16:38] jeffpaul commented on #413
@ulkish sounds like a good solution to this problem, let us know as you update broader support for cloning plugins, I'm tagging this for review during our 2.0 release cycle for now, thanks!

[2019-06-20 16:05] arsendovlatyan commented on #321
@adamsilverstein thank you very much, completely agree with you!

@jeffpaul  Just sent a PR for doc update, if you think it worth's to have own section in read.me, please review, otherwise, we can close this issue.

Thanks for assistance

[2019-06-20 22:01] #412 closed

[2019-06-24 17:12] avag-novembit opened #416 "Add possibility to run 'push' actions in background"
**Is your enhancement related to a problem? Please describe.**

Currently the plug-in doesn't provide a way to run 'push' actions in background, which can be helpful in the cases when 'push' action has high resource consumption.

**Describe the solution you'd like**

Added hooks in the `ajax_push(..)` and `send_notifications(..)` functions to make possible to delay function logic execution and run

[2019-06-24 17:56] superbuggy opened #418 "Authorization Failing // Truncate Referrer URLs"
**Describe the bug**

Distributor generates some large URLs that include potentially long lists of posts in the URL's query string. WP includes the entire URL as `Referrer` in the header for outbound requests. With long enough URLs (~8k+ UTF-8 chars), this will invalidate headers with servers that are configured with an 8kb size limit for headers, as it did in our case (`wamu.org`). The headers ge

[2019-06-24 18:27] jeffpaul commented on #416
Thanks again @avag-novembit, I've tagged this for review during our 1.5.0 release cycle, will get back to you with any questions on the PR then!

[2019-06-24 18:37] jeffpaul commented on #418
@superbuggy welcome to Distributor and thanks for the feedback!  I'm tagging this for review during our upcoming 1.5.0 release, so stay tuned for an update then.

@dkotter any chance your improvements to the Pull Content page resolve this issue?

[2019-06-28 12:56] avag-novembit commented on #284
Created PR where implemented the 'delete meta' functionality. Doing checks during post redistribute (in the `SubscriptionsController::receive_item(..)` method) by comparing stored previous request meta data (stored in `dt_subscription_update` post meta key) versus new one and deleting post meta which were existing in previous request but aren't in the current one.

[2019-07-05 18:26] chrismacor commented on #299
Tried both these suggestions
Still getting No connection found.
Any more suggestions?
Thanks,
Christopher

[2019-07-05 18:31] chrismacor opened #421 "No connection found"
I'm attempting to establish a connection between two sites.
Have application passwords installed in the remote site as well as pretty permalinks enabled.
Still getting  No connection found.
Any suggestions?
Thanks,
Christopher

[2019-07-05 18:32] jeffpaul commented on #299
@chrismacor are your sites within a WordPress Multisite setup or different WordPress instances?

[2019-07-05 18:47] jeffpaul commented on #421
@chrismacor I assume that you're setup across different WordPress instances given your reference to Application Passwords.  If you're setup within a single WordPress Multisite, then you do not need Application Passwords and Distributor should work as installed and activated at the network level.  As for the various WordPress instances setup, you'll need Application Passwords and External Connectio

[2019-07-05 19:47] chrismacor commented on #421
Thanks so much for your reply.
The part I was missing was including the /wp-json in the url.
I'm good for now Jeffrey,
Christopher

On Fri, Jul 5, 2019 at 12:47 PM Jeffrey Paul <notifications@github.com>
wrote:

--

"Any time you have the opportunity to make a difference in this world, and
you don't, then you are wasting your time on Earth." - Roberto Clemente

Christopher Macor

*Multimedia Music