[2022-02-28 22:00] dkotter commented on #855
@ybalkind Thanks for the question. Are you using Internal Connections or External Connections, or both? Also, do you use the Yoast SEO plugin? If you're using all three of those, you'll want this code snippet:

[code]

Feel free to remove any line that mentions Internal or External connections if you aren't using one of those and you can also remove the `wpseo_canonical` lines if you don't use Yoa

[2022-02-28 22:08] dkotter commented on #856
This varies a bit between Internal and External connections but both store the original site information with items that are distributed. This information is then output by using the `the_author` and `author_link` filters. There are a number of core WordPress functions that will fire this filter (like `the_author` or `get_the_author`) so whichever theme you are using will need to use one of those

[2022-03-01 00:53] michalletavka commented on #847
I managed to replicate the issue trying to push from some other website to the same website @vlastaw is pushing to.

I put debug prints into includes/classes/ExternalConnections/WordPressExternalConnection.php
[code]

Trying to push a post again results in following debug prints:

[code]

I can see the `$body` variable in that file contains some extra warnings, which seems to be preventing the `js

[2022-03-01 12:35] ybalkind commented on #855
Perfect thank you

[2022-03-01 18:10] jeffpaul commented on #848
@Pitemedia do your site settings show `https` as part of the URL in `Settings` > `General` for `WordPress Address (URL)` and `Site Address (URL)`?

[2022-03-01 21:33] dkotter commented on #847
@michalletavka Thanks for the additional information, that's super helpful. This seems to be the same issue I discovered in #844, which a fix was added in PR #845. This fix has not been released yet (targeted for a 1.7.0 release) but if you want, you can either check out that PR or since it's been merged into `develop`, you can checkout `develop` and see if that fixes things for you.

[2022-03-01 21:53] dkotter commented on #848
@jadamsbit Just reading through messages now and trying to make sure I fully understand the workflow you've been using.

You mention:

At what point does this happen?

Are these the steps you're following:
1. Go to `Distributor > External Connections` and clicking on `Add New`
2. Enter a name for the connection and then within the `Remote Connection Wizard`, entering in the remote URL
3. Click on

[2022-03-07 14:45] jadamsbit commented on #848
@dkotter Whether I make a manual connection or wizard setup connection I get that message.

[2022-03-08 22:42] dkotter opened #857 "Fix help icon on settings page"
### Describe the bug

On the Distributor settings page (both on a single site or if network enabled on a multisite), there's an information icon with the text Help next to it. The icon is underlined (since it's a link) and it's underneath the page title. This looks broken to me and I believe we should at least remove the underline from the icon and potentially move this icon up a line next to the

[2022-03-08 22:46] dkotter opened #858 "Add ability to set roles allowed to Pull content when creating an External Connection"
### Is your enhancement related to a problem? Please describe.

When setting up/editing an External Connection currently, you can choose which roles are allowed to Push content. But there is no way to set which roles can Pull content. This can be changed via a [filter](https://github.com/10up/distributor/issues/626#issuecomment-673276684) but seems like we should have the same settings for Pull as

[2022-03-08 22:50] dkotter opened #859 "Ensure all hooks use the `@hook` attribute in the docblock"
### Describe the enhancement

We use [WordPress HookDoc](https://github.com/matzeeable/wp-hookdoc) to build our [documentation site](https://10up.github.io/distributor/) but this relies on all hooks using the `@hook` attribute in the docblock for the hook. In looking at other things, I noticed at least one hook that wasn't using that, so that hook does not show in our documentation site. We should

[2022-03-08 23:10] dkotter opened #860 "Trim down the list of default supported post types for External Connections"
### Is your enhancement related to a problem? Please describe.

After setting up an external connection, you see a table of post types and the permissions for those post types. We default to showing all post types that have `show_in_rest` set to `true`.

On more recent versions of WordPress, this shows post types like Navigation Menus and Templates (among others) that we probably don't need to sho

[2022-03-08 23:20] dkotter opened #861 "Add ability to view all post types when Pulling from an External Connection"
### Is your enhancement related to a problem? Please describe.

When you go to the Pull screen for an Internal/Network Connection, we default to showing content from all supported post types. You can then filter down to just the post type you want (like Posts).

But for External Connections, we default to showing just Posts and there isn't a way to view content across all post types. This is becau

[2022-03-08 23:26] dkotter opened #862 "Manually entering a page number doesn't work on Pull screen"
### Describe the bug

On the Pull screen, for either Internal/Network and External Connections, if you try and manually enter a page number and hit enter, it won't take you to that page number, instead it just loads page 1. You can use the arrows to navigate to that page but can't directly enter the number and get there.

### Steps to Reproduce

1. Go to the Pull Content screen
2. Ensure you're on

[2022-03-09 14:17] Pitemedia commented on #848
Yes @jeffpaul .. it shows https..

[2022-03-10 20:16] jeffpaul commented on #855
Re-opening this for someone to take the code snippet above and add to: https://github.com/10up/distributor/blob/develop/docs/snippets.md so it'll appear on the plugin docs site.

[2022-03-10 20:17] #856 closed, assigned to nobody

[2022-03-10 20:18] #847 closed, assigned to dkotter

[2022-03-11 00:38] vlastaw commented on #847
Hello, we updated both instances to develop and the issue is still present. I don't think it's related to #844

[2022-03-11 01:53] jeffpaul commented on #847
@vlastaw did you build the develop branch?

[2022-03-15 22:18] vlastaw commented on #847
Hi. Not used to work with git, so I just downloaded ZIP file of the develop branch and overwritten all older files in the plugin directory. So I guess yes, we are running the current Develop branch state.

[2022-03-28 13:45] chrisp2349 opened #865 "Feature Request - Allow Posts to be Pushed after a Specified Delay"
### Is your enhancement related to a problem? Please describe.

As a publisher who has syndication agreements - the syndication websites are ideally supposed to publish the posts after some delay after the original source website posts it.  Most SEO experts recommend this delay to help ensure that Google recognizes your article as the original source content from the start - even though there's th

[2022-03-30 11:38] lgadzhev opened #867 "JWT Authentication for WP-API plugin support"
### Describe the bug

When the JWT Authentication for WP-API plugin is installed on the remote site, it's unable to connect via External Connnection

### Steps to Reproduce

1. Install the following plugin on the remote site https://wordpress.org/plugins/jwt-auth/
2. Establish External Connection to that site and you'll notice that it's with Limited Connection

### Screenshots, screen recording, c

[2022-03-31 22:58] mapamond opened #868 "Author name sync/not distributed"
### Describe your question

Hi,

The original author name is not distributed with the post from one site to another.

I have selected the option "Override Author Byline | For linked distributed posts, replace the author name and link with the original site name and link."

Still the original name of the author is not distributed.

Please help.

mapamondnet@yahoo.com

### Code of Conduct

- [X] I a

[2022-04-03 19:39] claytoncollie commented on #823
@jeffpaul Looks like the PR was merged. Can we close this issue?

[2022-04-06 15:00] jeffpaul commented on #847
@vlastaw if you're going to download a ZIP, please use a [released version](https://github.com/10up/distributor/releases).

[2022-04-07 12:25] shu05 commented on #738
Add to the includes/utils.php function prepare_post( $post
this row
$post->post_content = wp_slash($post->post_content);

/**
 * Setup additional properties on a post object to enable them to be
 * fetched once and manipulated by filters.
 *
 * @param WP_Post $post WP_Post object.
 * @since  1.2.2
 * @return WP_Post
 */
function prepare_post( $post ) {
	$post->link  = get_permalink( $post->ID );

[2022-04-07 15:26] #859 closed, assigned to akshitsethi

[2022-04-08 08:21] PaddyWhacks opened #870 "WordPress 5.9.3 pushing does not work between sites"
### Describe the bug

When pushing from 1 WP multisite to 1 regular WP site, both on 5.9.3 (WP Latest version) our post fails giving the error "Cannot identify remote post ID". Both sites have WordFence, but it is correctly setup to allow for the remote posting.

Reverting the target back to WP 5.8.4 seems to fix the issue.

Anyone else experience this issue?

### Steps to Reproduce

Have Both sit

[2022-04-12 14:35] willhowat commented on #857
Screenshot from PR https://github.com/10up/distributor/pull/871
![Screenshot 2022-04-12 at 16 34 37](https://user-images.githubusercontent.com/1838952/162987018-50568b92-af9c-4c69-972e-fe22698e03fb.png)

[2022-04-12 20:08] #823 closed, assigned to claytoncollie, claytoncollie-dmv

[2022-04-13 15:47] #857 closed, assigned to willhowat

[2022-04-13 15:47] dkotter commented on #857
@willhowat Thanks! This looks great. Merging this in.

[2022-04-13 16:28] dkotter commented on #870
Thanks for the report @PaddyWhacks. I tried reproducing today, pushing from a WordPress multisite that is running WP 5.9.3 to another (external) WordPress multisite that is also running WP 5.9.3 and was not able to reproduce this issue.

Not sure if this helps but here's the flow on when that error will happen:
- When pushing to an external connection, we make a request to the `types` endpoint on

[2022-04-15 12:34] vikrampm1 opened #872 "Test against WordPress 6.0"
Is your enhancement related to a problem? Please describe.

Once WordPress 6.0 is released, we'll want to test Distributor to see if any incompatibility issues arise.

Describe the solution you'd like

- [ ] test Distributor on WordPress 6.0
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version
- [ ] if code change

[2022-04-15 15:24] dkotter opened #873 "Release version 1.6.9"
### Describe your question

This issue is for tracking changes for the 1.6.9 release. Target release date: 18 April 2022.

## [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/1.6.9` for your changes.
- [x] Version bump: Bump the version number in `distributor.php`, `pack

[2022-04-18 13:01] #855 closed, assigned to nobody

[2022-04-18 20:00] #873 closed, assigned to dkotter

[2022-04-20 12:29] vikrampm1 opened #875 "Setup Cypress for E2E testing"
**Is your enhancement related to a problem? Please describe.**

See overall concept in the [OSBP guide](https://10up.github.io/Open-Source-Best-Practices/testing/#e2e-testing) and example setups on [Simple Podcasting](https://github.com/10up/simple-podcasting), [Restricted Site Access](https://github.com/10up/restricted-site-access), and https://github.com/10up/ElasticPress/pull/2446.

**Describe

[2022-04-25 18:00] joshwilsondotme opened #876 "Error when distributing content "No post ID provided.""
### Describe the bug

When attempting to distributor a page from a custom post type across all sites within a mutlisite installation, we are receiving an error:

There were some issues distributing the post.
No post ID provided.

### Steps to Reproduce

Go to page of CPT
Under the Distributor Toolbar Select All Sites
Uncheck 'As Draft`
Click Distribute

### Screenshots, screen recording, code snip

[2022-04-27 22:07] jeffpaul commented on #711
Closing in favor of 348.

[2022-04-27 22:07] #711 closed, assigned to dkotter

[2022-04-29 15:23] #862 closed, assigned to faisal-alvi

[2022-04-29 16:02] dkotter commented on #876
@joshwilsondotme Thanks for the report.

I've tested this out a few times and can't reproduce the same issue. Couple questions for you though. Does this only happen on custom post types? Does this only happen if you select all connections? And similarly, does it only happen if the `As Draft` option is unchecked?

Looking through our code, that error should only display if the original post ID isn'

[2022-04-29 17:59] jeremyfelt opened #879 "Conflicting dynamic pre_post_link filter can result in a fatal PHP error"
### Describe the bug

`pre_post_link` is a WordPress core filter used to [filter the permalink structure for a post before token replacement occurs](https://developer.wordpress.org/reference/hooks/pre_post_link/).

It provides the `$permalink` string, `$post` object, and `$leavename` boolean when fired within `get_permalink()` in WordPress core.

One of the (I believe custom) arguments [that Distr

[2022-04-29 18:36] jeremyfelt commented on #879
A fairly obvious workaround that I didn't notice the first time around: :)

[code]

This removes `link` from the data passed to `wp_insert_post()`. `$post_array['link']` is stored in meta untouched.

This leads me to think even more that `link` should be removed from the list of arguments passed to `wp_insert_post()` as it's not being sanitized there for any real reason.

[2022-04-29 19:39] joshwilsondotme commented on #876
@dkotter — I am seeing the data mentioned on the edit of a post `nonce: 'e27f489ab7', loadConnectionsNonce: 'a6269b2d56', postId: '3548',`
And the `postId` matches of the post as well.

I also tried distributing the posts `As Draft` and that resulted in the same error.

[2022-05-06 15:29] jeffpaul commented on #875
Can probably start by taking over #537, yanking out WP Acceptance, and adding in Cypress (along with any existing PHPUnit tests).

[2022-05-06 15:47] jeffpaul commented on #820
@dkotter I'm generally fine leaving the `-dev` version flag as the last step in the release process, but open to alternate ways to throw an admin notice when using Distributor via `develop` instead of a proper released version.  What's your thought on best / realistic approach on this?

[2022-05-06 15:51] jeffpaul commented on #660
@peterwilsoncc curious if you're seen any good examples for how to handle translations for plugins that are not released on WP.org (and thus aren't able to take advantage of the translate.wordpress.org language packs)?

[2022-05-09 10:14] Groupe-Mgel opened #880 "External connection -"
### Describe your question

Bonjour à tous,
I am carrying out a test for my company,
but I cannot connect the two sites with distributor.
I have made several attempts but without success.
I am writing to ask for your assistance.

Here are the error messages:
"Could not pull content from connection due to error. Désolé, vous n’avez pas l’autorisation de modifier les entrées dans ce type de publicat

[2022-05-11 02:33] jeffpaul commented on #880
@Groupe-Mgel note that I've removed the credentials posted here and recommend you immediately change those passwords.  I'll take a look at the screenshots you provided and comment shortly with questions/recommendations for next steps to try and resolve your connection issue.

[2022-05-11 02:38] jeffpaul commented on #880
@Groupe-Mgel in reviewing the screenshots you provided, it looks like perhaps the `Username` is incorrect on the *fils site where it tries to connect to the *pere site and perhaps the `External Connection URL` may need to strip out the `index.php` portion but I'd recommend trying to fix the username to the correct WP username first to see if that gets the connection working (you'll notice whether

[2022-05-11 20:00] Groupe-Mgel commented on #880
Good morning Mr. Jeffrey,
Thank you for your response.
The two sites and credentials were two purpose-made tests and submit the
problem to you.
I solved it by testing on a different server, where it worked.
Now that it works we will have to do some new tests to see if the plugin
meets our needs.

Thank you

Le mer. 11 mai 2022 à 04:38, Jeffrey Paul ***@***.***> a
écrit :

[2022-05-12 14:35] #880 closed, assigned to jeffpaul

[2022-05-13 16:22] dkotter commented on #820
I think this issue was opened up by Helen initially because I was confused by that `-dev` flag and how it was handled during releases. I'm up to speed on it now so it's not an issue for me but thinking of the future where other's may be handling releases, I do think it's worth deciding how to approach this.

From what I'm seeing in the code, we only use this flag to output an admin notice, nothing

[2022-05-13 17:41] jeffpaul commented on #820
Yeah `composer.lock` seems reasonable, even if perhaps that doesn't capture ALL scenarios that should suffice for the need of showing the admin notice and to remove that manual step in the release process.

[2022-05-16 19:29] emmawenger opened #881 "WPEngine Security Barriers"
### Describe your question

I have multiple sites that are on different WPEngine installs (not a multisite); while trying to set up external connections on the two sites I get these errors:

While trying to set up the external connection automatically:
![Screen Shot 2022-05-16 at 3 28 08 PM](https://user-images.githubusercontent.com/30055176/168667760-c95d1c9d-899c-40f3-aa50-0b533733ed30.png)

Aft

[2022-05-16 21:09] jeffpaul commented on #881
@emmawenger could you perhaps put your WP Engine technical contact into an email thread with me (jeff.paul@10up.com) to discuss their platform and how best to ensure Distributor can work across separate WordPress installs there?

[2022-05-17 13:46] emmawenger commented on #881
@jeffpaul just looped you into an email coming from emma@usefulgroup.com. Thanks!

[2022-05-18 16:16] ramen-drama commented on #655
Thanks @andrewortolano This was a lifesaver! I feel like pushing as orphan makes sense but vote that maintaining parent designations on remote should be standard or a setting option.

[2022-05-21 13:02] bcobin opened #883 "Is there a way to undistribute a post?"
### Describe your question

It looks like once a post is distributed, there's no way to undistribiute it - is that correct? Working with a bunch of events and we needed to reformat the custom fields to avoid days that crossed midnight from taking up two days on the calendar - unfortunately, already-distributed events do not reflect the changes. Absent the loss of sync, one would hope that you coul

[2022-05-21 13:55] bcobin commented on #883
After looking into tis further, perhaps this is supposed to be handled by push/pull, however, in our case (which is a multisite), unlinking the child post doesn't affect the reported status on the source. In other words, when the child is unlinked, the parent post still reports it as distributed, which is confusing, at the very least.

It also seems that updating the original post does not automat

[2022-05-21 16:08] jeffpaul commented on #861
Noting that https://github.com/10up/distributor/tree/feature/861 may be a good start on this, so we'll want to credit @chigozieorunta once this issue gets resolved.

[2022-05-21 16:21] jeffpaul commented on #883
@bcobin if you keep the remote posts connected, then updates on the origin post should sync to those remote posts.  If you're not seeing that happen, please confirm more details about your environment and set up.

Otherwise, and to your initial question, to clear the Distributor link so that you can re-distribute a post (via push or pull) you'll need to remove the given site from the mapping in po

[2022-05-24 17:49] alexwolk opened #884 "I have many sites that give limited connection established"
### Describe the bug

I'm using your plugin with about 65 sites but at least 10 of them are giving this error.

https://capture.dropbox.com/hYTHvf2r76ee6ccd

### Steps to Reproduce

https://capture.dropbox.com/hYTHvf2r76ee6ccd

### Screenshots, screen recording, code snippet

_No response_

### Environment information

_No response_

### WordPress information

_No response_

### Code of Conduct

-

[2022-05-25 00:57] jeffpaul commented on #884
@alexwolk are you using the setup wizard to create those connections or are you manually creating those with Application Passwords yourself?  Also, I assume this is 65 different WordPress instances and not sites within a multisite setup, correct?

[2022-05-25 14:21] alexwolk commented on #884
I've actually gotten most of them fixed except a couple. I got them both to
connect with Application Passwords, but they still say limited connection.

On Tue, May 24, 2022 at 7:57 PM Jeffrey Paul ***@***.***>
wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-05-25 14:46] alexwolk commented on #884
Here is one that says no connection found when you put this in
external connection URL but it clearly is live:

https://kentuckypostnews.com/wp-json

On Wed, May 25, 2022 at 9:20 AM Alex Wolk ***@***.***> wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-05-25 16:21] #820 closed, assigned to dkotter

[2022-05-25 18:04] jeffpaul commented on #884
@alexwolk are you creating those Application Passwords on your own (i.e., via the manual set up process) or are you using the default setup wizard in Distributor (that is a bit automated and utilizes the Application Passwords flow as part of WordPress core)?

[2022-05-25 18:11] alexwolk commented on #884
the automated way...

On Wed, May 25, 2022 at 1:04 PM Jeffrey Paul ***@***.***>
wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-05-25 18:13] alexwolk commented on #884
one of the sites gives me this error

https://capture.dropbox.com/p0veqxek773VuxDR

On Wed, May 25, 2022 at 1:11 PM Alex Wolk ***@***.***> wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-05-25 18:34] jeffpaul commented on #884
@alexwolk that error message means that the site is either not available on the public internet (which isn't the case as I'm able to access it) or there's something blocking access to the REST API.  Can you navigate to the Site Health Info page on KPN.com and share details here as that will help note some Distributor specifics that can help with triage.

[2022-05-26 14:16] alexwolk commented on #884
Following up on this? What site do you want me to go to?

On Wed, May 25, 2022 at 1:39 PM Alex Wolk ***@***.***> wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-05-26 18:41] jeffpaul commented on #884
@alexwolk the kentuckypostnews.com site you shared earlier, can you provide the Site Health export from that site so we can see how things are configured to further triage for you?  Probably also worth sharing the export for the site you're trying to connect that to as well.

[2022-06-02 15:50] ligne13 opened #887 "WPML"
### Is your enhancement related to a problem? Please describe.

Hi,

I have read https://github.com/10up/distributor/issues/382, and made some tests in my network with Distributor and WPML. Currently it does not work. The translations of pages are not distributed with the source page.
Do you plan on update the plugin in order to handle WPML properly ?

Thanks.

### Designs

_No response_

### Desc

[2022-06-03 02:39] jeffpaul commented on #887
@ligne13 we are not immediately planning to work on a specific WPML integration, no.  As noted briefly in https://github.com/10up/distributor/issues/382#issuecomment-498734622, have you tried distributing the translated posts to see if Distributor keeps those in sync along with the origin WPML post?  Either way, if this is of particularly urgent or important functionality for you then please reach

[2022-06-03 02:39] #887 closed, assigned to nobody

[2022-06-03 16:54] #656 closed, assigned to dhanendran

[2022-06-04 17:11] #883 closed, assigned to jeffpaul

[2022-06-06 09:15] lukaspawlik commented on #872
@vikrampm1 @jeffpaul I've tested this on 6.0 and all seems to work correctly, I haven't found any issues or problems.

What are next steps with marking this as Tested up to 6.0?

[2022-06-06 15:26] jeffpaul commented on #872
@lukaspawlik there's a header value in `readme.txt` and the badge in `README.md`, if you want to open a PR to bump those both to 6.0 that would do it... thanks!

[2022-06-06 17:12] #870 closed, assigned to dkotter

[2022-06-08 06:23] amalajith opened #889 "Unicode characters are not escaped during syndication"
### Describe the bug

During syndication, both pull and push, if a WordPress Gutenberg block enabled post content has Unicode characters in block attributes, I expect the Unicode characters to be slashed so that WordPress does not remove the slashes when pulling the syndicated posts. At the moment, WordPress strips out the slashes, so it creates invalid text strings in the post content of the synd

[2022-06-08 07:25] TomaGap commented on #889
Yes Looks good

[2022-06-08 10:56] vlastaw commented on #876
Hello, I guess, this may be the same issue as #847 , which was closed without solution. The error in my case is Could not determine remote post id, but the cause is probably the same - no post is generated on target instance, therefore no post id can be determined.

[2022-06-08 11:35] jeffpaul commented on #889
@amalajith welcome to Distributor, thanks for the report, and for the resulting PR!  We'll get the PR through review and get back to you with any questions or concerns, thanks again!

[2022-06-09 16:27] joshwilsondotme commented on #876
I went through and did batches of pushing out a post across all of the sites, this appears to work. I then testing manually selecting each site, this resulting in the same error as clicking the 'Select All' button.

[2022-06-14 04:14] peterwilsoncc opened #892 "Tooling: Replace custom gulp build with WP Scripts"
### Is your enhancement related to a problem? Please describe.

To allow ease of contribution within the WordPress developer system, it would be good to switch from a custom gulp build to `@wordpress/scripts` for asset generation.

A side benefit is that the assert versions will be auto generated based on a hash of the built file/s so the chance of forgetting to bump a constant is reduced.

### De

[2022-06-14 04:41] peterwilsoncc opened #893 "Update Gutenberg plugin sniff"
### Describe the bug

The plugin currently uses the existence of the `the_gutenberg_project()` function as a sniff to determine if the Gutenberg plugin is available.

https://github.com/10up/distributor/blob/286aafe5242afc37b9c0e5fe7c1c432d1bca9d09/includes/utils.php#L37-L44

This function was removed from Gutenberg in version 5.5 so Distributor will be returning false negatives. The lack of repor

[2022-06-14 05:53] peterwilsoncc commented on #858
@faisal-alvi @dkotter Following the discussion in PR #877, was it decided to close this issue out as a wont fix?

[2022-06-14 06:35] faisal-alvi commented on #858
@peterwilsoncc posted my opinion in https://github.com/10up/distributor/pull/877#issuecomment-1134285737, waiting on @dkotter's final thought/decision.

[2022-06-14 16:53] jeffpaul commented on #892
@dkotter any thoughts on best approach on this given historical knowledge of Distributor and options with wpscripts and 10uptoolkit compared to gulp?

[2022-06-14 21:37] #858 closed, assigned to faisal-alvi

[2022-06-14 21:52] dkotter commented on #892
I'm sure there will be some issues we run into while making these changes but I believe this is a worthwhile change and I don't think there's anything we're doing that can't also be done with WP Scripts (which I do think is the better option here as compared to 10up Toolkit).

As far as history goes here, I believe we went with Gulp as that was what we used on most projects back when this was bein

[2022-06-15 05:10] peterwilsoncc commented on #660
@jeffpaul I know of [wearerequired/traduttore](https://github.com/wearerequired/traduttore) which sets up a translation interface similar to translate.wordpress.org but I've not used it. It seems fairly actively developed.

[2022-06-16 02:42] peterwilsoncc commented on #141
@jeffpaul Do you recall why you added the help wanted tag on this? It looks like it's fixed by the merged PRs #750 and #790.

[2022-06-16 02:56] peterwilsoncc commented on #660
My inclination is to go down this path for now to avoid perfect being the enemy of the good.

[2022-06-16 11:58] joshwilsondotme commented on #876
I believe we have identified the issue. We have increased the php `max_input_vars` from 1000 to 4000. This appears to have alleviated the issue.

[2022-06-16 11:58] #876 closed, assigned to dkotter

[2022-06-16 17:06] dkotter commented on #141
@peterwilsoncc I can't speak to the tag but there is still an issue here. Those referenced PRs definitely make the integration of Distributor and the block editor nicer but the don't fully solve the issue I opened here.

To recap, by default we only allow published items to be distributed so the distribution menu isn't even loaded if an item is in a non-published state. When an item is published i

[2022-06-17 01:36] peterwilsoncc commented on #879
Hi @jeremyfelt and thank you for your report.

I've taken a look at this to confirm the bug and noticed same issue applies for both the pushing and pulling of posts.

While using the filter `dt_pull_post_args` can fix the issue for pulling posts, for pushing posts the equivalent is not able to as `dt_push_post_args` is used for two purposes: the remote HTTP request to the push destination and pass

[2022-06-17 21:54] jeffpaul commented on #660
@peterwilsoncc I think my only concern there is if a new release adjusts where the strings are located wouldn't the translation files be inaccurate and not actually render the translated text as expected?

[2022-06-20 01:10] peterwilsoncc commented on #660
@jeffpaul Sorry, I am a little unclear what you mean. Are you referring to the strings being relocated within the plugin, the location of the translation files changing or something else?

[2022-06-20 03:15] peterwilsoncc commented on #141
Thanks for clarifying Darin.

For 1.7.0 I think I will keep the existing PRs as the bug fix and aim to remove the refresh in either 2.0.0 or 2.1.0

[2022-06-22 05:00] peterwilsoncc commented on #738
The attached zip file is a mini plugin for testing this issue.

[test-block.zip](https://github.com/10up/distributor/files/8954505/test-block.zip)

In it's entirety, the mark up for the post content is
[code]

[2022-06-22 16:18] #879 closed, assigned to peterwilsoncc

[2022-06-22 16:22] faisal-alvi commented on #784
Hi @MonsterKing - thanks for reaching out.

Fortunately, we have introduced a new filter `dt_pull_post_terms` (#800) to control the terms processing. Please add the following code to your destination site:

[code]
This will bypass the terms processing and the terms will not be synced/pulled. Read more [here](https://10up.github.io/distributor/dt_pull_post_terms.html).

With this, closing the ticke

[2022-06-22 16:22] #784 closed, assigned to faisal-alvi

[2022-06-23 02:59] #893 closed, assigned to peterwilsoncc

[2022-06-23 11:05] faisal-alvi commented on #875
@10up/open-source-practice I'm facing the following issues to proceed with Cypress tests (and got stuck), can anyone suggest/help?

1. Even after adding the following code in the `.wp-env.json`, a multisite setup is not configured, we get a normal site.
[code]
2. As an alternate solution to the above issue, @Sidsector9 recommended using the following script to convert the site into a multisite.
[c

[2022-06-23 13:31] Sidsector9 commented on #875
@faisal-alvi for point (2), you can try using [`wp site create`](https://developer.wordpress.org/cli/commands/site/create/) instead of going through the UI way. About the other points, I'll spend some time to investigate.

[2022-06-23 13:33] faisal-alvi commented on #875
@Sidsector9 Yes, I will but It's not only about creating a site, I need to literally visit the Distributor plugin setting page, Create posts, Pull, Push, etc.

[2022-06-23 23:49] meksone commented on #810
Also SVG format doesn't being transfered.
Thanks

[2022-06-24 16:16] dinhtungdu commented on #875
`wp-env` hasn't supported installing WP multisite by configuration (see https://github.com/WordPress/gutenberg/issues/27961). So we should use the CLI command suggested by @Sidsector9.=

The main problem here is WordPress multisite can't be installed on domains with custom ports (except 80 and 443) (see image below). There is an ongoing effort to fix this (see the Trac [ticket](https://core.trac.w

[2022-06-24 20:21] jeffpaul commented on #660
@peterwilsoncc talking about the strings being relocated within the plugin

[2022-06-24 21:54] #604 closed, assigned to faisal-alvi

[2022-06-25 00:53] dinhtungdu commented on #875
Steps to install multisite using `wp-env`
- Set the `development` or `tests` environment port to `80`.
- Run `wp core multisite-convert` for the corresponding environment.
- Update the `.htaccess` file with rules from [here](https://wordpress.org/support/article/htaccess/#wordpress-3-5-and-up).

[2022-06-25 14:26] jeffpaul commented on #875
@dinhtungdu do we have that sort of info documented in the utils repo?  If not, it would be great to add there for others to hopefully find in the future.

[2022-06-26 23:08] peterwilsoncc commented on #660
@jeffpaul I don't think that will be a problem, I think the line number references are translatior comments rather used by the files. I tested relocating `Howdy, %s` on an EN_AU install and the translation to `G'day, %s` continued working.

[2022-06-27 02:15] dinhtungdu commented on #875
We don't, I will add a note there.

[2022-06-27 19:17] #813 closed, assigned to nobody

[2022-06-27 22:51] #860 closed, assigned to faisal-alvi

[2022-06-27 23:57] #872 closed, assigned to jeffpaul

[2022-06-28 05:42] faisal-alvi commented on #875
Thanks for the suggestions @dinhtungdu!

Update: As discussed in weekly meeting, we still need to figure out why the `wp-env` is blocking `localhost` to verify the `SSL`, and @dinhtungdu will reproduce the issue and try to figure out the cause when he gets some time.

[2022-06-28 08:35] dinhtungdu commented on #875
@faisal-alvi I understand your issue now. For the wizard, to avoid the CORS issue, we make requests from the server-side to check the remote site information:

https://github.com/10up/distributor/blob/47a28076767e8e08afb18cd48f5480f1075ac56e/includes/external-connection-cpt.php#L810-L843

As @peterwilsoncc pointed out in the meeting, making a request from the webserver to `localhost:8888` won't wo

[2022-06-28 09:57] faisal-alvi commented on #875
@dinhtungdu I prefer the second solution. However, we need a subdir multisite inside `wp-env`, that is the main issue!

[2022-06-28 10:03] dinhtungdu commented on #875
@faisal-alvi As I mentioned above, I set up successfully a subdirectory multisite with `wp-env` by using port `80`. Can you try [these steps](https://github.com/10up/distributor/issues/875#issuecomment-1166157794) when you have time?

[2022-06-28 10:06] faisal-alvi commented on #875
@dinhtungdu yes got it, I will try as soon as I get some time to work on this ticket. Thank you, Tung!

[2022-06-28 17:20] #724 closed, assigned to sksaju

[2022-06-28 17:20] #738 closed, assigned to sksaju

[2022-07-01 14:09] espechtcfe opened #903 "Gutenberg editor requires refresh in order to see Distributor after publishing post"
### Describe your question

We've just added Distributor to a new multisite and we've found that with this site that uses the Gutenberg editor, after publishing a post, we need to manually refresh the page in order to see Distributor.  This was not an issue on our non-Gutenberg site.

Is there a way to make it so that once a post is published that Distributor can show up automatically?

### Code o

[2022-07-11 01:52] peterwilsoncc commented on #730
As work in beginning on Distributor 2.0.0, I've moved this enhancement off the 1.7.0 milestone to allow the point release to focus on bug fixes.

[2022-07-11 01:52] peterwilsoncc commented on #861
As work in beginning on Distributor 2.0.0, I've moved this enhancement off the 1.7.0 milestone to allow the point release to focus on bug fixes.

[2022-07-11 15:18] jeffpaul commented on #848
@jadamsbit are you still seeing this issue after the 1.6.9 release?

[2022-07-11 15:26] jeffpaul commented on #881
Closing this as it appears WP Engine got things resolved on their end, though I never got feedback from WP Engine on their changes and uncertain if any updates are needed on Distributor to prevent similar issues in the future.  If WP Engine responds with that info, then let's please re-open this issue to work through any necessary updates on the Distributor side of things.

[2022-07-11 15:26] #881 closed, assigned to jeffpaul

[2022-07-11 15:30] jadamsbit commented on #848
@jeffpaul, I will go back and check now thanks for the update.

[2022-07-11 16:18] jadamsbit commented on #848
@jeffpaul
If you don't mind, what was the issue? It is connecting now.

[2022-07-11 16:20] jadamsbit commented on #848
@jeffpaul Do I need to close the issue or will you do that?

[2022-07-12 00:33] #799 closed, assigned to mehulkaklotar

[2022-07-12 20:18] jeffpaul commented on #903
@espechtcfe note that this is a duplicate of #141, so I'm closing this in favor of 141 and recommend subscribing to updates on that issue to see when an update is available that resolve the issue... thanks!

[2022-07-12 20:18] #903 closed, assigned to nobody

[2022-07-12 20:44] jeffpaul commented on #848
Thanks for the confirmation, closing this now.

[2022-07-12 20:44] #848 closed, assigned to jeffpaul

[2022-07-13 17:04] faisal-alvi commented on #875
@dinhtungdu - I've tried the steps mentioned [above](https://github.com/10up/distributor/issues/875#issuecomment-1166157794).

* Stopped "local by flywheel".
* Updated `wp-env.json`:
[code]
* Started wp-env environment.
* Converted to multisite using WP-CLI.
* Updated `.htacess` using: `npm run env run cli vi .htaccess`

I'm still seeing http://localhost8889/ working instead of the 80 port. Also,

[2022-07-14 00:28] dinhtungdu commented on #875
@faisal-alvi You can set the port as follows. Subsites won't work if your port isn't `80`.

[code]

[2022-07-14 14:27] vikrampm1 opened #905 "Bump WordPress and PHP minimums"
Bump WP & PHP Minimums to the following

- [x] WordPress to 5.7
- [x] PHP to 7.4
- [x] Remove any no-longer-needed conditional code for older version support.
- [x] Take a look at adjusting our testing matrices, if applicable.
- [x] Bump the minimums in plugin documentation and header fields.

Misc
- [x] remove references to gutenberg_get_jed_locale_data
- [x] Application passwords always availabl

[2022-07-15 01:09] peterwilsoncc opened #906 "Consistently determine if a post type is distributable."
### Is your enhancement related to a problem? Please describe.

Currently Distributor determines whether a post type can be distributed based on a range of searches:

* `get_post_types( [ 'public' => true ] )`
* `get_post_types( [ 'show_in_rest' => true ] )`

In some cases they change based on the distribution type (push or pull); in some cases they change based on the connection type (internal or

[2022-07-15 05:11] peterwilsoncc commented on #660
I tested [wearerequired/traduttore](https://github.com/wearerequired/traduttore) locally and I think it could provide a suitable interface.

As the french translation provided in this original issue are out of date, there's about 40 strings missing, I will move this ticket off the 1.7.0 release as there are no up-to-date translations to include.

I think it would be a poorer experience for 15% of

[2022-07-19 03:25] peterwilsoncc opened #908 "Release 1.7.0"
## Hold until...
- [x] Do not release until last two PRs are merged/punted.

## Release steps
- [x] Branch: Starting from `develop`, create a release branch named `release/X.Y.Z` for your changes.
- [x] Version bump: Bump the version number in `distributor.php`, `package.json`, and `readme.txt` if it does not already reflect the version being released.  In `distributor.php` update both the plugin

[2022-07-19 04:48] peterwilsoncc commented on #123
It looks like the PR got stalled because of a lack of clarity on how to break backward compatibility.

As it's possible a developer is using the existing actions and determining the context by type checking the first parameter, I think it's probably best to deprecate `dt_push_post` using the `do_action_deprecated()` function.

There are two options:
* the same action is used in both locations with

[2022-07-19 11:10] dhanendran commented on #123
@peterwilsoncc I like this approach. We can deprecate the `dt_push_post` action and introduce 2 new actions for each scenario something like below.

1. `dt_push_external_post` in includes/classes/ExternalConnections/WordPressExternalConnection.php as this specifically handles the external connection.
[code]
2. `dt_push_network_post` in includes/classes/InternalConnections/NetworkSiteConnection.php

[2022-07-19 22:27] peterwilsoncc commented on #123
Thanks for the logic check @dhanendran

The PR for this issue can remain on hold as the fix is on the 2.0.0 milestone which is a while away. That will give us the chance to fine tune the actions if needs be.

[2022-07-20 04:48] #720 closed, assigned to dhanendran

[2022-07-21 03:14] peterwilsoncc opened #912 "Account for FSE post types in rest endpoints."
### Is your enhancement related to a problem? Please describe.

`RestApi\check_post_types_permissions()` currently lists all post types available in the WordPress REST API. With the introduction of full site editing, this includes templates and other items that should probably never be shared.

Modify how the function searches for distributatble post types, possibly by changing to use `Utils\distr

[2022-07-21 05:24] peterwilsoncc commented on #875
I'll move this to the 2.0.0 milestone as 1.7.0 likely to be released early next week.

[2022-07-21 23:09] #889 closed, assigned to amalajith

[2022-07-21 23:09] #906 closed, assigned to faisal-alvi

[2022-07-26 00:06] peterwilsoncc commented on #908
Completed 25 Jul, 2022 (US time). See [release page](https://github.com/10up/distributor/releases/tag/1.7.0).

[2022-07-26 00:06] #908 closed, assigned to peterwilsoncc

[2022-07-26 00:39] peterwilsoncc opened #913 "Docs workflow builds from wrong directory."
### Describe the bug

In https://github.com/10up/distributor/commit/b32d29544f978406fde01ba37f0b14596fb92a3e the workflow was altered to use a different action for checking out and building the developer docs to GitHub pages.

It appears this included a type for the name of the directory in which the docs are built -- it uses `docs` rather than `docs-built`.

This results in GitHub pages being bui

[2022-07-26 01:04] #913 closed, assigned to nobody

[2022-07-26 17:54] jedunndigital opened #915 "Connection issue with External Site"
I am trying to connect two of my sites. I was able to establish a connection from site A to site B, and pull in content. However, when I try to establish a connection from site B to site A, I get this error response:

Unable to connect to site.
cURL error 28: Operation timed out after 5006 milliseconds with 0 bytes received (http_request_failed)

Both sites are set up on the same local server and

[2022-07-27 09:46] jmslbam commented on #846
Hi @romeowski,

I successfully managed to make ACF of other Meta data work with https://github.com/burovoordeboeg/distributor-meta-data/

It depends on Distributor pushing the attached file itself, so if you upload a file, do that on the post which you want to push, otherwise it won't be copied. Feel free to fork the code to make adjustment, while it's a client plugin which runs "stable" :)

[2022-07-29 06:31] pixelpublic commented on #445
@jeffpaul I tried out your plugin yesterday the first time - and it seems to be exactly what I was looking for. But - using WPBakery, I have the same issue as mentioned before: Images are transferred to the media folder of the site which is pulling the content from another site but since WPBakery uses the image/media ID for used images inside the content, the images are broken then. I did not find

[2022-08-01 07:47] romeowski commented on #846
Hi Jaime,

Thank you so much for your message, in this couple of week I think I can
test the solution you found, I will write you as soon as I can get some
feedback!

Thanks!

Alessandro

Il Mer 27 Lug 2022, 11:47 Jaime Martínez ***@***.***> ha
scritto:

[2022-08-02 19:39] #875 closed, assigned to faisal-alvi

[2022-08-02 22:56] peterwilsoncc commented on #905
I've put this on the 2.0.0 milestone to action early and avoid adding any new code to support older versions of WP or PHP.

[2022-08-03 05:09] peterwilsoncc opened #918 "Untranslatable strings."
### Describe the bug

In a number of locations the translation strings are buggy an unable to be translated.

In most cases strings are concatenated, thereby assuming all languages follow the same format as English. `assets/js/gutenberg-syndicated-post.js` has several examples.

In other locations they assume appending the letter `s` to a word pluralizes it.

https://github.com/10up/distributor/bl

[2022-08-03 10:48] pdewouters opened #919 "Custom post type gets copied as a regular post"
### Describe your question

I have 2 sites on a multisite network, with a CPT `nt_course`, but when I "distribute" it, it gets cloned as a `post` , not as a CPT. Any suggestions?

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-03 10:59] pixelpublic opened #920 "WPBakery / Media IDs"
### Describe your question

I tried out your plugin yesterday the first time - and it seems to be exactly what I was looking for. But - using WPBakery, I have the same issue as mentioned before: Images are transferred to the media folder of the site which is pulling the content from another site but since WPBakery uses the image/media ID for used images inside the content, the images are broken th

[2022-08-03 15:22] andygagnon commented on #919
Same for me.
Distributed content shows correct correct Post Type in Pulled Content From, but the content shows up in the  Posts Editor.

[2022-08-03 16:47] jmstew3 opened #921 "Pages are getting pulled in as posts"
Huge issue. Pages are showing up under Distributor > Pull Content > Pages as "Post Type" = Page...

But when I pull them in as draft, they pull in as Posts.

I have replicated this with two different websites/two different External Connections, and have tried to Pull in the reverse (using the Distributor Content website as the receiver...)

This just happened recently. I can't get any of my Pages

[2022-08-03 16:55] jmstew3 commented on #921
Update: I was using version 1.7.0 and experiencing the issue.

I downgraded to 1.6.4 and I am no longer having the issue.

[2022-08-03 17:22] andygagnon commented on #921
I second that.  Pushed/pulled Pages end up in Posts.  Version 1.7.0.  On Multisite.

[2022-08-03 17:33] dkotter commented on #921
Thanks for the report! I have a [PR](https://github.com/10up/distributor/pull/922) up to fix this, if anyone here is available to test that and ensure it fixes this issue. Thanks!

[2022-08-03 17:33] dkotter commented on #919
Thanks for the report! I have a [PR](https://github.com/10up/distributor/pull/922) up to fix this, if anyone here is available to test that and ensure it fixes this issue. Thanks!

[2022-08-04 00:38] peterwilsoncc opened #923 "Release 1.7.1"
### Is your enhancement related to a problem? Please describe.

## Hold until...
- [x] https://github.com/10up/distributor/pull/922

## Release steps
- [x] Branch: Starting from `develop`, create a release branch named `release/X.Y.Z` for your changes.
- [x] Version bump: Bump the version number in `distributor.php`, `package.json`, and `readme.txt` if it does not already reflect the version being

[2022-08-04 00:45] #919 closed, assigned to nobody

[2022-08-04 00:45] #921 closed, assigned to nobody

[2022-08-04 05:43] claycarpenter commented on #919
@dkotter Just ran a handful of quick tests on your PR, and it does indeed seems to fix the issue. Thanks for the quick fix!

Tested on a page and a handful of posts across two different CPTs.

[2022-08-04 18:16] #923 closed, assigned to peterwilsoncc

[2022-08-05 08:21] pdewouters opened #925 "Remove application passwords dependency"
### Is your enhancement related to a problem? Please describe.

10up install the application passwords plugin, which is abandoned and the feature is included with WP core

### Designs

_No response_

### Describe alternatives you've considered

This feature is now in core WordPress, no need to install the plugin.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-06 00:20] peterwilsoncc commented on #925
Hi Paul,

I'm currently working on PR #917 to bump the minimum WordPress and PHP requirements for issue #905. As part of this I've removed the plugin in 5db745c088ec0b9e01e0a46a34387381f5f6466d.

I've moved this issue on to the 2.0.0 milestone to be closed once the pull request is merged.

[2022-08-10 08:43] Drmzindec opened #926 "Could not determine remote post id"
I keep getting the issue: Could not determine remote post id

`{"success":true,"data":{"results":{"internal":[],"external":{"125241":{"date":"August 10, 2022 8:41 am","status":"fail","errors":["Could not determine remote post id."]}}}}}`

What does this even mean? How do I solve this?

[2022-08-11 08:19] aromeo85 commented on #846
Hi Jaime!

First of all thanks for you contribute!

I'm not sure how to make your solution work, sorry. I tried to download your folder from git and install it as a plugin inside both external sites (with distributor installed), after that I tried again to push a "Press" article with the ACF "Pdf file" inside but without success.

It basically copies the article, copies the field with a wrong file

[2022-08-12 16:31] chet-tbf opened #927 "Is it possible to Push/Pull only on command?"
### Describe your question

We were hoping to use Distributor in the following way:

1. Connect One Environment as the Source of Truth.
2. Connect all items which matching Post IDs.
3. Update content on Source of Truth, but not have it distribute until manually pulled.

Is this feasible with Distributor? I have stared exploring the Actions and Filters in the developer documentation, but wanted to

[2022-08-16 02:03] peterwilsoncc opened #928 "Specify node version in workflow files."
### Is your enhancement related to a problem? Please describe.

In b04cc5db910251b66f9e1e3eb857f3eafa0119a1 an `.nvmrc` file was added to specify the version of node required for the repo.

Follow up this work by specifying the workflow files use the version of node specified in this file:

[code]

Support for these files was added in version 2.5 of the action so that will need to be updated where

[2022-08-17 21:46] sjmwa opened #929 "Re-distribute after deletion?"
### Describe your question

If I push a post and then want to remove it completely from the distributed site and start over is that possible?

I've tried unlinking...completely trashing and deleting, and also tried removing all meta from the post as described here:
https://github.com/10up/distributor/issues/883

I'm unable to re-distribute...it is still grayed out. Does something else need to be c

[2022-08-18 12:40] jmslbam commented on #846
Please download https://github.com/burovoordeboeg/distributor-meta-data/releases/download/0.3.3/distributor-meta-data.zip and install that.

Then define which field_key the add-on need to search for and replace. So for example if your File is named `press_type_file` then create this filter

[code]

This way you're letting the add-on know which field_key to search and replace.

Question: Do you see

[2022-08-18 14:06] sjmwa opened #930 "Override author functionality"
### Describe your question

Did the override author option go away with latest versions? I see the option to select in documentation and discussion but don't see it when I go to distribute a post.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-18 15:44] dkotter commented on #930
@sjmwa Thanks for the question. That option should still be there but note it's located within the Distributor settings page, not something you toggle on/off on an individual post. Within the admin of your site, there should be a Distributor menu item in the left. If you go to that, there should be a Settings menu within and on that page is this option.

[2022-08-18 15:44] #930 closed, assigned to dkotter

[2022-08-18 18:11] GenooSource opened #931 "Divi page background and media NOT getting pushed"
My site is using Divi and a Divi child theme.  I have a page with a video background hero image.  When I push that page to another site, the media is NOT transferring - so there is no background, and I am unable to edit the section background within Divi Builder on the receiving site - it is frozen, locked out, cannot edit or change it.

Also, once I push the page to the specific site, I apparentl

[2022-08-18 18:49] nineplanets opened #932 "Custom field meta data not copying over properly"
### Describe the bug

I am trying to pull posts from a custom post type, with custom fields created via the Advanced Custom Fields plugin.  Most of them are copying over, but some of them are showing up as blank when the source they pulled from had them filled in.  I suspect it might have to do with the structure of the custom field types.

We have a repeater group, and inside that is a dropdown w

[2022-08-18 23:48] #892 closed, assigned to peterwilsoncc

[2022-08-19 14:24] aromeo85 commented on #846
Hi jaime,

thank you for your support, really appreciate!
I followed your instructions, it only worked a couple of times: the post was distributed correctly with the ACF 'file' field image, in both cases of the formats (png or pdf).
But after a couple of tests it still didn't work, it would distribute the post without the file (it wouldn't even distribute it within Media)

Did you also encounter t

[2022-08-22 15:49] jeffpaul commented on #932
Closing this in favor of #81, as ACF is a known compatibility issue with Distributor that we're working towards resolving in our 2.0.0-2.2.0 set of releases.

[2022-08-22 15:49] #932 closed, assigned to nobody

[2022-08-22 15:50] jeffpaul commented on #931
Closing this in favor favor of #348 as Divi and other page builders are a known compatibility issue that we're working to resolve as part of our 2.0.0-2.2.0 set of releases.

[2022-08-22 15:50] #931 closed, assigned to nobody

[2022-08-22 15:57] jeffpaul commented on #929
@sjmwa if you come across this case again, I'd recommend marking the distributed post as a draft, make whatever updates you want in the origin post (updates will distribute to the other post) and then when things are ready mark the distributed post as published.  In order to fix your current issue, you'll want to make sure the meta on the origin post does not include your distributed post (which i

[2022-08-23 09:49] aromeo85 commented on #846
Hi Jaime,

does this plugin works with NOT multisite site?

[2022-08-23 10:47] jmslbam commented on #846
Nope, only with Multisite installation aka Internal Connections https://github.com/burovoordeboeg/distributor-meta-data#requirements Could that be it for you?

And double check if this options is enabled on all sites:

<img width="916" alt="image" src="https://user-images.githubusercontent.com/145887/186139508-852bc72e-a3dc-4ecd-92d1-e5438615d833.png">

[2022-08-23 10:53] aromeo85 commented on #846
Hi Jaime,

that's why it doesn't work! My two sites are external!
Thanks again for the help, please keep me updated if there are any improvements to make your plugin work for external non-multisite sites as well.

[2022-08-23 11:08] jmslbam commented on #846
Ah, sorry to hear that, but also glad to hear, which means it still would work :)

The project I build this for is a multisite only and is finished, so from my/our end, there won't be any extending of the code for external sites. Maybe an other developer might and they could definitly base it on this code.

Kinds regards,

Jaime!

[2022-08-23 22:48] #905 closed, assigned to peterwilsoncc

[2022-08-23 22:48] #925 closed, assigned to peterwilsoncc

[2022-08-26 14:10] sjmwa commented on #868
Adding to this....I'm having the same issue. When checking the override author option it does not send to the distributed post...it uses the authenticated user with access as the author.

Any suggestions on how to fix? Thanks.

[2022-08-29 01:12] peterwilsoncc commented on #730
In 7f5317082aa5a8ceb95bdf380ccde6861c9d12e8 I added the `admin_url( 'authorize-application.php' )` as a hardcoded value in the Distributor endpoint. I did this to allow sites to get all the information required by distributor in a single request.

https://github.com/10up/distributor/blob/7f5317082aa5a8ceb95bdf380ccde6861c9d12e8/includes/rest-api.php#L371-L378

This change will account for sites th

[2022-09-01 04:43] peterwilsoncc commented on #206
This was largely achieved in https://github.com/10up/distributor/pull/901

There are still issues in the plugin updater that need to be resolved as it doesn't meet the VIP Coding standards. The only real solution I see for that is to either source another GitHub to WP updater script or write a custom one for use with 10up plugins distributed in this manner.

I'm not really keen on the latter.

[2022-09-02 18:22] jeffpaul commented on #445
@pixelpublic we've received no response back in trying to reach out to various page builders.  We have started our work on a Distributor v2, but expecting that it will resolve all issues seen across all page builders may not be realistic.  Once we get a bit deeper into the large parts being refactored in v2 and can test on some page builders we'll have a better sense.  Until then, following this i

[2022-09-04 22:17] #440 closed, assigned to peterwilsoncc, ryanwelcher

[2022-09-05 16:12] #929 closed, assigned to jeffpaul

[2022-09-12 04:14] peterwilsoncc commented on #399
Now that Distributor requires WordPress 5.7 or later, it may be possible to use the [`wp_after_insert_post` function and hook](https://make.wordpress.org/core/2020/11/20/new-action-wp_after_insert_post-in-wordpress-5-6/) added in 5.7.0.

This action is intended to run after all the post data has been saved to the database, including meta data and terms.

[2022-09-13 01:45] peterwilsoncc commented on #179
I'm going to close this off due to lack of response.

For local development, using this as an mu-plugin ought to resolve any issues with self-signed SSL certificates and/or application passwords preventing the use of an HTTP scheme.

**Please do not use this in production, it's really not a good idea**

[code]

[2022-09-13 01:45] #179 closed

[2022-09-13 04:54] peterwilsoncc commented on #45
To get some recent notes on testing external connections:

**Automatic setup**

These seem pretty good. Somewhat geek oriented with the curl error IDs but I don't this that's entirely a bad thing.

* _DNS error_
  Unable to connect to site.
  cURL error 28: Connection timed out after 5001 milliseconds (http_request_failed)
* _Not WordPress_
  Unable to connect to site. The external site is private

[2022-09-13 22:08] #730 closed, assigned to peterwilsoncc

[2022-09-16 00:41] #399 closed

[2022-09-16 01:11] peterwilsoncc opened #939 "Create release PR automatically when a release branch is pushed to GitHub"
### Is your enhancement related to a problem? Please describe.

Adapt the [workflow used in the wordpress plugin actions](https://github.com/10up/action-wordpress-plugin-asset-update/blob/develop/.github/workflows/release-pull-request.yml) to automatically create a pull request when a branch with the prefix `release/` is pushed.

### Designs

-

### Describe alternatives you've considered

Manuall

[2022-09-18 22:36] #939 closed, assigned to peterwilsoncc

[2022-09-20 00:20] #928 closed, assigned to peterwilsoncc

[2022-09-22 07:49] cadic commented on #868
Experiencing the same. Tested against different themes on WordPress Core 6.0.2 and Distributor 1.7.1

| Theme | Override byline |
|-|-|
| Twenty-Nineteen | ✅ |
| Twenty-Twenty | ❌ |
| Twenty-Twenty-One | ✅ |
| Twenty-Twenty-Two | ❌ |

### Twenty-Nineteen (override works, showing source site name "distributor")
<img width="400" alt="Screenshot 2022-09-22 at 10 43 18" src="https://user-images.github

[2022-09-22 15:02] jeffpaul commented on #777
As this relates to Divi, I'm going to close this in favor of #348.

[2022-09-22 15:02] #777 closed, assigned to nobody

[2022-09-22 15:03] jeffpaul commented on #846
Closing this in favor of #81.

[2022-09-22 15:03] #846 closed, assigned to nobody

[2022-09-25 21:12] HQv2 opened #942 "[delete]"
Please delete this post.

[2022-09-26 03:23] peterwilsoncc commented on #625
I was testing this and able to reproduce the issue when deleting all tags and updating via the REST API.

My suspicion is that it has something to do with an `empty( $terms )` check but I am doing some further checking to see whether it's an issue with the plugin or the REST API.

[2022-09-26 03:54] peterwilsoncc opened #943 "[Repo config] Protect branch `develop-v1`"
### Is your enhancement related to a problem? Please describe.

Please protect the `develop-v1` branch.

To allow for future 1.x releases while version 2.0.0 is being worked on, I've created the `develop-v1` branch.

This will allow us to do cherry-pick releases, for example to include #937 without including the minimum requirement bump in the minor release.

The branch was created from e0f54107b8

[2022-09-26 04:35] #942 closed, assigned to nobody

[2022-09-26 16:49] dkotter commented on #943
This has been done

[2022-09-26 16:49] #943 closed, assigned to jeffpaul

[2022-09-28 02:46] peterwilsoncc opened #947 "Translation files do not include JavaScript strings."
### Describe the bug

The node command currently used by Distributor does not scan JavaScript files for translation strings. As a result, the .pot file generated during the build process is missing strings.

WP CLI is able to scan both PHP and JavaScript files when generating pot files. To ensure the compressed files are included in the build process, the WP-CLI command required is:

[code]

The `

[2022-09-28 04:46] peterwilsoncc commented on #267
See #947

Covered by #916 (use wp-scripts) and #935 (fixing untranslable strings)

Some discussion of using [wearerequired/traduttore](https://github.com/wearerequired/traduttore) in #660 but under discussion.

[2022-09-28 04:55] peterwilsoncc opened #948 "Translator comments are inconsistent"
### Describe the bug

Numerous strings with placeholders either have conflicting translator comments or lack translator comments.

According to wp i18n make-pot:

[code]

### Steps to Reproduce

1. Check out `develop` branch
2. run `npm i; npm run build`
3. run `wp i18n make-pot . --include="distributor.php,dist/js/*.min.js,includes,templates,assets"`

### Screenshots, screen recording, code snipp

[2022-09-28 05:46] #948 closed, assigned to peterwilsoncc

[2022-09-28 22:09] jeffpaul commented on #267
Noting that I would be fine holding off on `Lay out a plan for how we source and include translations` as long as the POT file generated is as accurate and complete as we can make it (as then Distributor users can generate their own translation files for locales of particular need and include those themselves).  Current research seems to point to sourcing and including translations may be more wor

[2022-10-06 03:21] peterwilsoncc opened #953 "Remove version 1.x specifics from workflow files."
### Is your enhancement related to a problem? Please describe.

With the introduction of the `develop-v1` branch for 1.x releases, a number of lines were added to workflow and related files to trigger actions on the branch.

These should be released once the 2.0.0 milestone is closed.

See https://github.com/10up/distributor/pull/946#pullrequestreview-1123778728

### Designs

_No response_

### De

[2022-10-06 09:13] designconcepts commented on #74
It would also be nice, if you could assign non-admin user roles to have access to the to Distributor menu on the left, where you can pull content. Because it seems sometimes that content is waiting there to be pulled instead of being visible right away.

[2022-10-11 08:29] alexwolk commented on #884
KPN.com doesn't look right?

On Wed, May 25, 2022 at 1:34 PM Jeffrey Paul ***@***.***>
wrote:

--
Alex Wolk
President & Founder
INSITEADVICE.COM
2122 Marconi Ave, St. Louis
314-621-6888 x1

[2022-10-11 14:26] jeffpaul commented on #884
@alexwolk I'm not sure I understand your question, can you please re-state and cover the earlier question from May 26th as well so we can best help triage for you on this?

[2022-10-17 04:06] peterwilsoncc commented on #753
Rather than add ad-hoc wp-cli support by bypassing permission checks, I think it would be preferable to design some commands that the plugin can ship.

Skipping permission checks based on the presence of `WP_CLI` would work but doesn't seem very secure. For third party WP-CLI commands, I'd recommend using the [`map_meta_cap`](http://developer.wordpress.org/reference/hooks/map_meta_cap/) or [`user_

[2022-10-17 21:01] jeffpaul opened #955 "Image Credits custom post meta not distributed"
### Describe the bug

In testing the [Newspack plugin](https://github.com/Automattic/newspack-plugin) and its Newspack Image Credits feature, I'm seeing that the image credits custom meta on images is not distributed.

### Steps to Reproduce

1. Install/activate Newspack plugin on origin & remote WP instances
2. Install/activate Newspack Image Credits plugin on origin & remote WP instances
3. Crea

[2022-10-18 03:20] peterwilsoncc opened #957 "Trashing source post changes slug on distributed external posts to use `__trashed` suffix."
### Describe the bug

When trashing the source post, posts distributed to external sites are updated to use the `__trashed` suffix.

### Steps to Reproduce

1. Create two single site WP installs with Distributor installed on each.
2. Cross-link the sites (ie, so they each have the other listed as an external connection)
3. Publish a post on site one
4. Push distribute and publish the post to site

[2022-10-18 07:51] alexmerz commented on #955
The underlying cause seems that Distributor keeps the Post ID of an attachement in a post "as is", for example:
[code]
instead of changing it to the new Post ID of the newly imported attachment.

This obviously requires a rewrite of the ID-attribute of wp:image in the post_content on the destination site, as the Newspack plugin is using it: https://github.com/Automattic/newspack-plugin/blob/master

[2022-10-19 01:22] peterwilsoncc opened #958 "Temporarily allow E2E `trunk` tests to fail."
### Is your enhancement related to a problem? Please describe.

Due to an upstream bug in `wordpress/env` the E2E tests for WordPress trunk are failing. See https://github.com/WordPress/gutenberg/pull/44887

As a temporary measure, these tests should be allowed to fail without blocking merge/ending the other E2E test runs early.

### Designs

_No response_

### Describe alternatives you've conside

[2022-10-19 02:24] #958 closed, assigned to peterwilsoncc

[2022-10-19 19:58] dkotter opened #960 "Update usages of `blacklist` to be more inclusive"
### Is your enhancement related to a problem? Please describe.

We have a handful of places that still use the term `blacklist` (mostly in our utilities). We should look to update these to use something like `excluded` instead.

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-20 22:48] #625 closed, assigned to peterwilsoncc

[2022-10-24 02:31] peterwilsoncc commented on #960
Reopening due to incorrect use of `apply_filters_deprecated`, PR incoming

[2022-10-24 14:43] #960 closed, assigned to dkotter

[2022-10-25 15:13] #884 closed, assigned to jeffpaul

[2022-10-27 13:17] alexmerz commented on #955
The problem seems to be also related to the way prepare_media() in includes/utils.php works. The function soley relies on get_attached_media(). This function is very limited in what it returns (see: https://developer.wordpress.org/reference/functions/get_attached_media/#comment-2771).

Disitributor needs to check the actual post_content of a post to reliable determine the inline images of a post.

[2022-10-27 16:45] jeffpaul commented on #955
@peterwilsoncc see above on potential fix for Image Credits on Newspack and may help resolve other tangential issues to consider in v2.0.0

[2022-10-28 03:53] peterwilsoncc commented on #955
For the image tags themselves, we might be able to use `wp_filter_content_tags()` on the way out to determine the attachment IDs, this in turn fires the `wp_content_img_tag` filter for each image contained.

Modifying the block markup is somewhat more complicated, the filter above doesn't include it and blinding replacing `wp:image {"id":...` could be seen as a bold choice.

[2022-11-14 16:34] garman22 opened #965 "How to automatically unlink on pull or push?"
### Describe your question

I'd like to be able to automatically unlink all posts that are pulled from one site to another. Basically I would like all posts to be unlinked by default.

I'm making a (poor) attempt at trying to make use of the hooks available and have come up with the following to add to my functions.php file :

`add_action( 'dt_push_post', 'auto_unlink' );
add_action( 'dt_pull_post

[2022-11-14 23:30] peterwilsoncc commented on #965
Hi @garman22, you can use the `dt_after_set_meta` action to automatically unlink posts. This will apply to posts that have been both pushed and pulled.

[code]

Distributor includes two filters that allow plugins to prevent Distributor from setting any meta data, `dt_pull_post_meta` and `dt_push_post_meta`.

If another plugin has modified these filters to prevent the setting of meta data, then the

[2022-11-15 00:03] peterwilsoncc opened #966 "Test against WordPress 6.1"
### Is your enhancement related to a problem? Please describe.

[WordPress 6.1 was released on November 1](https://wordpress.org/news/2022/11/misha/).

Test against and update the readme files (readme.txt and readme.md) to indicate support.

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2022-11-15 00:17] peterwilsoncc commented on #966
Testing notes:

✅ Push distribution to external site
✅ Pull distribution from external site
✅ Push distribution to network site
✅ Pull distribution from network site
✅ Distribution with media

[2022-11-15 00:26] peterwilsoncc opened #968 "Fix phpcs workflow."
### Describe the bug

The [PHPCS workflow is currently failing](https://github.com/10up/distributor/actions/runs/3466299394/jobs/5789977725) with the message:

This is currently giving false failures on pull requests and prevents actual linting errors from being discovered.

### Steps to Reproduce

1. Create a pull request
2. Wait for the actions to complete
3. Observe the failures.

### Screensho

[2022-11-15 14:17] garman22 commented on #965
Works perfectly @peterwilsoncc big thanks!  Is it worth including this one in the snippets for others to use?

[2022-11-15 21:23] #968 closed, assigned to peterwilsoncc

[2022-11-15 21:27] #966 closed, assigned to peterwilsoncc

[2022-11-15 23:21] peterwilsoncc opened #971 "Provide example for setting custom meta data in snippits."
### Is your enhancement related to a problem? Please describe.

The `dt_after_set_meta` action can be used for extenders to set custom meta data on distributed posts. This is useful for both extenders requiring custom meta data or wishing to alter a Distributor default value.

Adding an example for this to the code snippets could be helpful.

Follow up to #965.

### Designs

_No response_

### Des

[2022-11-15 23:23] peterwilsoncc commented on #965
I'm glad to hear it worked for you.

I've created #971 to add an example for setting/modifying meta data using the `dt_after_set_meta` to modify adding or removing custom meta data.

I'll close this ticket off and consider further the bet way to document an example.

[2022-11-15 23:23] #965 closed, assigned to nobody

[2022-11-17 09:29] salamalala opened #972 "Taxonomy as Filter in Pull Menu"
Hi there,

I was wondering whether its possible to also use a taxonomy as a filter in the pull menu. I was looking through the documentation but couldn't find anything pointing to that.

Thanks for your help!
Nina

[2022-11-17 11:11] lightson opened #973 "ACF blocks - missing images after pull"
### Describe your question

New user, really liking the functionality, nice work!

I'm using Distributor in a multisite setup and have media handling set to "Process the featured image and any attached images."

An issue I'm running into is that we use ACF blocks for much of our site content. All blocks are being copied over along with and their text content, but images within them are not. I'm no

[2022-11-17 16:08] joshwilsondotme opened #974 "Image on distributed page has incorrect URL."
### Describe the bug

The parent page image has an offload media image from our AWS media bucket. However, the distributed image does not have the correct offloaded URL.

If I resave the parent page again, the distributed page will now have the correct image URL.

These steps need to happen each time a page with an image embedded on the parent page is distributed to any site.

Parent page embedded

[2022-11-18 18:11] jeffpaul commented on #973
@lightson there is a known issue with ACF, so I'm closing this in favor of #81 where you'll be better served subscribing and watching for updates there on a planned future Distributor release to handle this issue... thanks!

[2022-11-18 18:11] #973 closed, assigned to nobody

[2022-11-18 18:12] jeffpaul commented on #974
@peterwilsoncc this sounds like something to look into / consider with the post object handling refactoring work

[2022-11-18 18:16] lightson commented on #973
Ah apologies @jeffpaul, hadn't spotted that ticket. Will sub.

[2022-11-20 23:41] peterwilsoncc commented on #972
Hi @salamalala

There are a couple of filters you can use to limit the pull screen to display posts with a specific term applied or containing any term from a specific taxonomy: `dt_remote_get_query_args` for internal (Multisite) connections and `dt_get_pull_content_rest_query_args` for external connections.

In my testing it does not prevent you from pushing posts without the term/taxonomy applie

[2022-11-22 03:15] peterwilsoncc opened #975 "External connections do not distribute media"
### Describe the bug

When pushing or pulling content from an external connection, no media is distributed regardless of the settings in the admin.

This occurs regardless of whether the featured image is attached to the post or not.

Internal/network connections do distribute the featured images.

**Updates:**
* Please note that it seems to be more of an issue with in-content images and not featu

[2022-11-22 04:08] peterwilsoncc opened #976 "`classic-editor-remember` post meta is distributed."
### Describe the bug

The `classic-editor-remember` post meta key is used by the [classic editor plugin](http://wordpress.org/plugins/classic-editor) to determine whether a post should open in the block editor or the classic editor.

This forces the editor regardless of the post editor in which the post was authored.

When distributing posts to other sites, the setting ought to be dropped from the

[2022-11-22 19:53] espechtcfe opened #978 "Distributed articles aren't causing Nitropack to clear the cache on the page"
### Describe the bug

Since we just upgraded our Wordpress to 6.1.1 we've noticed an issue where a distributed article is not causing Nitropack to auto-clear the cache.  I've been communicating with their support and running many tests and we've determined that the issue only exists when it is a distributed article.  If I unlink the article and make a change, I see that change reflected when not l

[2022-11-24 16:12] adrianw commented on #348
Is there anything we can do to help with the pagebuilder  compliance, this is a wonderful product but currently hindered by the page builder issues.

[2022-11-26 18:59] ronaldomarcos opened #979 "Problem using Foxiz theme"
### Describe the bug

I'm not looking for a solution, just a warning, the plugin cannot connect to sites that are using the Foxiz theme. I installed the theme, no more plugins, for testing, and it doesn't connect either, I tried a few more things to no avail.

The first time I encountered this problem I had several plugins installed, the site was already being used for a while, so I decided to try