[2019-07-05 19:53] jeffpaul commented on #421
@chrismacor thanks for the confirmation, let us know if you run into any issues or have ideas on how Distributor could better meet your needs... cheers!

[2019-07-05 19:53] #421 closed

[2019-07-05 19:54] jeffpaul commented on #299
Noting here that @chrismacor's issue was resolved in #421.

[2019-07-05 19:55] jeffpaul commented on #299
@RGChappell any updates on your setup testing?

[2019-07-05 20:37] chrismacor commented on #299
Here's one suggestion.
We'll be using lot's of pdfs on our mainsite and using PDF Embedder plugin
to display them.
When they get distributed they end up as the file on the remote site.
That remote site could get PDF Embedder and like wise embed the file but
then the've have to upload the file to media and in short, it would be a
lot of extra time spent.
What would be helpful to us is if there was

[2019-07-05 22:34] jeffpaul commented on #299
@chrismacor your request seems similar to what was raised in #372 (and added in #373).  Mind checking to see if that would cover your needs or if your request has alternate needs?

[2019-07-08 19:16] #270 closed

[2019-07-08 20:00] jeffpaul opened #422 "Clarify and standardize terminology"
**Is your enhancement related to a problem? Please describe.**
As @adamsilverstein noted [here](https://github.com/10up/distributor/pull/415#issuecomment-509350407) we refer to posts, content, and stories in terms of what is distributed.  This variety of terms can be confusing for users and developers, so picking a term to use and updating our docs and the plugin so that we're consistent would be

[2019-07-08 21:09] #400 closed

[2019-07-08 21:14] adamsilverstein commented on #394
@avag-novembit thanks for your contribution here - can you explain briefly the use case for this filter and point me to previous tickets I may have missed?

[2019-07-09 02:49] chrismacor commented on #299
Hi Jeffrey,
I'm not sure I'm understanding the solution.
Is it suggesting to attach the pdf file to the embedded post and then the
pulled content will include the file and not just the link?
Thanks for your help,
Christopher

On Fri, Jul 5, 2019 at 4:34 PM Jeffrey Paul <notifications@github.com>
wrote:

--

"Any time you have the opportunity to make a difference in this world, and
you don't, then

[2019-07-09 14:44] avag-novembit commented on #394
I don't think there is a ticket for it. It allows to modify registered `dt_ext_connection`  custom post type arguments, particularly, (in our case) to add `taxonomies` to cpt arguments. Which, in its turn, needed for "connection groups" functionality, which will be a separate add-on.

[2019-07-09 14:55] adamsilverstein commented on #394
@avag-novembit You can use the existing core `register_post_type_args` filter to alter the args used to set up the CPT (see https://developer.wordpress.org/reference/hooks/register_post_type_args/). With this filter you can catch the post type being registered, then modify or add your own args.

Does that make sense, or is there something this would not enable for your use case?

Because this is s

[2019-07-09 15:56] #326 closed

[2019-07-09 18:57] jeffpaul commented on #299
@chrismacor assuming #373 supports PDF files, then using that in place of the PDF Embedder plugin would appear to allow you to distribute the PDF file to remote sites and have the reference in remote sites be to a remote-local version of the PDF file and not the origin-hub version of the PDF file.  Does that support your use case or is there something else you're trying to achieve?

[2019-07-10 04:17] jeffpaul opened #423 "Revisit lazy loading push connections"
**Is your enhancement related to a problem? Please describe.**
With the introduction of lazy loading of available push connections (#365), we're [allowing `innerHTML` because `processTemplate` escapes values](https://github.com/10up/distributor/pull/365#discussion_r301626439).

**Describe the solution you'd like**
Plan is to revisit the overall approach and potentially store the last 3-5 sites tha

[2019-07-10 12:15] joestrat opened #424 "Pull posts from a specific taxonomy"
**Describe your question**

We have a network site which we are using to post jobs (a custom post type). We have a single site that receives all the jobs. We want to be able to distribute the jobs from this single site out to a couple of other sites on the same network depending on a single taxonomy.

The distribution side works but I cannot see a way to filter results by a taxonomy.

What I would

[2019-07-10 18:08] adamsilverstein commented on #424
@joestrat Hi, thanks for opening this issue.

Question: is your plan to distribute these job (posts) automatically with a cron job? If so, you should be able to write some code that iterates thru new posts since the last run and sends them to the appropriate site based on the taxonomy. eg if the category is orange push to site a, if the category is apple push to site b.

or are you wanting to push

[2019-07-10 21:57] helen opened #425 "Implement GitHub Actions for building a release"
See https://github.com/10up/classifai/tree/develop/.github/action-release - one tweak that will need to be done for ClassifAI as well is making the `-dev` version stripping work. We may want to move `action-release` to its own repo since it will be used by both.

## Technical proposal

Add the `rsync-filter.txt` file and `main.workflow`, which runs on push to `master` (this should only happen when

[2019-07-11 09:57] joestrat commented on #424
We would be setting up a cron to run every hour on the primary site that would then push the relevant jobs up to the sub sites. No jobs would actually be shown on the parent site.

Can set up a cron job easily enough and seperate jobs into their respective taxonomies. The pushing itself I might need a little more info on.

The function 'push' in NetworkSiteConnection.php looks like what I need  -

[2019-07-11 13:36] helen commented on #383
Hi @avag-novembit - thanks for taking the time to contribute back with hooks you've needed as you do extensive things with Distributor. We're preparing to get a 1.5 release out with some significant performance enhancements and a couple of bug fixes, and have decided to leave out additional hooks for now so we can holistically review them to make sure they won't end up broken in the near future as

[2019-07-11 15:49] helen commented on #418
Thanks @superbuggy - I think it definitely makes sense to truncate the referer/referrer URL for now, am looking into whether it's better to cut all the way back to site URL or use the current admin page URL. I also would love your opinion on whether long-term it would be better to stop shoving excluded posts into the the query string (leaving the actual functionality intact) and refer to a stored

[2019-07-11 16:57] avag-novembit commented on #383
Hi @helen, okay, thanks for the comment.

[2019-07-15 20:40] adamsilverstein commented on #424
That is close! push will handle the switch to blog for you...

You probably want to group your query by term, or probably make one WP_Query for each term in a loop, then....

for each term set up a connection to the correct remote site

```$connection = new \Distributor\InternalConnections\NetworkSiteConnection( get_site( $remote_blog_id ) );```

then... for each new or updated post:
```$connectio

[2019-07-15 21:27] #309 closed

[2019-07-15 21:28] jeffpaul opened #427 "An option to bulk unlink posts from the source"
**Is your enhancement related to a problem? Please describe.**
I received the following feedback in one of my email conversations with someone who's tested Distributor.

**Describe the solution you'd like**

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
Related to #397 (in that it impacts the same screen).

[2019-07-15 21:31] jeffpaul opened #428 "add Category to bulk pull screen"
**Is your enhancement related to a problem? Please describe.**
I received the following feedback in one of my email conversations with someone who's tested Distributor.

**Describe the solution you'd like**

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
Related to #392 (in that it impacts the same screen).

[2019-07-15 21:35] jeffpaul opened #429 "Cloning multisite sites and losing Distributor connections"
**Is your bug related to a problem? Please describe.**
I received the following feedback in one of my email conversations with someone who's tested Distributor.

**Describe the solution you'd like**

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
n/a

[2019-07-16 18:13] helen commented on #418
After digging into this some more with @dkotter's help, I can trigger this easily by setting `$this->sync_log = range( 0, 400 )` in `PullListTable::prepare_items()`. We do need to fix this, as it's really easy to enter into the several hundreds of posts pulled, and if we keep going this way we are going to trigger a fatal with post max vars. I don't want to drop this variable entirely, as then alr

[2019-07-17 16:27] cmmarslender opened #430 "Distributing blocks with site-specific attributes doesn't work"
**Is your enhancement related to a problem? Please describe.**
We have a handful of blocks that store data in the json inside the block comment. For example, we might have something like this in the json:

[code]

Where leadershipGroup is the id of a term, and we need to filter the block display on the frontend (this block is rendered in php) to only show items from this particular term.

**Descri

[2019-07-17 16:52] helen commented on #418
@superbuggy I've opened #431 to address this, if you're able to take a look and give an opinion on the approach and/or the UI results and how that impacts you.

[2019-07-17 17:51] helen commented on #45
I'm gonna connect this with #368, moving to 1.6.

[2019-07-17 18:38] helen commented on #123
This is not fixed by #371, punting to 1.6 but we can bring this into a minor if we get a PR open and reviewed earlier.

[2019-07-17 18:38] #370 closed

[2019-07-17 20:27] mrazzari commented on #338
Looks like the issues I reported above were fixed by @dkotter in b8dd5c4a (before we discussed them!).
Haven't tested it as I'm on the 1.4 stable, but the commit seems to be doing what it needs to do.

[2019-07-17 20:30] jeffpaul commented on #338
@mrazzari great to hear!  Note that we're working on a release in the near term that'll include the commit you referenced, so the next stable build will likely resolve those for you.  Please do test that when it's available and let us know, thanks!

[2019-07-17 20:35] helen commented on #379
Fixed in #378 - added `$taxonomy`, `$term_array`, and `$term`.

[2019-07-17 20:35] #379 closed

[2019-07-18 01:55] #261 closed

[2019-07-18 01:55] #325 closed

[2019-07-18 03:38] helen commented on #418
Coming back with more due diligence before I merge #431 in - with @cmmarslender on the assist, it looks to be a `414 Request-URI Too Large` issue, not a header size issue. Neither of us could reproduce any headers being sent besides the auth one. I am still happy to help chase down referer issues if you want to connect directly (Slack, or what have you) about specific errors you've seen on your en

[2019-07-18 03:44] #418 closed

[2019-07-18 10:19] kasparsd commented on #286
@helen https://github.com/georgestephanis/application-passwords/pull/39 is now part of Application Passwords version 0.1.0 on WP.org.

[2019-07-18 16:59] arsendovlatyan commented on #284
We have discussed this issue with @avag-novembit and I would like to add my thoughts, hopefully it will give more info about our approach and explain PR sent by @avag-novembit.

The basis is following - It's a must and it's safe to delete part of the post (in this case post meta), if it has been added/modified by  Distributor. In other words, if will delete part of the post, that has been generate

[2019-07-18 18:49] jeffpaul commented on #43
It looks like we've cleaned up a good bit of these references.  All I'm finding at this point (besides actual code and comments) are:
- Description in [README.md](https://github.com/10up/distributor/blob/5bdff720aa72bb4dd6ac7a02d52143b0fa2259b9/README.md)
- Description in [lang/distributor.pot](https://github.com/10up/distributor/blob/d9fe123c06f16937f100c3d9cf14f384c2db5450/lang/distributor.pot#L

[2019-07-21 15:01] rababahmed opened #435 "Syncing Authors Between Multiple Networks"
**Describe your question**
Hi, we have multiple multi-site networks. However the authors are only one one website (the main site). We distribute posts from the mainsite to all the other sub-sites in multiple domains in multiple multi-site networks. Till now with the help of Distributor all we could do was transfer the posts successfully to other networks but the problem was in Author linking. Inst

[2019-07-22 14:28] jeffpaul commented on #435
@startwd in the Distributor Settings page, if you have Override Author Byline enabled then it will replace the author name and link with the original site name and link on your distributed posts.  Is that the functionality you're looking for?

[2019-07-22 14:59] superbuggy commented on #418
Sounds good! In our case, I just added in the code block above to `functions.php` for our main theme as a hotfix. I'm primarily a JS dev and am newer to WP, so I don't yet have a detailed, low-level grasp on how WP uses referrer URLs but that `414` issue makes total sense given my comprehension of the issue we encountered. As an additional measure, we ended up just changing our NGINX config to all

[2019-07-22 14:59] superbuggy commented on #418
Thank you for your responses!

[2019-07-22 16:37] rababahmed commented on #435
We did try that but instead of replacing with the original site name and link we want to replace the author name and link with the original site's author's name and link. Hope I made myself clear. I've seen some codes across the amalgamation of threads here but eventually got lost. I think there is some extended code that will enable this to do so?

[2019-07-22 20:48] adamsilverstein commented on #430
Hi @cmmarslender, thanks for the feature request!

This may be possible with existing filters. I have a few questions about your use case:

* Are you distributing to a site on the same WordPress network, or to an external site connection via the REST API?
* Are you pulling or pushing the content (or both)?

How would you know determine the correct term by its id? Are you sure the term already exis

[2019-07-22 20:54] cmmarslender commented on #430
Currently pushing and pulling within a multisite network, though ideally there could be some filters exposed for pushing/pulling in either context.

In a multisite network, we can compare term on source site and either fetch or create a new term on a destination site.. Would be a bit more challenging in a REST API scenario, but I think exposing the hooks and letting developers deal with implementa

[2019-07-22 20:56] adamsilverstein commented on #430
👍 	Seeing the PR now, I missed that earlier. Nice work! I'll leave a comment there.

[2019-07-23 14:11] jeffpaul opened #436 "Test ordering with WP Acceptance"
**Is your enhancement related to a problem? Please describe.**
In #434 we set the ordering in remote_get(), but left the WP Acceptance tests for after the 1.5 release.

**Describe the solution you'd like**
- [ ] Add WP Acceptance tests to properly test the ordering on this page.

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
none.

[2019-07-24 01:49] jeffpaul commented on #435
Apologies @startwd, I read your initial question a bit too quickly and missed some of the context you  provided.  It does not appear that the `enabled` or `disabled` option for the "Override Author Byline" will accomplish what you're looking for.

You could extend Distributor using existing hooks and filters to add some code to your multisite setup that would filter if a post is distributed to the

[2019-07-24 05:30] rababahmed commented on #435
@jeffpaul the extended code is exactly what I need. Could you email me the extended code and all the necessities along with it? This would be a huge help! Thank you so much. My email: hello@tezerak.com

[2019-07-24 05:33] rababahmed commented on #435
Also @jeffpaul if you could email me the code that would do the following work it would be a blessing:

I wanted to distribute posts before they are published while they are in the pending state. Is it possible? If yes, could you add this code in the email too? Thanks a bunch!

[2019-07-24 14:35] #398 closed

[2019-07-24 14:36] jeffpaul commented on #398
Thanks @espechtcfe, please do let me know if you see this happen again (or have other feedback for us)!

[2019-07-24 14:38] jeffpaul commented on #357
@CodeBaja are you all set now with your Distributor connections or are you still in need of assistance?

[2019-07-24 14:39] jeffpaul commented on #347
@Webagent05 I'm closing this issue as resolved, but please let me know if you're still having problems so we can try to help... thanks!

[2019-07-24 14:39] #347 closed

[2019-07-24 14:40] jeffpaul commented on #327
@anton-roos I'm going to close this issue as resolved, but please do let me know if you're running into any further issues so we can try to help... thanks!

[2019-07-24 14:42] jeffpaul commented on #315
@smallbizwordpress @swshogren @TheJester12 are any of you still having problems in setting up your connections?  If so, please let me know so that we can try to help... thanks!

[2019-07-24 14:44] jeffpaul commented on #299
@chrismacor do you still have questions with Distributor or are you all set up now?

[2019-07-24 14:45] jeffpaul commented on #295
@lselbach have you been able to successfully [set up External Connections](https://github.com/10up/distributor#setup-external-connections-using-application-passwords) or are you still in need of assistance?

[2019-07-24 14:47] jeffpaul commented on #255
@stevehadley note that we just released version 1.5.0 with some major improvements to the push menu and pull screen, mind checking to see if you're still getting empty posts or confirming that all appears to be functioning properly now (as I'm still unable to replicate your issue)?

[2019-07-24 14:52] jeffpaul commented on #126
@dendeffe if you're still having issues could you please confirm whether your WordPress setup is a multisite network or different instances?

[2019-07-24 14:54] jeffpaul commented on #160
@mitchmusarra any updates on your issue and whether its still occurring with Visual Composer?

[2019-07-24 17:54] jeffpaul commented on #246
@PaddyWhacks have you been able to successfully [setup External Connections](https://github.com/10up/distributor#setup-external-connections-using-application-passwords)?  If not, please let me know so that we can try to help, thanks!

[2019-07-24 18:05] jeffpaul commented on #76
@dleeward can you please provide some more insight into the problem you're trying to solve here?

[2019-07-24 18:07] jeffpaul commented on #93
@adamsilverstein @barryceelen can you confirm if this has been resolved with the merge of #151?

[2019-07-24 18:12] jeffpaul commented on #103
@meredevelopment are you still experiencing issues with distributing CPTs?  In my local testing with several different sites and several different CPTs, I've been able to distribute without issue so please let me know if there's something you're still needed help with... thanks!

[2019-07-24 18:29] jeffpaul commented on #435
@startwd I just sent you an email to follow up on the options available for your requests here and I look forward to helping ensure you're set up to use Distributor successfully for your sites!

[2019-07-25 00:02] chrismacor commented on #299
Hi Jeffrey,
Thanks so much for your follow up.
As it turns out one of the sites we want to be a main site has most of
their information in page form rather than post form.
Can distributor work with page content?
Thanks again.
Your Customer Service is exemplary,
Christopher

On Wed, Jul 24, 2019 at 8:44 AM Jeffrey Paul <notifications@github.com>
wrote:

--

" Will we or will we not grow into the pe

[2019-07-25 11:52] lselbach commented on #295
Hi Jeff
I just got out of this project.
They stopped using because of SEO issues.

Tks and best regards
Lucas Selbach

Em qua, 24 de jul de 2019 11:45, Jeffrey Paul <notifications@github.com>
escreveu:

[2019-07-25 12:26] rickyangeles commented on #255
@jeffpaul I've also noticed this when pushing content to sites in a local environment.

[2019-07-25 13:49] jeffpaul commented on #299
@chrismacor yes, Distributor works with posts, pages, and custom post types as well.  Let me know if you've got any other questions or run into issues in setting up Distributor... thanks!

[2019-07-25 13:55] jeffpaul commented on #295
@lselbach can you confirm the SEO issues that you're seeing?  Distributor, by default, is set up to be SEO-friendly with the way it handles links so it would be great to understand your concerns so that they can be properly addressed... thanks!

[2019-07-25 14:02] jeffpaul commented on #255
@rickyangeles are you seeing that in the latest version (1.5.0)?  If so, can you confirm what other plugins/themes are installed on your sites so I can try to replicate and triage further?

[2019-07-25 14:08] rickyangeles commented on #255
@jeffpaul Below is a list of plugins and the version being used.

Advanced Custom Fields PRO (5.8.2)
Application Passwords (0.1.0)
Auto Upload Images (3.2.2)
Custom Post Type UI (1.6.2)
Debug Bar (1.0)
Distributor (1.5.0)
Go Live Update URLS (5.2.9)
Gravity Forms (2.4.11)
WordPress Importer (0.6.4)
WP Migrate DB Pro (1.9.8)
WP Migrate DB Pro Media Files (1.4.14)
WP Migrate DB Pro Theme & Plugin Fi

[2019-07-25 16:09] rickyangeles commented on #255
Theme is UnderStrap (https://understrap.com/)

[2019-07-25 16:21] lselbach commented on #295
Jeffrey
The person in charge told that double posts confuses Google, the best is to
create backlinks.

Em qui, 25 de jul de 2019 10:55, Jeffrey Paul <notifications@github.com>
escreveu:

[2019-07-25 16:32] jeffpaul commented on #295
@lselbach the way that Distributor handles distributed posts should actually improve the SEO of your site.

Pulled content has a [canonical URL](https://yoast.com/rel-canonical/) in the `<head>` section of the page.  So if you pull "Post A" from Site A to Site B then the "Post A" on Site B will have a canonical link to "Post A" on Site B.  You should be able to see that on your distributed posts i

[2019-07-25 21:27] adamsilverstein opened #437 "Distributed post shows as distributable (for external connections)"
**Describe the bug**
After distributing a post, the post is greyed out in the distributor admin-bar menu and a 'view' link links to the distributed post. This works correctly for network install/connections, however for external connections the remote site is first greyed out after distributing, then on a refresh shows as if the post can be distributed (despite having already been distributed to t

[2019-07-25 22:23] adamsilverstein commented on #112
### Testing results

verified

verified filter works as expected, added:

`add_filter( 'dt_distributable_post_statuses', function() { return array( 'publish', 'draft' ); } );` and draft was distributable.

verified this

Verified.

verified no change in remote status. don't see `dt_published_posts_distribute_status`

_it might be possible to achieve this with the `dt_push_post_args` filter._

not

[2019-07-26 13:06] lselbach commented on #295
Ok tks Jeffrey
I just forwarded you reply to Marco and Fabiana.

I am out of the project now.

Cheers
Lucas

Em qui, 25 de jul de 2019 13:32, Jeffrey Paul <notifications@github.com>
escreveu:

[2019-07-30 01:59] jeffpaul commented on #255
@rickyangeles is your local environment multisite or different instances?

[2019-07-30 03:21] jeffpaul commented on #255
Thanks to some triage from @rellison959, I've been able to replicate empty `Pages` (though not `Posts`).  There are two scenarios where this occurs:
1) On wp-admin/admin.php?page=distributor, clicking the `(Verify)` link for an External Connection will generate a single `(no title) — Draft` Page on that external site.
2) On wp-admin/post.php?post=###&action=edit (where ### is a number for a valid

[2019-07-30 03:26] jeffpaul commented on #255
@stevehadley @rickyangeles can you confirm whether you're seeing empty Posts or Pages?  We've replicated an issue with empty Posts (see my previous comment), but have yet to replicate for Posts.

[2019-07-31 00:08] jeffpaul opened #438 "Run WP Acceptance tests in parallel"
**Is your enhancement related to a problem? Please describe.**
Currently the runtime for the complete set of WP Acceptance tests is... lengthy.

**Describe the solution you'd like**
Look into running the WP Acceptance tests in parallel to reduce the overall length of time needed to run the tests.

**Designs**
n/a

**Describe alternatives you've considered**
none

**Additional context**
n/a

[2019-07-31 11:55] rickyangeles commented on #255
@jeffpaul The sites are different instances. I was able to replicate the issue using the two scenarios you listed above, each scenario producing a single draft Page. Did not notice any new empty Posts.

[2019-07-31 13:12] jeffpaul commented on #255
@rickyangeles thanks for the confirmation, I'll keep you posted once a fix for this makes it into a Distributor release.

[2019-08-01 16:02] adamsilverstein commented on #438
Tests running in parallel:
![image](https://cl.ly/d6d30b73b841/Screen%252520Recording%2525202019-08-01%252520at%25252010.00%252520AM.gif)

[2019-08-01 17:42] adamsilverstein commented on #438
Tests passed in about 15 min, a 20 min improvement over before.

![image](https://user-images.githubusercontent.com/2676022/62314920-6ae11f80-b451-11e9-8b6b-f411e5c1bfd0.png)

[2019-08-01 18:01] jeffpaul commented on #438
NICE!!!

[2019-08-02 16:36] jeffpaul opened #440 "Add WP Acceptance tests for PHP 5.6 and WordPress 4.7"
**Is your enhancement related to a problem? Please describe.**
Our [requirements state](https://github.com/10up/distributor#requirements) that you need at least PHP 5.6 and WordPress 4.7 to run Distributor.  So let's make sure we've got a WPA test that covers those.

**Describe the solution you'd like**
- [ ] add WPA test to cover PHP 5.6 and WP 4.7

**Designs**
n/a

**Describe alternatives you've

[2019-08-07 14:27] ermik opened #442 "Copying website in a network"
Is it possible to create a copy of a website with Distributor linking set up?

One way would be to create a new site and manually push/distribute all content to that site, but that seems like a tiny bit more work. Perhaps doing that once and copying the site with all of the content "linked" would make the new site also have the links in place?

Otherwise, if the site is copied, is there a way to r

[2019-08-09 13:52] #442 closed, assigned to nobody

[2019-08-12 10:35] avag-novembit opened #443 "Already distributed connection is selectable for external connection"
**Describe the bug**

After distributing a post to specific connection the same connection is active again and can be selected to distribute to it again. This, I think, comes from:

    if ( ! is_wp_error( $connection ) ) {
			$dom_connections[ 'external' . $connection->id ] = [
				'type'       => 'external',
				'id'         => $connection->id,
				'url'        => $connection->base_url,
				'nam

[2019-08-12 10:38] avag-novembit commented on #443
Will go ahead and send a PR with fix.

[2019-08-12 16:58] adamsilverstein commented on #435
Hi @startwd here are some answers to your questions, hope this helps:

Yes, you can use the `dt_allow_as_draft_distribute` filter for this. Code sample:

[code]

Yes, you can accommodate this feature in your theme code. In your single post or archive template where you are displaying the author name, you will need to add a custom function to link back to the original author profile.

Since this is

[2019-08-13 02:43] rababahmed commented on #435
Hi Adam,

Thanks for your response! We are using multi-site network as mentioned earlier, living as main site & subdomains and instead of just crediting the author with the link we want the authors to be properly synced during a push. Just the same way how the pull option works.

For example, when pulling a content the original author is set as the post author on main site. We wanted to replicate

[2019-08-13 13:19] adamsilverstein commented on #435
@startwd thanks for the feedback...

Ah, that wasn't clear before: this works correctly for pulls, but not for pushes? I didn't understand that previously, I'll try to confirm locally.

Question: is your goal that the user will be added to the distributed site if they don't already exist there? (eg they are on the network, but not added to the site)?

[2019-08-14 14:37] jeffpaul commented on #443
@avag-novembit thanks for the detailed report and to you and @madmax3365 for the related PR!  I've milestoned this for review in our upcoming release and will get back to you then with any questions from code review.

[2019-08-15 13:23] jeffpaul commented on #387
Received the following from someone via the distributorplugin.com webform:

Seems like adding any sort of documentation on hooks/filters available would be helpful.

[2019-08-15 21:33] dcgraphics1 opened #445 "Pulled Content Not formatted - Images and Columns do not appear"
After getting a greenlight on the connection, the content created within WPBakery Page Builder does not format the post correctly when pulled. The images are in the media file, but not appearing on or within the pulled post. The columns are also off. After unlinking the page and removing the content, I tried to restore the page and it will not add the content back in. I tested this on another site

[2019-08-15 22:46] adamsilverstein commented on #438
Fixed by https://github.com/10up/distributor/pull/439

[2019-08-15 22:46] #438 closed, assigned to adamsilverstein

[2019-08-16 14:01] jeffpaul commented on #445
@dcgraphics1 welcome to Distributor and thanks for the feedback!  With the number of plugins and themes in the WordPress ecosystem it's hard for us to test Distributor against all of them, so getting specific feedback on inconsistencies is very helpful; in your case with [WPBakery Page Builder](https://wpbakery.com/).  As a paying @wpbakery consumer, if you're able to get in contact with them via

[2019-08-16 14:18] jeffpaul commented on #445
Hey @mmihey, a bit of research seems to show you may be a good person to start with to find someone on the WPBakery team that may be able to work with us on troubleshooting the issue that @dcgraphics1 raised here.  Any chance someone from the WPBakery team would be able to partner with us to see why WPBakery and Distributor don't seem to integrate well and work on a resolution (in either or both c

[2019-08-19 22:51] adamsilverstein commented on #112
I started work on addressing the final issue here in https://github.com/10up/distributor/pull/446

[2019-08-20 13:47] anton-roos commented on #327
@jeffpaul I am still getting Could not pull content from connection due to error. I am not sure why this is, what else can I do to try and find the problem?

[2019-08-20 15:16] jeffpaul commented on #327
@anton-roos on the site that you're viewing the Pull Content screen, if you go to the External Connections screen, what do you see as the Title / URL / Status / Date information for the site you're trying to pull content from?  Also, what version of WordPress and Distributor are you using on those sites?

[2019-08-21 18:56] helen commented on #387
I have a dream of generating hook docs using GitHub Actions... :)

[2019-08-21 23:14] chrismacor commented on #421
Hi Jeffrey,
I was suggesting the Distributor plugin to a site we'd like to remote with
and they had this reply.
We think this is an interesting idea on its face. However, our tech advisor
has reservations about using a plugin that doesn't appear in the WordPress
repository. He has had some bad experiences.
I'm curious why distributor is not in the Repository.
Is there any chance you'll be appearin

[2019-08-22 15:16] jeffpaul commented on #421
@chrismacor we don't have plans to submit Distributor to the WordPress.org repository, no.  Our approach with Distributor is that it's freely available, that we provide free registration keys via [DistributorPlugin.com](https://distributorplugin.com/) in exchange for the opportunity to gather feedback on issues and ideas our consumers have with Distributor, and that we utilize the registration inf

[2019-08-28 07:26] avag-novembit commented on #443
Related #437

[2019-08-28 13:45] jeffpaul commented on #437
@adamsilverstein as @avag-novembit noted in #443, these two issues may be related.  If so, does #444 appear to similarly resolve this issue?

[2019-08-29 08:16] rababahmed commented on #435
@adamsilverstein The users already exist in all of the subsites and parent sites inside the multisite network. That is why when pulling a post it was possible for the author data to be pulled as well. But when I'm pushing a post to a distributed network, it makes the pushing account the author of the post. I was wondering if there was any code that could go into functions.php which would stop this

[2019-08-29 08:32] avag-novembit opened #451 "After distributing a post "No connections selected" label in distributor menu"
**Describe the bug**

After distributing a post in the distributor menu shows "No connections selected" label though post has been successfully distributed. The same after page reload. Should it behave this way or it's a bug?

**Steps to Reproduce**

1. Distribute a post
2. After distributing the post it shows "No connections selected" label in distributor menu
3. The same "No connections selected

[2019-08-29 13:20] jeffpaul commented on #451
@avag-novembit the Push menu also shows "Post successfully distributed." which is the result of your push action.  Based on your screenshot, it appears that you could still distribute to "healthshop" but you'd need to click on that in order to make the "Distribute" button active and thus the current message of "No connections selected".  I think everything appears correct here, but please clarify

[2019-08-29 13:55] avag-novembit commented on #451
Hi @jeffpaul, thanks for the response.

That part is clear, my question is after successfully pushing shouldn't that connection remain selected?
And the same question after page refresh, when we successfully distributed the post, should previously distributed connections remain selected?

Thanks

[2019-08-29 15:05] jeffpaul commented on #451
@avag-novembit after successfully pushing that connection should appear greyed out with a "View" link on the right that would take you to that distributed post / site, but previously distributed connections do not remain selected as you already distributed to that site and cannot do so again.  That view should be the same after refreshing the origin post as well.

[2019-08-29 16:31] avag-novembit commented on #451
@jeffpaul thanks for the clarification. Just an another question, that 'view' link should exist for 'external connection' as well? Because it seems doesn't show up.

[2019-08-29 16:35] jeffpaul commented on #451
@avag-novembit that "View" link does not appear to display when content has been pushed to an external connection (i.e. to a different WordPress instance), only to internal connections (i.e. within a single WordPress multisite network).

[2019-08-29 16:39] avag-novembit commented on #451
@jeffpaul thanks again for the clarification. I think we can close this.

[2019-08-29 16:39] #451 closed, assigned to jeffpaul

[2019-08-29 18:00] arsendovlatyan commented on #321
@jeffpaul If you don't mind, I'll close this issue ))

[2019-08-29 18:00] #321 closed

[2019-08-29 18:06] jeffpaul commented on #321
@arsendovlatyan thanks for catching that, I've updated this to note it landed in v1.5.0!

[2019-08-31 02:00] dmchale commented on #296
Has anything been done on the "related object distribution" front since this Issue was first posted? I have a client who attempted to use a Reusable Block today as well, and ran into this same problem.

[2019-08-31 03:47] jeffpaul commented on #296
@dmchale thanks for checking in and for supporting Distributor with your clients!  We have not made progress on this, but if you're able to work on a PR then I'd gladly ensure we get that through review and included in a Distributor release.

[2019-09-03 13:54] Uprootednut commented on #424
Hi Adam,

Appreciate you help. Sorry for not getting back to you sooner but got side tracked by other projects.

I've got something that appears to be working.

[code]

I was having issues with post being duplicated do I added a meta _distributed and set it to 'yes' once moved so it gets filtered out of the query.

Is this approach sustainable? Or do you for see issues in the future with this meth

[2019-09-04 07:44] Uprootednut commented on #424
This at least appears to be working for me. However I'm using a second plugin to filter these posts. The plugin caches all the posts to be able to search the data quicker, however these imported posts aren't being added into the cache automatically. I can add posts on an ID basis to the cache manually.

Is there an action I can hook into for when a job is successfully pushed so I can run a functio

[2019-09-12 22:34] adamsilverstein commented on #424
@Uprootednut -

Try `dt_push_post` https://github.com/10up/distributor/blob/09e924ff91d834d2f512eee676b036c4d6b332d6/includes/classes/InternalConnections/NetworkSiteConnection.php#L147-L155

[2019-09-12 22:38] adamsilverstein commented on #435
@startwd thanks for clarifying - one more question - are you also running the same theme (or code you control) on each remote site in the distributed network?

[2019-09-12 22:40] adamsilverstein commented on #437
Quite possibly - I'll give this a test.

[2019-09-13 05:21] rsd opened #452 "Featured Imaged not pulled"
Everything working fine with the content.
Only the Featured Image is not pulled.  Any internal image is pulled together, just fine.
So, to correct, I must unlink the post and add the image (available thru Multisite Global Media).

[2019-09-13 05:22] rsd opened #453 "Cannot pull deleted posts"
If you trash and delete a post, it will show as skip and not be able to repull it.

[2019-09-13 05:48] rsd commented on #452
observing a little better, it tries to pull.
a blank space is shown where the image should be, and if I open the post, there is a spinner in the featured image option on the side bar indicating it is busy.  Latter on, it seems to give up.
Note that even a gallery with many images is pulled correctly.

[2019-09-16 07:58] Siedlerchr opened #454 "Internal mulitsite with subdomains: Only Pull content avaiable - No Push"
Hi,
first of all thanks for the cool plugin!

I am trying around with the Distributor plugin and from what I read it should be possible to push content in my internal multisite without setting up an external connection. However, I am only able to Pull content.
I'm using Wordpress  5.2.3, with a mulitsite setup which uses subdomains and Distributor Plugin 1.5.0.
Am I misunderstanding something here

[2019-09-16 13:39] jeffpaul commented on #454
@Siedlerchr welcome to Distributor!  You should see a `Distributor` menu item in the admin bar after publishing your content that allows you to push to your internal multisite connections ([see screenshot here](https://camo.githubusercontent.com/0b29e5649392ddffaee975ff58dad393e95d080e/68747470733a2f2f6469737472696275746f72706c7567696e2e636f6d2f77702d636f6e74656e742f7468656d65732f64697374726962757

[2019-09-16 14:04] Siedlerchr commented on #454
Thanks for the screenshot. I totally overlooked that in the top bar 🤦‍♂. (Hidden in plain sight) I   was always looking at the admin sidebar menu as well, because there is only  "Pull content" and External connections.

[2019-09-16 14:04] #454 closed, assigned to jeffpaul

[2019-09-16 14:09] jeffpaul commented on #454
@Siedlerchr glad to hear all is working for you!  If you run into any other issues or have ideas on how Distributor could be improved to better meet your needs, please let us know... thanks!

[2019-09-16 14:13] adamsilverstein commented on #437
Verified that #444 does resolve the issue reported here. I do wonder after testing this why we don't show the "View" link for external connections.

[2019-09-16 14:32] jeffpaul commented on #453
@rsd welcome to Distributor and thanks for the feedback!

I'm able to replicate this and cannot seem to think of a use case where this should be the intended behavior.  I do see that you can go an Push that post back to the site that it was trashed/deleted on, so there's currently a workaround.

I'm going to milestone this for our `3.0.0` release though we may be able to pull this into an earlier

[2019-09-16 14:37] jeffpaul commented on #452
@rsd does #380 appear to match your issue?  If so, then that is currently milestoned for our v2.1 release.  If 380 is different, please note here what's different so we can ensure we cover both cases in a PR to better handle featured images... thanks!

[2019-09-16 16:18] rsd commented on #452
It seems to be so.
In 2.1 we will find out.
thanks

[2019-09-16 16:18] #452 closed, assigned to jeffpaul

[2019-09-16 16:51] rsd opened #455 "fooGallery support"
Not sure what is the policy regarding 3rd parties plugins.

I would be very nice to have fooGallery support.

[2019-09-16 19:22] jeffpaul commented on #455
@rsd there are a myriad of plugin combinations to test alongside Distributor and unfortunately we've yet to specifically test with [FooGallery](https://wordpress.org/plugins/foogallery/).  It's even less likely that we'll get to test with paid plugins (aka "pro" or "premium" versions) not hosted on WordPress.org.  However, if you're able to open issues when using FooGallery and Distributor as well

[2019-09-16 20:29] rsd commented on #455
sure.  As an user I  am glad to help.
I have good knowledge on Joomla and Django, but haven't touched WP source yet.

[2019-09-17 17:13] mlangone opened #456 "Add ability to auto-distribute to all connected sites (internal and external)"
**Describe your question**

I have a large multisite and would like to distribute a post to all my subsites, Is there a way to do this without having to click select 350 times? I can add filters or hooks as needed, I wanted to ask before our dev team got into trying to "make" it work.

Thanks
ML

[2019-09-17 17:59] jeffpaul commented on #456
@mlangone what would be the ideal way in which you avoid "having to click select 350 times"?  Is that a "select all" option?  Having posts just auto-distribute to all connected sites?  Or something else?  Depending on your ideal approach there's likely different options/recommendations for you.

[2019-09-17 18:42] #437 closed, assigned to nobody

[2019-09-17 18:42] #443 closed, assigned to avag-novembit

[2019-09-17 19:01] mlangone commented on #456
Best option would be auto-distribute! We have a unique setup that if we could take it a step further would be even mo betta. :)
Something like this would be great
Mainsite.com ->autodistribute -> 350 subsites
sub1.mainsite.com - 40 subsites . Different server and installation
sub2.mainsite.com -> 25 subsites . Second different installation.

Currently mainsite.com -> distributes to blog_1 of sub1.

[2019-09-18 02:17] jeffpaul commented on #456
@mlangone no, there's no filter that would cover those features.  What you're asking for sounds like we'd be getting into a heavily customized Distributor setup, not something that's supported by the plugin as-is.

If you have a more urgent need to add this sort of auto-distribution support, then we have paid implementation and support options where we could help resolve this for you.  If that's t

[2019-09-19 13:00] avag-novembit opened #457 "Showing "Limited connection established. Authentication failed" for authenticated connections"
**Describe the bug**

Showing "Limited connection established. Authentication failed" message for authenticated connections on the "Edit External Connection" page.

**Steps to Reproduce**

1. Go to 'wp-admin > Distribution > External Connections'
2. Click on 'Verify' of the previously created external connection.
3. After opening "Edit External Connection" page scroll down to the "External Connect

[2019-09-19 13:39] jeffpaul commented on #457
@avag-novembit thanks for the feedback and related PR, we'll get this through review and get back to you with any questions.  Note that I've milestoned this for our next release, v2.0.  I'm curious about the `Connection Groups` part of your screenshot, that seems to be something custom you've built downstream, mind sharing more about what that functionality is?

[2019-09-20 01:59] jeffpaul commented on #115
@PaddyWhacks note that this exists for posts distributed to internal connections (e.g., within a multisite setup), but as @adamsilverstein noted in https://github.com/10up/distributor/issues/437#issuecomment-531795775 this currently does not show for posts distributed to external connections.  I'm going to update this issue to be specific to the external connection view link with related discussio

[2019-09-20 02:09] jeffpaul commented on #115
Here's an example of the View link next to a successfully distributed post for an internal connection that we'd want to mimic for successfully distributed content to external connections.
<img width="1073" alt="Screen Shot 2019-09-19 at 9 03 14 PM" src="https://user-images.githubusercontent.com/2818133/65293679-a4fda200-db21-11e9-9573-92ddccaab349.png">

[2019-09-20 02:11] jeffpaul commented on #338
@mrazzari note that this should be resolved for you with the v1.5 release.  Please check and let us know, thanks!

[2019-09-20 12:18] avag-novembit commented on #457
Yes, `Connection Groups` functionality is added on top of the original distributor, which, as the name suggests, allows to create connection groups and distribute to the grouped connections by a single action. The issue doesn't come from the original distributor plug-in, there were modifications in the our fork which I missed, sorry about that. I think we can close the issue.

[2019-09-20 12:18] #457 closed, assigned to avag-novembit

[2019-09-25 13:50] jeffpaul opened #459 "Improve hook docs in GitHub Pages"
**Is your enhancement related to a problem? Please describe.**
Now that hook docs are generated by a GitHub Action (see #448), let's look to improve the overall feel of those GitHub Pages.

**Describe the solution you'd like**
- [ ] improve template
- [ ] improve styles
- [ ] add landing page
- [ ] link to docs from readme?
- [ ] link to docs from microsite?

**Designs**
TBD

**Describe alternativ

[2019-09-30 12:26] coenve commented on #296
+1 to put this higher on the agenda.

[2019-10-02 01:44] dmchale opened #461 "Bad links pointing to filter/hooks in README.md"
PR will follow this post, but per the contributing guidelines wanted to create an Issue first and make sure there was something to reference.

Three links send the reader to "here" without referencing what the name of the filter or hook is, which is confusing since the links have become stale and do not point to the correct line numbers in their files anymore.

I propose fixing the current links t

[2019-10-02 10:04] lakrisgubben opened #463 "Empty edit post link on pulled content screen if current user cannot edit post"
**Describe the bug**

On the Distributor->pull content->pulled list table the href attribute of the edit link below the post title is empty if the current user cannot edit that post (see image).

I realise that this is probably an edge-case, but on our (multisite/internal connections) setup we don't allow editing of pulled/pushed posts on any other site than the origin. To enforce this we have a f

[2019-10-03 11:17] lakrisgubben opened #464 "NetworkSiteConnection::update_syndicated running too early in a Gutenberg/REST context"
**Describe the bug**
When updating a post that has been distributed to another site in a multisite (internal networkconnection) using Gutenberg, updates to meta, terms, etc are not pushed. The issue here seems to be that [the `update_syndicated` method in the `NetworkSiteConnection` class is hooked to the `save_post` action.](https://github.com/10up/distributor/blob/b1dd60f9fdb6e22efd84a85807a6b7a

[2019-10-03 12:21] lakrisgubben opened #465 "Row action for pulling single post"
**Is your enhancement related to a problem? Please describe.**

It would be nice to have a way to pull a single post without using bulk actions on the pull posts list table.

**Describe the solution you'd like**

This could be fixed by adding another link "Pull" to the [current row actions "View" and "Skip",](https://github.com/10up/distributor/blob/b1dd60f9fdb6e22efd84a85807a6b7aec91e615e/include

[2019-10-11 19:10] jeffpaul opened #466 "Test for and document plugin compabilities"
**Is your enhancement related to a problem? Please describe.**
We often get questions about whether Distributor works with a specific plugin (e.g., WooCommerce).  We also get issues opened for oddities when using Distributor with [other plugins](https://github.com/10up/distributor/issues?q=is%3Aopen+is%3Aissue+label%3Aplugins).  We don't currently do any testing for incompatibilities against major

[2019-10-18 08:31] turtlepod opened #468 "Can Still Assign Term to Linked Post"
**Describe the bug**

Still able to add term in linked post (using Gutenberg)

**Steps to Reproduce**

1. Distribute a post to another site in network, e.g from Site A (original) to Site B
2. Edit the post in Site B.
3. Should not be able to edit the post/add term in edit screen (need to unlink first)
4. However, we can do that by clicking the label of the term.

**Expected behavior**

Should not

[2019-10-18 17:09] jeffpaul commented on #468
@turtlepod can you confirm the version of WordPress that this is appearing in?

[2019-10-18 17:32] turtlepod commented on #468
WP 5.2.2, no gutenberg

[2019-10-21 21:56] biggiebangle opened #469 "Is there a select all option?"
**Is your enhancement related to a problem? Please describe.**
We have more than 10 sites to push to at once, and after clicking on all of the sites, the distribute button is unreachable.

**Describe the solution you'd like**
Could you add a select all option and move the 'distribute' button above the selected list?

[2019-10-22 17:04] jeffpaul commented on #179
@danmaby @grappler were either of you able to try the edits suggested by @bobbingwide on this and confirm this is no longer an issue for you locally?

[2019-10-22 17:13] jeffpaul commented on #469
@biggiebangle currently there is no select all option, though we're tracking that (and some other potential updates for the Push distribution modal) via #393.  Please subscribe to that issue to get updates on when it'll be available in Distributor, thanks!

[2019-10-22 17:17] grappler commented on #179
Setting `sslverify` to false allows the request to work locally. Just need to figure out next how to have the work only locally.

[2019-10-23 08:36] wiljeonline opened #470 "Support for Builder Plugin"
**Is your enhancement related to a problem? Please describe.**
Right now, if you pull content from a website that uses the Fusion Builder (from the Avada theme), to a website that doesn't use a builder, the plugin also pulls all shortcode data we don't need.

**Describe the solution you'd like**
The option to strip all shortcode content OR Fusion Builder support

**Designs**
![Uploading Schermafbe

[2019-10-23 08:37] bobbingwide commented on #179
@grappler

Do you mean you need to test whether or not the request is being run locally?
I wrote myself an `are_you_local` method. https://github.com/bobbingwide/oik/blob/7cbf51b9b2e8360aa89ab56bb7a3193470c9cd57/libs/class-oik-remote.php#L779

[2019-10-23 08:52] grappler commented on #179
I have tested the code locally but I want the connections to ssl verified in production. I think I will be able to work somethings out with the environment constants.

Thanks for sharing your `are_you_local` method.

[2019-10-23 20:57] jeffpaul commented on #470
@wiljeonline thanks for the feedback, I'm adding this to our [`plugins`](https://github.com/10up/distributor/labels/plugins) label of compatibility issues.  If you're able to work on a PR in either direction of your desired solution, then we'd gladly review that for a future release!

[2019-10-24 06:20] wiljeonline commented on #470
@jeffpaul, thanks for the reply. If we have time to work on a desired solution, we'll let you know!

[2019-10-29 14:13] jeffpaul commented on #469
Closing in favor of #393.

[2019-10-29 14:13] #469 closed, assigned to nobody

[2019-11-01 16:59] pragmatic-tf opened #472 "Add a 'syndicatable' capability filter to the push UI"
**Is your enhancement related to a problem? Please describe.**
The Distributor plugin provides a way to push/syndicate content out to any number of sites from either the edit post screen or when logged in and viewing a post on the front-end.

However, there are some use cases where it might not be desirable for the user who wants to push to another site (or sites) to also have the capability to ed

[2019-11-04 20:57] jeffpaul commented on #472
@pragmatic-tf welcome to Distributor and thanks for the feedback!  I'll review this with the team and get back to you with any questions, noting that we're aiming for a v2.0 release later this year so if you have time to submit a related PR for more detailed review then that'd be warmly welcomed as well.  Thanks!

[2019-11-05 17:29] pragmatic-tf commented on #472
Thanks for the welcome @jeffpaul!

I've added the above related PR for further review. I wasn't too sure if the included comment docblock counted as documentation for the PR tasks section so I've left that blank for now. More than happy to update any documentation as required, or check it off if that's already covered.

[2019-11-08 12:46] avag-novembit opened #483 "The "Distributor" menu item isn't showing in "front end" for pages"
**Describe your question**

The "Distributor" menu item isn't showing in "front end" for pages for logged in as administrator users:
![dist-page-front](https://user-images.githubusercontent.com/15778302/68477270-74df9f00-0246-11ea-91f8-a2e1634fa3a6.png)
![dist-page-admin](https://user-images.githubusercontent.com/15778302/68477278-7a3ce980-0246-11ea-9835-2638e74697c2.png)
However, we can see it in

[2019-11-08 13:16] Kameleon-Dean opened #484 "Multisite to External Sites"
I have a multi site setup 5 sites where the distributor plugin is used to push from all the child sites into a main website just for standard posts, which works fine. Since using the plugin I have then needed to break apart the child sites into their own sites and remove the multi site functionality completely across the board but maintain the push functionality.

I can see the post meta records n

[2019-11-08 14:15] jeffpaul commented on #483
@avag-novembit the Distributor push menu should show for any published content.  Can you confirm that the "Sample Page" item in the first screenshot was published at the time of the screenshot being taken?

[2019-11-08 14:28] jeffpaul commented on #484
@Kameleon-Dean can you confirm that the post you were trying to push was published and not in draft mode?  Can you also confirm the status for the external connection for your master site on that child site as well?

[2019-11-08 15:28] Kameleon-Dean commented on #484
Yes the post is published and the connection is fully authorised via the REST API using the application password plugin as recommended. No issues brought up when testing the external connection. I have also tried publishing a new post and the same issue occurs.

[2019-11-08 17:37] jeffpaul commented on #484
@Kameleon-Dean ok, I'll try to replicate the multisite split to separate instances to see if that process has something weird going on.  If your troubleshooting finds anything else, please let me know... thanks!

[2019-11-09 06:43] CoolWebDesignNZ opened #486 "Not bringing in images"
**Describe the bug**
When I pulled in a listing from one of my multisites it brought everything in successfully except the images. It brought in the feature image no problem but not the gallery. All the images were shaded out. I could click on them and see them when editing the gallery but they would not show on the live site.
I have the settings set to thumbnail resizing allowed. And "Process the

[2019-11-11 06:34] msaidizi opened #487 "Could not pull content from connection due to error. (external connection)"
Hi
I have this issue and I have tried to read all the info available here and although this issue has been raised multiple times it seems the solutions I have tried are not working.
1. I have a multisite setup with subdomains ([bettinghits.com](https://bettinghits.com))and a single external site. ([sportpesagames.com](https://sportpesagames.com)) on the same server.
2. _I am trying to pull content

[2019-11-11 07:29] avag-novembit commented on #483
Yes, it was published.

[2019-11-11 10:13] shockthealien commented on #487
I'm having a similar issue tho my setup is slightly different. (I'm using Themify Post Type Builder to create custom post types). Do you get this error too on the connection? All my credentials are correct and still get this all the time
<img width="464" alt="Screenshot 2019-11-11 at 10 09 26" src="https://user-images.githubusercontent.com/2083273/68579366-d0d73d00-046b-11ea-9112-ed148a796c80.png"

[2019-11-11 13:10] msaidizi commented on #487
yes am getting this same error

[2019-11-11 15:58] jeffpaul commented on #486
@CoolWebDesignNZ can you confirm the version of Distributor and WordPress you're using?

[2019-11-11 17:57] jeffpaul commented on #487
@msaidizi and @shockthealien please confirm that you're following the precise steps to [set up External Connections using Application Passwords](https://github.com/10up/distributor#setup-external-connections-using-application-passwords) as these should be the exact steps necessary to create fully functioning non-multisite connections for Distributor.

[2019-11-11 18:04] jeffpaul commented on #483
@avag-novembit can you confirm your WordPress and Distributor version so I can try to replicate this?  Also, are you seeing any console errors that may help me troubleshoot this?

Oh, and to answer your question earlier... no it should not work that way.  Posts and Pages should be able to be pushed from the site front end view.

[2019-11-11 20:04] CoolWebDesignNZ commented on #486
Hi Jeffrey

Thanks for getting back to me. 

WordPress version 5.2.4

Distributor version 1.5.0

Thanks

Sandra

http://www.coolweb.designhttp://www.coolweb.designhttp://www.coolweb.designhttp://www.coolweb.designhttp://www.coolweb.design

---- On Tue, 12 Nov 2019 04:58:45 +1300 Jeffrey Paul <notifications@github.com> wrote ----

https://github.com/CoolWebDesignNZ can you confirm the version of Di

[2019-11-11 21:04] shockthealien commented on #487
@jeffpaul yes Thats the instructions i followed to set it up

[2019-11-12 04:44] msaidizi commented on #487
me too

[2019-11-12 08:21] avag-novembit commented on #483
@jeffpaul thanks for the comment.

Both are the latest version:
 - WordPress version: 5.2.4
 - Distributor version: 1.5.0

And there aren't any console errors.

[2019-11-12 08:36] msaidizi commented on #487
I deleted everything and refollowed those instructions step by step and I got it to work....

[2019-11-13 11:04] shockthealien commented on #487
@jeffpaul I deleted everything too and still not working. Does it have to use the Application Passwords plugin? it keeps giving me this error even tho I have performed the fix suggested
<img width="858" alt="Screenshot 2019-11-13 at 11 01 13" src="https://user-images.githubusercontent.com/2083273/68758204-432f5500-0605-11ea-8560-a2c865bc3a97.png">

[2019-11-19 11:30] shockthealien commented on #487
@jeffpaul any advice on this? need to decide on which route to take to build the group of websites and I have the directors breathing down my neck to get moving

[2019-11-19 11:33] shockthealien commented on #487
BTW i have scrapped Themify PTB and im just using normal posts now with a couple custom meta fields

[2019-11-19 15:03] grogou opened #488 "Not handled response Bad Request from spoke site."
**Is your enhancement related to a problem? Please describe.**
When I'm distributing post to a website, which actually is down, I still get a "post successfully distributed" message.

**Describe the solution you'd like**
Currently, we are handling only the case, when response  `status code` is `400`, `Bad request`, In other cases, for example, 403, 504, etc we will show "post successfully distribu

[2019-11-20 20:33] jeffpaul commented on #487
@shockthealien we strongly recommend using the Application Passwords plugin on the site you are connecting to in order to create a unique password for Distributor's connections.  Alternatively, you can create an application with the WordPress.com applications manager as the authentication method.

[2019-11-20 20:35] jeffpaul commented on #488
@eriktad welcome to Distributor and thanks for the feedback!  I don't know that we can rely on post_id matching on the destination site(s), but otherwise would be open to a PR on this in a future release if you're able to craft a solution for this?

[2019-11-21 12:07] shockthealien commented on #487
@jeffpaul thanks. I'm not against using the plugin, I just don't seem to be able to get it to work even performing the troubleshooting they suggest to fix it, so I don't really know how to fix that.

I looked into the WP.com application and i don't know what half of the things it asks for are so I doubt that is the way forward

[2019-11-21 14:18] jeffpaul commented on #315
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:18] #315 closed

[2019-11-21 14:20] jeffpaul commented on #435
@startwd can you please confirm that you're running the same theme on each remote site in the network?

[2019-11-21 14:20] jeffpaul commented on #357
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:20] #357 closed

[2019-11-21 14:21] jeffpaul commented on #338
@mrazzari will you please confirm that the latest release (v1.5) has resolved this for you?

[2019-11-21 14:22] jeffpaul commented on #327
@anton-roos will you please confirm the details from my prior question so I can continue to try and help troubleshoot for you?

[2019-11-21 14:22] jeffpaul commented on #299
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:22] #299 closed

[2019-11-21 14:23] jeffpaul commented on #295
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:23] #295 closed

[2019-11-21 14:23] jeffpaul commented on #246
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:23] #246 closed

[2019-11-21 14:25] jeffpaul commented on #179
@grappler were you able to get this to work for you locally?  If so, it would be great if you could confirm those details so we can add them to our documentation for others to utilize... thanks!

[2019-11-21 14:25] jeffpaul commented on #160
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:25] #160 closed

[2019-11-21 14:25] jeffpaul commented on #126
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:25] #126 closed

[2019-11-21 14:27] jeffpaul commented on #52
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:27] #52 closed

[2019-11-21 14:27] jeffpaul commented on #76
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:27] #76 closed

[2019-11-21 14:28] mrazzari commented on #338
@jeffpaul apologies for the silence, haven't had a chance to test this. Will do ASAP.

[2019-11-21 14:30] jeffpaul commented on #93
I'm going to close this as resolved with #151 in the v1.3 release.  If anyone is still seeing this issue, then please comment with steps to replicate it so we can further triage the issue... thanks!

[2019-11-21 14:30] #93 closed

[2019-11-21 14:31] jeffpaul commented on #103
I'm closing this issue due to inactivity, but please let me know if you're still having problems so I can try to help... thanks!

[2019-11-21 14:31] #103 closed

[2019-11-21 14:48] jeffpaul commented on #487
@shockthealien we're working to add more and better error messaging in #269, ideally targeted for our next Distributor release, that would help me further troubleshoot this for you.  Can you confirm that you're using the Application Passwords user password and not Account Management user password?  Can you also confirm that you're adding `wp-json` to the end of the External Connection URL?

[2019-11-21 15:31] shockthealien commented on #487
@jeffpaul thanks for the reply. Yes, I am using the password created with the Application Passwords plugin and not the WP user password. And yes I am adding the wp-json to the URL.

<img width="1120" alt="Screenshot 2019-11-21 at 15 28 56" src="https://user-images.githubusercontent.com/2083273/69351767-b8d59980-0c73-11ea-9032-fc18e0dfd7c3.png">

I'm sure this all stems from the AP plugin not worki

[2019-11-21 15:39] shockthealien commented on #487
For more context, the setup I'm working with is one central site (mainsite as per your instructions?) for all news articles for the group (http://checkmark.ateb-group.co.uk) and four other websites for different parts of the business and I need to push only the relevant news to these sites. Currently I have one of them I'm trying to get this working with (http://home.ateb-group.co.uk)(remotesite?)

[2019-11-21 15:40] jeffpaul commented on #487
@shockthealien thanks for giving that a try, sorry that this hasn't gone smoothly for you.  Can you confirm the plugins and theme you have installed and active?  That won't likely show an immediate cause, but it may help troubleshooting in the future if we know there's a plugin/theme compatibility issue with Distributor.

[2019-11-21 15:42] jeffpaul commented on #487
@shockthealien are the checkmark and home subdomain sites set up within a multisite instance or are these separate WordPress instances but mapped to the same domain?

[2019-11-21 15:45] shockthealien commented on #487
no worries. Thanks for trying to help.

I am Using Themify Builder pro on all of the sites. The checkmark one is using themify ultra theme, heavily customised. The group one is using Themify Basic theme and pretty much built from scratch from there.

They are separate independent WP instances on each subdomain. Also they are not likely the final domains. On release they will likely each have their

[2019-11-21 16:08] shockthealien commented on #487
@jeffpaul plugin wise, theres quite a few. Ive Screenshotted the lists. Hope that helps
<img width="1607" alt="Screenshot 2019-11-21 at 16 01 33" src="https://user-images.githubusercontent.com/2083273/69355070-17514680-0c79-11ea-8c50-102d722c600f.png">
<img width="1607" alt="Screenshot 2019-11-21 at 16 01 14" src="https://user-images.githubusercontent.com/2083273/69355071-17514680-0c79-11ea-8e06-d

[2019-11-22 07:54] grogou commented on #488
@jeffpaul Thank you too!
@tlovett1
In the case, where the response body is not empty and I have only
[code]
this is a case if the received response is `Bad request`, This try/catch is not working if PHP notice and warnings switched off.

https://github.com/10up/distributor/blob/025cc7ea5e8e693ad35f676809cd95e2e093cb78/includes/classes/ExternalConnections/WordPressExternalConnection.php#L650-L654

[2019-11-22 10:03] shockthealien commented on #487
@jeffpaul just as an experiment I tried setting up one of the other sites i hadnt touched yet, fresh WP installation. Just AP and Distributor installed and getting the same issue. So i dont think the plugins have anything to do with this.
<img width="1156" alt="Screenshot 2019-11-22 at 10 00 50" src="https://user-images.githubusercontent.com/2083273/69416771-40241b00-0d0f-11ea-8b6f-9b1687991045.pn

[2019-11-23 05:54] msaidizi opened #491 "Remove standard conical"
**Describe your question**

How can I remove the standard conical because I have looked around and this explanation makes no sense to me? I am not that tech-savvy. Is there some form of tutorial somewhere. I would assume its something easy to do.
"Distributing Canonical URL - By default, canonical URL of distributed post will point to original content, which corresponds to SEO best practices. This

[2019-11-23 05:58] #491 closed, assigned to nobody

[2019-11-23 05:58] msaidizi commented on #491
Found it never mind

[2019-11-25 10:29] Kameleon-Dean commented on #484
@jeffpaul how did you get on? any updates on this?

[2019-11-25 17:19] jeffpaul commented on #484
@Kameleon-Dean I haven't been able to fully test/replicate this yet, no.  It's still on my list, I'll get back to you once I've been able to fully test/replicate, thanks!

[2019-11-26 16:19] arsendovlatyan opened #493 "Subscriptions being deleted"
We use distributor very intensively in our setup, even have several add-ons (not documented yet, but working very well for us https://github.com/NovemBit?utf8=%E2%9C%93&q=distributor&type=&language= ) so, there is chance that problem is coming from our add-ons, however, I would like to hear your thoughts as well.

We have only external connections, no multi-site or internal connections, we have a

[2019-11-26 19:47] jeffpaul opened #494 "Test against WP 5.3"
**Is your enhancement related to a problem? Please describe.**
Now that [WordPress 5.3 is released](https://wordpress.org/news/2019/11/kirk/), we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Distributor on WP 5.3
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] b

[2019-11-27 14:36] shockthealien commented on #487
@jeffpaul any updates on this issue? I am really stuck with this and not sure how to move it forward. Is the wordpress application an alternative way of doing the same? if so, any chance of some help setting that up?

[2019-11-27 16:05] jeffpaul commented on #487
@shockthealien no, I haven't been able to setup a replica environment yet to try and reproduce your issues to try and find a solution.  I don't have documentation on the WP.com app set up process, though if you give that a try and take some notes I'd gladly turn those into step-by-step instructions for our docs.

[2019-11-27 16:17] shockthealien commented on #487
@jeffpaul Thanks. I could grant you access to my environment if that helps?

[2019-12-03 00:14] petenelson commented on #380
@dmaslogh what sort of hosting environment is your multisite running on? The internals of Distributor use [download_url](https://developer.wordpress.org/reference/functions/download_url/) to download the featured image and then sideload it into the media library. If the server is unable to connect to other sites within the multisite, then it would be unable to download the image. This could be due

[2019-12-05 21:26] jeffpaul commented on #435
@startwd can you please confirm that you're running the same theme on each remote site in the network?

[2019-12-05 21:27] jeffpaul commented on #338
@mrazzari any updates on your testing?

[2019-12-05 21:27] jeffpaul commented on #327
@anton-roos will you please confirm the details from my prior question so I can continue to try and help troubleshoot for you?

[2019-12-05 21:27] jeffpaul commented on #179
@grappler were you able to get this to work for you locally?

[2019-12-05 21:31] anton-roos commented on #327
Hi @jeffpaul I will try recreate it again tomorrow and if possible post a few screenshots.

[2019-12-05 22:05] brandon-cybermark opened #496 "Remove Canonical Tag"
We are trying to add code to our functions.php theme file to remove the Distributor canonical tag being outputting. Our efforts had continually failed. We tried.

add_action( 'init', 'my_remove_filter' );
function my_remove_filter() {
    remove_filter( 'get_canonical_url', array( '\Distributor\InternalConnections\NetworkSiteConnection', 'canonical_url' ), 10, 2 );
    remove_filter( 'wpseo_canoni

[2019-12-06 01:37] jeffpaul commented on #496
@brandon-cybermark to help clarify here, you're looking for an enhancement to Distributor to allow for the removal of the canonical tag on distributed posts ...OR... asking a question about how to do so with the existing `get_canonical_url` and `wpseo_canonical` filters?

[2019-12-06 02:00] brandon-cybermark commented on #496
How to do so with the current filters.

On Dec 5, 2019, at 6:37 PM, Jeffrey Paul <notifications@github.com> wrote:

﻿

@brandon-cybermark<https://github.com/brandon-cybermark> to help clarify here, you're looking for an enhancement to Distributor to allow for the removal of the canonical tag on distributed posts ...OR... asking a question about how to do so with the existing get_canonical_url and

[2019-12-06 14:31] petenelson opened #497 "Shortcodes within plugins are not rendered when pulling content within multisite"
When on a network/multisite install and you pull content from one site to another, shortcodes within plugins from the selected site are not being rendered before inserting the post into the current site. The raw shortcode gets added to the post content.  Pushing content from one site to another is not affected as the push functionality runs `the_content` filter before pushing the post.

This is du

[2019-12-06 15:07] jeffpaul commented on #497
Thanks again for the heads up on this @petenelson even more so in offering to craft a PR to resolve this! 🙏

[2019-12-13 21:42] dkotter commented on #494
@jeffpaul Tested on WP5.3 and didn't notice any issues. Opened PR #499 to bump the tested version.

[2019-12-13 21:57] dkotter commented on #380
@jeffpaul @petenelson I really like this idea, though I'm not exactly sure how we'd go about it. The current approach uses `download_url` to download the image and then `media_handle_sideload` to actually build the attachment information itself. This then returns the attachment ID, which we need to set the featured image.

Is your thought here to use the filesystem to copy the image and then build

[2019-12-13 22:45] petenelson commented on #380
Yep, that's what I was thinking, shouldn't be a a big lift to make this change.

[2019-12-13 22:54] dkotter commented on #380
👍 Cool, sounds good to me. I'm happy to review and test it out once you have something in place. Thanks!

[2019-12-16 18:33] #494 closed, assigned to dkotter

[2019-12-20 16:10] jonny-bull opened #500 "VIP Go setup"
**Describe your question**

I've got a WP multisite set up locally with Distributor that works as expected.

When deploying to a VIP Go environment, the sites in my network aren't detected.

Is there any extra setup required to get networked sites to appear as options for pulling and pushing on VIP Go?

[2019-12-20 21:39] jeffpaul commented on #500
@jonny-bull welcome to Distributor and great question!  Unfortunately I don't have an immediate answer for you, though you might try the [WPCOM OAuth2 connections](https://github.com/10up/distributor#requirements) to see if that works while I dig a bit to get you a better answer.

Note that 10up is closed for the holidays starting tomorrow through Wednesday, January 1st so it'll likely be early Ja

[2020-01-06 21:49] jeffpaul commented on #500
@jonny-bull were you able to try using the WPCOM OAuth2 connections to see if that resolved things for you?

[2020-01-07 18:25] hearvox opened #501 "Remove "Registration" notice when registered"
Remove "Registration" input-field descritiion after successful registration (green checkmark). Screenshot attached (vers 1.5).
![dist-reg-gey-setting](https://user-images.githubusercontent.com/275759/71918805-51e74380-3140-11ea-94c3-2c2f4fa55f51.png)

[2020-01-07 18:28] hearvox opened #502 "Remove default Add New Ext. Conn. field value upon added URL."
And added external URL write on top of the default input-element value of the Add New External Connection text field, so both are visible (screenshot attached, vers 1.5).
![dist-new-external](https://user-images.githubusercontent.com/275759/71919021-e05bc500-3140-11ea-8cb0-2f0401bd92ec.png)

[2020-01-07 18:33] hearvox opened #503 "Suggest "/wp-json" for External Connection URL field."
The settings screen's External Connection URL field seems to require a "wp-json" endpoint. If true, perhaps suggest that in the description for that input field, rather than after the user enters an URL w/o that endpoint  ("Did you mean..."). Screenshot attached, vers 1.5.
![dist-external-url](https://user-images.githubusercontent.com/275759/71919222-5eb86700-3141-11ea-95f1-82a2c8eb5594.png)

[2020-01-07 18:39] hearvox opened #504 "Confirm pull for users in Pull Content screen (redirect to Pulled list?)"
After a post is pulled using the Dashboard> Distributor> Pull Content screen, user may not see the "Posts have been pulled" admin notice (I missed it), so not now the pull succeeded.

One solution is, after a pull, to redirect the Pulled content list (?page=pull&status=pulled).

[2020-01-07 18:44] hearvox opened #505 "Pull Content list of "View | Edit" links not WP standard order"
In WP admin post lists, the mousover-displayed links are ordered with Edit first, "Edit | ... | View".

Distributor reverses that order, "View | Edit". Might the WP standard be more user-expected?

[2020-01-09 15:02] mlangone opened #506 "ACF Flexible content does not distribute - Featured image does."
ACF Flexible content fields do not distribute, these include images, repeating fields and standard fields. The main flex content field however does come over, we have had the issue before with a plugin we made where we had to continue to traverse children of children of children to the level of fields that where created. Something like at least ~5 levels deep to get the fields to be recognized.

T

[2020-01-10 05:38] dsawardekar opened #507 "Partially Linking to the Original / Distributor Engine"
**Is your enhancement related to a problem? Please describe.**

We have a Client request to customize Distributor in such a way that only parts of a Post are connected to the original. The Client is on a multi-site network and wants to share content across child sites.

The Client wants to be able to lock Post Content and most of the Article to the Original, but still allow customization on the di

[2020-01-14 15:04] jeffpaul commented on #486
Potentially similar issue as #445, related to WPBakery Page Builder?

[2020-01-17 03:00] jeffpaul commented on #501
Welcome to Distributor @hearvox and thanks for the feedback.  I concur this makes sense and have labeled this as a `good first issue` and `help wanted` in case someone's able to work on a PR; in which case I'd pull this from our `Future Release` milestone into the next release.

[2020-01-17 03:01] jeffpaul commented on #502
@hearvox what OS and browser are you using in seeing this issue?

[2020-01-17 03:05] jeffpaul commented on #503
@hearvox this should get resolved with #368, so I'm linking these two to ensure we double-check this issue as 368 gets through review and testing.

[2020-01-17 03:12] jeffpaul commented on #504
@hearvox thanks for the feedback, we'll look at this in an upcoming release but would gladly pull this into an earlier release if someone's able to work on a PR for this.

[2020-01-17 03:15] jeffpaul commented on #505
@hearvox thanks (again!) for the feedback, I've similarly marked this for an upcoming release, and would gladly look to pull this into an earlier release if someone's able to work on a PR for this.

[2020-01-17 03:23] jeffpaul commented on #506
@mlangone thanks for the feedback, this looks similar to #81, #350, and #381.  I've milestoned this issue alongside those other three and will look to handle these together in our planned v2.1 release.

[2020-01-17 15:51] hearvox commented on #502
Mac 10.14.6, Chrome 79.0.3945.117 (Official Build) (64-bit).
Connected two sites, issue happened on both.

Happened only during setup. Did not persist. The next time I viewed those connections settings screen the field was as-expected: just the domain name, no default text.

[2020-01-17 17:02] jeffpaul commented on #502
I'm milestoning this for `Future Release` as its feasible the changes coming in #368 may make this issue irrelevant as the process/fields/UI will all be updated.

[2020-01-21 16:04] jeffpaul commented on #387
Closed via #448 and #482.

[2020-01-21 16:04] #387 closed

[2020-01-22 16:37] jeffpaul commented on #465
@lakrisgubben interesting idea, thanks for the feedback!  I'm marking this as `help wanted` and for a future release, so if someone's able to work up a PR on this I'd gladly pull it into review for any upcoming planned releases.

[2020-01-23 09:40] lakrisgubben commented on #465
thanks @jeffpaul. I've added a PR for this. #508

[2020-01-24 02:37] pstamandjr commented on #103
Hi @jeffpaul ,
I'm actually running into the same issue, when trying to use a different endpoint than /wp-json/. I need to pull specific posts from a CPT.

Example I'm trying to use: https://WWW.URL.COM/wp-json/wp/v2/podcast?series=123

I've registered the CPT and set:  `"show_in_rest" => true`

I keep getting this error:
![image](https://user-images.githubusercontent.com/57268204/73040497-e384cf8

[2020-01-28 12:47] PaddyWhacks opened #509 "Unlink / Relink Distributed Posts from distributing site in case of failure"
**Is your enhancement related to a problem? Please describe.**
I occasionally find that when I distribute a post, it can fail for whatever reason. THe problem is on the site that distributes it thinks that the post has been successfully distributed. On the spoke site the post has not gone through. One has no was of telling the distributing site that the post did not go through and delete the conne

[2020-01-28 19:59] pstamandjr opened #510 "CPT Support"
I posted on https://github.com/10up/distributor/issues/103, however it's a closed issue, so wanted to create a new one.

I'm running into the same issue, when trying to use a different endpoint than /wp-json/. I need to pull specific posts from a CPT.

Example I'm trying to use: https://WWW.URL.COM/wp-json/wp/v2/podcast?series=123

I've registered the CPT and set: "show_in_rest" => true

I keep ge

[2020-01-29 14:50] jeffpaul opened #511 "Bulk skip/pull not working"
**Describe the bug**
I received the following via email:

**Steps to Reproduce**

See above.

**Expected behavior**

Bulk skip and bulk pull should work correctly.

**Screenshots**

**Environment information**
 - Device:
 - OS:  Win 10
 - Browser and version:  Chrome Version 79.0.3945.117 (Official Build) (64-bit)
 - Distributor version:
 - Theme and version:
 - Other installed plugin(s) and versi

[2020-01-29 14:51] jeffpaul commented on #511
I just tested this myself on a test multisite install and I'm seeing that posts are bulk pulled and bulk skipped without any errors.  I'm testing on a Mac mini (2018) running macOS Mojave Version 10.14.6, Firefox 72.0.1 (64-bit), WordPress 5.3.2, Distributor 1.5.0, PHP 7.2.9.

If someone with a Windows machine could help test/triage the specific environment noted that would help.

[2020-01-29 15:02] jeffpaul commented on #509
Interesting scenario @PaddyWhacks, I'm adding this to the `Future Release` milestone and labeling it as `help wanted` so if someone's able to work up a PR we could get it through review and into an upcoming release.  In parallel, it would be great to get any details you have as to why posts aren't getting properly distributed so we can try to resolve the root cause and reduce the likelihood of thi

[2020-01-29 15:27] jeffpaul commented on #510
@pstamandjr I'm assuming your sites in question are different WordPress instances and not within the same multisite (as you do not need to create External Connections for sites within the same multisite).  In this case, if you set the second URL you noted as the `External Connection URL` in the External Connection screen and the connection gets established properly, then you should see the Distrib

[2020-01-29 16:14] pstamandjr commented on #510
@jeffpaul Yes, you are correct. They are two separate WordPress instances.

In the external connection screen I can't pass in the URL of the direct CPT. (See screenshot below)

![image](https://user-images.githubusercontent.com/57268204/73374516-53f87a00-4288-11ea-9e0b-26faccb0198c.png)

I can hit the main /wp-json/ which validates, however when trying to pass in a direct feed (ie: "/wp-json/wp/v2

[2020-01-29 16:54] jeffpaul commented on #510
@pstamandjr you don't need to pass in the specific CPT URL, just the main `/wp-json` URL for your site you're trying to connect to.  Once that `/wp-json` external connection is made, you should be able to go into your CPT and push published posts to your connected site.  Let me know if you're not seeing the Distributor push menu in the admin bar for published posts.

[2020-01-29 17:06] pstamandjr commented on #510
Ah, ok. That makes sense. I thought you could just connect directly to a specified feed, but I'm seeing them now and can customize to pair down what gets pulled in. Thanks again!

[2020-01-30 16:21] jeffpaul commented on #464
@lakrisgubben thanks for the very detailed issue and research on this, it's greatly appreciated!  I'm pulling this into our next milestoned release to see if we can get this resolved, though if you're able to work up a PR then I'd gladly get it through review an into an upcoming release.  Thanks again!

[2020-01-30 16:26] jeffpaul commented on #500
@jonny-bull were you able to try using the WPCOM OAuth2 connections to see if that resolved things for you?

[2020-01-30 17:33] jeffpaul commented on #394
Closing in favor of using the `register_post_type_args` filter.

[2020-01-30 17:33] #394 closed

[2020-01-30 22:36] WPprodigy commented on #500
Hey @jeffpaul,

I believe this is what might have been tripping them up: https://github.com/10up/distributor/blob/2e8e0779a4dd83739c78317d7faa5f331f7c36d7/distributor.php#L110-L112 `Distributor\Utils\is_vip_com()` is still true for VIP Go sites, but seems only necessary for WPcom VIP Sites.

Could perhaps also check if the `VIP_GO_ENV` constant is set and is not false: https://github.com/Automatti

[2020-01-31 00:21] jeffpaul commented on #500
@WPprodigy thanks for the notes, much appreciated!  I'd rather play it cautious and avoid any mistake in a VIP site getting caught here, so the VIP_GO_ENV check you noted make be the best route.

[2020-01-31 09:38] lakrisgubben commented on #464
Thanks for the reply @jeffpaul! Glad to help out with a PR on this, but to do that I'd like some input from someone more well-versed in the codebase to make sure the fix is made in a way that y'all are happy with. :)

[2020-01-31 21:26] dkotter commented on #464
@lakrisgubben Thanks for bringing this to our attention. I've run across a slightly similar Gutenberg issue before but had not encountered this particular one yet.

Honestly, not sure there is a great approach here, as we're mostly reliant on how Gutenberg works. This is a known issue (see here for one thread about it: https://github.com/WordPress/gutenberg/issues/12903) and it sounds like they're

[2020-02-02 08:45] dinhtungdu commented on #488
@eriktad Can you add instruction to reproduce this issue. I tried to distribute post to a down site but I couldn't reach the try-catch block at line 650, the `push` function got returned at line 537.

[2020-02-03 23:32] dkotter opened #512 "The `is_using_gutenberg` function doesn't always work"
**Describe the bug**
In Distributor, we have a utility function that will let you know if a particular post is using Gutenberg, `is_using_gutenberg`. This checks a few things:

1. Is either the Gutenberg plugin being used or are we on a version of WordPress that comes with Gutenberg?
1. If so, then checks if the post has Gutenberg content (does this by looking for the `<!-- wp:` string)

I've run

[2020-02-05 21:39] jeffpaul commented on #424
@Uprootednut does Adam's previous response resolve your questions here?

[2020-02-05 21:41] jeffpaul commented on #493
@arsendovlatyan can you confirm any other plugins installed to help triage if there's a plugin conflict at play here?

[2020-02-06 03:51] johnwatkins0 commented on #255
Note with regard to this scenario:

It's not actually the "(Verify)" link in particular that causes the empty post to send. Clicking the title of the external link post also does it, as does refreshing wp-admin/post.php?post=###&action=edit where ### is a number for a valid External Connection.

[2020-02-06 04:23] johnwatkins0 commented on #255
Also noting that empty posts of the `wp_block` post type are also being generated at the same time:

<img width="718" alt="Screen Shot 2020-02-05 at 10 22 40 PM" src="https://user-images.githubusercontent.com/9020968/73905783-1edebf80-4866-11ea-939b-7db1e044c204.png">

Doesn't seem to be affecting any other post types. 🤔

[2020-02-06 07:57] arsendovlatyan commented on #493
@jeffpaul we have ~250 plugins installed, also, some add-ons for Distributor that we built (like Woo integration, ACF integration etc), so, I have created this issue more for code review, it seems to be outdated.

[2020-02-06 22:32] jshwlkr opened #516 "all content arriving as single classic block, can't publish"
**Describe the bug**
Running three WP 5.3.2 sites (not multisite) locally via [VVV](https://varyingvagrantvagrants.org/), distributing content via pull seems to lump all content into a single classic editor block. The post is then unable to be published. If I edit the original post the content is added to the classic editor block in the distributed post.

**Expected behavior**
Blocks would remain

[2020-02-07 11:01] lakrisgubben commented on #464
@dkotter Thanks for the detailed reply! I took a stab at implementing a fix based on your suggestions and found another problem that I hadn't thought of before. :)

Adding something like
[code]
makes the updating of a syndicated article work both with the classic editor and with Gutenberg using no legacy metaboxes. But it breaks when using Gutenberg with legacy metaboxes because those are saved in

[2020-02-07 23:56] dkotter commented on #464
@lakrisgubben Thanks for testing that out. I knew Gutenberg made two requests if you have a custom meta box (which has caused issues on other projects) but I guess I didn't realize the `rest` hooks don't fire in those cases (I think they only fire if the meta is registered using `register_post_meta` and the `show_in_rest` value is true).

It seems like that `meta-box-loader` variable should always

[2020-02-08 09:17] lakrisgubben commented on #464
@dkotter first pass at PR here: https://github.com/10up/distributor/pull/518

[2020-02-10 02:54] pstamandjr commented on #510
Hey @jeffpaul, do you have any documented examples of just pulling specific Custom Post type categories? Right now the /wp-json/ pulls all posts, including the custom post type we have setup for "podcasts", however there isn't a filter to narrow down to 1 specific category.

Basically, we need to pull specific CPT categories from. (ie: /wp-json/wp/v2/podcast?series=385)

Any help would be greatly

[2020-02-10 23:27] dinhtungdu commented on #366
@jeffpaul, It's expected behavior for the current codebase (see below). When we add new CPT, the value `dt_external_connections` doesn't have that new post type included.

I'm thinking about checking if supported custom post types listed in `dt_external_connections` meta, then update the connection silently. But it also means that we need to check every time we push a post, while we don't add new

[2020-02-11 15:27] pstamandjr commented on #510
@jeffpaul - Follow up to see if you could help with this.  :)

[2020-02-11 21:39] jeffpaul commented on #516
@jshwlkr can you confirm whether Gutenberg is active on the site the content is being pulled from and if so whether that version matches the version on the site pulling content?

[2020-02-11 21:49] jeffpaul commented on #510
@pstamandjr I'll check on that and get back to you

[2020-02-11 21:58] jeffpaul commented on #366
@dkotter any preference on approach for this^?

[2020-02-12 13:04] Copylefter commented on #233
@synthetiv excuse me could you help me with this kind of filter you have described? How I could save the original post date when I pulling the post inside WPMU?

[2020-02-12 17:16] Copylefter opened #520 "Who to and save post_date of original post while pushing it across MU network"
**Describe your question**

I need to have the original post_date in pushed posts. I want to make a function by analogy with that https://github.com/10up/distributor/issues/233. But I couldn't get post_date of the original post. How I could get it?

[2020-02-12 17:42] jeffpaul commented on #520
@Copylefter as noted in the [**Known Caveats/Issues** section](https://github.com/10up/distributor#known-caveatsissues):

You'll find the listing of available actions and filters to accomplish this in our [hook documentation](https://10up.github.io/distributor/).

[2020-02-12 18:46] Copylefter commented on #233
So, I  modified @adamsilverstein 's function to get original post_date while pushing.
`
/**
 * When pushing posts, get original date or don't change the destination post date.
 */
function filter_dt_push_post( $post_body, $post) {

	if ( isset( $post_body['ID'] ) ) {
		$existing_date = date( 'Y-m-d H:i:s', get_post_time( 'U', false, (int) $post_body['ID'] ) );

		$post_body['post_date'] = $existin

[2020-02-12 18:47] Copylefter commented on #520
@jeffpaul Thank you a lot.

[2020-02-12 18:47] #520 closed, assigned to jeffpaul

[2020-02-12 21:15] mark-macrae opened #521 "Limited connection established. Authentication failed."
I found this plugin and it seems to be exactly what we need in this case.  Multiple sites operated by the same company that want to be able to easily replicate blog posts between them.

Unfortunately, after following your install instructions I get the following warning/error:
Limited connection established. Authentication failed.
Push distribution unavailable.
Pull distribution limited to basic c

[2020-02-13 16:04] petenelson opened #522 "Searching for posts during a multisite pull does not work correctly"
**Describe the bug**
When searching for posts to pull from a multisite install using multiple words, posts from the source site cannot be found.

**Steps to Reproduce**

1. On the source site (where you're pulling from), publish a post titled "A post about Global Entry"
2. On the target site, go to Distributor > Pull, search for "global entry"
3. The post from the source site is not found.

**Expe

[2020-02-13 16:04] petenelson commented on #522
I'll be working on a pull request to address this.

[2020-02-14 10:34] aahovhannisyan opened #523 "Add filter for request timeout"
In case the posts have large meta, updating the post meta may take more than 5 seconds. We have **\Distributor\Subscriptions\send_notifications** function working in background, and sending big amount of posts to be distributed (4000 in our case) when others aren't yet completed, causes to have multiple processes working in parallel with the endpoint. Some of the processing scripts get timeout, an

[2020-02-14 11:25] aahovhannisyan opened #524 "Return response from distribution request"
We're using distributor in background and calling **\Distributor\Subscriptions\send_notifications** directly. As the function doesn't return any value, we're not able to get information about the distributed post. Is it possible to return the response of the request from this function, so we can know whether it was distributed successfully or not ?
https://github.com/10up/distributor/blob/develop/

[2020-02-14 13:50] pstamandjr commented on #510
@jeffpaul  Just checking in to see if you were able to check in on this. Thank you!

[2020-02-14 16:09] dkotter commented on #366
@jeffpaul @dinhtungdu Yeah, this is tricky and not sure there's a great solution. Basically once an external connection is setup, we don't check again what post types that connection supports. So if a new CPT is added or an old one is removed or details about an existing one are changed, we don't ever know that.

This could be something we keep as a manual thing, where we add documentation that st

[2020-02-14 16:15] dkotter commented on #516
This might also be related to #512, which there's an open PR for that we will merge in for a 2.0.0 release.

[2020-02-14 22:35] #512 closed, assigned to johnwatkins0

[2020-02-18 13:22] dinhtungdu commented on #366
@dkotter @jeffpaul, I agree with this, IMO documentation is the best way to solve this issue because:

1. We can solve this problem already with the current codebase.
2. We don't need to change the codebase.
3. > CPT information probably won't change very often

[2020-02-18 16:34] #464 closed, assigned to lakrisgubben

[2020-02-18 19:51] petenelson opened #526 "Updating a post in a multisite replaces the original author"
**Describe the bug**
Scenario: Site A and Site B are in a multisite Distributor setup. If you publish a post on Site A with a specific author other than the current user, and pull it into Site B, the correct author is displayed. If you then update that post in Site A, the post in Site B is updated with the current user rather than maintaining the post author.

It appears to be an issue on this lin

[2020-02-18 19:51] petenelson commented on #526
I'll submit a PR for this shortly.

[2020-02-19 05:24] jeffpaul commented on #523
@armdev17 welcome to Distributor and thanks for the feedback.  I would love your help on this Issue, would be happy to review a PR for it, and will attempt to provide any assistance you might need; any chance you'd be able to work on a PR for this?

[2020-02-19 05:32] jeffpaul commented on #510
@pstamandjr there's currently no way to filter to specific categories of a CPT.  It sounds like #428 may be the functionality you're looking for, correct?

[2020-02-19 05:34] jeffpaul commented on #524
@armdev17 thanks again for the feedback.  If you're able to work on a PR for this, then we can get it through code review and let you know if we have any questions or concerns.

[2020-02-19 05:38] jeffpaul commented on #366
@dinhtungdu sounds good, you able to work on a docs PR to cover this?

[2020-02-19 06:15] #324 closed

[2020-02-19 06:41] #465 closed, assigned to lakrisgubben

[2020-02-19 07:47] dinhtungdu commented on #366
@jeffpaul sure, I will do it

[2020-02-19 09:44] grappler commented on #332
We are facing a similar problem with Polylang. We have been able to pull both German and French pages but we would like to connect the both pages so that the language switcher works on the frontend.

It is not possible to connect the pages as the settings are disabled by distributor.
![image](https://user-images.githubusercontent.com/1785641/74821714-9a487280-5336-11ea-8509-67ff558f4cc0.png)

I am

[2020-02-19 16:44] pstamandjr commented on #510
@jeffpaul Yes, that is what we are looking to do, more or less. Rather than allowing the categories in the dropdown list to filter, can we hide them all together? So, we only pull in posts for this one specific category.

Basically, the 2nd site we are pushing to, should only have access to these specific posts and not be able to pull in others. Does that make sense?

[2020-02-19 16:52] jeffpaul commented on #510
@pstamandjr makes sense, probably best to note on #428 so we can include a hook to support that use case when someone gets to working on 428 (and we can then close this issue in favor of that one).

[2020-02-19 16:55] pstamandjr commented on #510
@jeffpaul  That would be great! Do you know when it's slated for? Any change I can beg, borrow, or steal to have it done sooner. Hahha    :)

[2020-02-19 17:04] jeffpaul commented on #510
@pstamandjr the 428 issue is currently unscheduled, but sitting on our roadmap a couple releases out so its unlikely to be available in the very near future.  We do offer paid customization, implementation, and support packages should that be desired; if you're interested in that send me an email (jeff.paul@10up.com) and we can discuss available options.

[2020-02-20 06:32] aahovhannisyan commented on #523
@jeffpaul thanks. Sure, I'll submit a pull request for this.

[2020-02-20 06:32] aahovhannisyan commented on #524
I'll work on a pull request to resolve this.

[2020-02-20 13:59] grappler commented on #332
I have come across another problem that even after disconnecting the post the field to search for the translation is still disabled.

![image](https://user-images.githubusercontent.com/1785641/74935915-b96d0000-541b-11ea-934b-7f8d4fa867ac.png)

There is another problem that no posts are shown when only posts from a single language should be shown.
![image](https://user-images.githubusercontent.com

[2020-02-21 23:04] #526 closed, assigned to petenelson

[2020-02-25 16:16] jeffpaul commented on #332
Thanks for the additional feedback @grappler, sounds like @dinhtungdu got some in-person details from you in the past week as well.  I'll let @dinhtungdu add any additional information here, but we'll otherwise look to tackle this in a couple releases as we're already pretty set with fixes+features milestoned for our v2 and v2.1 releases.  However, if someone is able to work on a PR to help on thi

[2020-02-25 16:42] jeffpaul commented on #510
@pstamandjr after chatting with our team, there is a filter around the post types that show in that pull list: https://10up.github.io/distributor/dt_available_pull_post_types.html.  If you only want a specific post type to show, you can do that using that filter.

You can also pass a query param to the pull page, if you want to filter that way.  So a URL like `wp-admin/admin.php?page=pull&pull_pos

[2020-02-26 08:11] PaddyWhacks opened #530 "Remove Post connection records"
I have had a few times when distributing a post from a site that for whatever reason it fails. Despite the post not going through, distributor still thinks that there is a connected post (although the receiving site does not show the post) and the site / external connection is greyed out when trying to distribute. In this particular instance it was cause the site receiving the post accepted it, bu

[2020-02-26 16:00] jeffpaul commented on #530
@PaddyWhacks that sounds a bit like the disconnect post feature on remote sites that allows you to effectively edit the distributed post (but the sever ability for future updates from the origin post)... just having the ability to do this from the origin site (whether the remote post actually exists or not).  Do you have any mockups in mind for how this might look/work to display the full list of

[2020-02-27 04:16] jeffpaul commented on #516
@jshwlkr are you able to test the `develop` version of Distributor as we've merged in a potential fix for this issue and would love your help testing to confirm things now work as expected?

[2020-02-27 04:20] jeffpaul commented on #424
@Uprootednut does Adam's previous response resolve your questions here?

[2020-02-27 04:21] jeffpaul commented on #338
@mrazzari any updates on your testing?

[2020-02-27 04:22] jeffpaul commented on #327
@anton-roos any results from your testing?

[2020-02-27 04:23] jeffpaul commented on #179
@grappler were you able to get this to work for you locally?

[2020-02-27 16:35] dinhtungdu opened #531 "`is_using_gutenberg` doesn't work for WP 4.9 with Gutenberg 4.9 enabled"
**Describe the bug**

The is_using_gutenberg function doesn't work for WP 4.9 with Gutenberg 4.9 is enabled. This leads to an issue when we pull a post from external connection, the pulled post status is draft but the post can't be published because Publish button is disabled, `/dist/css/admin-syndicated-post.min.css` is loaded instead of `/dist/css/gutenberg-syndicated-post.min.css`.

**Steps to

[2020-02-27 22:43] jshwlkr commented on #516
I can confirm the same version of Gutenberg is active on both sites. I've tried using `develop`, it is still not working as expected. (I don't know if it's pertinent,  but I'm on PHP 7.3.15.)

[2020-03-01 11:12] dinhtungdu commented on #531
Relates #516

[2020-03-02 06:38] dinhtungdu commented on #516
I want to clarify this a little bit. The issue only happens with pulled posts of external connections.

Look at the code below, we use `\Distributor\Utils\is_using_gutenberg( new \WP_Post( $obj ) )`, this check is always `false` because we haven't add post content yet.

https://github.com/10up/distributor/blob/6bd81f6338c77bcf7d73e61e1fd767022959c30a/includes/classes/ExternalConnections/WordPressE

[2020-03-02 07:17] dinhtungdu commented on #531
Close in favor of 516

[2020-03-02 07:17] #531 closed, assigned to nobody

[2020-03-02 16:37] pstamandjr commented on #510
@jeffpaul  thank you again for the reply. We would definitely be leaning towards the first option of filtering out the post types that pull.

I'm trying to target that filter by the example here: https://github.com/10up/distributor/pull/274 but it doesn't unfortunately filter it out. Would this still be current with the latest version?

[code]

[2020-03-03 18:25] jeffpaul commented on #399
@dinhtungdu let's also take a look at the plugin from @timstl in the description above alongside the other SEO research you're looking into for Distributor... thanks!

[2020-03-03 19:21] jeffpaul commented on #338
I'm closing this due to lack of response and assuming connections are working correctly, but please re-open with additional details if things are not functioning as expected... thanks!

[2020-03-03 19:21] #338 closed

[2020-03-03 19:22] jeffpaul commented on #327
I'm closing this due to lack of response and assuming connections are working correctly, but please re-open with additional details if things are not functioning as expected... thanks!

[2020-03-03 19:22] #327 closed

[2020-03-04 18:29] sebastienserre opened #535 "Add a Term of Taxonomie"
Hello,

is it possible to automatically add a term of Taxonomy on a pulled post ?

Many thanks

[2020-03-04 18:35] sebastienserre commented on #535
Sorry, I think "dt_create_missing_terms" filter should do the job.

[2020-03-04 19:22] sebastienserre commented on #535
but not sure :-/

[2020-03-04 19:57] sebastienserre commented on #535
Action dt_pull_post did the job
Sorry for issue

[2020-03-04 19:57] #535 closed, assigned to nobody

[2020-03-04 20:01] sebastienserre opened #536 "Automatically Pulled by cron"
Hello,
I don't know if I do not find the solution or if it isn't possible yet but I'd like to automatically pull new content on a wp-cron task for example.

Is it possible?

Many thanks

[2020-03-05 19:51] jeffpaul commented on #521
@mark-macrae I'm assuming you're setting Distributor up across different WordPress instances, otherwise if you're running multisite then you do not need to set up External Connections as Distributor works on mulitisite without needing to connect the various multisites.  If you are working across different WordPress instances, are you still having a problem after editing the .htaccess file or are t

[2020-03-05 19:52] jeffpaul commented on #536
@sebastienserre can you provide some more details into the problem you're trying to solve with this approach?  Depending on those details, there may be an option for you within Distributor or a separate way to solve it altogether.

[2020-03-05 19:57] sebastienserre commented on #536
Hello,
I've a customer with a multisite.
Posts are published on main-site.example.com and must be pulled by sub-site.example.com

I see 2 ways:

- Main-site.example.com will automatically push on "save_post"
- sub-site.example.com will periodically pull posts from main-site.example.com

maybe another way exists. I'm opened to all solutions

[2020-03-06 21:09] #523 closed, assigned to aahovhannisyan

[2020-03-06 22:10] jeffpaul commented on #536
@sebastienserre is it just that they want the distribution of posts to happen immediately without having to utilize the Distributor push menu from main-site.example.com?

[2020-03-07 13:44] sebastienserre commented on #536
yes it is

[2020-03-08 18:30] jeffpaul commented on #536
@sebastienserre this will be covered by #456 later this year.  Will the approach in 456 cover your needs?

[2020-03-09 19:55] arielramira opened #539 "Content is not automatically pulled"
**Describe your question**

I have setup external connections correctly and the green circle is present. I have pulled one page from a second WP install (last pulled March 20, 2019). Unfortunately any new content added to the source page is not automatically pulled to the target page.

[2020-03-10 00:48] jeffpaul commented on #539
@arielramira can you provide more details about your source and remote WP installs similar to what we'd normally hope to capture in our [`bug` issue type](https://github.com/10up/distributor/issues/new?assignees=&labels=bug&template=1-bug-report.md&title=)?  Having that information will help us try to replicate your setup and better triage, thanks!

[2020-03-10 02:02] adrianduffell commented on #436
I can work on a PR for this.

[2020-03-10 02:02] adrianduffell commented on #440
I can work on a PR for this.

[2020-03-10 04:19] arielramira commented on #539
Sorry about that! Here's some more details.

**Describe the bug**
New content is not automatically pulled to secondary/target site. Connection is setup and active, no known errors to troubleshoot issue.

**Steps to Reproduce**

Add content to this page https://thesource4parents.com/event-calendar/
Should replicate content to this page https://thesource4ym.com/event-calendar/

**Expected behavior**

[2020-03-10 15:12] jeffpaul commented on #539
@arielramira it looks like there's a plugin that's injecting content into your origin page, can you confirm what plugin that is?  It's feasible that we'd need to look into building in support specific for that plugin in order for that to be properly distributed from your origin to your remote site.

[2020-03-10 16:16] arielramira commented on #539
In terms of the page builder? We use KingComposer. Otherwise I'm not quite sure but we can likely disable the plugin.

[2020-03-10 19:39] jeffpaul opened #541 "Add readme.txt file"
**Is your enhancement related to a problem? Please describe.**
We somewhat intentionally left out a readme.txt file as that's generally for plugins distributed on the WordPress.org plugin repository, with README.md being more for GitHub-based plugins.  One problem though is that WP Admin pulls some details from the readme.txt file like the "Tested up to" version to display alongside plugin updates

[2020-03-10 19:51] jeffpaul commented on #461
Resolved via #462

[2020-03-10 19:51] #461 closed, assigned to dmchale

[2020-03-10 21:37] jeffpaul commented on #539
@arielramira I suspect the KingComposer content is likely NOT getting distributed, that seems to be a known issue with a couple page builders and other plugins that do some content transformations/rendering.  I'll note this as a potential plugin incompatibility and milestone it alongside our other planned plugin compatibility work.

[2020-03-10 23:18] dinhtungdu commented on #349
@helen @jeffpaul here is the list of all distributor data I can find:
[code]

[2020-03-12 02:07] dinhtungdu commented on #399
@timstl You're right, distributor hooks into `save_post` action while Yoast SEO uses `wp_insert_post` which is fired later than `save_post`, see [link](https://github.com/Yoast/wordpress-seo/blob/ec8ae1080970aa229e7f7ca97373649383db9488/admin/metabox/class-metabox.php#L50-L55).

@jeffpaul I think we can use `wp_insert_post` instead, it's the latest action fired when adding/updating a post so we ca

[2020-03-12 13:49] jeffpaul commented on #267
Noting that we may want to consider including https://github.com/varunsridharan/action-wp-pot-generator as part of our release process.

[2020-03-12 16:08] #516 closed, assigned to dkotter, jeffpaul

[2020-03-12 19:13] dmvieira74 opened #546 "Connection Established, But in Posts No Connection Available"
**Describe your question**

Hello, I have Distributor set up on main site and Distributor/Application Passwords set up on the remote site. I get the green light on my connection status. The roles have been assigned. But when I go into a post and hover over Distributor in the admin bar, it states "No connections available for distribution".

Any ideas on how to troubleshoot this?

Thanks in advance

[2020-03-12 21:13] dkotter commented on #510
@pstamandjr That filter is in place in the current version (was added in 1.3.5). Looking at that example, the filter is using 5 arguments but in your `add_filter` call, you're not specifying how many arguments are accepted (so it defaults to 1). That will throw a PHP error and may be the reason it's not working.

I just tested this on my setup to only show Pages in the filter dropdown (by default

[2020-03-16 13:35] awespirestudios commented on #445
@jeffpaul - I am experiencing a similar issue with the Divi theme/Divi Builder on the remote sites.  If the builder utility is used to create and style the blog post, the images do not transfer to the remote site when pushed.

e.g. (main_site): http://r5z.f0a.myftpupload.com/3-delicious-recipes-to-beat-the-blahs/
(remote_site_1): http://salinewellness.com/2020/03/3-delicious-recipes-to-beat-the-bl

[2020-03-16 13:59] awespirestudios commented on #445
@jeffpaul - After testing, the image issue pertains only to posts created using the builder utility.  When creating a standard post, everything transfers properly.

[2020-03-17 03:16] jeffpaul commented on #445
@awespirestudios yes, there's an issue with how various page builders are storing their content and how Distributor syndicates content out to sites.  This general plugin compatibility issue is milestoned for our v2.1 release which is tentatively aimed for mid-summer.

[2020-03-17 03:37] jeffpaul opened #549 "Allow scheduled content to have distributions pre-set"
**Is your enhancement related to a problem? Please describe.**
There are some scenarios where a publishing workflow culminates in scheduling a post to publish once it's been fully reviewed/edited/etc., is "ready to go", and would be best published one a specific date/time versus the current date/time.  In these scenarios, a Distributor user must come back into the WP install after the content has

[2020-03-17 07:50] samikeijonen opened #550 "External Connections admin page markup enhancements"
Refers to admin page `admin.php?page=distributor`.

**Is your enhancement related to a problem? Please describe.**
- Title “External connections” and link “Add new” is wrapped inside the same H1.
- I’d keep the same markup as in all the other similar views like `edit.php?post_type=page` for consistency.
- `<h2 class="screen-reader-text">Filter connections list</h2>` missing before filters list.
-

[2020-03-17 07:57] samikeijonen opened #551 "Password field have misspelled for attribute in New External Connection view"
**Describe the bug**
Password field have misspelled `for` attribute `dt_username`, should be `dt_password`.

**Steps to Reproduce**
1. Go to admin page `post-new.php?post_type=dt_ext_connection`.
2. Click on **Password** label.
3. Notice that **Username** field get focused, not Password field.

**Expected behavior**
Password field should get focused.

[2020-03-17 08:00] samikeijonen opened #552 "Roles Allowed to Push markup enhancements"
**Is your enhancement related to a problem? Please describe.**

In admin page `/post-new.php?post_type=dt_ext_connection` there is Roles Allowed to Push checkboxes.

"Roles Allowed to Push" don't get announced by screen readers.

**Describe the solution you'd like**

Ideally the markup would look like described in [accessible forms article](https://webaim.org/techniques/forms/controls#checkbox).

[2020-03-17 08:08] samikeijonen opened #553 "In “External Connection URL”, there is no way to focus on a link with a keyboard"
**Is your enhancement related to a problem? Please describe.**

In below “External Connection URL”  field (admin page `post-new.php?post_type=dt_ext_connection`), there is no way to focus on a link with a keyboard.

In the image below it means link `http://10up-forks.test/wp-json`.

**Describe the solution you'd like**
Interface would work with keyboard.

**Designs**
<img width="437" alt="Connecti

[2020-03-17 08:16] samikeijonen opened #554 "Screen reader doesn’t announce dynamic changes in External Connection URL field"
**Is your enhancement related to a problem? Please describe.**
When setting External Connection URL in `post-new.php?post_type=dt_ext_connection`, screen reader doesn't announce dynamic changes happening below the field.

**Describe the solution you'd like**
Use `[wp.a11y.speak()](https://make.wordpress.org/accessibility/handbook/markup/wp-a11y-speak/)` to announce dynamic changes. Or [WP a11y pac

[2020-03-17 08:23] samikeijonen opened #555 "“Distributor Settings” should be H1 instead of H2"
**Is your enhancement related to a problem? Please describe.**
"Distributor Settings" should be `<h1>` instead of `<h2>` in settings page - `admin.php?page=distributor-settings`.

**Describe the solution you'd like**
Change to `<h1>`.

[2020-03-17 08:26] samikeijonen opened #556 "Email and registration fields are missing labels"
**Is your enhancement related to a problem? Please describe.**
In settings page `admin.php?page=distributor-settings` Email and Registration fields are missing labels.

**Describe the solution you'd like**
Labels can be visually hidden using `.screen-reader-text class` but in this case I'd prefer visible labels and remote placeholders.

[2020-03-17 08:32] samikeijonen opened #557 "Open distributor link in admin bar - can't use with keyboard"
**Is your enhancement related to a problem? Please describe.**
This probably needs to be chopped in smaller issues but at the moment pushing article feature using `distributor` link in admin bar is unusable with keyboard.

- Can’t open the Distributor menu with keyboard.
- Can’t select individual connection with keyboard. Or un-select.
- Focus styles missing inside the “Distributor menu”.
- I’d sh

[2020-03-17 12:07] awespirestudios commented on #445
@jeffpaul - Thank you for your response.  That is fantastic news.  And... I absolutely love your plugin!

[2020-03-17 14:32] dinhtungdu opened #561 "Distributed post content get converted to classic (from block) after updating the original"
**Describe the bug**

After updating original post (blocks based content), the content of distributed posts is converted to single classic editor. In `is_using_gutenberg` function, we use `use_block_editor_for_post` which is return `false` in my tests; it even isn't loaded sometimes.
**Steps to Reproduce**

1. Setup distributor and external connection.
2. Publish a blocks based post.
3. Push that

[2020-03-18 07:02] sebastienserre commented on #536
Yes it will cover, many thanks

[2020-03-18 07:02] #536 closed, assigned to jeffpaul

[2020-03-18 12:08] samikeijonen opened #563 "Distributor menu in admin bar - better keyboard support"
## Is your enhancement related to a problem? Please describe.
- Can’t select individual connection with keyboard. Or un-select.
- Focus styles missing inside the “Distributor menu”.
- I’d show connections as checkboxes in the first place. Now they are div or span.

## Describe the solution you'd like
Re-think the interface with accessible markup and keyboard support.

Related issue is #557

[2020-03-18 12:09] samikeijonen commented on #557
Opened separate issue #563 for what happens inside the menu itself. Let's only handle opening the Distributor menu in this issue.

[2020-03-18 20:25] #541 closed, assigned to jeffpaul

[2020-03-19 01:54] jeffpaul commented on #546
@dmvieira74 to confirm some of your details:
1) You're trying to connect two different WordPress installs and not to sites within the same multisite instance, correct?
2) You're utilizing the password provided by the Application Passwords plugin when adding the External Connection on your main site, correct?
3) The post you're trying to distribute is from your main site, correct?

[2020-03-19 16:42] dmvieira74 commented on #546
@jeffpaul

1. Yes. I have two separate WP installs, but they are on the same server.
2. Yes. I have Application Passwords set up on the remote site. On the main site, for the authentication method, I am using Username/Password. Those credentials come from the Application Passwords plugin on the remote site. On the main site, the external connection gets a green light.
3. Yes. I am trying to push a

[2020-03-19 20:20] jeffpaul commented on #546
@dmvieira74 ok, then that's definitely odd.  Are you seeing any console errors?

We're working to add Distributor information into the Site Health Info section of WordPress, see #517, so we'll be able to capture a little better technical info to troubleshoot once v2.0 is released in a couple of weeks.

[2020-03-20 01:45] jeffpaul opened #568 "Test against WP 5.4"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.4 is released, we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Distributor on WP 5.4
- [ ] open issues for any incompatibilities noted in testing
- [x] resolve issues identified in testing
- [x] bump "tested up to" version
- [ ] if code changes

[2020-03-20 21:49] dkotter commented on #561
@dinhtungdu I was able to reproduce this as well, both with internal and external connections.

After some debugging, the issue for me had to do with Gutenberg making two requests to save a post (see https://github.com/WordPress/gutenberg/issues/12903). The first request correctly identifies we are using Gutenberg and updates the syndicated item with the raw content and then the second request has

[2020-03-21 00:25] dinhtungdu commented on #561
@dkotter Thanks for testing, I used `xDebug` and discovered that for the first request, the `use_block_editor_for_post` hasn't been loaded yet, so `is_using_gutenberg` return `true` because we check for the content of the post. For the second request, `use_block_editor_for_post` is loaded and it returns `false` because of the following block of code.

[code]

In my test, the content at the time it

[2020-03-22 01:29] matgargano commented on #356
any update here? seems this would be a simple task

[2020-03-23 17:39] dmvieira74 commented on #546
Hi @jeffpaul

There are no console errors, but some warnings about non unique nonce ids. Those warnings are for the custom fields' hidden ajax nonces.

I will keep an eye out for the new version, thank you!

[2020-03-24 15:19] #244 closed

[2020-03-24 15:19] jeffpaul commented on #255
Closed via #245

[2020-03-24 15:19] #255 closed

[2020-03-26 13:27] jeffpaul commented on #349
Moving this to `2.1.0` as we still need to discuss what items we can/should safely remove during uninstall.

[2020-03-26 13:53] jeffpaul commented on #284
I'm moving this to the `Future Release` milestone to be considered alongside a broad approach to how we handle meta removal/deletion from remote sites. Apologies for the delay on response to this one @arsendovlatyan, but I want to be cautious with how we handle meta deletion.

[2020-03-26 13:57] jeffpaul commented on #488
@eriktad can you confirm your steps to reproduce this issue as we've been unable to reproduce it?  I'm moving this to `Future Release` until we're able to reproduce the issue and if so then determine a resolution.  I agree that if we are able to reproduce this that its something we should address, its just not something we've been able to reproduce as of yet.

[2020-03-26 13:59] jeffpaul commented on #416
@avag-novembit we're looking to solve a similar issue related to reports on ACF issues as part of our `2.1.0` release so I'm moving this issue and related PR to that release as well.

[2020-03-26 14:03] jeffpaul commented on #430
There's still a good amount we need to discuss on this and it relates to work we want to tackle in `2.1.0`, so I'm going to move this to the 2.1.0 release in hopes someone's able to pick this up and own it during that release cycle.

[2020-03-26 16:12] arsendovlatyan commented on #524
We will try to have some progress on this one in near future.
@jeffpaul @dinhtungdu you can find my thoughts here https://github.com/NovemBit/distributor/issues/18 , your feedback will be very useful for us.

Is this something that will helpful others, have you ever noticed timeouts or other issues with sending updates via external connections?

[2020-03-26 18:56] jeffpaul commented on #524
@arsendovlatyan I think being able to capture sites that succeeded and failed is useful, whether that happens via the solution noted or in a different manner should be discussed.  We're currently working to finish up the v2.0 release, but will come back to this topic when we're assessing what to milestone for the v2.1 release.  In the meantime, if you have any other details on the problem and prop

[2020-03-27 03:59] jeffpaul commented on #296
With no related PR this late in the release cycle, I'm punting this to our next release in hopes that we'll get a PR to cover this then.

[2020-03-28 02:54] jeffpaul opened #572 "Release version 1.6.0"
This issue is for tracking changes for the 1.6.0 release.  Target release date: **TBD**.

### Pre-release steps
- [ ] review and (merge or punt) [open PRs in the milestone](https://github.com/10up/distributor/pulls?q=is%3Aopen+is%3Apr+milestone%3A1.6.0)

### [Release steps](https://github.com/10up/distributor/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`,

[2020-03-30 08:58] arsendovlatyan commented on #416
@jeffpaul please assign all issues from @avag-novembit to me, I'll follow and work on them.

[2020-03-30 09:41] arsendovlatyan commented on #488
@dinhtungdu you are right, taking entire site down, won't bring up this issue, however, here is how I have reproduced it just now.
- I went to destination website and changed "distributor" user (which I'm using for external connection) permission to "subscriber", so, it won't be able to create posts
- opened the source website and pushed a post, it shows "success"message
- but in fact, post was no

[2020-03-30 17:27] jeffpaul commented on #383
Tagging @arsendovlatyan on this per their request.

[2020-03-30 17:28] jeffpaul commented on #372
Tagging @arsendovlatyan on this per their request.

[2020-03-30 18:09] jeffpaul commented on #505
Closed by #532

[2020-03-30 18:09] #505 closed, assigned to nobody

[2020-03-31 00:33] dinhtungdu commented on #488
@arsendovlatyan Thanks so much for the instruction, I can confirm the issue now.

[2020-04-02 16:45] joshuaabenazer commented on #550
@jeffpaul I'm picking this up

[2020-04-03 05:32] joshuaabenazer commented on #549
@jeffpaul if a scheduled post needs to be distributed to the other site once the post does get published, would it be right to assume that there wouldn't need to be an option to distribute the post as a draft?
The reasoning behind this would be, if it would need to be published as a draft, might as well distribute it after the post is published. So in that context should the draft option be remove

[2020-04-03 06:27] joshuaabenazer commented on #549
Also I think it may make more sense to directly distribute the post and schedule it on the site it needs to be distributed on rather than distributing it once the post is published.
Again it could depend, and may vary for different use cases, but I feel it makes sense to treat a scheduled post as ready to be published. Any subsequent changes to the scheduled post would anyway translate over to the

[2020-04-08 00:39] jeffpaul commented on #549
@joshuaabenazer all good questions, though I could see a scenario where someone may want to schedule a post and only have it distribute once its been published to account for sensitive / embargo-worthy content versus pre-distributing the content and potentially having someone on the remote site leak info before content is published.  So while I agree there could be some duplication between the dra

[2020-04-10 15:31] #366 closed

[2020-04-10 15:32] #388 closed

[2020-04-10 15:33] #555 closed, assigned to samikeijonen

[2020-04-10 15:33] #551 closed, assigned to samikeijonen

[2020-04-10 15:34] #552 closed, assigned to samikeijonen

[2020-04-10 15:34] #556 closed, assigned to samikeijonen

[2020-04-10 15:34] #553 closed, assigned to samikeijonen

[2020-04-10 15:35] #554 closed, assigned to samikeijonen

[2020-04-10 16:06] #115 closed

[2020-04-10 16:06] #488 closed, assigned to grogou

[2020-04-16 14:52] dkotter opened #577 "Select All button placement and style"
In #495, a Select All button and a None button were added to the Distributor drop-down menu. This makes it easy to select all connections to distribute to at once, rather then having to select these individually.

Right now these buttons show above the connection list but seems like maybe we would want to move these buttons below that list, maybe even right align instead of left align?

Also, we u

[2020-04-17 03:33] jeffpaul commented on #549
@joshuaabenazer after doing some more testing / research on this, I realized that distributing as draft isn't a scenario where the origin post has post status of draft but rather published and its the remote post that has its status as draft.  So its not a scenario where the scheduled Distributor functionality overlaps with the draft Distributor functionality.

[2020-04-23 18:09] zacnboat opened #580 "Accidental Skipped Posts"
I've had a number of accidental skips by editors managing our site, and there doesn't appear to be a way to UN-skip a post that has been skipped. Am I missing something? This seems like kind of a basic functionality that SHOULD be there.

[2020-04-27 16:57] jeffpaul commented on #580
@zacnboat we have some designs on potentially updating the Pull Content screen in #392, including being able to access skipped posts.  If those designs/process appears to match what you're looking for, then let's close this issue and track things within the larger focus of 392.

[2020-04-27 23:08] helen commented on #503
This seems to work well with #368 (still in progress) - I honestly don't know the history here behind why we don't just automatically try appending that but we do suggest it. @tlovett1 any recollection?

[2020-05-03 16:52] Youdaman commented on #487
Same problem with two fresh vanilla installs of WordPress on local server, i.e. two domains both with 127.0.0.1 -- limited/yellow connection status as per conversation above and then "Could not pull content from connection due to error." when clicking on the pull menu item (note: using user/pass method as wordpress.com method does not work for locally hosted sites).

[2020-05-06 20:14] jeffpaul commented on #561
@dkotter is this issue fully resolved by #579?

[2020-05-07 01:08] dinhtungdu commented on #561
FYI, in my latest test on the current `develop` branch, I don't have this issue anymore.

[2020-05-07 01:41] jeffpaul commented on #580
@zacnboat have you had a chance to check the designs in 392 to see if they'd meet your needs here?

[2020-05-07 02:15] jeffpaul commented on #561
Thanks @dinhtungdu, I'll close this by #579 then.

[2020-05-07 02:15] #561 closed, assigned to dkotter

[2020-05-07 02:35] jeffpaul commented on #487
Thanks for the input @Youdaman, are you seeing any console errors, potential conflicting plugins or configurations that could help further triage this issue?

[2020-05-07 13:38] Youdaman commented on #487
None unfortunately. Steps to repro were just unzip the latest wordpress twice, do two fresh installs, install only distributor on both and try to use it. I'm on Windows 10 if that matters with Apache 2.4.20 and PHP 7.2.9

[2020-05-12 04:04] jeffpaul commented on #580
@zacnboat I'm closing this issue in favor of #392, but if you have further needs than what 392 will cover please either add them to 392 or re-open this issue and provide those details.  Thanks!

[2020-05-12 04:04] #580 closed, assigned to jeffpaul

[2020-05-12 04:05] jeffpaul commented on #521
@mark-macrae can you provide an update on how things are or are not working for you so I can try to help troubleshoot for you?

[2020-05-12 04:07] jeffpaul commented on #435
@startwd I'm closing this issue for lack of response, but if you're able to respond with an update then we can re-open and continue to help answer your question.  Thanks!

[2020-05-12 04:07] #435 closed, assigned to jeffpaul

[2020-05-12 04:09] jeffpaul commented on #510
After discussing with @pstamandjr via email, his issue has been resolved so I'm closing this issue but happy to re-open for others with a similar need.  Thanks!

[2020-05-12 04:09] #510 closed, assigned to jeffpaul

[2020-05-12 04:12] jeffpaul commented on #424
@Uprootednut I'm closing this issue for lack of response, but if you're able to respond with an update then we can re-open and continue to help answer your question. Thanks!

[2020-05-12 04:12] #424 closed

[2020-05-12 04:15] mark-macrae commented on #521
Hi Jeffrey,
To be honest, i wasn't able to get it working so I put it on the back
burner.

Our second site got indefinitely delayed for covid-19 reasons and now maybe
will be launched in fall.

But the basic idea is two different WordPress installations publishing the
same blog content. It seemed that's what this plugin could do. But I had
that authentication issue stop me.
mark

On Tue, May 12, 2

[2020-05-12 04:21] jeffpaul commented on #521
@mark-macrae we have an update pending for Distributor that helps streamline the process of setting up external connections, I'll make a note to remind you when that's released so you can try setting up connections again then.

[2020-05-14 02:02] #385 closed

[2020-05-18 17:46] sebastienserre opened #582 "Do not import Category"
Hello,

I need to remove categories on pull, which is the best hook to do it?

Thank you

[2020-05-19 00:38] #563 closed, assigned to samikeijonen

[2020-05-19 14:49] dkotter commented on #577
Just noting these button styles were slightly changed in #569, that was recently merged in. Changed the None button to the secondary button style.

<img width="749" alt="Screen Shot 2020-05-19 at 8 51 44 AM" src="https://user-images.githubusercontent.com/916738/82341839-2b6acc00-99ae-11ea-9624-f21ec4a66b14.png">

<img width="812" alt="Screen Shot 2020-05-19 at 8 51 53 AM" src="https://user-images.

[2020-05-21 15:33] jeffpaul opened #583 "UI bug: switching set up process doesn't clear fields"
**Describe the bug**
From @helen's [comment](https://github.com/10up/distributor/pull/368#issuecomment-612242826) on #368:
UI bug - if I click "Manually Setup Connection" but then decide to switch to WordPress.com Application, the fields do not disappear. [See screenshot](https://share.getcloudapp.com/bLueYZNR) for what I mean. I think this should probably reset entirely, so hide the fields when y

[2020-05-21 15:39] jeffpaul opened #584 "Auth Wizard not properly handling enter key actions"
**Describe the bug**
From @helen's testing on #368, it appears that there is not expected `enter` key actions on the auth wizard.  This is also an accessibility issue in that you cannot cleaning keyboard navigate the auth wizard process.

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Expectation is that pressing the enter key

[2020-05-21 20:08] #275 closed

[2020-05-22 15:38] dkotter commented on #582
@sebastienserre Thanks for the question!

There are a few ways to go about this, depending on your specific use case.

1. The [`dt_pull_post` action](https://10up.github.io/distributor/dt_pull_post.html) fires after an individual item has been pulled in. You could use this hook to then remove any categories from that item.
2. Using the above hook, categories will still be created and added to item

[2020-05-22 16:37] sebastienserre commented on #582
Hello @dkotter
You're right, I've finaly used `dt_pull_post` and it seems OK.

Mny thanks

[2020-05-22 16:37] #582 closed, assigned to nobody

[2020-05-22 16:38] Jimmi08 commented on #484
Hi, guys, I am only testing this plugin and I hit on this issue because I have a similar problem.

I have test multisite and everything works.
Then for one child site, I have a single installation (not moved, created a new one)
After some struggling, I got verified external connection (green dot).
I can see listed that external site above edited post, I select it, push it and nothing happens. The

[2020-06-02 16:32] dkotter opened #585 "View links for pushed content sometime use REST URL"
**Describe the bug**
While testing #368, I pushed a post to an external connection and the View link that shows after distributing pointed to a `wp-json` URL, which is not correct.

View links for external connections were added in #571. In particular, there's a new `get_site_url_from_rest_url` function that tries to get the site URL from the REST URL. This function takes in the REST URL, breaks t

[2020-06-03 03:44] jeffpaul commented on #484
@Jimmi08 can you confirm that you're following the [External Connections set up instructions](https://github.com/10up/distributor/#setup-external-connections-using-application-passwords)?  If so, then we'll need more information on your installs to better triage your situation, so providing Site Health details would be most helpful.

[2020-06-03 03:55] Jimmi08 commented on #484
@jeffpaul Thank you for your reply. we decided for multisite version for now. Sorry.  But I suppose that problem was on our side.

[2020-06-03 22:07] #286 closed

[2020-06-04 22:54] helen commented on #577
I'm digging in here, just commenting to document my thought process and see if there's anything I'm overlooking or approaching in a funny way:

* I think "Select All" should indeed go underneath the list.
* "Select None" should actually probably be "Clear" and a text button next to the "Selected connection" header on the right.
* The disabled states (already distributed and selected) in the list o

[2020-06-08 17:50] jeffpaul commented on #380
Closed via #567.

[2020-06-08 17:50] #380 closed

[2020-06-08 17:52] jeffpaul commented on #522
Closed via #533.

[2020-06-08 17:52] #522 closed, assigned to petenelson

[2020-06-08 17:53] jeffpaul commented on #504
Closed via #575.

[2020-06-08 17:53] #504 closed, assigned to nobody

[2020-06-08 17:54] jeffpaul commented on #503
Closing via #368.

[2020-06-08 17:54] #503 closed, assigned to nobody

[2020-06-08 17:55] jeffpaul commented on #500
@WPprodigy any chance you've been able to check to see if everybody using Distributor has been migrated to VIP Go?

[2020-06-08 17:56] jeffpaul commented on #497
Closed via #498.

[2020-06-08 17:56] #497 closed, assigned to petenelson

[2020-06-08 17:57] jeffpaul commented on #472
Closed via #473.

[2020-06-08 17:57] #472 closed, assigned to pragmatic-tf

[2020-06-08 17:58] jeffpaul commented on #440
Note that @ryanwelcher has a draft PR started on this here: #537

[2020-06-08 17:59] jeffpaul commented on #436
@adrianduffell are you still planning on working on a PR for this?  If so, is there anything you need to get that submitted?

[2020-06-08 18:02] jeffpaul commented on #179
@grappler were you able to get this to work for you locally?

[2020-06-08 18:24] jeffpaul commented on #422
Let's standardize on "content" instead of "posts", "stories", or any other phrase.

[2020-06-08 19:31] #585 closed, assigned to dkotter

[2020-06-08 22:11] WPprodigy commented on #500
Confirmed! All on VIP Go.

[2020-06-09 02:20] helen commented on #577
Opened a PR for this in #589, there are a few things outstanding in there that are nice-to-haves but not blockers.

[2020-06-09 13:18] adrianduffell commented on #436
Hey @jeffpaul sorry I am no longer with 10up so it would be best to re-assign this.

[2020-06-09 14:57] #43 closed

[2020-06-10 04:09] adamsilverstein commented on #286
Yea! ❤️ ❤️ ❤️

[2020-06-10 16:45] wisnetmaster opened #591 "Push Posts to all subsites in Multisite install"
**Describe your question**
First off, great plugin! I was able to go into a subsite and "Pull" a custom post type "Listings" from the main site just fine. We have quite a few subsites and would like to the ability to "Push" the Listings from the main site to all subsites. I only see the option to pull from individual subsites. Sorry if am overlooking something obvious!

[2020-06-10 18:11] helen commented on #591
Hi there! I would not say it's particularly obvious - when you're viewing or editing a post on the main site, up in the admin bar you'll see a Distributor menu which will allow you to push to subsites. An upcoming update will allow you to select all sites at once - see #495 and #589 for what that will look like.

[2020-06-10 18:26] wisnetmaster commented on #591
@helen awesome. thanks for the update! Being able to select all posts and push to selected/all subsites would be awesome!

[2020-06-10 19:57] jeffpaul commented on #591
@wisnetmaster since the Push functionality exists ([see this screenshot](https://distributorplugin.com/wp-content/themes/distributor-theme/assets/img/push-screenshot.jpg)), I'm going to close out this issue.  If you run into any issues or have other needs for Distributor, then please come back and let us know... thanks!

[2020-06-10 19:57] #591 closed, assigned to nobody

[2020-06-10 20:14] jeffpaul opened #592 "Show count of selected connections in Push menu"
**Is your enhancement related to a problem? Please describe.**

As an offshoot from #589, there's an additional UI improvement we can make to the Push menu in the form of noting how many connections are selected for distribution.

**Describe the solution you'd like**

- [ ] Show the number of selected connections - this needs i18n consideration in whatever string, easier to just put the count in p

[2020-06-10 20:45] wisnetmaster commented on #591
@jeffpaul can you bulk push posts, or just individual ones?

[2020-06-10 20:53] jeffpaul commented on #591
@wisnetmaster there is no integration for Distributor in the `Bulk Actions` functionality of the All Posts/Pages list tables, so the only option to distribute out to multiple connections is from within a single post/page/CPT via the admin bar.

[2020-06-10 20:54] wisnetmaster commented on #591
@jeffpaul would be a nice feature! Anyways, cool plugin.

[2020-06-10 20:56] jeffpaul commented on #591
@wisnetmaster bulk push would essentially mean pushing more than one post to the same connections.  If that's something you have a legitimate use case for, then please open a separate issue noting use case and any UX or user flows that you'd have in mind.

[2020-06-10 22:41] helen opened #593 "Push UI: Make it more obvious when the connection lists can be scrolled"
**Is your enhancement related to a problem? Please describe.**
Coming out of working on #589, I noticed that I got tripped up a few times not understanding that there were more results in the two lists (available connections and selected connections). I tried an [interesting looking CSS shadow approach](https://css-scroll-shadows.now.sh/?bgColor=8680ce&shadowColor=222222&pxSize=15) but it didn't w

[2020-06-12 02:21] #577 closed, assigned to nobody

[2020-06-12 02:47] helen opened #595 "Auth wizard: No indicator that anything is happening after submitting an external connection URL"
**Is your enhancement related to a problem? Please describe.**
There is no indicator that anything is happening after you hit "Authorize Connection" - currently have to click/activate the button, enter key doesn't work correctly but when it does it exacerbates the issue, see #594.

**Describe the solution you'd like**
Since there's already a spot where error messages show, seems to me a spinner sh

[2020-06-12 02:48] helen opened #596 "HEllo I am Chinita."
**Is your enhancement related to a problem? Please describe.**
There is no indicator that anything is happening after you hit "Authorize Connection" - currently have to click/activate the button, enter key doesn't work correctly but when it does it exacerbates the issue, see #594.

**Describe the solution you'd like**
Since there's already a spot where error messages show, seems to me a spinner sh

[2020-06-12 03:17] jeffpaul opened #597 "Distributor admin bar menu unavailable in Gutenberg fullscreen mode (current WP default)"
**Describe the bug**
In testing something unrelated, I noticed that WP 5.4 and the new default of fullscreen mode for Gutenberg that post-publish you don’t get the admin bar anymore so the Distributor menu is no longer visible in Gutenberg when it used to be.

**Steps to Reproduce**

1. Go to Gutenberg editor of a Post
2. Publish a post
3. See that admin bar is no longer present
4. :sad-panda:

**

[2020-06-12 03:18] jeffpaul commented on #597
While we work to determine how best to resolve this issue, I'm going to push up a PR to add a caveat to our readme and alert Distributor users to disable fullscreen editing to ensure they have access to the admin bar.

[2020-06-12 04:42] jeffpaul opened #600 "Update release process to attach ZIP file to release"
**Is your enhancement related to a problem? Please describe.**
So that we can begin to track some metrics against releases, we'll want to add a ZIP file to our releases here in GitHub.

**Describe the solution you'd like**

Leverage the ZIP file generation concept from https://github.com/10up/action-wordpress-plugin-deploy/releases/tag/1.5.0 to include some automation in the Distributor release pr

[2020-06-15 16:21] Webtica commented on #348
Hi,

Is there any news regarding this issue?
We are using Elementor on a multisite network and would like to push pages to subsites.
When we push a page now it pushes the content but not the elementor styling.

[2020-06-15 18:20] #407 closed

[2020-06-15 22:11] #584 closed, assigned to nobody

[2020-06-16 02:55] #595 closed, assigned to nobody

[2020-06-16 14:46] helen commented on #356
Right now Distributor asks for a (free) registration key for continued updates as a part of some goals that 10up has around user engagement and the feedback loop, we are discussing how this does or doesn't align with that and how it might impact client usage/updates as well, since we use Distributor ourselves :)

[2020-06-16 15:49] jeffpaul commented on #348
@Webtica this is a rather intricate issue and something we haven't yet shifted to fully research and confirm an approach to resolve.  If you've done any research into this and have ideas on approach, please share that here.  And if you're up for generating a PR to match your approach, please share that as well.  I'll be happy to have our team review any research, approach, or PR you may be able to

[2020-06-16 19:39] helen commented on #356
Serendipitous timing - managed to have a group conversation about this today. For the moment, we are not going to put this on Packagist as it runs counter to having the registration key/user feedback loop component that is an important part of keeping this significant work free and open source. I promise I am not ignoring the base of the request - we use Composer to pull in plugins on many project

[2020-06-16 19:39] #356 closed

[2020-06-16 21:03] vburlak commented on #356
Thanks for the response @helen. It makes sense

[2020-06-17 04:36] mrhasbean commented on #392
Any update on this functionality? Very challenging at present with staff profiles missing on sites because they were accidentally skipped and no way of overriding that at present.

[2020-06-17 15:49] jeffpaul commented on #392
@mrhasbean this work isn't planned for a couple releases in the future.  Have you tried going to the source site and pushing them to the site(s) that are missing that content?

[2020-06-18 03:31] mrhasbean commented on #392
Hi Jeffrey,

Thanks for the reply. The source site is the main (parent) site of the multisite installation and I don’t get a “Push” option there, otherwise I would use that. Was wondering why I don’t see that option?

Cheers,
Steve

[2020-06-18 14:07] jeffpaul commented on #392
@mrhasbean the push menu is available in the admin bar for any published content ([screenshot](https://camo.githubusercontent.com/0b29e5649392ddffaee975ff58dad393e95d080e/68747470733a2f2f6469737472696275746f72706c7567696e2e636f6d2f77702d636f6e74656e742f7468656d65732f6469737472696275746f722d7468656d652f6173736574732f696d672f707573682d73637265656e73686f742e6a7067)).

[2020-06-22 09:46] Borkent opened #604 "Push original publication date"
Hi,

I am trying to find a working solution to keep the publication date on the new pushed post.
So basically both sites have the same publication date. I am not using multisite.

I found one thread but it seems to break the distribution process and returns failed distribution.
https://github.com/10up/distributor/issues/233

Anybody here have a working function?

regards,
Thomas

[2020-06-22 14:53] jeffpaul commented on #604
@Borkent as noted in our [Known Caveats/Issues](https://github.com/10up/distributor#known-caveatsissues):

So unless I'm misunderstanding your question, it sounds like Distributor support the date defaults that you're asking for.  If I'm not correctly understanding your question, then please restate so I can try to better answer... thanks!

[2020-06-22 15:50] Borkent commented on #604
You are correct, I dont know how to extend it to make it preserve the post date! Is there a tutorial somewhere?

[2020-06-22 19:16] #568 closed, assigned to dinhtungdu

[2020-06-23 00:54] jeffpaul commented on #604
@Borkent, you'll find the listing of available actions and filters to accomplish this in our [hook documentation](https://10up.github.io/distributor/).  I suspect you're looking for [`dt_push_post_args`](https://10up.github.io/distributor/dt_push_post_args.html).

[2020-06-23 05:25] Borkent commented on #604
Hi Jeff,

Thanks. Any chance you can write me a function to add to functions.php? My php skills are close to none. I can pay for it through paypal.

Regards,
Thomas

[2020-06-24 02:01] lanceadam commented on #486
I'm also experiencing this issue with any images attached to ACF fields. Has there been any solution?

[2020-06-24 02:11] jeffpaul commented on #486
@lanceadam we haven't investigated this any further as we're focused on wrapping up the `1.6.0` release while this issue is currently milestoned for our `2.1.0` future release.  If you're able to help troubleshoot, identify a potential solution, and submit a PR I'd be happy to pull this into a nearer term release.

[2020-06-24 18:15] noponid opened #605 "No Push option"
**Describe your question**

I have 2 new WP installations running locally (localhost/wp1 and localhost/wp2) for testing purposes. Plugin is installed on both sites and i have set up External Connection from WP1-WP2. Got the green light and it works, i can pull sample post from WP2 to WP1.

But, when i go and write a post on WP1 i dont see any option to push it to WP2... On your site i see how it s

[2020-06-24 18:36] jeffpaul commented on #605
@noponid welcome to Distributor!  If you're using Gutenberg for editing, you will need to disable its fullscreen mode in order to see the admin bar.  If you're not seeing Distributor in the admin bar, then it may require a page refresh within Gutenberg.  If you're still not seeing Distributor in the admin bar after publishing a post, then please share more details about your environment so I can h

[2020-06-24 18:49] noponid commented on #605
Hey Jeff, thanks a bunch for quick reply!
Yep, Gutenberg was the issue... I could swear i disabled fullscreen but i havent... Sorry and thanks again :)

[2020-06-24 18:54] jeffpaul commented on #605
@noponid glad that solved it!  I'm going to close this issue, but please come back this way if you've run into any other issues / questions / ideas on how to improve Distributor to better meet your needs... thanks!

[2020-06-24 18:54] #605 closed

[2020-06-26 15:11] jshwlkr commented on #572
Curious when we might see this release. I have a project that has some interest in using Distributor in production and some of the 1.6.0 bugfixes are crucial.

[2020-06-29 15:22] jeffpaul commented on #572
@jshwlkr we're back to finalizing the Distributor 1.6 release this week and hope to have it released soon.  If you subscribe to updates on this issue, then you'll get a notification when it's closed and the release should be imminent at that point.

[2020-07-02 00:48] #557 closed, assigned to samikeijonen

[2020-07-02 00:49] #550 closed, assigned to joshuaabenazer

[2020-07-02 00:54] jeffpaul commented on #583
Punting to 1.6.1 as something to resolve in a minor release, happy to get a PR reviewed and merged if someone's able to work on this in the meantime.

[2020-07-02 01:18] jeffpaul commented on #500
In discussing the best approach here, the decision was to remove the logic noted in the https://github.com/10up/distributor/issues/500#issuecomment-580494918.

[2020-07-02 16:40] #500 closed, assigned to nobody

[2020-07-02 19:27] #600 closed, assigned to helen

[2020-07-02 19:28] #425 closed

[2020-07-02 19:33] #572 closed, assigned to helen, jeffpaul

[2020-07-02 20:44] jeffpaul commented on #521
@mark-macrae note that we just released Distributor 1.6.0, so please give that a shot if you're still having issues setting up External Connections.

[2020-07-02 22:49] mark-macrae commented on #521
Thanks so much for following up.  I'll be able to give it a try next week.
Fingers crossed.

                                           Mark MacRae
Actor, Singer, Sailor, Storyteller
www.markmacrae.ca

On Thu, Jul 2, 2020 at 4:45 PM Jeffrey Paul <notifications@github.com>
wrote:

[2020-07-08 08:55] john-lynch-cp opened #609 "Extending to support post meta associations..."
Hi,

In the caveats, there is a note regarding post meta associations, specifying that these will not be "brought along" in transfers. As I am developing a network of sites with complex relational metadata (using ACF), I have two questions:

- The note references "push" transfers. Is the same true of "pull" requests?
- Is there an example available of the "case by case" extension of the plugin whi

[2020-07-09 00:51] jeffpaul opened #610 "Bulk Skip function erroneously pulls posts"
**Describe the bug**
In working to update the screenshots for the [Distributor microsite](https://distributorplugin.com/) today I ran into and issue when pulling content across External Connections and using bulk skip it instead pulls the content.  Individual row links for skip work correctly though.  A workaround for now would be to delete the mistakenly pulled post.

**Steps to Reproduce**

1. G

[2020-07-09 01:11] jeffpaul opened #611 "Standardize copy and links for editor notification on linked remote posts"
**Is your enhancement related to a problem? Please describe.**
Depending on whether you push or pull a post and whether you view the remote post in Gutenberg or the Classic Editor, you will get four different possible editor notifications that the remote post is linked to the origin post.  Let's try and standardize the copy and format of what's displayed.

Pulled post in Gutenberg:
![Screen Shot 2

[2020-07-09 03:08] willopez opened #612 "After adding new CPT to show_in_rest => true, External Connections need to be refreshed"
**Describe your question**

Hello,
I use a site builder named [Oxygen](https://oxygenbuilder.com) and have two installations of a site, one is a development and the other on is the live version. Both, dev and live are part of a multi-site WordPress installation. I have successfully established connections from live to dev and I am able to pull content to the live site from the dev site. However, O

[2020-07-09 09:34] dinhtungdu commented on #609
Hi @john-lynch-cp, we have some internal discussion on this topic but we haven't had a final direction yet.

The saved meta value is the ID of related object, which is different between the original and remote sites. You can solve this issue by replacing the object ID (the meta value) by the correct one on the remote site:

- For post: we have `dt_connection_map` meta that can be used to retrieve

[2020-07-09 13:40] jeffpaul commented on #612
@willopez if you're using a single multisite install of WordPress, then you do not need to set up External Connections as Distributor works for Posts and Pages across all sites within a multisite without additional configuration.  Adding External Connections will require any [Custom Post Types](https://github.com/10up/distributor#known-caveatsissues) to be registered with the argument `show_in_res

[2020-07-09 16:18] willopez commented on #612
Thanks @jeffpau, in my case I need to add the `show_in_rest => true` argument to the custom post type.

[2020-07-10 04:50] willopez commented on #612
I spoke too soon, my custom post type does not show up in the dropdown after adding the `show_in_rest => true` argument. Note, my sites are using an external connection and NOT on a multi-site installation. Seems like this is an actual issue.

[2020-07-10 10:52] arsendovlatyan commented on #612
@willopez  We had similar issue too, in our case, after adding the `show_in_rest => true` argument  on both sides, we also had to update connection, so, connection settings will be updated and include the custom post type as distribute available.

[2020-07-10 14:15] jeffpaul commented on #612
I've updated the title and labels for this issue noting that we should update our docs to note that External Connections need to be refreshed in this scenario.

[2020-07-15 02:44] jeffpaul opened #613 "Surface External Connection errors"
**Is your enhancement related to a problem? Please describe.**
I received the following feedback via our Distributor web registration:

**Describe the solution you'd like**
Attempt to surface External Connection errors within the Push and Pull interfaces to ensure Distributor helps users catch and resolve those issues so they can fully distribute their content.  It's possible that there are other

[2020-07-16 14:03] john-lynch-cp opened #615 "Limited Connection established... .htaccess changes implemented, Application Password installed."
I have two Wordpress instances, both on the same hosting provider. Distributor installed on each, trying to connect using "External" connection. I'm using "Application Password" on both instances to generate authentication keys.

The connection is working one way i.e. Site A -> Site B

I have amended the .htaccess on both sides to enable this, adding the line:

`RewriteRule .* - [E=REMOTE_USER:%{H

[2020-07-16 18:59] jeffpaul commented on #615
@john-lynch-cp note that you'll only need External Connections for separate WordPress instances.  If these are two sites within the same multisite, then you do not need External Connections and Distributor will function upon install and activation.  If these are separate sites, please update to Distributor 1.6.0 as that enhances and simplifies the External Connection process.

[2020-07-16 22:18] john-lynch-cp commented on #615
Thanks. Multi site is not an option. This is a test environment for what will eventually be a network of sites, one primary, many secondary and on different infrastructure.

Already running 1.6.0 and connecting in one direction worked just fine. Cannot figure out why there is a problem in the opposite way.

[2020-07-17 15:53] jeffpaul commented on #615
@john-lynch-cp can you please provide Site Health Info exports from the two sites to help us better triage?

[2020-07-17 16:51] john-lynch-cp commented on #615
Thanks @jeffpaul - that alone was enough to point me in the right direction. The instance which was refusing connections was running PHP 7.2.31, which was different from that one the server which successfully accepted connections (7.3.19). Once upgraded, I have successfully established connections in both directions.

[2020-07-17 17:04] jeffpaul commented on #615
@john-lynch-cp oh great, glad to hear things are working now!  I'm going to close out this issue, but if anything else comes up or you see ways that Distributor could be enhanced to better meet your needs then please do not hesitate to come back here and let us know... cheers!

[2020-07-17 17:04] #615 closed, assigned to jeffpaul

[2020-07-18 04:53] pbaddock opened #616 ""There was an issue distributing the post" - few other clues"
**Describe the bug**
I get a simple "There was an issue distributing the post" - with little additional info provided.
Tried enabling debugging and only clues (not sure if this is the prob) is this in debug log:
[18-Jul-2020 04:45:54 UTC] PHP Notice:  Object of class WP_Error could not be converted to int in /home/customer/www/foundation.makandulu.or.id/public_html/wp-content/plugins/distributor-s

[2020-07-19 01:06] pbaddock commented on #616
Traced back to wordfence issues.  I'm going to close this off for now and resolve whatever is blocking things from wordfence, tks for listening! lol.
will post again if I hit new issues. tks.

[2020-07-19 01:06] #616 closed, assigned to jeffpaul

[2020-07-20 10:05] ghost opened #617 "Visual Composer Issues"
hi guys Have an issue while pulling linked content on multisite using Wp Backery. The issue is when the content is pulled for the first time everything is ok, once you update the post and it is automatically pulled on  the microsite the layout is broaken and all the content is inserted into text blocks rather than in WPBackery widgets

[2020-07-20 18:42] jeffpaul commented on #616
@pbaddock could you provide more info on what you identified as conflicting with WordFence?  I'm curious if there's a way for us to identify that or at least call that out as a potential source issue in our documentation... thanks!

[2020-07-20 18:54] jeffpaul commented on #617
@SamMAdmaN welcome to Distributor and thanks for the feedback!  We're tracking known issues with WPBakery in #445 and have tentatively slotted development of a fix for that in our v2.1 release.  Note that we're currently at v1.6 and have a couple other releases planned ahead of v2.1 so there's no concrete timeline on a fix specific to WPBakery.  If you have a more urgent or important need to resol

[2020-07-21 06:15] pbaddock commented on #616
I had setup the sites on ServerA, and then moved them over to ServerB as part of some re-organisation of the staging environments I had seutp.  On ServerB I was simply getting that message "There was an issue distributing the post" without further details.

Eventually I disabled all wordfence setups on all sites and it started working.
I then re-enabled wordfence on the remote site (plan was to en

[2020-07-21 06:19] pbaddock commented on #382
I may be interested in pursuing this.  In testing I found that (as you pointed out Jeff) the translated post is a quite distinct post and if I "distribute" it/push it - ie the non-english post - it goes successfully over the fence to the remote site but does not pickup the correct language on the remote site (on the remote site it uses my default language = en, instead of its native language on th

[2020-07-24 11:54] PaddyWhacks opened #618 "Featured image makes distributing posts fail since 1.6"
I have distributor setup on a multisite. When distributing posts to a remote connection, it works fine without a featured image. As soon as a featured image is added, distributing the post fails. Only started happening with the 1.6 update.

[2020-07-24 20:56] jeffpaul opened #619 "Auth Setup Wizard's Application Title field width"
**Is your enhancement related to a problem? Please describe.**
The `Application Title` field in the Auth Setup Wizard has a set width and any text over that length scrolls within that display.
Example:
https://cloudup.com/cSVfw2mBSHa && https://cloudup.com/cDuZQVi1hCZ

**Describe the solution you'd like**
Ideally the text in the `Application Title` field displays in full and doesn't require scroll

[2020-07-24 21:00] jeffpaul commented on #618
@PaddyWhacks thanks for the bug report, we'll work to replicate this and then get a resolution in place.  If you're able to work up a PR, then I'd be happy to get that through review and milestoned into a release... thanks again!

[2020-07-29 14:57] TangramWerbeagentur opened #620 "Using Distributor with Event Manager / Ticket Info"
I'm trying to combine Distributor with https://wp-events-plugin.com/ , hence distributing events and their respective booking options from one wordpress installation to another. The distribution of the "event" post type posts  itself works just fine, but the ticket options "get lost".

As far as I understand it that is because tickets are a seperate "ticket" post type, that is only assigned to "ev

[2020-07-29 15:15] TangramWerbeagentur commented on #620
And an additonal question: It seems the the custom fields of custom post types sometimes only get distributed if you republish the distributed post on the receiving site. Is it possible to automatically trigger republishing of a freshly distributed and published post? (E.g. when I distribute an event it’s marked as “not bookable” on the receiving site till I hit the publish button again. Seems to

[2020-07-29 15:17] TangramWerbeagentur commented on #620
I can't manually distribute ticket type posts because they don't show up as post type anywhere. I just see that there's a "em-events" and an "em-tickets" table in the database, and the former gets distributed, while the latter doesn't. (Usually the tickets are assigned to the events viá custom IDs.)

[2020-07-29 20:55] jeffpaul commented on #620
Noting related WordPress.org support post for Events Manager here: https://wordpress.org/support/topic/using-distributor-with-event-manager-ticket-info/

[2020-07-29 21:04] jeffpaul commented on #620
@TangramWerbeagentur we're just starting to define our roadmap for Distributor going into the v2.0 release that will hopefully tackle ID transformations though that's likely not a near term update.  If you this is of particular urgent or important need to you, then please reach out to me directly (jeff.paul@10up.com) and we can look into alternate options... thanks!

[2020-07-30 12:06] Siedlerchr opened #622 "Featured image/Thumbails distorted when distributing from Parent to Child in Multisite"
**Describe the bug**
When you distribute a post from the parent to a child site, the featured image is distorted.
Both parent and child have the same layout/theme and the same image settings.

Not sure if it's relevant, but we use polylang for German + English.

**Steps to Reproduce**

1. Create a post with an image at the parent site
2. Distribute the post to the sub site
3. Compare the images
4.

[2020-07-30 12:10] Siedlerchr commented on #597
This was annoying me as well. Totally ridiculous that they didn't add a switch to disable it in the settings.
As a workaround I installed this plugin which is actually a single file
https://wordpress.org/plugins/disable-block-editor-fullscreen-mode/
See the code: I'm not a PHP Dev, but this might help you:
https://plugins.trac.wordpress.org/browser/disable-block-editor-fullscreen-mode/trunk/disabl

[2020-07-30 16:15] jeffpaul commented on #597
@Siedlerchr thanks for sharing, though right now I don't want to force block fullscreen mode in Distributor so much as alert the Distributor community that it needs to be disabled to view the Distributor push menu in the admin bar.  Glad to see you've found a workaround that best fits your usage!

[2020-07-30 20:39] jeffpaul opened #623 "Featured Galleries plugin incompatibility"
**Describe the bug**
I received the following via email:

**Steps to Reproduce**

**Expected behavior**
Galleries distribute with same frontend result on remote sites to match the origin site.

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - WordPress version:

 - Plugins and version:
 - Theme and version:

 - <details><summary>Site Health Info:</summary>

[2020-07-30 20:47] jeffpaul commented on #622
@Siedlerchr thanks for reporting that and for providing the Site Health Info.  Can you confirm if that's for the origin or remote site and then provide the similar output from Site Health Info from the other site to compare and see if something's different between those sites?

[2020-07-30 21:05] jeffpaul commented on #549
I'm attached a PDF document that outlines potential UX for this functionality to allow for selection of sites to distribute to after a post has been scheduled.  PRs welcome!

[Distributor Scheduling UX.pdf](https://github.com/10up/distributor/files/5003766/Distributor.Scheduling.UX.pdf)

[2020-08-06 20:14] jeffpaul commented on #609
@john-lynch-cp does the response above resolve your questions such that we can close out this issue or do you have any follow-up questions?

[2020-08-06 20:18] jeffpaul commented on #358
@mikelking I wanted to note that the Pull menu now defaults pulled content to draft as of v1.6.0.  If that solves your request here, then please confirm so we can close this issue... thanks!

[2020-08-07 12:13] john-lynch-cp commented on #609
Thanks for the follow up, happy for you to close this out right now. I think we're looking toward a different CMS as the distribution challenge might make more sense with a different approach.

[2020-08-07 12:13] #609 closed, assigned to dinhtungdu

[2020-08-10 04:34] rg- commented on #81
Hey, notice this is some old, but i discovered that all this stuff is solved using:

update_field('YOUR_FIELD_KEY', 'NEW_VALUE', $POST_OBJECT);

So, considerations when updating an image field:
- do not use update_post_meta(),
- use field KEY, not name,
- use Post object, not post ID.

[2020-08-11 02:09] jeffpaul opened #624 "Test against WordPress 5.6"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.6 is released, we'll want to test Distributor to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Distributor on WordPress 5.6
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to" version
- [ ] if code

[2020-08-11 16:00] manolobevia opened #625 "Taxonomy terms don’t sync among sites."
Let’s say I have 2 sites (Site A and B). I create several posts with taxonomy terms on B, then in site A I pulled from B, and I am able to see the posts pulled form B with their taxonomy terms.
Then I update a post on site B with it has 3 taxonomy terms, but I decide to delete one.
Site A is synced with B, and the post is updated showing two taxonomy terms. If I add more terms on B, A is synced to

[2020-08-12 23:33] josephmasongsong opened #626 "Editor pull capabilities"
Hello, awesome plugin thanks my org finds it very useful. Can anyone point me in the way of documentation on how to give Editors pull capabilities? Thank you in advance!

[2020-08-13 05:52] dinhtungdu commented on #626
Hi @josephmasongsong, to allow Editors to pull, you need these following filters:

[code]

[2020-08-13 16:40] josephmasongsong commented on #626
That did the trick! Thank you so much @dinhtungdu !

[2020-08-13 16:40] #626 closed, assigned to nobody

[2020-08-14 07:55] TangramWerbeagentur opened #627 "Remote delete distributed posts"
**Is your enhancement related to a problem? Please describe.**

When deleting a post on the "host" site it's not deleted on the "client" site.

EDIT: I just realized that if you delete posts on the "client" site that still exist on the "host" they are still marked as distributed and can't be distributed to the "client" again.

**Describe the solution you'd like**

Optional deletion of distributed

[2020-08-14 15:35] pbaddock opened #628 "Content pushes fine initially, but updates not applied afterwards"
I am not reporting this as a bug, as Wordpress 5.5 update is throwing a bit of a wildcard into the mix so I'm a bit sus on it.  Source site has 5.5 running. 1 remote site as 5.5, one does not.

I have my primary (pushing) site able to push a new post inc images etc to the (2) remote sites fine, but then subsequent updates on at the source are not updated on either of the remote sites after the ini

[2020-08-15 01:57] pbaddock commented on #628
Perhaps unrelated but my source site is http and remote sites https.
I've backed wordpress 5.5 out now and trying again to troubleshoot.

[2020-08-15 02:29] pbaddock commented on #628
no luck. stuck (tried removing all variables - wordfence, wordpress versions, nothing in debug logs with debugging enabled, nothing in error logs)..

[2020-08-15 03:43] pbaddock commented on #628
Something interesting that I had never noticed before is that there seems to be a new custom post type "Distributor subscription" in the source site which adds a new subscription for each new distribution / post - perhaps that's expected functionality but I had never spotted that previously so mention it in case its not supposed to happen.

[2020-08-19 19:04] jeffpaul commented on #618
@PaddyWhacks I just tried to replicate this on a local multisite (subdomains) and local single site setup and was able to publish posts with and without a featured image.  Can you confirm if there are any console errors and what the Site Health Info is for the origin site so I can try to further help triage?

[2020-08-19 19:11] jeffpaul commented on #618
Site Health Info from my origin multisite:
[code]

Site Health Info from my remote site:
[code]

[2020-08-19 19:16] jeffpaul commented on #627
@TangramWerbeagentur thanks for the feedback, its greatly appreciated!

We've started discussions on how to handle post status changes on the origin site (host site in your terms) in #112, so I'd recommend subscribing to that issue to watch progress on that topic.  If that issue feels like it covers your needs, then let's please close your issue so we can ensure conversations are all tracked withi

[2020-08-19 19:21] jeffpaul commented on #628
@pbaddock thanks for the feedback and testing notes, though I just tried to replicate on a couple local sites and content updates as expected for me.  Details of my two testing sites are noted here: https://github.com/10up/distributor/issues/618#issuecomment-676608895.  If you're still seeing this occur for you, please provide Site Health Info from your sites as well as any console errors you may

[2020-08-23 12:52] itsik259 opened #629 "Pulling postsdisables styling of the post display"
**Describe your question**

Hello. I'm using the plugin in two websites using the AVADA wordpress theme.
After installing everything and making sure everything is correct, I pulled a blog post from one website to the other.
I then tried to edit the post to change some styling to suit the pulling site, but all options to do so are disabled as long as the post is linked to the original.
Is there a w

[2020-08-25 16:57] dkotter opened #631 "PHP Notice: REST API route definition missing the required permission_callback argument"
**Describe the bug**
In WordPress 5.5, the `permission_callback` argument is now required when registering custom REST endpoints with `register_rest_route`. If you don't pass that and you have debug turned on, you'll get PHP notices.

**Steps to Reproduce**
1. Update to WordPress 5.5
2. Have debug turned on
3. Edit or create a new post
4. See PHP notices

**Expected behavior**
Should not output an

[2020-08-26 15:08] tropa86 opened #633 "Wordpress 5.5 and 5.4"
Hello,

I use this plugin on 2 Wordpress, I update one to 5.5 and then starts fail the connection to the other Wordpress with 5.4.2.

Give this error when I try to pull content: "Could not pull content from connection due to error."

On External connection give this message: "Limited connection established. Distributor not installed on remote site.
Push distribution unavailable.
Pull distribution

[2020-08-30 04:38] itsik259 commented on #629
Any one???

[2020-09-01 15:53] #631 closed, assigned to dkotter

[2020-09-02 19:11] jeffpaul commented on #618
@PaddyWhacks I just tried to replicate this on a local multisite (subdomains) and local single site setup and was able to publish posts with and without a featured image. Can you confirm if there are any console errors and what the Site Health Info is for the origin site so I can try to further help triage?

[2020-09-02 19:14] jeffpaul commented on #622
@Siedlerchr Can you confirm if that's for the origin or remote site and then provide the similar output from Site Health Info from the other site to compare and see if something's different between those sites?

[2020-09-02 19:28] manolobevia commented on #506
We are experiencing something similar. We are using ACF plugin for creating custom files, on top of that we are using another plugin call Advanced Custom Fields: Image Aspect Ratio Crop Field. This plugin creates a new advance custom file type, where we are able to upload and crop images. When we pull post from one site to another, images are not pulled.

[2020-09-02 19:53] Siedlerchr commented on #622
@jeffpaul  The root site and the sub site are in the same multisite network and use the same theme and layout

Root site:

[code]

Sub Site:

[code]

[2020-09-06 17:10] robcain commented on #287
Hi,

I have the same issue. Distributor V 1.5.0 stable + Ninja Forms 3.4.24.3 + WP 5.4.2

Distributor plugin, seems to cause Ninja plugin NOT to queue/load some of its admin css - vis:

https://mywebsite.com/wp-content/plugins/ninja-forms/assets/css/normalize.scss
https://mywebsite.com/wp-content/plugins/ninja-forms/assets/css/builder.css?ver=3.4.24.3
.ninja-forms-app #wpcontent * {
	box-sizing: b

[2020-09-08 19:08] silverman63 opened #634 "Tags Race Condition with another plugin?"
Hi all, I'm not sure this is quite a bug report as its related to compatibility with another plugin.

Whenever a post is created or updated, our plugin sends an update with the latest WordPress tags to our service. We use the following hook:

[code]

The tags and categories are grabbed with `wp_get_post_terms` and `get_the_category()`

It seems a good percentage of the time that our plugin is unab

[2020-09-09 03:21] jeffpaul commented on #633
@tropa86 can you please provide the Site Health Info export from the site with the failing connection to help us better triage for you?

[2020-09-09 03:22] jeffpaul commented on #627
Closing this in favor of #112.

[2020-09-09 03:22] #627 closed, assigned to jeffpaul

[2020-09-09 03:24] jeffpaul commented on #629
@itsik259 what sorts of styling changes are you trying to make?

[2020-09-09 03:25] jeffpaul commented on #628
@pbaddock are you still seeing this issue and, if so, can you please provide your Site Health Info and any console errors so we can help triage for you?

[2020-09-09 03:28] pbaddock commented on #628
Hi Jeff,
Tks for reaching out - I wasn't able to get past it, and have shifted to WP
Site Synch.  Tks for making contact anyway.

Cheers,

Pip Baddock
*Online Marketing Consultant*
Ph (id)/WhatsApp: +62 819 3462 8222
Ph (au) +61 3 9018 5170

On Wed, 9 Sep 2020 at 11:25, Jeffrey Paul <notifications@github.com> wrote:

[2020-09-09 06:07] itsik259 commented on #629
Hi Jeff.
CSS related changes, title sizes etc.

[2020-09-14 23:04] helen opened #635 "Task: Review `WordPressExternalConnection::push()` altered return type"
At some or various points during the development of the next release, we need to follow up on #630 which changes the return type of `{ConnectionType}::push()`. We will likely need some combination of the following:

- [ ] Developer communication about the change (proactive as well as passive documentation)
- [ ] A review of the return type on concert with similar/parallel functions
- [ ] Potential

[2020-09-15 04:46] robcain commented on #287
OK. I think I've found the issue: vis:

file: includes/syndicated-post-ui.php
line: 146
function: add_linked_class

`
...
	if ( 'post.php' !== $pagenow && 'post-new.php' !== $pagenow ) {
		return ''; // Must stick to docblock, cannot return void.
	}
...
`
 - returning empty string here causes the admin body class to be removed (since this is function is added to the 'admin_body_class' filter
 - it

[2020-09-16 13:34] TangramWerbeagentur opened #636 "Disable "as draft" being checked by default"
**Is your enhancement related to a problem? Please describe.**
We are using the plugin for a centralized backend to distribute posts to other sites, without having to access the specific sites' backends. When forgetting to uncheck the "as draft" option we have to access every of those said backends.

**Describe the solution you'd like**
Please disable "as draft" by default, or make it a setting to

[2020-09-16 13:36] TangramWerbeagentur commented on #604
Hi Jeff,

I have the same problem and just as Borkent no clue how to solve it on my own. Is there any chance for this to become a feature in the future?

[2020-09-16 14:34] Borkent commented on #604
That would be awesome, at the moment I am left clueless on what to do. I use hooks for fishing 🤣

[2020-09-16 19:06] mikelking opened #637 "How to set a taxonomy upon distribution completion"
I have a multisite that we distribute content across, usually as a push action and I need to be able to set a specific taxonomic value upon receipt in the destination site.

To clarify when we push content from the canonical source to any other recipient site I need to set a custom taxonomy to a specific value.

Additionally if we pull content from one site into another the, we want to ensure that

[2020-09-17 18:19] elgeorge2k opened #638 "Allow for Pulling items previously Skipped"
**Describe your question**
How do I unskip posts? I removed it so that it could pull again with the right category and now its in "Skipped" and there is no way to remove, do I need to remove with phpmyadmin?

[2020-09-17 18:56] jeffpaul commented on #629
@itsik259 what sorts of changes are you trying to make?  Are these things that could be handled in your pulling site's theme or advanced CSS settings?  In general, you are not able to sever the Distributor connection between sites and maintain the flow of updates from the origin post to the remote post (your pulling site in this instance).

[2020-09-17 18:57] jeffpaul commented on #629
(sorry, I replied to this from an old tab and didn't see the prior comments, I'll update my comment based on your prior update)

[2020-09-17 18:58] jeffpaul commented on #629
@itsik259 I would expect that CSS and heading treatment changes should all be things you could edit with the advanced CSS or possibly via AVADA settings.

[2020-09-17 18:59] jeffpaul commented on #633
@tropa86 have you updated the second WordPress site from 5.4.2 to 5.5 to match the other site and, if so, are you connections working as expected?

[2020-09-20 18:35] tropa86 commented on #633
I update the second WordPress to 5.5 to match the other site, but still with the same problem on connection.

@jeffpaul which information you need from Site Health Info?

[2020-09-21 12:45] itsik259 commented on #629
Thank you for your reply
I'm talking about simple CSS changes that do not require advanced CSS. The problem is that on a regular post when you click on the heading element in the AVADA builder, you're able to change the settings while on a post that have been pulled the heading element is not clickble...

[2020-09-22 15:08] jeffpaul commented on #618
@PaddyWhacks I'm going to close this out as we've been unable to replicate and haven't heard back from you on the topic.  If you're still having this issue and can provide additional info to help us triage for you, then please share and we can re-open this issue then... thanks!

[2020-09-22 15:08] #618 closed, assigned to jeffpaul

[2020-09-24 14:36] sbrow opened #639 "Doesn't initialize properly on sites created with WP CLI"
**Describe the bug**

The multisite connection doesn't load on sites created with the WP CLI

**Steps to Reproduce**

1. Create WP Multisite Install
2. Install and Network Activate Distributor Plugin.
3. Run `$ wp site create --slug=example --title=Example`
4. Navigate to http://example.example.com/wp-admin/admin.php?page=pull and see the error: "No connections to Pull from, Create One?".

Note: G

[2020-09-27 04:52] dinhtungdu commented on #506
@manolobevia Maybe this comment can give you some inspiration for handling custom fields distribution: https://github.com/10up/distributor/issues/609#issuecomment-656022292

[2020-09-27 06:28] dinhtungdu commented on #622
@Siedlerchr can you check the direct link of those images? I want to check if they're distorted by CSS.

[2020-09-27 07:49] dinhtungdu commented on #634
Hi @silverman63,

Distributor sets terms after the post has been inserted, so using `save_post` won't help you to grab the terms of syndicated posts. I recommend using `set_object_terms` to make sure you get terms after they're updated.

[2020-09-27 11:07] anilpainuly121 opened #640 "Organizing sites in groups"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2020-09-27 11:10] anilpainuly121 commented on #640
Hi is this possible to  organize sites in groups , I am trying to add 20 sites, if is possible to creat 5 groups of sites which content 4 sites in each group and  I can push diffrent posts in diffrent groups.
Thanks

[2020-09-28 04:47] dinhtungdu commented on #287
@robcain Thank you for the report and research. To me, this is a bug too. Do you want to open a PR to fix this issue?

[2020-09-28 05:17] dinhtungdu commented on #604
Hi @Borkent @TangramWerbeagentur
You can pass the post date along with other push args to keep your date synced between origin and remote sites, for example:

[code]

[2020-09-28 06:08] dinhtungdu commented on #637
@mikelking So you want to set different taxonomy value for each remote site? Eg: one post distributes to three remote sites, and you want to set different value for a taxonomy for those three sites.

Distributor distributes all taxonomies that registered to that post type, is that not you're looking for?

[2020-09-28 06:38] Siedlerchr commented on #622
@dinhtungdu  They are different, I checked with another post which is distorted.
When I hit regenerate thumbnails in WP it will be correct afterwards.
I also rechecked all image settings and both boxes have the same width and height on the parent + child
Child:
https://www.inspireprojekt.de/wp-content/uploads/sites/4/2020/08/Pressefoto_Eroeffnung_Koe12-Kopie-1-640x300.jpg
Parent:
https://www.safet

[2020-09-28 06:50] dinhtungdu commented on #638
@elgeorge2k We planned to update the pull content screen to include the ability to pull skipped items at #392. If those designs/process appears to match what you're looking for, then let's close this issue and track things within the larger focus of 392.

[2020-09-28 12:54] dinhtungdu commented on #633
Hi @tropa86, What is the Authentication method you used for Distributor? You can update the auth credentials in the connection detail, can you try and share with us the result?

You can go to Tools > Site Health > Info. Then click `Copy site info to clipboard` button and paste it here. You'll want to delete the private information like site URL, database, WordPress path... so please double-check b

[2020-09-29 19:43] jeffpaul commented on #640
@anilpainuly121 currently no, though if this is urgent or important for you then we can discuss options to pull this onto the roadmap so let me know and thanks for the feedback!

[2020-09-29 21:57] robcain commented on #287
hi @dinhtungdu  Thanks for the response. I agree, it seems better classified as a bug. I'd rather someone else just managed the fix without my further involvement. Many thanks. :)

[2020-09-30 17:25] anilpainuly121 commented on #640
Hi @jeffpaul  thanks for reply,
Yea I am planning to use it connect more than 50 sites for news distribution and I think it should worked as desired as it is built on Restful API,s

But managing a long list of sites will be cumbersome.
2. I want to post different versions of articles on different set of websites in that grouping will help to manage this (as technology articles to tech blogs,. Fash

[2020-10-02 14:36] mikelking commented on #637
Sorry @dinhtungdu I did not see the email notice about this. The distribution of all of the taxonomies associated is not the issue and it works perfectly. We have an additional administrative taxonomy on ALL recipient sites that we would like to set automatically upon receipt of the distributed content (regardless of being pushed or pulled).

[2020-10-02 20:18] jeffpaul commented on #358
Closing this as Distributor now defaults pulled content to draft as of the 1.6.0 release.

[2020-10-02 20:18] #358 closed

[2020-10-03 05:09] dinhtungdu commented on #637
@mikelking I see. For your problem, you can use [`dt_push_post`](https://10up.github.io/distributor/dt_push_post.html) and [`dt_pull_post`](https://10up.github.io/distributor/dt_pull_post.html) to set taxonomy upon receipt. For example:
[code]

[2020-10-05 15:39] dinhtungdu commented on #636
Hi @TangramWerbeagentur, I'm working on a filter (and maybe a setting) to uncheck the `as draft` by default. In the meantime, you can fix your issue temporarily by disabling `As draft` distribution:

[code]

[2020-10-06 15:18] TangramWerbeagentur commented on #636
Thanks a lot! Working just fine and solved my problem.

[2020-10-06 15:19] TangramWerbeagentur commented on #604
Hey, cool! Thanks a lot, this solution is working perfectly.

[2020-10-06 16:03] TangramWerbeagentur commented on #112
I found a simple workaround to automatically trash posts on the receiving site that were trashed on the pushing site. It's possible since the permalink does update to "__trashed" correctly, just the post status doesn't. With this added to the receiving site's functions.php it does:

[code]

[2020-10-06 16:27] jeffpaul commented on #112
Thanks for this @TangramWerbeagentur!  We're working to document and think through the various implications this has, especially as this inter-relates to distributing "as draft", to ensure we're considering all use cases and not negatively impacting a current use case with a PR on this topic.

[2020-10-06 16:30] jeffpaul commented on #622
@Siedlerchr so it sounds like its not Distributor affecting those images but another plugin that you have active (`Force Regenerate Thumbnails` or `WP SVG images` perhaps)?

[2020-10-07 13:29] #628 closed, assigned to jeffpaul

[2020-10-07 13:31] jeffpaul commented on #629
@itsik259 that's because content pushed to or pulled into a remote site is not editable so that it can stay in sync with the content from the origin site.  If you need to make edits to content on a remote site, then you need to sever the Distributor link though that means any changes to the content on the origin site will no longer update the remote site content.

[2020-10-08 14:19] mikelking commented on #637
@dinhtungdu

Thank you!

[2020-10-08 14:19] #637 closed, assigned to nobody

[2020-10-08 16:15] helen commented on #639
Just wanted to update here that this is reproducible for both push and pull interfaces on the newly created site, and we're working on identifying the cause.

[2020-10-08 19:56] jeffpaul commented on #625
@manolobevia I ran through some tests on this, specifically the point where this breaks for you (`The problem is if I delete all the terms on B, site A doesn’t sync.`) and if I remove all terms in Gutenberg or Classic Editor the changes sync as expected.  However, using Quick Edit from the All Posts screen to remove all terms I do see that the terms removal does NOT sync as expected but ONLY from

[2020-10-13 01:48] manolobevia commented on #625
@jeffpaul thank you!!!!

[2020-10-13 02:44] jeffpaul commented on #634
@silverman63 are you all set here with the hook information provided such that we can close out this issue?

[2020-10-14 19:16] jeffpaul commented on #638
@elgeorge2k are you good with what's described in #392 such that we can close this issue and track all pull-related updates in 392?

[2020-10-20 11:42] thistehneisen commented on #633
Same issue here,
[code]

The _remotesite_ is syncing fine with _localsite_, though.
I have tried disabling all plugins except Distributor, also tried installing Application Passwords, but it gave a fatal error.

[2020-10-20 15:47] andrewortolano opened #655 "Updating original breaks parent-page of distributed content"
Steps to reproduce:

1. Create a page in Site A of a Wordpress Multisite
2. Distribute it to Site B of the same Wordpress Multisite
3. In Site B, give that page a parent
4. In Site A, make a text edit to the page
5. In Site B, the page will have moved back to the root, and no longer have its assigned parent.

[2020-10-20 17:01] jeffpaul commented on #655
@andrewortolano welcome to Distributor and thanks for the feedback!  In general distributed content is blocked from being updated in order to maintain the content sync, so it's likely that we may want to limit the ability to assign a parent page to distributed pages though we'll need to test and see what should be the expected result.  Suffice to say, you'd like to be able to update the parent pag

[2020-10-20 17:07] andrewortolano commented on #655
Yes! Here's our use case:

We're developing a WP network for a college and its departments.

- You can go to college.edu/majors/chemistry to read about the Chem Major.
- The Chem Major page was distributed to chemdepartment.college.edu/chemistry
- It was then given the parent, "majors"
- Distributed content took the permalink: chemdepartment.college.edu/majors/chemistry
- But then updating the con

[2020-10-20 17:45] jeffpaul opened #656 "Add support for core auto-updates for registered sites"
**Is your enhancement related to a problem? Please describe.**
Now that WP core supports enabling auto-updates for plugins, we should look to support that functionality for registered Distributor sites.

**Describe the solution you'd like**

**Designs**
Here's a screenshot from a sample install showing enable/disable states for plugins on WP.org on an unregistered Distributor site.  We'll want to

[2020-10-21 14:24] motolano commented on #655
Hey, @jeffpaul ,

I'm providing this snippet because it's not entirely clear to me if the changes I'm asking for would be considered desirable changes to the software. However, if anyone wants to use my filter:

/**
 * When pushing posts, don't change the destination post date or destination parent:
 */
function filter_dt_push_post( $post_body ) {
  if ( isset( $post_body['ID'] ) ) {
    $existing

[2020-10-21 14:38] andrewortolano commented on #655
Hey, @jeffpaul ,

I'm providing this snippet because it's not entirely clear to me if the changes I'm asking for would be considered desirable changes to the software. However, if anyone wants to use my filter:

/**
     * When pushing posts, don't change the destination post date or destination parent:
 */
`function filter_dt_push_post( $post_body ) {`
`  if ( isset( $post_body['ID'] ) ) {`
`

[2020-10-21 21:59] splaquet opened #657 "develop branch missing vendor dependencies - 'Failed opening required ...'"
First time user here...

I installed the latest zip, using wp-cli.  After installing, I received a fatal error on the front end and these 2 error lines repeating in debug.log:
PHP Warning:  require_once(/public_html/wp-content/plugins/distributor/vendor/georgestephanis/application-passwords/application-passwords.php): failed to open stream: No such file or directory in /public_html/wp-content/plug

[2020-10-22 04:35] dinhtungdu commented on #657
@splaquet If you want to install `develop` branch, you'll want to use `git`, not WP CLI. Because `develop` is for development, you will need to install dependencies and build the assets before activating it. In detail, after cloning/downloading `develop`, you will need to run `npm start` in the root directory of the plugin.

If the WP CLI is the prefer option to install plugin, then `stable` is th

[2020-10-23 16:20] rickalee opened #658 "Support for AMP - amp-dev-mode"
We recently launched a fully AMP site. AMP Standard mode for logged-in users strips out any non-compliant styles or scripts so our jQuery and Underscores based JS is getting stripped from admin bar making it less convenient for users to Distribute a post.

https://github.com/ampproject/amp-wp/issues/5533

Weston pointed toward this blog post.
https://weston.ruter.net/2019/09/24/integrating-with-am

[2020-10-23 17:24] andrewortolano opened #659 "Update from 1.5 to 1.6 broke updates for custom post types"
Working in a Wordpress multisite environment; running most recent version of WP core.

When using version 1.5, I could:

- Create a custom post type
- Create a post in that type
- Distribute it to another site in the Wordpress multisite network
- Make changes to the original
- **See those changes reflected in the distributed version**

Since updating to version 1.6, changes are no longer reflected

[2020-10-23 20:57] jeffpaul commented on #659
@andrewortolano if you distribute a custom post type in 1.6 will additional updates to the origin post be sync'd to the distributed posts?

[2020-10-23 21:02] andrewortolano commented on #659
No, they will not. For custom post types:

- First publish and distribute always works as expected
- After publish, you can get changes to sync from original to distributed by unlinking from the original and then relinking it
- But changes made to the original do not propagate out to distributed

And in my testing, not even changes to the Title were synced out to the distributed post, so I don't t

[2020-10-24 12:52] sebastienserre opened #660 "i18n po/mo not loaded"
**Describe the bug**
I translated Distributor in french but only strings in the plugin page but the translations are not loaded in the plugin setings it self:
![distrubor-fr](https://user-images.githubusercontent.com/3902621/97082185-228ac000-1608-11eb-8229-4558d2f0a359.png)
![distrubor-fr-settings](https://user-images.githubusercontent.com/3902621/97082206-49e18d00-1608-11eb-94da-60ba3ea65c1a.png

[2020-10-26 23:16] helen commented on #657
For more information here, we do show a notice that you will need to build certain files when you're running a dev version, but yes, it does fatal without `composer install`. I think this will become better in WP 5.6+ as Application Passwords will be built into core and we can stop making that a hard requirement.